:root {
  --circle-digest-mini-content-height: 3rem; /* 48px, avatar height */
  --circle-digest-mini-header-height: 1.5rem; /* 24px, half of the avatar height */
}

.container {
  @mixin flex-center-start;

  position: relative;
}

.avatar {
  position: relative;
  display: inline-flex;
  margin-right: var(--spacing-x-tight);
}

header {
  @mixin flex-center-space-between;

  & :global(> * + *) {
    margin-left: var(--spacing-xx-tight);
  }
}

.content {
  height: var(--circle-digest-mini-content-height);
  overflow: hidden;
}

.info {
  @mixin flex-center-end;

  flex-shrink: 0;
  height: 100%;
}

.name,
.description {
  line-height: var(--circle-digest-mini-header-height);
}

.name {
  @mixin line-clamp;

  font-size: var(--font-size-md-s);
  font-weight: var(--font-weight-medium);
}

.description {
  @mixin line-clamp;

  font-size: var(--font-size-sm-s);
  color: var(--color-grey-dark);
}
