.container {
  display: flex;
  gap: var(--sp4);
  align-items: flex-start;
  margin-top: var(--sp16);
  margin-bottom: var(--sp16);

  & > a {
    flex-grow: 1;
  }

  & header {
    font-size: var(--font-size-sm);
    line-height: 1.375rem;
  }
}
