.recommendedAuthors {
  padding-bottom: var(--sp20);
  margin-top: var(--sp8);
  border-bottom: 1px dashed var(--color-grey-light);

  @media (--sm-up) {
    padding-bottom: var(--sp24);
    margin-top: var(--sp24);
  }
}

.inSidebar {
  padding-bottom: 0;
  margin-top: 0;
  border-bottom: none;
}

.header {
  margin-bottom: var(--sp6);
  font-size: var(--text14);
  font-weight: var(--font-medium);
  line-height: 1.375rem;
  color: var(--color-black);

  @media (--sm-up) {
    margin-bottom: var(--sp20);
  }
}

.users {
  & :global(.list-item + .list-item) {
    margin-top: var(--sp20);
  }
}
