.stagingHeadArea {
  @mixin flex-center-start;
  @mixin border-bottom-grey;

  padding: var(--spacing-base);

  & .number {
    font-size: var(--font-size-md-s);
    line-height: 1.4;
    color: var(--color-grey);
  }
}
