.stagingHeadArea {
  @mixin flex-center-start;
  @mixin border-bottom-grey;

  padding: var(--sp16);

  @media (--sm-up) {
    padding-top: 0;
  }

  & .number {
    font-size: var(--font-size-md-s);
    line-height: 1.4;
    color: var(--color-grey);
  }
}
