:root {
  --digest-sidebar-cover-size: 72px;
}

.container {
  padding-bottom: var(--spacing-default);
}

.content {
  display: flex;
  justify-content: space-between;

  position: relative;

  & .left {
    padding-right: var(--spacing-default);

    & :global(.actions > *) {
      margin-top: var(--spacing-x-tight);
    }
  }
}

.cover {
  flex-shrink: 0;
  width: var(--digest-sidebar-cover-size);
  height: var(--digest-sidebar-cover-size);
}

.content {
  &.no-cover {
    display: block;

    & .left {
      padding-right: none;
    }
  }
  &.inactive {
    opacity: 0.5;
    pointer-events: none;
  }
  &.disabled {
    pointer-events: none;
  }
}
