:root {
  --digest-sidebar-cover-size: 72px;
  --type-collection-cover-width: 10rem;
}

.container {
  padding-bottom: var(--spacing-default);
}

.content {
  display: flex;
  justify-content: space-between;

  position: relative;

  & .left {
    padding-right: var(--spacing-default);

    & :global(.actions > *) {
      margin-top: var(--spacing-x-tight);
    }
  }
}

.cover {
  flex-shrink: 0;
  width: var(--digest-sidebar-cover-size);
  height: var(--digest-sidebar-cover-size);
}

.content {
  &.no-cover {
    display: block;

    & .left {
      padding-right: none;
    }
  }
  &.type-collection {
    padding: var(--spacing-tight);
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.08);

    & .cover {
      display: none;
    }

    @media (--sm-up) {
      padding-right: calc(
        var(--spacing-tight) + var(--type-collection-cover-width)
      );

      &.no-cover {
        padding-right: var(--spacing-tight);
      }
      & .cover {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: var(--type-collection-cover-width);
      }
    }
  }
  &.inactive {
    opacity: 0.5;
    pointer-events: none;
  }
  &.disabled {
    pointer-events: none;
  }
}
