:root {
  --list-tag-count-width: 3rem;
}

.tag {
  & :global(.text) {
    @mixin line-clamp;

    line-height: inherit;
  }
}

.list {
  position: relative;
  display: block;
  padding-right: var(--list-tag-count-width);

  & .count {
    @mixin inline-flex-center-all;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    justify-content: flex-end;
    width: var(--list-tag-count-width);
    font-size: var(--font-size-md-s);
    line-height: 1rem;
    color: var(--color-grey);
    text-align: right;
  }
}

.title {
  display: inline-flex;
  line-height: 1.5rem;

  & :global(svg) {
    margin-right: var(--spacing-xxx-tight);
    opacity: 0.35;
  }
}

.inline {
  display: inline-flex;
  height: 1.5rem;
  padding: 0 var(--spacing-tight) 0 var(--spacing-x-tight);
  line-height: 1.5rem;
  background: var(--color-grey-lighter);
  border-radius: 2rem;

  &:not(.disabled) {
    &:hover,
    &:focus {
      background: var(--color-green-lighter);
    }
  }

  &.active {
    background: var(--color-green-lighter);

    &:not(.disabled) {
      &:hover,
      &:focus {
        background: var(--color-grey-lighter-active);
      }
    }

    & :global(svg) {
      opacity: 0.5;
    }
  }
}
