.tag {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;

  font-size: var(--font-size-md);

  &:hover,
  &:focus {
    color: var(--color-matters-green);
  }

  & .count {
    margin-left: var(--spacing-x-tight);

    color: var(--color-matters-green);
    font-size: var(--font-size-sm);
    vertical-align: middle;
    user-select: none;
  }
}

.tag.count-fixed {
  display: inline-block;
  position: relative;
  width: 100%;

  overflow: hidden;
  white-space: nowrap;

  & .count {
    position: absolute;
    right: 0;
    width: 3rem;

    text-align: right;
    background-image: linear-gradient(
      to left,
      var(--color-white),
      var(--color-white) 73%,
      rgba(255, 255, 255, 0)
    );
  }
}

.size-sm {
  font-size: var(--font-size-sm);

  & .count {
    margin-left: var(--spacing-xx-tight);
  }
}

.size-lg {
  font-size: var(--font-size-lg);
}
