:root {
  --list-tag-count-width: 3rem;
}

.tag .name {
  @mixin line-clamp;

  /* FIXME: fix cropped descenders of letters  */
  padding-bottom: 0.14em;
  margin-bottom: -0.14rem;
  line-height: inherit;
}

.list {
  position: relative;
  display: block;
  padding-right: var(--list-tag-count-width);

  & .count {
    @mixin inline-flex-center-all;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    justify-content: flex-end;
    width: var(--list-tag-count-width);
    font-size: var(--font-size-md-s);
    line-height: 1rem;
    color: var(--color-grey);
    text-align: right;
  }
}

.title {
  display: inline-flex;
  line-height: 1.5rem;

  & :global(svg) {
    margin-right: var(--spacing-xxx-tight);
    opacity: 0.35;
  }
}

.inline {
  display: inline-flex;
  align-items: center;
  height: 1.25rem;
  padding: 0 var(--spacing-x-tight) 0 var(--spacing-x-tight);
  line-height: 1.25rem;
  background: var(--color-grey-lighter);
  border-radius: 1.25rem;

  &.disabled {
    & .name {
      color: var(--color-grey);
    }
  }

  & .name {
    color: var(--color-black);
  }

  & .close {
    display: inline-flex;
    margin-right: -3px;
    margin-left: 3px;
  }

  &.clickable {
    cursor: pointer;
  }

  &.active {
    background: var(--color-green-lighter);

    & .name {
      color: var(--color-matters-green);
    }

    &:not(.disabled) {
      &:hover,
      &:focus {
        background: var(--color-grey-lighter-active);
      }
    }

    & :global(svg) {
      opacity: 0.5;
    }
  }
}

.plain {
  display: inline-flex;

  & :global(svg) {
    opacity: 0.5;
  }
}
