.tag {
  display: inline-block;
}

.tag.count-fixed {
  @mixin border-bottom-grey;

  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: var(--spacing-loose);
  margin-bottom: var(--spacing-loose);

  overflow: hidden;
  white-space: nowrap;

  & .count {
    position: absolute;
    right: 0;
    width: 3rem;

    text-align: right;
    background-image: linear-gradient(
      to left,
      var(--color-white),
      var(--color-white) 73%,
      rgba(255, 255, 255, 0)
    );
  }
}

.count {
  @mixin font-serif;

  color: var(--color-matters-green);

  vertical-align: middle;
  font-weight: var(--font-weight-bold);
  user-select: none;
}

.small {
  font-size: var(--font-size-sm);

  & .count {
    margin-left: var(--spacing-xx-tight);
    font-size: var(--font-size-sm);
  }
}
.default {
  font-size: var(--font-size-md);

  & .count {
    margin-left: var(--spacing-x-tight);
    font-size: var(--font-size-md);
  }
}
