.tag .name {
  @mixin line-clamp;
  @mixin fix-cropped-letters;

  line-height: inherit;
}

.list {
  position: relative;
  display: block;
  padding-right: 3rem;

  & .count {
    @mixin inline-flex-center-all;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    justify-content: flex-end;
    width: 3rem;
    font-size: var(--font-size-md-s);
    line-height: 1rem;
    color: var(--color-grey);
    text-align: right;
  }
}

.title {
  display: inline-flex;
  line-height: 1.5rem;

  & svg {
    margin-right: var(--sp2);
    opacity: 0.35;
  }
}

.inline {
  display: inline-flex;
  align-items: center;
  height: 1.25rem;
  padding: 0 var(--sp8) 0 var(--sp8);
  line-height: 1.25rem;
  background: var(--color-grey-lighter);
  border-radius: 1.25rem;

  &.disabled {
    & .name {
      color: var(--color-grey);
    }
  }

  & .name {
    color: var(--color-black);
  }

  & .close {
    display: inline-flex;
    margin-right: -3px;
    margin-left: 3px;
  }

  &.clickable {
    cursor: pointer;
  }

  &.active {
    background: var(--color-green-lighter);

    & .name {
      color: var(--color-matters-green);
    }

    &:not(.disabled) {
      &:hover,
      &:focus {
        background: var(--color-grey-hover);
      }
    }

    & svg {
      opacity: 0.5;
    }
  }
}

.plain {
  display: inline-flex;

  & svg {
    opacity: 0.5;
  }
}

.article {
  @mixin transition;

  display: inline-flex;
  align-items: center;
  padding: var(--sp5) var(--sp10) var(--sp5) var(--sp8);
  color: var(--color-grey-darker);
  background: var(--color-grey-lighter);
  border-radius: 0.5rem;
  transition-property: color, background;

  & .name {
    font-size: var(--font-size-sm);
    line-height: 1.375rem; /* 22px */
  }

  &.active {
    &:not(.disabled) {
      &:hover,
      &:focus {
        color: var(--color-black);
        background: var(--color-grey-hover);
      }
    }
  }
}
