:root {
  --list-tag-count-width: 3rem;
}

.tag {
  & :global(.text) {
    @mixin line-clamp;

    line-height: inherit;
  }
}

.list {
  display: block;
  position: relative;
  padding-right: var(--list-tag-count-width);

  & .count {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: var(--list-tag-count-width);
    color: var(--color-grey);
    font-size: var(--font-size-md-s);
    line-height: 1rem;
    text-align: right;
  }
}

.title {
  display: inline-flex;

  & :global(svg) {
    opacity: 0.3;
  }
}

.inline {
  display: inline-flex;
  padding: 0 var(--spacing-tight) 0 var(--spacing-x-tight);
  height: 1.5rem;
  line-height: 1.5rem;
  border-radius: 2rem;
  background: var(--color-grey-lighter);

  &:hover,
  &:focus {
    background: var(--color-green-lighter);
  }

  &.active {
    background: var(--color-green-lighter);

    &:hover,
    &:focus {
      background: var(--color-grey-lighter-active);
    }

    & :global(svg) {
      opacity: 0.5;
    }
  }
}
