.otherOptions {
  padding: 0 var(--sp12) var(--sp8);
  margin-top: var(--sp20);
  font-size: var(--text14);
  line-height: 1.375rem;
  color: var(--color-grey);
  text-align: center;

  & .option {
    @mixin flex-center-all;

    gap: var(--sp4);

    & a,
    & button {
      color: var(--color-matters-green);

      &:hover,
      &:focus {
        color: var(--color-matters-green-hover);
      }
    }
  }

  & .hasSendCode {
    color: var(--color-black);
  }
}

.resendButton {
  display: inline-block;
  padding-left: var(--sp8);
  font-size: var(--text14);
  line-height: 1.375rem;
  color: var(--color-grey);
  word-break: keep-all;

  &button {
    color: var(--color-matters-green);

    &:hover,
    &:focus {
      color: var(--color-matters-green-hover);
    }
  }
}

.footer {
  @mixin flex-center-all;

  margin-top: var(--sp16);
}

.footerBtns {
  @mixin flex-center-space-between;

  flex: 1;
}
