.label {
  display: flex;
  align-items: center;
  font-size: 0;

  &.disabled {
    cursor: not-allowed;
  }

  & .hint {
    line-height: 1.375rem;
  }

  & .lineClamp {
    @mixin line-clamp;
  }
}

.wrapper {
  font-size: var(--font-size-sm);
  line-height: 1.375rem;
}

.full {
  @mixin border-grey;

  padding: var(--spacing-xxx-tightest) var(--spacing-base-xx-tight);
  margin-right: var(--spacing-x-tight);
  font-size: var(--font-size-xs);
  color: var(--color-grey);
  border-radius: 0.25rem;
}
