.content {
  & h1 {
    font-size: var(--font-size-lg);
    line-height: 1.875rem;
  }

  & h2 {
    font-size: var(--font-size-xm);
  }

  & h3 {
    font-size: var(--font-size-md);
    line-height: 2rem;
  }

  & p {
    font-size: var(--font-size-sm);
    line-height: 1.375rem;
    color: var(--color-grey-dark);
  }

  & h2 + p,
  h3 + p,
  p + p {
    margin-top: var(--sp12);
  }

  & ul,
  & ol {
    padding-left: var(--sp24);
    font-size: var(--font-size-md-s);
    line-height: 1.5rem;
    color: var(--color-grey-dark);
  }

  & li {
    padding-left: var(--sp4);
    margin: var(--sp8) 0;
  }

  & ul {
    margin: var(--sp16) 0;
    list-style-type: disc;
  }

  & ol {
    margin: var(--sp16) 0;
    list-style-type: decimal;
  }
}

.error {
  & h3 {
    color: var(--color-negative-red);
  }
}

.alignCenter {
  text-align: center;
}

.alignLeft {
  text-align: left;
}

.alignSmUpCenter {
  @media (--sm-up) {
    text-align: center;
  }
}

.alignSmUpLeft {
  @media (--sm-up) {
    text-align: left;
  }
}

.spacingBottom {
  padding-bottom: var(--sp16);
}
