.moreButton {
  @mixin transition;

  transition-property: color;
}

.textGreyDark {
  color: var(--color-grey-dark);

  &:hover,
  &:focus {
    color: var(--color-matters-green);
  }
}

.textBlack {
  color: var(--color-black);

  &:hover,
  &:focus {
    color: var(--color-grey-darker);
  }
}
