.xxtight {
  padding-bottom: var(--sp4);
}

.xtight {
  padding-bottom: var(--sp8);
}

.base {
  padding-bottom: var(--sp16);
}

.baseLoose {
  padding-bottom: var(--sp20);
}

.loose {
  padding-bottom: var(--sp24);
}

.xloose {
  padding-bottom: var(--sp32);
}

.xxloose {
  padding-bottom: var(--sp40);
}

.xxxloose {
  padding-bottom: var(--sp64);
}
