.sp4 {
  padding-bottom: var(--sp4);
}

.sp8 {
  padding-bottom: var(--sp8);
}

.sp16 {
  padding-bottom: var(--sp16);
}

.sp20 {
  padding-bottom: var(--sp20);
}

.sp24 {
  padding-bottom: var(--sp24);
}

.sp32 {
  padding-bottom: var(--sp32);
}

.sp40 {
  padding-bottom: var(--sp40);
}

.sp44 {
  padding-bottom: var(--sp44);
}

.sp64 {
  padding-bottom: var(--sp64);
}

.sp78 {
  padding-bottom: var(--sp78);
}
