.related-articles {
  padding-top: 3rem;

  @media (--md-down) {
    padding-top: 2rem;
  }
}

.divider {
  border: 0px;
  padding: 0px;

  @media (--md-down) {
    border-top: 0.5px solid rgba(0, 0, 0, 0.161175);
    height: 0px;
    padding-bottom: 2.5rem;
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 2px 2px 0.75rem 2px;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;

  & div:not(:first-child) {
    margin-left: var(--spacing-tight);
  }

  & div:last-child {
    padding-right: 1px;
  }
}
