.related-articles {
  padding-top: 3rem;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-bottom: 0.5rem;
  overflow-x: scroll;
  overflow-y: hidden;

  & div:not(:first-child) {
    margin-left: var(--spacing-x-tight);
  }
}
