.container {
  display: flex;
  padding: var(--spacing-base) 0;
}

.supporter {
  @mixin flex-center-space-between;

  width: 100%;
}

.content {
  @mixin flex-center-all;

  line-height: 1.75;

  & h4 {
    margin-left: var(--spacing-x-tight);
  }
}

.number {
  display: flex;
  flex-shrink: 0;
  padding-right: var(--spacing-tight);
  font-size: var(--font-size-xm);
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-height-base);
  color: var(--color-matters-gold);
}

.username {
  @mixin line-clamp;

  font-size: var(font-size-md-s);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-base);
}

.count {
  display: flex;
  flex-shrink: 0;
  justify-content: flex-end;
}
