.form {
  position: relative;
}

.content {
  padding: var(--sp16);
  margin-bottom: var(--sp12);
  background: var(--color-grey-lighter);
  border-radius: var(--sp16);
}

.footer {
  display: flex;
  gap: var(--sp8);
  align-items: center;
  justify-content: flex-end;
}

.counter {
  font-size: var(--text12);
  color: var(--color-grey);
}

.counter[data-over='true'] {
  color: var(--color-red);
}
