.form {
  position: relative;
}

.content {
  padding: var(--sp16);
  margin-bottom: var(--sp12);
  background: var(--color-grey-lighter);
  border-radius: var(--sp16);
}

.footer {
  text-align: right;
}
