.container {
  position: relative;
}

.textarea {
  @mixin text-input;
  min-height: 2.5rem;
}

.info {
  font-size: var(--font-size-xs);
  line-height: 1.1;
  height: 1rem;
  min-height: 1rem;
  margin-top: var(--spacing-x-tight);
  padding-left: var(--spacing-x-tight);

  & > .error {
    color: var(--color-red);
  }

  & > .hint {
    color: var(--color-grey-dark);
  }
}
