.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: rgba(0, 0, 0, 0.5);
}

.fadeIn {
  animation: modalFadeIn 0.25s ease;
  visibility: visible;
}

.center {
  @mixin flex-center-all;
}

.container {
  background-color: var(--color-white);
  border-radius: 4px;
  overflow: hidden;
  outline: none;
}

@keyframes modalFadeIn {
  from {
    visibility: hidden;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}
