.form {
  position: relative;
  display: flex;
  gap: var(--sp4);
  align-items: center;
  width: fit-content;
  max-width: 100%;
  padding: var(--sp4) var(--sp10) var(--sp4) var(--sp8);
  font-size: var(--sp14);
  line-height: 1.325rem;
  background: var(--color-grey-lighter);
  border-radius: var(--sp8);

  & input {
    max-width: calc(100vw - 102px);
    background: transparent;

    @media (--sm-up) {
      max-width: 276px;
    }
  }
}
