a {
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-normal);
  line-height: 1.063rem;
  color: var(--color-grey-dark);

  &:hover,
  &:active,
  &:focus {
    color: var(--color-matters-green-active);
  }
}
