.authors {
  @mixin border-bottom-grey;

  border-bottom-style: dashed;

  @media (--sm-up) {
    padding-bottom: var(--sp8);
  }

  & :global(.list-item > .card) {
    margin: 0 calc(var(--sp8) * -1);
  }
}
