.authors {
  @mixin border-bottom-grey;

  padding-bottom: var(--spacing-x-loose);
  border-bottom-style: dashed;

  & :global(.list-item > .card) {
    margin: 0 calc(var(--spacing-x-tight) * -1);
  }
}
