.container {
  @mixin flex-center-space-between;

  width: 100%;
  padding: 0 var(--spacing-base);
  margin-bottom: var(--spacing-loose);
}

.balance {
  font-size: var(--font-size-sm);
  color: var(--color-black);

  & b {
    font-weight: var(--font-weight-medium);
  }

  &.insufficient {
    & b {
      color: var(--color-red);
    }
  }
}
