.container {
  @mixin flex-center-space-between;

  width: 100%;
  padding: 0 var(--spacing-base);
  margin-bottom: var(--spacing-loose);
}

.wallet-balance {
  font-size: var(--font-size-sm);
  color: var(--color-black);
}
