/* @styled-jsx=global */

:root {
  /* Font Stack */
  --font-sans-tc: -apple-system, BlinkMacSystemFont, 'Helvetica Neue',
    'PingFang TC', 'Microsoft YaHei', 'Source Han Sans TC', 'Noto Sans CJK TC',
    'WenQuanYi Micro Hei', sans-serif;
  --font-sans-sc: -apple-system, BlinkMacSystemFont, 'Helvetica Neue',
    'PingFang SC', 'Microsoft YaHei', 'Source Han Sans SC', 'Noto Sans CJK SC',
    'WenQuanYi Micro Hei', sans-serif;
  --font-serif-tc: 'Noto Serif', 'Noto Serif CJK TC', 'Source Han Serif TC',
    'Songti TC', serif;
  --font-serif-sc: 'Noto Serif', 'Noto Serif CJK SC', 'Source Han Serif SC',
    'Songti SC', serif;
  --font-mono: Menlo, 'SFMono-Regular', Consolas, monaco, monospace;

  /* Type Scale */
  --font-size-xs: 0.75rem; /* 12px */
  --font-size-sm: 0.875rem; /* 14px */
  --font-size-md: 1rem; /* 16px */
  --font-size-xm: 1.125rem; /* 18px */
  --font-size-lg: 1.25rem; /* 20px */
  --font-size-xl: 1.5rem; /* 24px */

  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* Base */
  --font-weight-base: var(--font-weight-normal);
  --line-height-base: 1.5;

  /* Article Body */
  --font-size-article-base: 1rem; /* 16px; */
  --line-height-article-base: 1.875; /* 30/16 */

  --font-size-article-h1: 1.375; /* 22px */
  --font-size-article-h2: var(--font-size-lg); /* 20px */
  --font-size-article-h3: var(--font-size-xm); /* 18px */
  --font-size-article-h4: var(--font-size-md); /* 16px */
  --font-size-article-h5: var(--font-size-sm); /* 14px */
  --font-size-article-h6: var(--font-size-xs); /* 12px */
  --line-height-article-heading: 1.4;
}
