.carousel {
  position: relative;
  width: 100%;
  @media (--sm-up) {
    padding: 0;
  }
}

.footer {
  @mixin flex-center-all;

  z-index: 1;
  margin: var(--sp8) 0 var(--sp16);

  & .dots {
    @mixin flex-center-start;

    padding-left: var(--sp8);
  }
}

.viewport {
  width: 100%;
  overflow: hidden;

  & .container {
    display: flex;
    margin-left: calc(var(--sp8) * -1);
  }

  & .slide {
    position: relative;
    min-width: 100%;
  }

  & .content {
    position: relative;
    z-index: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--sp8) var(--sp12);
    padding-left: var(--sp10);
    border-radius: var(--sp16);

    @media (width >= 453px) {
      grid-template-columns: repeat(5, 1fr);
    }

    @media (width >= 561px) {
      grid-template-columns: repeat(6, 1fr);
    }

    @media (width >= 669px) {
      grid-template-columns: repeat(7, 1fr);
    }

    & a {
      @mixin line-clamp;

      padding: var(--sp4) var(--sp10);
      font-size: var(--text14);
      line-height: 1.375rem;
      color: var(--color-grey-darker);
      text-align: center;

      /* white-space: nowrap; */

      &.selectedChannel {
        font-weight: var(--font-semibold);
        color: var(--color-white);
        background: var(--color-black);
        border-radius: var(--sp8);
      }
    }

    & p {
      display: none;
    }
  }
}

.dot {
  @mixin transition;

  box-sizing: content-box;
  box-sizing: border-box;
  width: 8px;
  height: 2px;
  margin-right: var(--sp8);
  cursor: pointer;
  background: var(--color-grey);
  border: 1px solid rgb(255 255 255 / 0%);
  border-radius: var(--sp8);
  transition-property: border-color, border-width, background-color;

  &.selected {
    border-color: var(--color-black);
  }
}

.placeholderContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(76px, 1fr));
  gap: var(--sp12);
  margin-top: var(--sp12);

  @media (--sm-down) {
    padding: 0 var(--sp16);
  }

  & .placeholderBox {
    height: 1.875rem;
    background-color: var(--color-grey-lighter);
    border-radius: var(--sp8);
  }
}
