.hint {
  color: var(--color-grey-darker);
}

.context {
  @mixin border-grey;

  max-height: 15rem;
  padding: var(--spacing-x-tight);
  margin-top: var(--spacing-base);
  overflow-y: auto;
  font-size: var(--font-size-sm);
  border-radius: var(--spacing-xxx-tight);
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar-track {
    background-color: rgb(0 0 0 / 0%);
    border-radius: var(--spacing-x-tight);
  }

  &::-webkit-scrollbar {
    width: 0.9rem;
    background-color: rgb(0 0 0 / 0%);
  }

  &::-webkit-scrollbar-thumb {
    height: 3rem;
    min-height: 3rem;
    background-color: rgb(0 0 0 / 10%);
    background-clip: padding-box;
    border: 0.25rem solid rgb(0 0 0 / 0%);
    border-radius: 0.75rem;
    box-shadow: none;
  }

  @media (--md-up) {
    max-height: 27rem;
  }

  @media (--xs-down) {
    max-height: 10rem;
  }

  & h3 {
    margin-top: var(--spacing-x-tight);
    margin-bottom: var(--spacing-x-tight);
    font-size: var(--font-size-md);
  }
}
