.hint {
  color: var(--color-grey-darker);
}

.context {
  @mixin border-grey;

  max-height: 15rem;
  padding: var(--spacing-x-tight);
  margin-top: var(--spacing-base);
  overflow-y: auto;
  font-size: var(--font-size-sm);
  border-radius: 0.125rem;
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 0.5rem;
  }

  &::-webkit-scrollbar {
    width: 0.9rem;
    background-color: rgba(0, 0, 0, 0);
  }

  &::-webkit-scrollbar-thumb {
    height: 3rem;
    min-height: 3rem;
    background-color: rgba(0, 0, 0, 0.1);
    background-clip: padding-box;
    border: 0.25rem solid rgba(0, 0, 0, 0);
    border-radius: 0.75rem;
    box-shadow: none;
  }

  @media (--sm-up) {
    max-height: 27rem;
  }

  @media (--xs-down) {
    max-height: 10rem;
  }

  & :global(h3) {
    margin-top: var(--spacing-x-tight);
    margin-bottom: var(--spacing-x-tight);
    font-size: var(--font-size-md);
  }
}
