footer {
  @mixin flex-center-all;
  @mixin border-top-grey;
  margin-top: var(--spacing-tight);
  padding-top: var(--spacing-tight);

  color: var(--color-grey);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-medium);

  @media (--sm-up) {
    margin-top: var(--spacing-loose);
    padding-top: var(--spacing-loose);
  }
}
