.form {
  margin-top: calc(var(--sp24) * -1);

  @media (--sm-up) {
    margin-top: calc(var(--sp8) * -1);
  }
}

.intro {
  margin: calc(var(--sp16) * -1) 0;

  @media (--sm-up) {
    margin: calc(var(--sp16) * -1);
  }
}

/* Connect.tsx */
.divider {
  margin: var(--sp24) 0;
}

.subtitle {
  margin: var(--sp24) 0 calc(var(--sp8) * -1);
  font-size: var(--text18);
}

.notice {
  padding: var(--sp16);
  margin: var(--sp24) 0 var(--sp24);
  font-size: var(--text13);
  line-height: 1.5rem;
  text-align: center;
  background: var(--color-yellow-lighter);
  border: 1px solid var(--color-matters-gold);
  border-radius: 0.5rem;

  & h4 {
    color: var(--color-matters-gold);
  }

  & p {
    color: var(--color-grey-darker);
  }
}

/* Dialog */
.inDialog {
  &.form {
    margin-top: calc(var(--sp24) * -1);
    margin-right: calc(var(--sp16) * -1);
    margin-left: calc(var(--sp16) * -1);

    @media (--sm-up) {
      margin-top: calc(var(--sp16) * -1);
    }
  }

  & .container {
    margin-right: var(--sp16);
    margin-left: var(--sp16);
  }
}

.walletInfo {
  @mixin border-grey-light;
  @mixin flex-center-all;
  @mixin transition;

  position: relative;
  padding: var(--sp12) var(--sp16);
  margin-bottom: var(--sp16);
  font-size: var(--text14);
  line-height: 1.375rem;
  color: var(--color-black);
  cursor: pointer;
  border-radius: 0.5rem;
  transition-property: border-color;

  /* &:hover,
  &:focus {
    border-color: var(--color-grey);
  } */

  & .icon {
    position: absolute;
    left: var(--sp20);
    height: 1.375rem;
  }
}

.loadingInfo {
  @mixin flex-center-all;

  flex-direction: column;
  gap: var(--sp12);
  align-self: stretch;
  height: 6.88rem;
  font-size: var(--text14);
  line-height: 1.375rem;
  color: var(--color-grey-darker);
  background: var(--color-green-lighter);
  border-radius: 0.5rem;

  @media (--sm-up) {
    margin-bottom: var(--sp4);
  }
}

.footerSmUpBtns {
  flex: 1;

  @mixin flex-center-space-between;
}
