.msg {
  margin: var(--spacing-x-tight) 0 var(--spacing-base) var(--spacing-base);
  font-size: var(--font-size-xs);
  line-height: 1rem;
  color: var(--color-grey);

  &.error {
    color: var(--color-red);
  }
}

.emphasize {
  font-weight: var(--font-weight-semibold);
}
