.imageContainer {
  position: relative;
  margin: 0 calc(var(--sp16) * -1) var(--sp16);
  border-bottom: 1px solid var(--color-line-grey);

  @media (--sm-up) {
    margin: 0 calc(var(--sp20) * -1) var(--sp16);
  }

  & .image {
    &::after {
      display: block;
      padding-bottom: 38%;
      content: '';
    }
  }
}
