.container {
  padding: var(--spacing-base);

  @media (--sm-up) {
    padding-right: 0;
    padding-left: 0;
  }
}

.content {
  font-size: var(--font-size-md-s);
  line-height: 1.5rem;
  color: var(--color-grey-dark);
}

.footer {
  @mixin feed-footer-actions;
}
