:root {
  --circle-wall-top-height: 6.25rem;
}

.container {
  position: relative;
  margin-top: var(--circle-wall-top-height);

  &::before {
    position: absolute;
    right: 0;
    bottom: 100%;
    left: 0;
    z-index: 2;
    z-index: 1;
    display: block;
    height: var(--circle-wall-top-height);
    margin-bottom: var(--spacing-xx-tight);
    content: '';
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 51.04%);
  }
}

.message {
  position: absolute;
  right: 0;
  bottom: 100%;
  left: 0;
  z-index: 2;
  padding-bottom: var(--spacing-base);
  color: var(--color-matters-gold);
  text-align: center;
}
