.container {
  padding: var(--spacing-x-loose) 1rem 1.5rem 1rem;
  margin: 1rem -1rem -1rem;

  & :global(.card) {
    box-shadow: 0 0 4px rgb(0 0 0 / 16%);
  }
}

.message {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: var(--spacing-base);
  font-weight: var(--font-weight-medium);
}
