.container {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.fader {
  padding-top: var(--spacing-xx-loose);
  background: linear-gradient(
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.6) 40%,
      rgba(255, 255, 255, 0.8) 70%,
      rgba(255, 255, 255, 1) 100%
    )
    no-repeat;
}

.message {
  @mixin flex-center-all;

  padding-top: var(--spacing-xxx-tight);
  padding-bottom: var(--spacing-base);
  color: var(--color-matters-gold);
  background: var(--color-white);
}

.circle {
  background: var(--color-white);
  border-radius: var(--spacing-x-tight);
  box-shadow: var(--shadow-sm-lighter);
}
