.container {
  padding: var(--spacing-x-loose) 1rem 1.5rem 1rem;
  margin: 1rem -1rem -1rem;
  background-image: var(--circle-wall-bg-sm);
  background-position: center top;
  background-size: cover;

  & :global(.card) {
    box-shadow: 0 0 4px rgb(0 0 0 / 16%);
  }

  @media (--sm-up) {
    .container {
      background-image: var(--circle-wall-bg-md);
    }
  }
}

.message {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: var(--spacing-base);
  font-weight: var(--font-weight-medium);
}
