.avatar {
  position: relative;
  display: inline-block;

  /* may under a flex layout, keep it unshrinkable */
  flex-shrink: 0;
  border-radius: 50%;

  & img {
    @mixin object-fit-cover;

    background-color: var(--color-grey-lighter);
  }
}

/* 48px */
.size48 {
  width: 3rem;
  height: 3rem;

  & img {
    border-radius: 1rem;
  }
}

/* 56px */
.size56 {
  width: 3.5rem;
  height: 3.5rem;

  & img {
    border-radius: 1rem;
  }
}

/* 72px */
.size72 {
  width: 4.5rem;
  height: 4.5rem;

  & img {
    border-radius: 1.5rem;
  }
}
