.label {
  color: var(--color-white);
  background: var(--color-matters-green);
  user-select: none;
}

.small {
  padding: var(--spacing-xxx-tight) var(--spacing-x-tight);
  font-size: var(--font-size-xs);
}

.default {
  padding: var(--spacing-xx-tight) var(--spacing-tight);

  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-bold);
  font-family: var(--font-serif-tc);
  line-height: 1.42857143;

  &[lang='zh-hans'] {
    font-family: var(--font-serif-sc);
  }
}
