.tagList {
  margin-bottom: var(--spacing-loose);

  & .list {
    display: flex;
    flex-wrap: wrap;

    & .listItem {
      flex-shrink: 0;
      max-width: 100%;
      padding-right: var(--spacing-base);
    }

    & .moreTag {
      @mixin flex-center-all;
      @mixin transition;

      height: 2rem;
      padding: var(--spacing-x-tight) var(--spacing-base-tight)
        var(--spacing-x-tight) var(--spacing-x-tight);
      color: var(--color-grey-darker);
      cursor: pointer;
      background: var(--color-grey-lighter);
      border-radius: 0.5rem;
      transition-property: color, background;

      &:hover,
      &:focus {
        color: var(--color-black);
        background: var(--color-grey-lighter-active);
      }
    }
  }
}
