.tag-list {
  margin-bottom: var(--spacing-base);
  margin-right: calc(var(--spacing-base) * -1);
}

ul {
  @mixin hide-scrollbar;

  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;

  & li {
    flex-shrink: 0;
    margin-right: var(--spacing-base);
  }
}
