.tag-list {
  margin-bottom: var(--spacing-base);
}

ul {
  @mixin hide-scrollbar;
  display: flex;

  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;

  & li {
    flex-shrink: 0;
    margin-right: var(--spacing-base);
  }
}
