.tagList {
  margin-bottom: var(--sp24);

  & .list {
    display: flex;
    flex-wrap: wrap;
    row-gap: var(--sp8);

    & .listItem {
      flex-shrink: 0;
      max-width: 100%;
      padding-right: var(--sp16);
    }

    & .moreTag {
      @mixin flex-center-all;
      @mixin transition;

      height: 2rem;
      padding: var(--sp8) var(--sp10) var(--sp8) var(--sp8);
      color: var(--color-grey-darker);
      cursor: pointer;
      background: var(--color-grey-lighter);
      border-radius: 0.5rem;
      transition-property: color, background;

      &:hover,
      &:focus {
        color: var(--color-black);
        background: var(--color-grey-hover);
      }
    }
  }
}
