.nav-bar {
  @mixin border-top-grey;

  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: var(--spacing-base) var(--spacing-x-loose) var(--spacing-x-loose);

  background: var(--color-white);
  z-index: var(--z-index-global-header);

  @media (--xs-down) {
    padding: var(--spacing-base);
  }
}

ul {
  @mixin flex-center-space-between;

  & li {
    display: inline-flex;
  }
}
