.nav-bar {
  @mixin border-top-grey;

  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: var(--spacing-base);

  background: var(--color-white);
  z-index: var(--z-index-global-header);
}

ul {
  @mixin flex-center-space-between;

  & li {
    display: inline-flex;
  }
}
