.navBar {
  @mixin shadow-border-top-grey;
  @mixin safe-area-botttom;

  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: var(--z-index-global-bottom-bar);
  min-height: var(--global-nav-height);
  padding: var(--spacing-base) var(--spacing-x-loose);
  background: var(--color-white);

  @media (--xs-down) {
    padding: var(--spacing-base);
  }

  & .list {
    @mixin flex-center-space-between;

    & .listItem {
      display: inline-flex;
    }
  }
}
