.nav-bar {
  @mixin border-top-grey;

  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: var(--z-index-global-header);
  padding: var(--spacing-base) var(--spacing-x-loose);
  padding-bottom: calc(constant(safe-area-inset-bottom) + var(--spacing-base));
  padding-bottom: calc(env(safe-area-inset-bottom) + var(--spacing-base));
  background: var(--color-white);

  @media (--xs-down) {
    padding: var(--spacing-base);
  }
}

ul {
  @mixin flex-center-space-between;

  & li {
    display: inline-flex;
  }
}
