.navBar {
  @mixin shadow-border-top-grey;
  @mixin safe-area-botttom;

  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: var(--z-index-global-bottom-bar);
  min-height: var(--global-nav-height);
  padding: var(--sp16) var(--sp32);
  background: var(--color-white);

  @media (--xs-down) {
    padding: var(--sp16);
  }

  & .list {
    @mixin flex-center-space-between;

    & .listItem {
      display: inline-flex;
    }
  }
}

.popOver {
  box-shadow: var(--shadow-light);

  & .list {
    @mixin flex-center-all;
  }
}

.banner {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 100%;
  height: 74px;
  background-color: var(--color-matters-green);
  border-radius: 10px;

  & .profileIcon {
    align-self: flex-end;
    width: 104px;
    height: 83px;
    margin-left: var(--sp24);
  }

  & .notificationText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: var(--sp16);
    font-family: Arial, sans-serif;
    font-size: var(--text18);
    font-weight: var(--font-medium);
    color: white;

    & .subText {
      font-size: var(--text14);
      font-weight: normal;
    }
  }
}
