.text-size-xs {
  font-size: var(--font-size-xs);
}

.text-size-sm-s {
  font-size: var(--font-size-sm-s);
}

.text-size-sm {
  font-size: var(--font-size-sm);
}

.text-size-md-s {
  font-size: var(--font-size-md-s);
}

.text-size-md {
  font-size: var(--font-size-md);
}

.text-size-xm {
  font-size: var(--font-size-xm);
}

.text-size-xl {
  font-size: var(--font-size-xl);
}

.text-weight-normal {
  font-weight: var(--font-weight-normal);
}

.text-weight-md {
  font-weight: var(--font-weight-medium);
}

.line-clamp {
  @mixin line-clamp;

  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
}

.line-clamp-line-1 {
  -webkit-line-clamp: 1;
}

.line-clamp-line-3 {
  -webkit-line-clamp: 3;
}
