.text12 {
  font-size: var(--text12);
}

.text13 {
  font-size: var(--text13);
}

.text14 {
  font-size: var(--text14);
}

.text15 {
  font-size: var(--text15);
}

.text16 {
  font-size: var(--text16);
}

.text18 {
  font-size: var(--text18);
}

.text24 {
  font-size: var(--text24);
}

.fontNormal {
  font-weight: var(--font-normal);
}

.fontMedium {
  font-weight: var(--font-medium);
}

.fontSemibold {
  font-weight: var(--font-semibold);
}

.lineClamp {
  @mixin line-clamp;

  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
}

.lineClampLine1 {
  -webkit-line-clamp: 1;
}

.lineClampLine3 {
  -webkit-line-clamp: 3;
}

.archived {
  color: var(--color-grey);
  cursor: pointer;
}

.textColorGreyDarker {
  color: var(--color-grey-darker);
}

.textColorBlack {
  color: var(--color-black);
}
