.textSizeXs {
  font-size: var(--text12);
}

.textSizeSmS {
  font-size: var(--text13);
}

.textSizeSm {
  font-size: var(--text14);
}

.textSizeMdS {
  font-size: var(--text15);
}

.textSizeMd {
  font-size: var(--text16);
}

.textSizeXm {
  font-size: var(--text18);
}

.textSizeXl {
  font-size: var(--text24);
}

.textWeightNormal {
  font-weight: var(--font-normal);
}

.textWeightMd {
  font-weight: var(--font-medium);
}

.textWeightSemibold {
  font-weight: var(--font-semibold);
}

.lineClamp {
  @mixin line-clamp;

  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
}

.lineClampLine1 {
  -webkit-line-clamp: 1;
}

.lineClampLine3 {
  -webkit-line-clamp: 3;
}
