a {
  display: inline-block;
  padding-top: var(--spacing-x-tight);
}

sup.count {
  @mixin all-transition;
  top: calc(var(--spacing-x-tight) * -1);
  padding-bottom: 0;
  padding-left: var(--spacing-xxx-tight);

  border-bottom: 0;
}
