.item {
  position: relative;
  display: block;
  width: 100%;
  text-align: left;
  overflow: hidden;
  cursor: pointer;

  & :global(> *:before) {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.spacing-vertical-xtight {
  padding-top: var(--spacing-x-tight);
  padding-bottom: var(--spacing-x-tight);
}
.spacing-vertical-tight {
  padding-top: var(--spacing-base);
  padding-bottom: var(--spacing-base);
}
.spacing-vertical-default {
  padding-top: var(--spacing-loose);
  padding-bottom: var(--spacing-loose);
}

.spacing-horizontal-xtight {
  padding-left: var(--spacing-x-tight);
  padding-right: var(--spacing-x-tight);
}
.spacing-horizontal-tight {
  padding-left: var(--spacing-base);
  padding-right: var(--spacing-base);
}
.spacing-horizontal-default {
  padding-left: var(--spacing-loose);
  padding-right: var(--spacing-loose);
}

.bg-hover-grey {
  &:hover,
  &:focus {
    background: var(--color-grey-lighter);
  }
}
.bg-hover-green {
  &:hover,
  &:focus {
    background: var(--color-green-lighter);
  }
}
