header {
  @mixin inline-flex-center-all;

  margin-bottom: var(--spacing-x-tight);
  font-size: var(--font-size-sm);
  color: var(--color-grey);

  & .collected {
    margin-left: var(--spacing-x-tight);
  }
}

.article-digest {
  margin-left: var(--spacing-xx-loose);
}
