.bottom-bar {
  & :global(.fixed-main) {
    bottom: 0;
  }
}

.content {
  @mixin safe-area-botttom;
  @mixin shadow-border-top-grey;

  margin: 0 1px; /* borders of main grid */
  background: var(--color-white);
}

.inner {
  @mixin flex-center-space-between;

  justify-content: space-around;
  height: var(--global-nav-height);
}
