.context {
  flex-grow: 0;
  flex-shrink: 0;
  margin-bottom: var(--spacing-base);
}

.form {
  @mixin hide-scrollbar;

  position: relative;
  flex-grow: 1;
  overflow-y: auto;

  & :global(.ql-editor) {
    min-height: 30vh;

    @media (--md-up) {
      min-height: auto;
    }
  }

  @media (--md-up) {
    height: 40vh;
  }
}
