.context {
  flex-grow: 0;
  flex-shrink: 0;
  margin-bottom: var(--spacing-base);
}

form {
  @mixin hide-scrollbar;
  position: relative;

  flex-grow: 1;
  padding-bottom: var(--spacing-x-loose);
  overflow-y: auto;

  & :global(.ql-editor) {
    min-height: 30vh;

    @media (--sm-up) {
      min-height: auto;
    }
  }

  @media (--sm-up) {
    height: 40vh;
  }
}
