.context {
  flex-grow: 0;
  flex-shrink: 0;
  margin-bottom: var(--spacing-base);
}

form {
  flex-grow: 1;
  position: relative;
  height: 100%;
  overflow-y: auto;

  & :global(.ql-editor, #editor-comment-container, .quill, .ql-editor) {
    height: inherit;
  }

  @media (--sm-up) {
    height: 40vh;
  }
}
