.container {
  text-align: left;
}

header {
  @mixin flex-center-space-between;
  margin-bottom: var(--spacing-base);

  & h4 {
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-semibold);
  }
}

.hash {
  margin-bottom: var(--spacing-loose);

  & input {
    padding: var(--spacing-x-tight) var(--spacing-base);

    color: var(--color-yellow);
    font-size: var(--font-size-sm);
    font-family: var(--font-mono);
    background: var(--color-yellow-lighter);
  }
}

.gateways {
  margin-bottom: var(--spacing-base);

  & .count {
    font-size: var(--font-size-sm);
    color: var(--color-grey-dark);

    & .highlight {
      color: var(--color-matters-green);
    }
  }

  & ul {
    @mixin border-top-grey;
    @mixin border-bottom-grey;
    padding: var(--spacing-x-tight) 0;
    max-height: 11rem;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;

    & li {
      @mixin flex-center-space-between;

      & :global(:not(.gateway-url)) {
        flex-shrink: 0;
      }

      & .gateway-url {
        @mixin truncate;
        margin-right: var(--spacing-x-tight);

        font-size: var(--font-size-md);
        line-height: 2.5rem;
      }
    }
  }
}

.help {
  & p {
    margin-top: var(--spacing-base);

    font-size: var(--font-size-sm);
    color: var(--color-grey-darker);

    & b {
      color: var(--color-black);
      font-weight: var(--font-weight-medium);
    }
  }
}
