.fingerprint-content {
  padding: var(--spacing-x-tight);
  margin-bottom: var(--spacing-loose);

  color: var(--color-yellow);
  font-size: var(--font-size-md);
  font-family: var(--font-mono);
  background: var(--color-yellow-lighter);
}

.dropdown-container {
  width: var(--sizing-menu-width);
}

.top-container {
  padding: var(--spacing-base) var(--spacing-loose) var(--spacing-loose);
}

.section-title {
  @mixin flex-center-space-between;
  margin-bottom: var(--spacing-base);

  & h4 {
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-medium);
  }
}

.help-container {
  padding: var(--spacing-base) var(--spacing-loose);

  background: var(--color-grey-lighter);
  text-align: left;

  &.expand {
    background: var(--color-green-lighter);
  }

  & p {
    margin-top: var(--spacing-base);
    margin-bottom: var(--spacing-x-tight);

    font-size: var(--font-size-sm);
    color: var(--color-grey);
    white-space: pre-line;
  }

  & :global(svg) {
    width: 0.875rem;
    height: 0.875rem;
  }
}

.gateway-container {
  & li {
    @mixin flex-center-space-between;

    & + li {
      margin-top: var(--spacing-x-tight);
    }

    & :global(:not(.gateway-url)) {
      flex-shrink: 0;
    }

    & .gateway-url {
      @mixin truncate;
      font-size: var(--font-size-sm);
      color: var(--color-grey);
      margin-left: var(--spacing-x-tight);
      margin-right: var(--spacing-xx-tight);
      text-align: left;
    }

    & a {
      font-size: 0;
    }
  }
}
