:root {
  --text-size: 4.25rem;
  --button-size: 5.25rem;
}

.container {
  padding-right: calc(var(--text-size) + var(--button-size));
  padding-left: var(--spacing-base);

  @media (--sm-up) {
    padding-left: 0;
  }
}

.info {
  @mixin inline-flex-center-end;

  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  padding-right: var(--spacing-base);

  @media (--sm-up) {
    padding-right: 0;
  }

  & span {
    font-size: var(--font-size-xs);
  }

  & .period {
    color: var(--color-grey-darker);
  }

  & .succeeded {
    color: var(--color-matters-gold);
  }

  & .margin-right {
    margin-right: var(--spacing-base);
  }
}
