.section-container {
  & + .section-container {
    padding-top: var(--spacing-default);
    margin-top: var(--spacing-default);
  }

  & section + section {
    @mixin border-top-grey;
    padding-top: var(--spacing-default);
    margin-top: var(--spacing-default);
  }
}

.setting-section {
  @mixin flex-center-space-between;

  font-size: var(--font-size-sm);

  & .left {
  }

  & .title {
    display: inline-block;
    margin-right: var(--spacing-default);
    width: 5rem;

    font-weight: var(--font-weight-medium);

    @media (--sm-up) {
      margin-right: 8rem;
    }
  }
}

.change-password-button {
  color: var(--color-matters-green);
}

.language-switch-button {
  &.active {
    font-weight: var(--font-weight-bold);
  }
}
