.dialog[data-reach-dialog-overlay] {
  position: fixed;
  inset: 0;
  z-index: var(--z-index-dialog);
  overflow: hidden;

  @media (--sm-up) {
    @mixin flex-center-all;
  }
}

.dialog [data-reach-dialog-content] {
  /*
   * FIXME: make dialog respect the virtual keyboard on iOS
   *
   * @see @url{https://saricden.com/how-to-make-fixed-elements-respect-the-virtual-keyboard-on-ios}
   */
  position: absolute;
  inset: calc(var(--vvh) * 100) 0 auto 0;
  outline: none;
  transform: translateY(-100%);

  @media (--sm-up) {
    position: relative;
    inset: auto;
    width: 23.4375rem; /* 375px */
    margin-top: auto;
    margin-bottom: auto;
    transform: initial;
    transform-origin: center bottom 0;
  }
}
