.container {
  margin: var(--spacing-default) 0;
}

.header {
  @mixin flex-start-space-between;

  & .avatars {
    display: flex;
    align-items: center;
  }

  & .reply-to {
    flex-shrink: 0;
    margin: 0 var(--spacing-xx-tight);

    font-size: var(--font-size-sm);
    line-height: 1;
  }

  & .label {
    margin-left: var(--spacing-x-tight);
    font-size: 0;
  }
}

.content-wrap {
  padding-left: var(--spacing-x-loose);

  font-size: var(--font-size-sm); /* fallback */
  font-size: calc(var(--font-size-sm) + 1px);
}

.descendant-comments {
  & li {
    @mixin border-top-grey;

    &:first-child {
      margin-top: var(--spacing-default);
    }
  }

  & .content-wrap {
    padding-left: var(--spacing-loose);
  }
}

.cancel-button {
  padding: 0 var(--spacing-tight);

  font-size: var(--font-size-sm);
  color: var(--color-matters-green);
}

.more-button {
  padding-left: var(--spacing-loose);
}
