:root {
  --descendant-avatar-size: 1.5rem;
}

.container {
  padding: var(--spacing-default) 0;

  &:target {
    animation: bgFadeOut 2s ease 1s;
  }
}

@keyframes bgFadeOut {
  50% {
    background: var(--color-bg-green);
  }
  0,
  100% {
    background: none;
  }
}

.header {
  @mixin flex-start-space-between;
}

.author-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  & .label {
    margin-left: var(--spacing-x-tight);
    font-size: 0;
  }
}

.reply-to {
  display: flex;
  justify-content: flex-start;
  margin: var(--spacing-xx-tight) 0 var(--spacing-xx-tight) var(--spacing-loose);

  color: var(--color-grey-dark);
  font-size: var(--font-size-xs);
  font-size: calc(var(--font-size-sm) - 1px);
  line-height: 1;

  & .wording {
    margin-right: var(--spacing-x-tight);
  }
}
.container:not(.in-article) .reply-to {
  margin-left: 2.5rem;
}

.content-wrap {
  margin-top: var(--spacing-xx-tight);
  padding-left: var(--spacing-x-loose);

  font-size: var(--font-size-sm); /* fallback */
  font-size: calc(var(--font-size-sm) + 1px);
}

.descendant-comments {
  & .container {
    position: relative;
    padding: var(--spacing-tight) 0;

    &::before {
      content: '';
      position: absolute;
      left: calc(var(--descendant-avatar-size) / 2);
      bottom: var(--spacing-tight);
      height: 0;
      height: calc(
        100% - var(--descendant-avatar-size) - var(--spacing-tight) * 3
      );
      width: 1px;
      background-color: var(--color-line-grey-light);
    }
  }
  & li:first-child .container {
    margin-top: var(--spacing-xx-tight);
    padding-top: var(--spacing-tight);
  }

  & .content-wrap {
    margin-top: var(--spacing-x-tight);
    padding-left: var(--spacing-loose);
  }
}

.cancel-button {
  padding: 0 var(--spacing-tight);

  font-size: var(--font-size-sm);
  color: var(--color-matters-green);
}

.more-button {
  padding-left: var(--spacing-loose);
}
