.container {
  margin: var(--spacing-default) 0;
}

.header {
  @mixin flex-start-space-between;

  & .reply-to {
    @mixin flex-center-all;
    margin: var(--spacing-xx-tight) 0 var(--spacing-xx-tight)
      var(--spacing-loose);

    color: var(--color-grey-dark);
    font-size: var(--font-size-xs);
    font-size: calc(var(--font-size-sm) - 1px);
    line-height: 1;

    & .wording {
      margin-right: var(--spacing-x-tight);
    }
  }

  & .label {
    margin-left: var(--spacing-x-tight);
    font-size: 0;
  }
}

.content-wrap {
  margin-top: var(--spacing-xx-tight);
  padding-left: var(--spacing-x-loose);

  font-size: var(--font-size-sm); /* fallback */
  font-size: calc(var(--font-size-sm) + 1px);
}

.descendant-comments {
  & li {
    @mixin border-top-grey;

    &:first-child {
      margin-top: var(--spacing-default);
    }
  }

  & .content-wrap {
    margin-top: var(--spacing-x-tight);
    padding-left: var(--spacing-loose);
  }
}

.cancel-button {
  padding: 0 var(--spacing-tight);

  font-size: var(--font-size-sm);
  color: var(--color-matters-green);
}

.more-button {
  padding-left: var(--spacing-loose);
}
