.footer {
  @mixin feed-footer-actions;

  margin-top: var(--sp8);
}

.campaign {
  @mixin line-clamp;

  color: var(--color-campaign-blue-label);
}

.footer .left .campaign {
  flex-shrink: initial;
}
