.newCollection {
  padding: var(--spacing-x-tight) 0;
  font-size: var(--font-size-sm);
  line-height: var(--line-height-base-loose);
  color: var(--color-matters-green);
  cursor: pointer;

  &:hover,
  &:focus {
    color: var(--color-matters-green-dark);
  }
}

.form {
  /* FIXME: rendering issue when checkbox is checked */
  position: relative;

  & .item {
    @mixin flex-center-space-between;

    gap: var(--spacing-x-tight);

    & .index {
      @mixin flex-center-all;

      min-width: 1.25rem;
      height: 1.25rem;
      font-size: var(--font-size-xs);
      color: var(--color-matters-green);
      border: 1.5px solid var(--color-matters-green);
      border-radius: 1.25rem;
    }
  }
}

.emptyResult {
  @mixin flex-start-center;

  height: 23.375rem;
  padding: var(--spacing-x-tight) var(--spacing-base-loose);
  font-size: var(--font-size-sm);
  color: var(--color-grey);
}
