.newCollection {
  padding: var(--spacing-x-tight) 0;
  font-size: var(--font-size-sm);
  line-height: var(--line-height-base-loose);
  color: var(--color-matters-green);
  cursor: pointer;

  &:hover,
  &:focus {
    color: var(--color-matters-green-dark);
  }
}

.form {
  /* FIXME: rendering issue when checkbox is checked */
  position: relative;
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  & .item {
    margin-bottom: var(--spacing-tight);
  }
}

.emptyResult {
  @mixin flex-start-center;

  height: 23.375rem;
  padding: var(--spacing-x-tight) var(--spacing-base-loose);
  font-size: var(--font-size-sm);
  color: var(--color-grey);
}

.fixedSizeList {
  @mixin scrollbar-thin;
}

.indexIcon {
  @mixin inline-flex-center-all;

  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-medium);
  line-height: 1.375rem;
  color: var(--color-white);
  background: var(--color-matters-green);
  border-radius: 0.25rem;
}
