.area {
  @mixin flex-center-all;

  width: 100%;
  height: 12rem;
  color: var(--color-grey);
  text-align: center;
  background: var(--color-grey-lighter);
  border: 2px dashed var(--color-grey-light);
  border-radius: var(--sp16);
}

.buttons {
  margin-top: var(--sp8);
}

.buttons > :global(*) {
  margin-bottom: var(--sp16);
}

.buttons > :global(* + *) {
  margin-left: var(--sp8);
}

.h3 {
  margin-bottom: var(--sp8);
}
