.label {
  display: inline-block;
  padding: var(--spacing-xx-tight) var(--spacing-x-tight);
  font-size: var(--font-size-xs);
  line-height: 1;
  color: var(--color-white);
  user-select: none;
  background: var(--color-matters-green);
  border-radius: var(--spacing-xxx-tight);
}
