.label {
  display: inline-block;
  padding: var(--spacing-xx-tight) var(--spacing-x-tight);
  color: var(--color-white);
  font-size: var(--font-size-xs);
  line-height: 1;
  border-radius: 0.125rem;
  background: var(--color-matters-green);
  user-select: none;
}
