:root {
  --followee-comment-avatar-size: 1.25rem;
}

.article {
  & :global(section.container) {
    margin-bottom: 0;
    padding-top: var(--spacing-default);
  }

  & :global(div.info) {
    display: inline-flex;
    align-items: center;
  }
}

.comment {
  & :global(section.container) {
    @mixin border-bottom-grey;
  }

  & :global(.content-wrap) {
    position: relative;
    margin-top: 0;
    padding-left: calc((var(--spacing-default) + var(--spacing-loose)) / 2);

    &::before {
      content: '';
      position: absolute;
      left: calc(var(--followee-comment-avatar-size) / 2);
      top: 0;
      height: 0;
      height: calc(100% - var(--spacing-tight) * 2);
      width: 1px;
      background-color: var(--color-line-grey-light);
    }
  }

  & :global(.u-content-comment > *:last-child) {
    margin-bottom: 0;
  }

  & :global(footer.actions) {
    justify-content: unset;

    & :global(a) {
      padding-left: var(--spacing-tight);
    }
  }
}

li:first-child {
  & :global(section.container) {
    padding-top: 0;

    &::before {
      height: calc(100% - var(--spacing-default) - var(--spacing-tight) * 2);
    }
  }
}
