.features {
  margin-top: 5rem;

  & h2 {
    padding-bottom: var(--sp8);
    text-align: center;
  }

  & ul {
    & li {
      margin-top: var(--sp40);
    }

    @media (--sm-up) {
      & li {
        margin-top: var(--sp64);
      }
    }
  }

  & .content {
    align-self: center;

    & h3 {
      font-size: var(--font-size-xl);
      font-weight: var(--font-weight-semibold);
      color: var(--color-matters-green);
    }

    & p {
      margin: var(--sp16) 0;
      font-size: var(--font-size-sm);
      color: var(--color-grey-darker);
    }

    & a {
      font-size: var(--font-size-sm);
    }
  }

  & img {
    justify-self: center;
  }

  & .content,
  & img {
    grid-column: 1 / -1;

    @media (--sm-up) {
      grid-column: col-start 2 / span 6;
    }

    @media (--md-up) {
      grid-column: col-start 2 / span 7;
    }
  }
}

@media (--lg-up) {
  .features {
    & .content {
      grid-column: col-start 1 / span 5;
    }

    & img {
      grid-column: col-start 7 / span 6;
    }

    & li:nth-child(2) {
      & .content {
        grid-column: col-start 8 / span 5;
      }

      & img {
        grid-column: col-start 1 / span 6;
        order: -1;
      }
    }
  }
}
