input {
  @mixin form-input;
  height: 3rem;

  font-weight: var(--font-weight-medium);
  text-align: right;

  @media (--sm-up) {
    @mixin form-input-grey;
  }

  /* Chrome, Safari, Edge, Opera */
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  -moz-appearance: textfield;
}

.fixed-placeholder {
  position: absolute;
  top: 0;
  left: var(--spacing-base);
  height: 100%;

  color: var(--color-grey);
  font-size: var(--font-size-md);
  line-height: 3rem;
  pointer-events: none;
}
