.tag {
  @mixin transition;

  display: flex;

  & .name {
    @mixin line-clamp;

    font-size: var(--text16);
    line-height: 1.5rem; /* 24px */
    word-break: break-all;
  }

  & .nums {
    color: var(--color-grey);
    word-break: keep-all;
  }
}
