.container {
  @mixin flex-center-start;

  position: relative;
}

header {
  @mixin flex-center-space-between;
}

.nums {
  & :global(> * + *) {
    margin-left: var(--spacing-x-tight);
  }
}

.content {
  margin-top: var(--spacing-x-tight);
}

.cover {
  position: relative;
  display: inline-flex;
  flex-shrink: 0;
  width: 4.5rem;
  height: 4.5rem;
  margin-left: var(--spacing-x-tight);

  & :global(img) {
    @mixin object-fit-cover;

    background-color: var(--color-grey-lighter);
    border-radius: 0.5rem;
  }
}

.articles {
  & .title {
    @mixin line-clamp;

    font-size: var(--font-size-sm-s);
    line-height: 1.5rem;
    color: var(--color-grey-dark);
  }
}
