.form {
  width: 100%;
}

.info {
  font-size: var(--font-size-xs);
  line-height: 1.1;
  height: 1rem;
  min-height: 1rem;
  margin-bottom: var(--spacing-x-tight);
  padding-left: var(--spacing-x-tight);

  & > .error {
    color: var(--color-red);
  }
}

.buttons {
  & button {
    @mixin modal-button;

    &[type='submit'] {
      @mixin modal-button-active;
      width: 100%;
    }
  }
}
