:root {
  --box-avatar-size: 5.875rem;
}

.container {
  @mixin border-grey;
  margin-top: 5rem;

  background: var(--color-white);
  border-radius: 4px;

  @media (--md-up) {
    margin-top: 10rem;
  }
}

header {
  margin-top: calc(var(--box-avatar-size) / 2 * -1);
  text-align: center;

  & :global(.avatar) {
    display: block;
    margin: 0 auto;
  }

  & h1 {
    margin-top: var(--spacing-default);

    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-md);
  }

  @media (--md-up) {
    & :global(.avatar) {
      width: var(--box-avatar-size);
      height: var(--box-avatar-size);
    }
  }
}
