.dialogAppreciatorsList {
  & .appreciationAmount {
    @mixin inline-flex-center-all;

    box-sizing: content-box;
    min-width: 1rem;
    height: 1rem;
    margin-top: -2px;
    margin-right: -2px;
    font-size: var(--text12);
    font-weight: var(--font-bold);
    color: var(--color-white);
    text-align: center;
    background: var(--color-matters-green);
    border: 2px solid var(--color-white);
    border-radius: 1rem;
  }
}
