.container {
  display: inline-block;
  padding-top: var(--spacing-x-tight);
  padding-left: var(--spacing-base);
  line-height: inherit;
  text-align: left;
}

.avatar-list {
  & :global(.avatar) {
    position: relative;
    border: 1.5px solid var(--color-white);

    & + :global(.avatar) {
      margin-left: calc(var(--spacing-x-tight) * -1);
    }

    &:nth-child(1) {
      z-index: 5;
    }

    &:nth-child(2) {
      z-index: 4;
    }

    &:nth-child(3) {
      z-index: 3;
    }

    &:nth-child(4) {
      z-index: 2;
    }

    &:nth-child(5) {
      z-index: 1;
    }
  }
}

.name-list {
  margin-top: var(--spacing-xx-tight);
  font-size: var(--font-size-sm);

  & .highlight {
    color: var(--color-matters-green);
  }
}

.dialog-appreciators-list {
  padding: var(--spacing-tight) 0;

  & .appreciation-amount {
    @mixin inline-flex-center-all;

    box-sizing: content-box;
    min-width: 1rem;
    height: 1rem;
    margin-top: -2px;
    margin-right: -2px;
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-bold);
    color: var(--color-white);
    text-align: center;
    background: var(--color-matters-green);
    border: 2px solid var(--color-white);
    border-radius: 1rem;
  }
}
