.info {
  display: flex;
  align-items: center;
  padding-left: var(--sp16);
  margin: var(--sp8) 0;
  color: var(--color-grey-dark);
  white-space: pre-wrap;

  & .num {
    font-weight: var(--font-weight-semibold);
    color: var(--color-black);
  }
}
