.info {
  display: flex;
  align-items: center;
  padding: 0 var(--spacing-base);
  margin: var(--spacing-x-tight) 0;
  color: var(--color-grey-dark);

  & .num {
    font-weight: var(--font-weight-semibold);
    color: var(--color-black);
  }
}
