.info {
  display: flex;
  align-items: center;
  padding: var(--spacing-loose) 0 0;

  color: var(--color-grey);

  & .num {
    color: var(--color-grey-darker);
    font-weight: var(--font-weight-semibold);
  }
}
