.info {
  display: flex;
  align-items: center;
  padding-left: var(--sp16);
  margin: var(--sp8) 0;
  color: var(--color-grey-dark);
  white-space: pre-wrap;

  & .num {
    font-weight: var(--font-semibold);
    color: var(--color-black);
  }
}

.journal {
  margin: var(--sp20) 0;
}

.clearJournals {
  position: fixed;
  top: 0;
  left: 0;
}
