.info {
  display: flex;
  align-items: center;
  padding-left: var(--spacing-base);
  margin: var(--spacing-x-tight) 0;
  color: var(--color-grey-dark);
  white-space: pre-wrap;

  & .num {
    font-weight: var(--font-weight-semibold);
    color: var(--color-black);
  }
}

.startWriting {
  display: flex;
  justify-content: center;
  font-weight: var(--font-weight-medium);
}
