.container {
  @media (--lg-up) {
    margin: 0;
  }

  margin: var(--spacing-loose) var(--spacing-base);
}

.title {
  @mixin: flex-center-space-between;

  display: flex;
  justify-content: space-between;
}

.filter {
  display: inline-block;
}
