.container {
  padding: var(--spacing-loose) var(--spacing-base);

  & p {
    margin-top: var(--spacing-loose);
    color: var(--color-grey-darker);
  }
}

.title {
  @mixin: flex-center-space-between;

  display: flex;
  justify-content: space-between;
}

.filter {
  display: inline-block;
}

.no-supporter {
  @mixin flex-center-start;

  flex-direction: column;
  width: 100%;
  margin: var(--spacing-loose) 0;

  @media (--sm-up) {
    margin: var(--spacing-xx-loose) 0;
  }
}

.no-supporter-img {
  width: 85px;
  height: 95px;
}
