.title {
  display: flex;
  justify-content: space-between;
  padding: 0 var(--sp16) 0;
  margin-bottom: var(--sp12);
}

.noSupporter {
  @mixin flex-center-start;

  flex-direction: column;
  width: 100%;
  margin: var(--sp24) 0;

  & p {
    margin-top: var(--sp8);
    color: var(--color-grey-darker);
  }

  @media (--sm-up) {
    margin: var(--sp40) 0;
  }
}

.noSupporterImg {
  width: 85px;
  height: 95px;
}
