.collection {
  margin: 0 0 var(--spacing-loose);

  & header {
    @mixin flex-center-space-between;

    padding-bottom: var(--spacing-base);

    & .right :global(> * + *) {
      margin-left: var(--spacing-x-tight);
    }
  }
}

.count {
  position: relative;
  top: -0.7rem;
  right: -0.25rem;
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-bold);
  color: var(--color-matters-green);
}
