:root {
  --collection-list-number-width: 1.25rem;
  --collection-list-spacing: calc(
    var(--collection-list-number-width) + var(--spacing-x-tight)
  );
}

.collection {
  margin: 0 0 var(--spacing-loose);

  & header {
    @mixin flex-center-space-between;
    padding-bottom: var(--spacing-base);
  }
}

.count {
  position: relative;
  top: -0.7rem;
  right: -0.25rem;

  color: var(--color-matters-green);
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-bold);
}

.edit-button {
  line-height: 1;

  & :global(> * + *) {
    margin-left: var(--spacing-x-tight);
  }
}

.editing-list {
  @mixin max-height-scroll;
  padding: 0 var(--spacing-x-tight);

  @media (--lg-up) {
    padding: 0 var(--spacing-loose);
  }
}
