.collection {
  margin: 0 0 var(--spacing-loose);

  & .header {
    @mixin flex-center-space-between;

    padding: var(--spacing-x-tight) 0;
    margin-bottom: var(--spacing-x-tight);
  }

  & :global(.list-item:last-child) {
    margin-bottom: 0;
    border: 0;
  }
}
