/* @styled-jsx=global */

:root {
  --control-height: 24px;
  --input-padding-width: 5px;
  --input-padding-height: 3px;

  --color-item-margin: 2px;
  --color-item-size: 16px;
  --color-items-per-row: 7;

  --background-color: var(--color-black);
  --text-color: var(--color-white);

  --inactive-color: var(--color-white);
  --active-color: var(--color-matters-gold);

  --arrow-width: 6px;
}

/* Core */
.ql-container {
  position: relative;
  height: 100%;
  box-sizing: border-box;

  &.ql-disabled {
    & .ql-tooltip {
      visibility: hidden;
    }
  }
}

.ql-clipboard {
  left: -100000px;
  height: 1px;
  overflow-y: hidden;
  position: absolute;
  top: 50%;

  & p {
    margin: 0;
    padding: 0;
  }
}

.ql-editor {
  height: 100%;
  min-height: 50vh;
  outline: none;
  overflow-y: auto;
  /* tab-size: 4;
  text-align: left;
  white-space: pre-wrap;
  word-wrap: break-word;
  box-sizing: border-box; */

  & > * {
    cursor: text;
  }

  &.ql-blank::before {
    color: var(--color-grey);
    content: attr(data-placeholder);
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
  }
}

/* Base */
.ql-bubble .ql-toolbar {
  &:after {
    clear: both;
    content: '';
    display: table;
  }

  & button {
    float: left;
    height: var(--control-height);
    padding: var(--input-padding-height) var(--input-padding-width);
    width: calc(
      var(--control-height) +
        (var(--input-padding-width) - var(--input-padding-height)) * 2
    );
  }

  & svg {
    float: left;
    height: 100%;
  }

  &:active:hover {
    outline: none;
  }

  & input.ql-image[type='file'] {
    display: none;
  }

  & button:hover,
  & button:focus,
  & button.ql-active {
    color: var(--active-color);

    & .ql-fill,
    & .ql-stroke.ql-fill {
      fill: var(--active-color);
    }
    & .ql-stroke,
    & .ql-stroke-miter {
      stroke: var(--active-color);
    }
  }

  /* Fix for iOS not losing hover on touch */
  @media (pointer: coarse) {
    & .ql-bubble .ql-toolbar {
      & button:hover:not(.ql-active) {
        color: var(--inactive-color);

        & .ql-fill,
        & .ql-stroke.ql-fill {
          fill: var(--inactive-color);
        }

        & .ql-stroke,
        & .ql-stroke-miter {
          stroke: var(--inactive-color);
        }
      }
    }
  }
}

.ql-bubble {
  box-sizing: border-box;

  & * {
    box-sizing: border-box;
  }

  & .ql-hidden {
    display: none;
  }

  & .ql-out-bottom,
  & .ql-out-top {
    visibility: hidden;
  }

  & .ql-tooltip {
    position: absolute;
    transform: translateY(10px);

    & a {
      cursor: pointer;
      text-decoration: none;
    }
  }

  & .ql-tooltip.ql-flip {
    transform: translateY(-10px);
  }

  & .ql-formats {
    display: inline-block;
    vertical-align: middle;

    &:after {
      clear: both;
      content: '';
      display: table;
    }
  }

  & .ql-stroke {
    fill: none;
    stroke: var(--inactive-color);
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2;
  }

  & .ql-stroke-miter {
    fill: none;
    stroke: var(--inactive-color);
    stroke-miterlimit: 10;
    stroke-width: 2;
  }

  & .ql-fill,
  & .ql-stroke.ql-fill {
    fill: var(--inactive-color);
  }

  & .ql-empty {
    fill: none;
  }
  & .ql-even {
    fill-rule: evenodd;
  }

  & .ql-thin,
  & .ql-stroke.ql-thin {
    stroke-width: 1;
  }

  & .ql-transparent {
    opacity: 0.4;
  }

  & .ql-direction {
    & svg:last-child {
      display: none;
    }
  }
  & .ql-direction.ql-active {
    & svg:last-child {
      display: inline;
    }
    & svg:first-child {
      display: none;
    }
  }
}

/* Bubble - Toolbar */
.ql-bubble .ql-toolbar .ql-formats {
  margin: var(--spacing-x-tight) var(--spacing-tight);

  & + .ql-formats {
    margin-left: 0;
  }
}

/* Bubble - Tooltip */
.ql-bubble {
  & .ql-tooltip {
    background-color: var(--background-color);
    border-radius: 0.25rem;
    color: var(--text-color);
  }

  & .ql-tooltip-arrow {
    border-left: var(--arrow-width) solid transparent;
    border-right: var(--arrow-width) solid transparent;
    content: ' ';
    display: block;
    left: 50%;
    margin-left: -1 * var(--arrow-width);
    position: absolute;
  }

  & .ql-tooltip:not(.ql-flip) .ql-tooltip-arrow {
    border-bottom: var(--arrow-width) solid var(--background-color);
    top: calc(-1 * var(--arrow-width));
  }

  & .ql-tooltip.ql-flip .ql-tooltip-arrow {
    border-top: var(--arrow-width) solid var(--background-color);
    bottom: calc(-1 * var(--arrow-width));
  }

  & .ql-tooltip.ql-editing {
    & .ql-tooltip-editor {
      display: block;
    }

    & .ql-formats {
      visibility: hidden;
    }
  }

  & .ql-tooltip-editor {
    display: none;

    & input[type='text'] {
      position: absolute;
      width: 100%;
      height: 100%;
      padding: var(--spacing-x-tight) var(--spacing-tight);

      color: var(--text-color);
      font-size: var(--font-size-sm);
      background: transparent;
      border: none;
      outline: none;
    }

    & a {
      top: 10px;
      position: absolute;
      right: 20px;

      &:before {
        color: var(--inactive-color);
        content: '\00D7';
        font-size: 16px;
        font-weight: bold;
      }
    }
  }
}

/* Bubble */
.ql-container.ql-bubble:not(.ql-disabled) {
  & a {
    position: relative;

    &::before,
    &::after {
      left: 0;
      margin-left: 50%;
      position: absolute;
      transform: translate(-50%, -100%);
      transition: visibility 0s ease 200ms;
      visibility: hidden;
      white-space: nowrap;
    }

    &::before {
      background-color: var(--background-color);
      border-radius: 0.25rem;
      top: -5px;
      font-size: var(--font-size-xs);
      color: var(--text-color);
      content: attr(href);
      font-weight: normal;
      overflow: hidden;
      padding: var(--spacing-xx-tight) var(--spacing-x-tight);
      text-decoration: none;
      z-index: 1;
    }

    &::after {
      border-top: 6px solid var(--background-color);
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      top: 0;
      content: ' ';
      height: 0;
      width: 0;
    }

    &:hover::before,
    &:hover::after {
      visibility: visible;
    }
  }
}
