.container {
  position: relative;

  & :global(.ql-editor) {
    min-height: 50vh;
  }
}

.mention-container {
  position: absolute;

  width: 20rem;
  visibility: hidden;

  color: var(--color-black);
  border-radius: 2px;
  background: var(--color-white);
  box-shadow: var(--shadow-dark);
  border: 1px solid var(--color-line-grey-light);
}
