.sticky-container {
  position: sticky;
  top: calc(var(--global-header-height) + var(--spacing-default));
}

section {
  & :global(> header) {
    @mixin flex-center-space-between;

    margin-bottom: var(--spacing-default);

    & :global(*) {
      line-height: 1;
    }
  }
}

section + section {
  margin-top: var(--spacing-x-loose);
}

.collection {
  position: relative;
  margin-top: 3rem;
  padding: var(--spacing-tight);

  background: var(--color-grey-lighter);

  &::before {
    content: '';

    position: absolute;
    right: 100%;
    top: var(--spacing-tight);

    width: 0;
    height: 0;

    border-style: solid;
    border-width: 12px 12px 12px 0;
    border-color: transparent var(--color-grey-lighter) transparent transparent;
  }
}
