.container {
  @mixin flex-center-all;
  padding: 4rem var(--spacing-tight);

  & > .content {
    margin: 0rem;
  }

  @media (--sm-down) {
    & {
      padding: var(--spacing-default) var(--spacing-tight);
    }
  }
}

.ask-buttons {
  @mixin border-top-grey;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  margin: 0 var(--spacing-x-tight);
  padding: var(--spacing-x-tight) 0;
}

.complete {
  & > .message {
    @mixin flex-center-all;
    font-size: var(--font-size-xl);
  }

  & > .hint {
    @mixin flex-center-all;
    color: var(--color-grey-darker);
    padding: var(--spacing-tight) 0rem;
  }
}
