{
  "presets": [
    [
      "next/babel",
      {
        "preset-env": {
          "modules": false
        },
        "transform-runtime": {
          "useESModules": false
        },
      }
    ]
  ]
}
