{
  "presets": [
    [
      "next/babel",
      {
        "preset-env": {
          "modules": false
        },
        "transform-runtime": {
          "useESModules": false
        },
        "styled-jsx": {
          "plugins": ["styled-jsx-plugin-postcss"]
        }
      }
    ]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "~/static": "./public/static",
          "~": "./src"
        }
      }
    ],
    "@babel/plugin-proposal-optional-chaining"
  ]
}
