ENV=development
SITE_DOMAIN=http://localhost:3000
ASSET_DOMAIN=https://assets-develop.matters.news
API_URL=http://matters-server-develop.ap-southeast-1.elasticbeanstalk.com/
WS_URL=ws://matters-server-develop.ap-southeast-1.elasticbeanstalk.com/graphql
SEGMENT_KEY=3gE20MjzN9qncFqlKV0pDvNO7Cp2gWU3
FB_APP_ID=823885921293850
SENTRY_DSN=
