.container {
  @mixin flex-center-start;
}

.count {
  @mixin inline-flex-center-all;

  padding-left: var(--spacing-x-tight);
  font-size: var(--font-size-sm);
  line-height: 1;
  color: var(--color-grey-darker);

  & b {
    color: var(--color-black);
  }
}

.avatar-list {
  @mixin flex-center-start;

  & :global(> *) {
    position: relative;
    box-shadow: 0 0 0 2px var(--color-white);

    &:nth-child(1) {
      z-index: 5;
    }

    &:nth-child(2) {
      z-index: 4;
    }

    &:nth-child(3) {
      z-index: 3;
    }

    &:nth-child(4) {
      z-index: 2;
    }

    &:nth-child(5) {
      z-index: 1;
    }
  }
}
