.container {
  position: sticky;
  top: var(--global-header-height); /* fallback */
  top: calc(
    var(--global-header-height) + 1px
  ); /* global header's height + 1px border */

  margin-top: calc(var(--spacing-x-loose) * -1);
  margin-bottom: var(--spacing-x-loose);

  z-index: 10;
}
