.displayNameInput :global(.inputContainer) {
  position: relative;

  &::before {
    position: absolute;
    top: 0;
    left: var(--spacing-base);
    line-height: var(--input-height);
    color: var(--color-black);
  }

  & input {
    padding-left: 8.5rem;
  }
}

.coverField {
  position: relative;

  & .hint {
    position: absolute;
    top: 100%;
    right: 0;
    padding: var(--spacing-loose) var(--spacing-base);
    font-size: var(--font-size-xs);
    color: var(--color-grey);
  }
}

.avatarField {
  margin: var(--spacing-loose) var(--spacing-base);

  @media (--sm-up) {
    margin: var(--spacing-loose) 0;
  }
}

.container {
  @mixin form-container;
}
