.nameInput :global(.inputContainer) {
  position: relative;

  &::before {
    position: absolute;
    top: 0;
    left: var(--sp16);
    line-height: var(--input-height);
    color: var(--color-black);
    content: 'matters.town/~';
  }

  & input {
    padding-left: 8.5rem;
  }
}

.coverField {
  position: relative;
  margin: calc(var(--sp16) * -1);

  & .hint {
    position: absolute;
    top: 100%;
    right: 0;
    padding: var(--sp24) var(--sp16);
    font-size: var(--text12);
    color: var(--color-grey);
  }

  @media (--sm-up) {
    margin: 0;
  }
}

.avatarField {
  margin: var(--sp24) 0;
}
