.displayNameInput :global(.input-container) {
  position: relative;

  &::before {
    position: absolute;
    top: 0;
    left: var(--spacing-base);
    line-height: var(--input-height);
    color: var(--color-black);
    content: 'matters.news/~';
  }

  & :global(input) {
    padding-left: 8.5rem;
  }
}

.cover-field {
  position: relative;

  & .hint {
    position: absolute;
    top: 100%;
    right: 0;
    padding: var(--spacing-loose) var(--spacing-base);
    font-size: var(--font-size-xs);
    color: var(--color-grey);
  }
}

.avatar-field {
  margin: var(--spacing-loose) var(--spacing-base);

  @media (--sm-up) {
    margin: var(--spacing-loose) 0;
  }
}

.container {
  margin-right: var(--spacing-base);
  margin-left: var(--spacing-base);

  @media (--sm-up) {
    margin-right: 0;
    margin-left: 0;
  }

  & :global(.field) {
    margin-right: 0;
    margin-left: 0;

    & :global(.input-container) {
      margin: 0;
    }
  }
}
