.toast-container {
  & .toast-top {
    & :global(.fixed-main) {
      top: calc(var(--global-header-height-mobile) + var(--spacing-base));
      z-index: var(--z-index-over-dialog);

      @media (--sm-up) {
        top: calc(var(--global-header-height) + var(--spacing-base));
      }
    }
  }

  & .toast-bottom {
    & :global(.fixed-main) {
      bottom: calc(var(--global-header-height-mobile) + var(--spacing-base));
      z-index: var(--z-index-over-dialog);

      @media (--sm-up) {
        bottom: calc(var(--global-header-height) + var(--spacing-base));
      }
    }
  }
}
