.toast-container {
  position: fixed;
  top: calc(var(--global-header-height-mobile) + var(--spacing-base));
  right: 0;
  left: 0;
  z-index: var(--z-index-over-dialog);
  width: 100%;
  height: 0;
  max-height: 0;

  @media (--sm-up) {
    top: calc(var(--global-header-height) + var(--spacing-base));
  }
}
