.toastContainer {
  & .toastTop {
    & :global(.fixedMain) {
      top: calc(var(--global-header-height-mobile) + var(--spacing-base));
      z-index: var(--z-index-over-dialog);

      @media (--md-up) {
        top: calc(var(--global-header-height) + var(--spacing-base));
      }
    }
  }

  & .toastBottom {
    & :global(.fixedMain) {
      bottom: calc(var(--global-header-height-mobile) + var(--spacing-base));
      z-index: var(--z-index-over-dialog);

      @media (--md-up) {
        bottom: calc(var(--global-header-height) + var(--spacing-base));
      }
    }
  }
}
