.container {
  @mixin flex-center-space-between;

  padding: var(--spacing-base) 0;
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-normal);
  line-height: 1;
  line-height: 1.375rem;
}

.left {
  display: inline-flex;
  flex-direction: column;

  & .title {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
  }

  & .subtitle {
    margin-top: var(--spacing-xx-tight);
    font-size: var(--font-size-sm-s);
    line-height: 1rem;
    color: var(--color-grey);
  }

  &.bold {
    & .title {
      font-weight: var(--font-weight-medium);
    }
  }
}

.right {
  display: inline-flex;
  color: var(--color-grey-darker);

  & .subtext {
    display: block;
    font-size: var(--font-size-sm-s);
    line-height: 1rem;
    color: var(--color-grey);
    text-align: right;
  }

  &.clickable {
    &:hover,
    &:focus {
      & :global(.icon) {
        color: var(--color-black);
      }
    }
  }
}
