.container {
  @mixin flex-center-space-between;

  padding: var(--spacing-base);
  line-height: 1;
}

.left {
  display: inline-flex;
  flex-direction: column;

  &.top {
    align-self: flex-start;
  }

  & .title {
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-normal);
    line-height: 1rem;
  }

  & .subtitle {
    margin-top: var(--spacing-xx-tight);
    font-size: var(--font-size-sm-s);
    line-height: 1rem;
    color: var(--color-grey);
  }
}

.right {
  display: inline-flex;

  & .subtext {
    display: block;
    font-size: var(--font-size-sm-s);
    line-height: 1rem;
    color: var(--color-grey);
    text-align: right;
  }

  & :global(.text-icon svg) {
    margin-right: calc(var(--spacing-x-tight) * -1);
  }
}
