.container {
  @mixin flex-center-space-between;
  padding: var(--spacing-base);

  line-height: 1;
}

.left {
  align-self: flex-start;
  display: inline-flex;

  & .title {
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-normal);
    line-height: 1rem;
  }

  & .subtitle {
    margin-top: var(--spacing-xx-tight);

    color: var(--color-grey);
    font-size: var(--font-size-sm-s);
    line-height: 1rem;
  }
}

.right {
  display: inline-flex;

  & .subtext {
    display: block;

    color: var(--color-grey);
    font-size: var(--font-size-sm-s);
    line-height: 1rem;

    text-align: right;
  }

  & :global(svg) {
    margin-right: calc(var(--spacing-x-tight) * -1);
  }
}
