.container {
  @mixin flex-center-space-between;
  font-size: var(--font-size-md);
  padding-bottom: var(--spacing-default);
}

.upload {
  flex-grow: 1;
  padding-top: var(--spacing-tight);
  padding-left: var(--spacing-tight);

  & > .hint {
    color: var(--color-grey);
  }
}

.wrapper {
  display: inline-flex;
  align-items: center;

  color: var(--color-matters-green);
  cursor: pointer;
  font-weight: var(--font-weight-medium);
  position: relative;

  & > .input {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    cursor: pointer;
    font-size: 0;
    opacity: 0;
  }
}

.error {
  color: var(--color-red);
  font-size: var(--font-size-xs);
  min-height: 1rem;
}
