.tabs {
  margin-bottom: var(--sp24);

  & .header {
    @mixin flex-start-space-between;

    margin-top: var(--sp24);
    margin-bottom: var(--sp24);

    @media (--sm-up) {
      @mixin flex-start-start;

      margin-top: 0;
    }

    & .logo {
      & svg {
        width: 96px;
        height: 20px;
      }
    }
  }
}

.spacingTop {
  @media (--sm-up) {
    margin-top: var(--sp16);
  }
}
