.tabs {
  margin-bottom: var(--spacing-loose);

  @media (--sm-up) {
    margin-top: var(--spacing-base);
  }

  & .logo {
    margin-bottom: var(--spacing-loose);

    & svg {
      width: 96px;
      height: 20px;
    }
  }
}
