section {
  & :global(> header) {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: var(--spacing-default);

    & :global(*) {
      line-height: 1;
    }
  }
}

section + section {
  margin-top: var(--spacing-x-loose);
}
