.container {
  & > * {
    display: inline-flex;
    vertical-align: middle;
  }
}

.check {
  cursor: pointer;

  & :global(svg) {
    margin-right: var(--spacing-x-tight);
  }
}

.input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
