.book {
  @mixin flex-center-start;

  position: relative;
  width: 10.125rem;
  height: 4.6875rem;
  padding: 0 var(--sp8) 0 calc(var(--sp8) + 0.25rem);
  background: var(--color-white);
  border: 1px solid var(--color-grey-light);
  border-radius: 0.25rem 0.5rem 0.5rem 0.25rem;

  &::before {
    position: absolute;
    top: -1px;
    left: -1px;
    width: 0.25rem;
    height: calc(100% + 2px);
    content: '';
    background: var(--jacket-bg);
    border-radius: 0.25rem 0 0 0.25rem;
  }

  & .label {
    font-size: var(--text12);
    line-height: 1.125rem;
    color: var(--color-grey);
  }

  & .title {
    @mixin line-clamp;

    -webkit-line-clamp: 2;
    font-size: var(--text14);
    font-weight: var(--font-normal);
    line-height: 1.375rem;
  }

  & .cover {
    display: none;
  }
}
