footer {
  color: var(--color-grey);
  font-size: var(--font-size-sm-s);

  & :global(> *) {
    display: inline-block;
    margin: 0 var(--spacing-base) var(--spacing-base) 0;

    &:nth-child(4n) {
      @media (--lg-up) {
        margin-right: 0;
      }
    }
  }

  & .copyright {
    color: var(--color-grey-light);
  }
}
