.footer {
  @mixin flex-center-space-between;

  padding-left: var(--sp8);
  margin: var(--sp32) 0 var(--sp20);
}

.links {
  @mixin flex-center-space-between;

  font-size: var(--text12);
  line-height: 1.125rem;
  color: var(--color-grey);

  & > * + * {
    margin-left: var(--sp10);
  }
}
