footer {
  margin-bottom: var(--global-nav-height);
  margin-bottom:
    calc(
      constant(safe-area-inset-bottom) + var(--global-nav-height)
    );
  margin-bottom: calc(env(safe-area-inset-bottom) + var(--global-nav-height));
  color: var(--color-grey);
  font-size: var(--font-size-sm-s);

  & :global(> *) {
    display: inline-block;
    margin: 0 var(--spacing-base) var(--spacing-base) 0;
  }

  & .copyright {
    color: var(--color-grey-light);
  }
}
