.container {
  & :global(> header) {
    padding: var(--spacing-base);
  }
}

.header-buttons {
  @mixin flex-center-all;
}

.follow-info {
  margin-left: var(--spacing-tight);
  font-size: var(--font-size-sm);
  color: var(--color-grey);
  line-height: 1;
  vertical-align: middle;

  & .hightlight {
    color: var(--color-matters-green);
  }
}
