.container {
  & header {
    padding: var(--spacing-base);

    @media (--md-up) {
      padding: var(--spacing-base) 0;
    }
  }
}

.headerButtons {
  @mixin flex-center-all;
}

.followInfo {
  margin-left: var(--spacing-tight);
  font-size: var(--font-size-sm);
  line-height: 1;
  color: var(--color-grey);
  vertical-align: middle;

  & .hightlight {
    color: var(--color-matters-green);
  }
}
