.message {
  & span {
    color: var(--color-matters-green);
  }
}

.feed {
  padding-bottom: var(--spacing-x-tight);
}

.shuffle {
  @mixin flex-center-end;

  padding: 0 var(--spacing-loose) var(--spacing-tight);
}
