.title {
  font-size: var(--font-size-nav-title);
  font-weight: var(--font-weight-nav-title);
  line-height: 1.6;
}

.copyright {
  @mixin flex-center-all;

  margin: var(--spacing-loose) auto;
  font-size: var(--font-size-sm-s);
  color: var(--color-grey);
}
