/* @styled-jsx=global */

.StripeElement {
  @mixin all-transition;
  @mixin border-top-grey;
  @mixin border-bottom-grey;

  padding: 0 0 0 var(--spacing-base);
  background-color: var(--color-white);

  @media (--sm-up) {
    background-color: var(--color-grey-lighter);
    border-top: none;
    border-bottom: 1px solid var(--color-grey-light);
    border-radius: var(--spacing-xxx-tight);

    &.StripeElement--focus {
      background-color: var(--color-green-lighter);
      border-bottom-color: var(--color-matters-green);
    }
  }
}
