.container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  & .content {
    display: flex;
    flex-direction: column;
    text-align: center;

    & .title {
      margin-top: var(--sp40);
      font-size: var(--text20);
      font-weight: var(--font-semibold);
      line-height: 1.875rem;
      color: var(--color-black);
    }

    & .info {
      margin-top: var(--sp8);
      margin-bottom: var(--sp24);
      font-size: var(--text14);
      line-height: 1.375rem;
      color: var(--color-grey-darker);
    }

    & .passButton {
      margin-top: var(--sp24);
      font-size: var(--text12);
      line-height: 1.125rem;
    }

    & .resultTitle {
      margin-top: var(--sp16);
      margin-bottom: var(--sp24);
      font-size: var(--text18);
      font-weight: var(--font-medium);
      line-height: 1.75rem;
      color: var(--color-black);
    }

    & .resultInfo {
      margin: var(--sp16) 0 var(--sp40);
      font-size: var(--text14);
      line-height: 1.375rem;
      color: var(--color-black);
    }

    & .resultIcon {
      @mixin flex-center-all;
    }
  }

  & .footer {
    width: 100%;
    padding-top: var(--sp16);
    padding-bottom: var(--sp40);
    text-align: center;

    & .buttons {
      @mixin border-top-grey-light;

      padding-top: var(--sp24);
      border-top-style: dashed;

      & button {
        @mixin transition;

        font-size: var(--text14);
        font-weight: var(--font-medium);
        line-height: 1.375rem;
        transition-property: color;

        &:hover {
          color: var(--color-grey-darker);
        }
      }
    }

    & .note {
      margin-top: var(--sp16);
      margin-left: var(--sp16);
      font-size: var(--text14);
      line-height: 1.75;
      color: var(--color-grey-darker);
      text-align: left;
      list-style-type: decimal;
    }
  }
}
