.toast {
  padding: var(--spacing-x-tight) var(--spacing-base);
  margin: 0 var(--spacing-base) var(--spacing-base);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-medium);
  visibility: visible;
  border-radius: 0.5rem;
  box-shadow: var(--shadow-light);
  animation: toastFadeIn 0.25s ease;

  &.top {
    @mixin flex-start-space-between;
  }

  &.bottom {
    @mixin flex-end-space-between;
  }

  &.center {
    @mixin flex-center-space-between;
  }

  &.center-x {
    & section {
      width: 100%;

      & p.content,
      & p.sub-description {
        width: 100%;
        text-align: center;
      }
    }
  }
}

.sub-description {
  margin-top: var(--spacing-xx-tight);
  font-weight: var(--font-weight-normal);
  opacity: 0.7;
}

.custom-button {
  display: inline-flex;
  flex-shrink: 0;
  margin-left: var(--spacing-x-tight);
  font-weight: var(--font-weight-normal);
}

.green {
  color: var(--color-matters-green);
  background: var(--color-green-lighter);
}

.grey {
  color: var(--color-white);
  background: var(--color-grey-dark);
}

.red {
  color: var(--color-white);
  background: var(--color-red);
}

@keyframes toastFadeIn {
  from {
    visibility: hidden;
    opacity: 0;
  }

  to {
    visibility: visible;
    opacity: 1;
  }
}
