.item {
  @mixn flex-center-space-between;

  & h2,
  & p {
    font-size: var(--font-size-md-s);
    line-height: 1.5rem;
  }

  & h2 {
    font-weight: var(--font-weight-medium);
  }

  & p {
    font-weight: var(--font-weight-normal);
  }

  & .count {
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-medium);
    color: var(--color-matters-green);
  }

  &.topic {
    & .count {
      font-size: var(--font-size-sm);
      font-weight: var(--font-weight-medium);
      color: var(--color-grey);
    }
  }
}
