/* 频道行样式 */

.container {
  position: fixed;
  top: var(--global-nav-height-mobile);
  z-index: var(--z-index-sticky-tabs);
}

.singleLine {
  position: fixed;
  top: var(--global-nav-height-mobile);
  right: 0;
  left: 0;
  z-index: var(--z-index-sticky-tabs);
  display: flex;
  gap: var(--sp12);
  align-items: center;
  padding-left: var(--sp16);

  /* margin: 0 calc(var(--sp16) * -1); */
  overflow-x: auto; /* horizontal scroll */
  white-space: nowrap;
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-grey-hover);
  scrollbar-width: none; /* Firefox hide scrollbar */

  &::-webkit-scrollbar {
    display: none;
  }

  & .item {
    flex-shrink: 0; /* prevent shrink */
    padding: 8px 10px;
    font-size: var(--text14);
    color: var(--color-grey-darker);
    white-space: nowrap;
    cursor: pointer;

    &.selectedChannel {
      font-weight: 600;
      color: var(--color-black);
      border-bottom: 1px solid var(--color-black);
    }
  }
}

.moreBtn {
  position: sticky;
  right: 0;
  z-index: 1; /* ensure button stays on top */
  padding: var(--sp8) 0 var(--sp8) var(--sp32); /* expand button area */
  color: var(--color-grey-darker);
  cursor: pointer;

  & .moreBtnContent {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 1.3125rem;
    background: var(--color-white);
  }
}
