/* 频道行样式 */

.container {
  position: fixed;
  top: 65px;
  z-index: var(--z-index-sticky-tabs);
}

.singleLine {
  position: fixed;
  top: 65px;
  right: 0;
  left: 0;
  z-index: var(--z-index-sticky-tabs);
  display: flex;
  gap: var(--sp12);
  align-items: center;

  /* margin: 0 calc(var(--sp16) * -1); */
  overflow-x: auto; /* horizontal scroll */
  white-space: nowrap;
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-grey-hover);
  scrollbar-width: none; /* Firefox hide scrollbar */

  &::-webkit-scrollbar {
    display: none;
  }

  & .item {
    flex-shrink: 0; /* prevent shrink */
    padding: 8px 10px;
    color: var(--color-grey-darker);
    white-space: nowrap;
    cursor: pointer;

    &.selectedChannel {
      font-weight: 600;
      color: var(--color-black);
      border-bottom: 1px solid var(--color-black);
    }
  }
}
