p {
  font-size: var(--font-size-sm);
  line-height: 1.5rem;
}

.title {
  margin-bottom: var(--spacing-x-tight);
  font-weight: var(--font-weight-semibold);
  color: var(--color-black);
}

.description {
  color: var(--color-grey-darker);
}
