.list {
  overflow: hidden;
  cursor: pointer;
  user-select: none;
  border-radius: var(--spacing-x-tight);
  -webkit-tap-highlight-color: transparent;
}

.options {
  width: 100%;
  max-height: 50vh;
  padding-top: var(--spacing-x-tight);
  padding-bottom: var(--spacing-x-tight);
  overflow: auto;
  text-align: left;
  border-radius: var(--spacing-x-tight);

  @media (--sm-up) {
    max-height: 30vh;
  }

  &.dropdown {
    width: var(--sizing-menu);
  }
}
