.slide {
  & :global(h3) {
    margin: var(--spacing-default) 0 var(--spacing-tight);
  }
}

.image-container {
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.16);

  & .image {
    &::after {
      content: '';
      display: block;
      padding-bottom: 58%;
    }
  }
}

.title-container {
  padding: 0 var(--spacing-xx-loose) 1rem;
}

.subTitle {
  font-size: var(--font-size-sm);
}

.descriptions {
  position: relative;
  margin-bottom: var(--spacing-x-loose);

  color: var(--color-grey-darker);

  & .description {
    position: relative;
    font-size: var(--font-size-sm);
    padding: 0 var(--spacing-xx-loose);

    & + .description {
      margin-top: var(--spacing-tight);
    }

    &::before {
      content: '\2022';
      position: absolute;
      top: 0;
      left: 2.5rem;

      color: var(--color-matters-green);
      font-weight: var(--font-weight-bold);
      font-size: var(--font-size-sm);
    }
  }
}
