/* Container
   ========================================================================== */
.container {
  display: inline-flex;
}

span.container {
  cursor: initial;
}

/* Text Color */
.text-white {
  color: var(--color-white);
}

.text-black {
  color: var(--color-black);
}

.text-green {
  color: var(--color-matters-green);
}

.text-red {
  color: var(--color-red);
}

.text-active-white {
  &:hover,
  &:focus {
    color: var(--color-white);
  }
}

.text-active-black {
  &:hover,
  &:focus {
    color: var(--color-black);
  }
}

.text-active-green {
  &:hover,
  &:focus {
    color: var(--color-matters-green);
  }
}

/* Content
   ========================================================================== */
.content {
  @mixin inline-flex-center-all;

  position: relative;
  box-sizing: border-box;
  text-align: center;
  white-space: nowrap;
}

/* Hot Area
   ========================================================================== */
.hotarea {
  @mixin expand-to-container;
  @mixin all-transition;
  z-index: 0;

  background: transparent;

  & :global(+ *) {
    z-index: 1;
  }
}

/* Centering */
.centering-x {
  & .hotarea {
    left: 50%;
    transform: translateX(-50%);
  }
}

.centering-y {
  & .hotarea {
    top: 50%;
    transform: translateY(-50%);
  }
}

.centering-x.centering-y {
  & .hotarea {
    transform: translate(-50%, -50%);
  }
}

/* Spacing */
.spacing-y-xxtight {
  &:not(.isTransparent) {
    padding-top: var(--spacing-xx-tight);
    padding-bottom: var(--spacing-xx-tight);
  }

  & .hotarea {
    margin-top: calc(var(--spacing-xx-tight) * -1);
    margin-bottom: calc(var(--spacing-xx-tight) * -1);
  }
}

.spacing-y-xtight {
  &:not(.isTransparent) {
    padding-top: var(--spacing-x-tight);
    padding-bottom: var(--spacing-x-tight);
  }

  & .hotarea {
    margin-top: calc(var(--spacing-x-tight) * -1);
    margin-bottom: calc(var(--spacing-x-tight) * -1);
  }
}

.spacing-y-tight {
  &:not(.isTransparent) {
    padding-top: var(--spacing-tight);
    padding-bottom: var(--spacing-tight);
  }

  & .hotarea {
    margin-top: calc(var(--spacing-tight) * -1);
    margin-bottom: calc(var(--spacing-tight) * -1);
  }
}

.spacing-y-base {
  &:not(.isTransparent) {
    padding-top: var(--spacing-base);
    padding-bottom: var(--spacing-base);
  }

  & .hotarea {
    margin-top: calc(var(--spacing-base) * -1);
    margin-bottom: calc(var(--spacing-base) * -1);
  }
}

.spacing-x-xxtight {
  &:not(.isTransparent) {
    padding-right: var(--spacing-xx-tight);
    padding-left: var(--spacing-xx-tight);
  }

  & .hotarea {
    margin-right: calc(var(--spacing-xx-tight) * -1);
    margin-left: calc(var(--spacing-xx-tight) * -1);
  }
}

.spacing-x-xtight {
  &:not(.isTransparent) {
    padding-right: var(--spacing-x-tight);
    padding-left: var(--spacing-x-tight);
  }

  & .hotarea {
    margin-right: calc(var(--spacing-x-tight) * -1);
    margin-left: calc(var(--spacing-x-tight) * -1);
  }
}

.spacing-x-tight {
  &:not(.isTransparent) {
    padding-right: var(--spacing-tight);
    padding-left: var(--spacing-tight);
  }

  & .hotarea {
    margin-right: calc(var(--spacing-tight) * -1);
    margin-left: calc(var(--spacing-tight) * -1);
  }
}

.spacing-x-base {
  &:not(.isTransparent) {
    padding-right: var(--spacing-base);
    padding-left: var(--spacing-base);
  }

  & .hotarea {
    margin-right: calc(var(--spacing-base) * -1);
    margin-left: calc(var(--spacing-base) * -1);
  }
}

.spacing-x-loose {
  &:not(.isTransparent) {
    padding-right: var(--spacing-loose);
    padding-left: var(--spacing-loose);
  }

  & .hotarea {
    margin-right: calc(var(--spacing-loose) * -1);
    margin-left: calc(var(--spacing-loose) * -1);
  }
}

/* Background */
.bg-grey {
  & .hotarea {
    background: var(--color-grey);
  }
}

.bg-grey-lighter {
  & .hotarea {
    background: var(--color-grey-lighter);
  }

  &:hover,
  &:focus {
    & .hotarea {
      background: var(--color-grey-lighter-active);
    }
  }
}

.bg-green {
  & .hotarea {
    background: var(--color-matters-green);
  }

  &:hover,
  &:focus {
    & .hotarea {
      background: var(--color-matters-green-active);
    }
  }
}

.bg-green-lighter {
  & .hotarea {
    background: var(--color-green-lighter);
  }

  &:hover,
  &:focus {
    & .hotarea {
      background: var(--color-grey-lighter-active);
    }
  }
}

.bg-gold {
  & .hotarea {
    background: var(--color-matters-gold);
  }

  &:hover,
  &:focus {
    & .hotarea {
      background: var(--color-matters-gold-active);
    }
  }
}

.bg-red {
  & .hotarea {
    background: var(--color-red);
  }
}

.bg-half-black {
  & .hotarea {
    background: rgba(0, 0, 0, 0.5);
  }

  &:hover,
  &:focus {
    & .hotarea {
      background: rgba(0, 0, 0, 1);
    }
  }
}

/* Background:hover */
.bg-active-grey-lighter {
  &:hover,
  &:focus {
    & .hotarea {
      background: var(--color-grey-lighter);
    }
  }
}

.bg-active-grey-lighter-active {
  &:hover,
  &:focus {
    & .hotarea {
      background: var(--color-grey-lighter-active);
    }
  }
}

.bg-active-green-lighter {
  &:hover,
  &:focus {
    & .hotarea {
      background: var(--color-green-lighter);
    }
  }
}

.bg-active-green {
  &:hover,
  &:focus {
    & .hotarea {
      color: var(--color-white);
      background: var(--color-matters-green);
    }
  }
}

.bg-active-red {
  &:hover,
  &:focus {
    & .hotarea {
      background: var(--color-red);
    }
  }
}

/* Border */
.border-white {
  & .hotarea {
    border-color: var(--color-white);
  }
}

.border-grey {
  & .hotarea {
    border-color: var(--color-grey);
  }
}

.border-grey-light {
  & .hotarea {
    border-color: var(--color-grey-light);
  }
}

.border-grey-lighter {
  & .hotarea {
    border-color: var(--color-grey-lighter);
  }
}

.border-green-lighter {
  & .hotarea {
    border-color: var(--color-green-lighter);
  }
}

.border-green {
  & .hotarea {
    border-color: var(--color-matters-green);
  }
}

.border-gold {
  & .hotarea {
    border-color: var(--color-matters-gold);
  }
}

.border-red {
  & .hotarea {
    border-color: var(--color-red);
  }
}

.border-md {
  & .hotarea {
    border-style: solid;
    border-width: 1.5px;
  }
}

.border-sm {
  & .hotarea {
    border-style: solid;
    border-width: 1px;
  }
}
