a,
span {
  font-size: 0;
}
span {
  cursor: initial;
}

.content {
  @mixin inline-flex-center-all;
  @mixin all-transition;

  background: transparent;

  text-align: center;
  white-space: nowrap;
  box-sizing: border-box;
}

/* Size */
.width-full {
  @mixin flex-center-all;
  width: 100%;
}

/* Spacing */
.spacing-vertical-xxxtight {
  padding-top: var(--spacing-xxx-tight);
  padding-bottom: var(--spacing-xxx-tight);
}
.spacing-vertical-xxtight {
  padding-top: var(--spacing-xx-tight);
  padding-bottom: var(--spacing-xx-tight);
}
.spacing-vertical-xtight {
  padding-top: var(--spacing-x-tight);
  padding-bottom: var(--spacing-x-tight);
}
.spacing-vertical-tight {
  padding-top: var(--spacing-tight);
  padding-bottom: var(--spacing-tight);
}
.spacing-vertical-base {
  padding-top: var(--spacing-base);
  padding-bottom: var(--spacing-base);
}
.spacing-vertical-loose {
  padding-top: var(--spacing-loose);
  padding-bottom: var(--spacing-loose);
}

.spacing-horizontal-xxxtight {
  padding-left: var(--spacing-xxx-tight);
  padding-right: var(--spacing-xxx-tight);
}
.spacing-horizontal-xxtight {
  padding-left: var(--spacing-xx-tight);
  padding-right: var(--spacing-xx-tight);
}
.spacing-horizontal-xtight {
  padding-left: var(--spacing-x-tight);
  padding-right: var(--spacing-x-tight);
}
.spacing-horizontal-tight {
  padding-left: var(--spacing-tight);
  padding-right: var(--spacing-tight);
}
.spacing-horizontal-base {
  padding-left: var(--spacing-base);
  padding-right: var(--spacing-base);
}
.spacing-horizontal-loose {
  padding-left: var(--spacing-loose);
  padding-right: var(--spacing-loose);
}

/* Text Color */
.text-white {
  color: var(--color-white);
}
.text-black {
  color: var(--color-black);
}
.text-green {
  color: var(--color-matters-green);
}
.text-red {
  color: var(--color-red);
}
.text-hover-white {
  &:hover,
  &:focus {
    & .content {
      color: var(--color-white);
    }
  }
}
.text-hover-black {
  &:hover,
  &:focus {
    & .content {
      color: var(--color-black);
    }
  }
}
.text-hover-green {
  &:hover,
  &:focus {
    & .content {
      color: var(--color-matters-green);
    }
  }
}

/* Background */
.bg-grey {
  background: var(--color-grey);
}
.bg-grey-lighter {
  background: var(--color-grey-lighter);

  &:hover,
  &:focus {
    background: var(--color-grey-lighter-hover);
  }
}
.bg-green {
  background: var(--color-matters-green);

  &:hover,
  &:focus {
    background: var(--color-matters-green-hover);
  }
}
.bg-green-lighter {
  background: var(--color-green-lighter);
}
.bg-gold {
  background: var(--color-matters-gold);

  &:hover,
  &:focus {
    background: var(--color-matters-gold-hover);
  }
}

/* Background:hover */
.bg-hover-grey {
  &:hover,
  &:focus {
    & .content {
      background: var(--color-grey);
    }
  }
}
.bg-hover-grey-lighter {
  &:hover,
  &:focus {
    & .content {
      background: var(--color-grey-lighter);
    }
  }
}
.bg-hover-green {
  &:hover,
  &:focus {
    & .content {
      color: var(--color-white);
      background: var(--color-matters-green);
    }
  }
}
.bg-hover-green-lighter {
  &:hover,
  &:focus {
    & .content {
      background: var(--color-green-lighter);
    }
  }
}
.bg-hover-gold {
  &:hover,
  &:focus {
    & .content {
      background: var(--color-matters-gold);
    }
  }
}
.bg-hover-red {
  &:hover,
  &:focus {
    & .content {
      background: var(--color-red);
    }
  }
}

/* Border */
.border-white {
  border: 1.5px solid var(--color-white);
}
.border-grey {
  border: 1.5px solid var(--color-grey);
}
.border-grey-lighter {
  border: 1.5px solid var(--color-grey-lighter);
}
.border-green-lighter {
  border: 1.5px solid var(--color-green-lighter);
}
.border-green {
  border: 1.5px solid var(--color-matters-green);
}
.border-gold {
  border: 1.5px solid var(--color-matters-gold);
}
.border-red {
  border: 1.5px solid var(--color-red);
}

.border-sm {
  border-width: 1px;
}
