/* Container
   ========================================================================== */
.container {
  @mixin transition;

  display: inline-flex;
  transition-property: color;
}

span.container {
  cursor: initial;
}

/* Text Color */
.textWhite {
  color: var(--color-white);
}

.textWhiteLight {
  color: var(--color-white-light);
}

.textBlack {
  color: var(--color-black);
}

.textGreen {
  color: var(--color-matters-green);
}

.textGold {
  color: var(--color-matters-gold);
}

.textRed {
  color: var(--color-negative-red);
}

.textGrey {
  color: var(--color-grey);
}

.textGreyDark {
  color: var(--color-grey-dark);
}

.textGreyDarker {
  color: var(--color-grey-darker);
}

.textActiveWhite {
  &:hover,
  &:focus {
    color: var(--color-white);
  }
}

.textActiveBlack {
  &:hover,
  &:focus {
    color: var(--color-black);
  }
}

.textActiveGreen {
  &:hover,
  &:focus {
    color: var(--color-matters-green);
  }
}

.textActiveGreenDark {
  &:hover,
  &:focus {
    color: var(--color-matters-green-hover);
  }
}

.textActiveGreyDarker {
  &:hover,
  &:focus {
    color: var(--color-grey-darker);
  }
}

.textActiveRed {
  &:hover,
  &:focus {
    color: var(--color-negative-red);
  }
}

.textActiveRedDark {
  &:hover,
  &:focus {
    color: var(--color-negative-red-2);
  }
}

/* Content
   ========================================================================== */
.content {
  @mixin inline-flex-center-all;

  position: relative;
  box-sizing: border-box;
  text-align: center;
  white-space: nowrap;
}

/* Hot Area
   ========================================================================== */
.hotarea {
  @mixin expand-to-container;
  @mixin transition;

  z-index: 0;
  background: transparent;
  transition-property: color, background, border-color;

  & + * {
    z-index: 1;
  }
}

/* Centering */
.centeringX {
  & .hotarea {
    left: 50%;
    transform: translateX(-50%);
  }
}

.centeringY {
  & .hotarea {
    top: 50%;
    transform: translateY(-50%);
  }
}

.centeringX.centeringY {
  & .hotarea {
    transform: translate(-50%, -50%);
  }
}

/* Spacing */
.spacingY4 {
  &:not(.isTransparent) {
    padding-top: var(--sp4);
    padding-bottom: var(--sp4);
  }

  & .hotarea {
    margin-top: calc(var(--sp4) * -1);
    margin-bottom: calc(var(--sp4) * -1);
  }
}

.spacingY8 {
  &:not(.isTransparent) {
    padding-top: var(--sp8);
    padding-bottom: var(--sp8);
  }

  & .hotarea {
    margin-top: calc(var(--sp8) * -1);
    margin-bottom: calc(var(--sp8) * -1);
  }
}

.spacingY10 {
  &:not(.isTransparent) {
    padding-top: var(--sp10);
    padding-bottom: var(--sp10);
  }

  & .hotarea {
    margin-top: calc(var(--sp10) * -1);
    margin-bottom: calc(var(--sp10) * -1);
  }
}

.spacingY12 {
  &:not(.isTransparent) {
    padding-top: var(--sp12);
    padding-bottom: var(--sp12);
  }

  & .hotarea {
    margin-top: calc(var(--sp12) * -1);
    margin-bottom: calc(var(--sp12) * -1);
  }
}

.spacingY14 {
  &:not(.isTransparent) {
    padding-top: var(--sp14);
    padding-bottom: var(--sp14);
  }

  & .hotarea {
    margin-top: calc(var(--sp14) * -1);
    margin-bottom: calc(var(--sp14) * -1);
  }
}

.spacingY16 {
  &:not(.isTransparent) {
    padding-top: var(--sp16);
    padding-bottom: var(--sp16);
  }

  & .hotarea {
    margin-top: calc(var(--sp16) * -1);
    margin-bottom: calc(var(--sp16) * -1);
  }
}

.spacingX4 {
  &:not(.isTransparent) {
    padding-right: var(--sp4);
    padding-left: var(--sp4);
  }

  & .hotarea {
    margin-right: calc(var(--sp4) * -1);
    margin-left: calc(var(--sp4) * -1);
  }
}

.spacingX8 {
  &:not(.isTransparent) {
    padding-right: var(--sp8);
    padding-left: var(--sp8);
  }

  & .hotarea {
    margin-right: calc(var(--sp8) * -1);
    margin-left: calc(var(--sp8) * -1);
  }
}

.spacingX12 {
  &:not(.isTransparent) {
    padding-right: var(--sp12);
    padding-left: var(--sp12);
  }

  & .hotarea {
    margin-right: calc(var(--sp12) * -1);
    margin-left: calc(var(--sp12) * -1);
  }
}

.spacingX10 {
  &:not(.isTransparent) {
    padding-right: var(--sp10);
    padding-left: var(--sp10);
  }

  & .hotarea {
    margin-right: calc(var(--sp10) * -1);
    margin-left: calc(var(--sp10) * -1);
  }
}

.spacingX14 {
  &:not(.isTransparent) {
    padding-right: var(--sp14);
    padding-left: var(--sp14);
  }

  & .hotarea {
    margin-right: calc(var(--sp14) * -1);
    margin-left: calc(var(--sp14) * -1);
  }
}

.spacingX16 {
  &:not(.isTransparent) {
    padding-right: var(--sp16);
    padding-left: var(--sp16);
  }

  & .hotarea {
    margin-right: calc(var(--sp16) * -1);
    margin-left: calc(var(--sp16) * -1);
  }
}

.spacingX20 {
  &:not(.isTransparent) {
    padding-right: var(--sp20);
    padding-left: var(--sp20);
  }

  & .hotarea {
    margin-right: calc(var(--sp20) * -1);
    margin-left: calc(var(--sp20) * -1);
  }
}

.spacingX24 {
  &:not(.isTransparent) {
    padding-right: var(--sp24);
    padding-left: var(--sp24);
  }

  & .hotarea {
    margin-right: calc(var(--sp24) * -1);
    margin-left: calc(var(--sp24) * -1);
  }
}

/* Background */
.bgWhite {
  & .hotarea {
    background: var(--color-white);
  }
}

.bgGreyDarkest {
  & .hotarea {
    background: var(--color-grey-darkest);
  }
}

.bgGreyDarker {
  & .hotarea {
    background: var(--color-grey-darker);
  }
}

.bgGrey {
  & .hotarea {
    background: var(--color-grey);
  }
}

.bgGreyLighter {
  & .hotarea {
    background: var(--color-grey-lighter);
  }

  &:hover,
  &:focus {
    & .hotarea {
      background: var(--color-grey-hover);
    }
  }
}

.bgGreen {
  & .hotarea {
    background: var(--color-matters-green);
  }

  &:hover,
  &:focus {
    & .hotarea {
      background: var(--color-matters-green-hover);
    }
  }
}

.bgGreenLighter {
  & .hotarea {
    background: var(--color-green-lighter);
  }

  &:hover,
  &:focus {
    & .hotarea {
      background: var(--color-grey-hover);
    }
  }
}

.bgGold {
  & .hotarea {
    background: var(--color-matters-gold);
  }

  &:hover,
  &:focus {
    & .hotarea {
      background: var(--color-matters-gold-hover);
    }
  }
}

.bgRed {
  & .hotarea {
    background: var(--color-negative-red);
  }
}

.bgHalfBlack {
  & .hotarea {
    background: rgb(0 0 0 / 50%);
  }

  &:hover,
  &:focus {
    & .hotarea {
      background: rgb(0 0 0 / 100%);
    }
  }
}

.bgBlack {
  & .hotarea {
    background: var(--color-black);
  }
}

.bgYellowLighter {
  & .hotarea {
    background: var(--color-yellow-lighter);
  }
}

.bgGoldLinearGradient {
  & .hotarea {
    background: linear-gradient(93.62deg, #cda555 2.8%, #b48527 93%);
  }
}

/* Background:hover */
.bgActiveGreyLighter {
  &:hover,
  &:focus {
    & .hotarea {
      background: var(--color-grey-lighter);
    }
  }
}

.bgActiveGreyLight {
  &:hover,
  &:focus {
    & .hotarea {
      background: var(--color-grey-light);
    }
  }
}

.bgActiveGreyLighterActive {
  &:hover,
  &:focus {
    & .hotarea {
      background: var(--color-grey-hover);
    }
  }
}

.bgActiveGreenLighter {
  &:hover,
  &:focus {
    & .hotarea {
      background: var(--color-green-lighter);
    }
  }
}

.bgActiveGreen {
  &:hover,
  &:focus {
    & .hotarea {
      color: var(--color-white);
      background: var(--color-matters-green);
    }
  }
}

.bgActiveGold {
  &:hover,
  &:focus {
    & .hotarea {
      color: var(--color-white);
      background: var(--color-matters-gold);
    }
  }
}

.bgActiveRed {
  &:hover,
  &:focus {
    & .hotarea {
      background: var(--color-negative-red);
    }
  }
}

/* Border */
.borderWhite {
  & .hotarea {
    border-color: var(--color-white);
  }
}

.borderBlack {
  & .hotarea {
    border-color: var(--color-black);
  }
}

.borderGreyDarker {
  & .hotarea {
    border-color: var(--color-grey-darker);
  }
}

.borderGrey {
  & .hotarea {
    border-color: var(--color-grey);
  }
}

.borderGreyLight {
  & .hotarea {
    border-color: var(--color-grey-light);
  }
}

.borderGreyLighter {
  & .hotarea {
    border-color: var(--color-grey-lighter);
  }
}

.borderGreyLighterActive {
  & .hotarea {
    border-color: var(--color-grey-hover);
  }
}

.borderGreyHover {
  & .hotarea {
    border-color: var(--color-grey-hover);
  }
}

.borderGreenLighter {
  & .hotarea {
    border-color: var(--color-green-lighter);
  }
}

.borderGreen {
  & .hotarea {
    border-color: var(--color-matters-green);
  }
}

.borderGold {
  & .hotarea {
    border-color: var(--color-matters-gold);
  }
}

.borderRed {
  & .hotarea {
    border-color: var(--color-negative-red);
  }
}

.borderLikecoinGreen {
  & .hotarea {
    border-color: var(--color-likecoin);
  }
}

.borderActiveGreyLight {
  &:hover,
  &:focus {
    & .hotarea {
      border-color: var(--color-grey-light);
    }
  }
}

.borderActiveGrey {
  &:hover,
  &:focus {
    & .hotarea {
      border-color: var(--color-grey);
    }
  }
}

.borderActiveGreenDark {
  &:hover,
  &:focus {
    & .hotarea {
      border-color: var(--color-matters-green-hover);
    }
  }
}

.borderActiveBlack {
  &:hover,
  &:focus {
    & .hotarea {
      border-color: var(--color-matters-black);
    }
  }
}

.borderMd {
  & .hotarea {
    border-style: solid;
    border-width: 2px;
  }
}

.borderSm {
  & .hotarea {
    border-style: solid;
    border-width: 1px;
  }
}
