:root {
  --button-outline-light: 1px;
  --button-outline-default: 2px;
}

.btn {
  @mixin inline-flex-center-all;

  font-weight: var(--font-weight-medium);
  text-align: center;
  white-space: nowrap;

  & :global(svg + span),
  & :global(img + span) {
    margin-left: var(--spacing-xx-tight);
  }
}

/* size */
.size-small {
  padding: 0 var(--spacing-x-tight);

  height: 1.5rem;
  border-radius: 1.5rem;
  font-size: var(--font-size-xs);

  & :global(svg),
  & :global(img) {
    width: var(--font-size-xs);
    height: var(--font-size-xs);
  }
}
.size-default {
  padding: 0 var(--spacing-base);

  height: 2rem;
  border-radius: 2rem;
  font-size: var(--font-size-sm);

  & :global(svg),
  & :global(img) {
    width: var(--font-size-sm);
    height: var(--font-size-sm);
  }
}
.size-large {
  padding: 0 var(--spacing-base);

  height: 2.25rem;
  border-radius: 2.25rem;
  font-size: var(--font-size-sm);

  & :global(svg),
  & :global(img) {
    width: var(--font-size-sm);
    height: var(--font-size-sm);
  }
}
.size-xlarge {
  padding: 0 var(--spacing-loose);

  height: 2.5rem;
  border-radius: 2.5rem;
  font-size: var(--font-size-md);

  & :global(svg),
  & :global(img) {
    width: var(--font-size-sm);
    height: var(--font-size-sm);
  }
}
.block {
  width: 100%;
}

/* spacing */
.spacing-none {
  padding: 0;
}
.spacing-xtight {
  padding: 0 var(--spacing-x-tight);
}
.spacing-tight {
  padding: 0 var(--spacing-base);
}
.spacing-default {
  padding: 0 var(--spacing-loose);
}
.spacing-loose {
  padding: 0 var(--spacing-x-loose);
}

/* background color */
.bg-gold {
  color: var(--color-white);
  background: var(--color-matters-gold);

  &:not(:disabled) {
    &:hover,
    &:focus {
      background: var(--color-matters-gold-hover);
    }
  }
}
.bg-green {
  color: var(--color-white);
  background: var(--color-matters-green);

  &:not(:disabled) {
    &:hover,
    &:focus {
      background: var(--color-matters-green-hover);
    }
  }
}
.bg-green-lighter {
  color: var(--color-matters-green);
  background: var(--color-green-lighter);

  &:not(:disabled) {
    &:hover,
    &:focus {
      color: var(--color-white);
      background: var(--color-matters-green);
    }
  }
}
.bg-red {
  color: var(--color-white);
  background: var(--color-red);

  &:not(:disabled) {
    &:hover,
    &:focus {
      background: var(--color-red-hover);
    }
  }
}
.bg-white {
  color: var(--color-black);
  background: var(--color-white);
}
.bg-black {
  color: var(--color-white);
  background: var(--color-black);
}
.bg-transparent {
  background: transparent;
}

/* outline color */
.outline {
  border: 2px solid transparent;
}
.outline-green {
  color: var(--color-matters-green);
  border-color: var(--color-matters-green);

  &:not(:disabled) {
    &:hover,
    &:focus {
      color: var(--color-white);
      background: var(--color-matters-green);
    }
  }
}
.outline-black {
  color: var(--color-black);
  border-color: var(--color-black);

  &:not(:disabled) {
    &:hover,
    &:focus {
      color: var(--color-white);
      background: var(--color-black);
    }
  }
}
.outline-grey {
  color: var(--color-grey-dark);
  border-color: var(--color-grey);
}

/* text color */
.text-white {
  color: var(--color-white);
}
.text-black {
  color: var(--color-black);
}
.text-grey {
  color: var(--color-grey);
}

/* text weight */
.text-weight-light {
  font-weight: var(--font-weight-light);
}
.text-weight-normal {
  font-weight: var(--font-weight-normal);
}

/* shape */
.shape-circle {
  padding: 0;
  border-radius: 50%;

  &.size-small {
    width: 1.5rem;
  }
  &.size-default {
    width: 2rem;
  }
  &.size-large {
    width: 2.25rem;
  }
}
