.pinBoard {
  @mixin polka-dot-background;

  padding: var(--sp16) 0;

  @media (--md-up) {
    position: relative;
    display: grid;
    width: 100%;
    height: 13rem;
    padding: 0;
  }
}

.list {
  @mixin hide-scrollbar;

  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;

  & .listItem {
    margin-left: var(--sp12);
  }

  & .listItem:first-child {
    margin-left: var(--sp16);
  }

  & .listItem:last-child {
    margin-right: var(--sp16);
  }

  @media (--md-up) {
    @mixin flex-center-all;

    & .listItem + .listItem {
      margin-left: var(--sp40);
    }

    & .listItem:nth-child(2n) {
      transform: rotate(-3deg);
    }

    & .listItem:nth-child(2n + 1) {
      transform: rotate(3deg);
    }
  }
}

.unpinButton {
  @mixin transition;

  position: absolute;
  top: var(--sp12);
  right: var(--sp12);
  z-index: 1;
  display: none;
  opacity: 0;
  transition-property: opacity;

  @media (--md-up) {
    display: inline-block;
  }
}

.listItem {
  position: relative;

  &:hover,
  &:focus {
    & .unpinButton {
      opacity: 1;
    }
  }
}
