.pinBoard {
  padding: var(--spacing-base) 0;
  background:
    linear-gradient(90deg, var(--color-white) 2px, transparent 1%) center,
    linear-gradient(var(--color-white) 2px, transparent 1%) center,
    var(--color-grey-light);
  background-repeat: repeat;
  background-position: -2px -1px;
  background-size: 3px 3px;

  @media (--md-up) {
    position: relative;
    display: grid;
    width: 100%;
    height: 13rem;
    padding: var(--spacing-base);
  }
}

.list {
  @mixin hide-scrollbar;

  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;

  & .listItem {
    margin-left: var(--spacing-tight);
  }

  & .listItem:first-child {
    margin-left: var(--spacing-base);
  }

  & .listItem:last-child {
    margin-right: var(--spacing-base);
  }

  @media (--md-up) {
    @mixin flex-center-all;

    & .listItem + .listItem {
      margin-left: var(--spacing-xx-loose);
    }

    & .listItem:nth-child(2n) {
      transform: rotate(-3deg);
    }

    & .listItem:nth-child(2n + 1) {
      transform: rotate(3deg);
    }
  }
}

.unpinButton {
  @mixin transition;

  position: absolute;
  top: var(--spacing-tight);
  right: var(--spacing-tight);
  z-index: 1;
  display: none;
  opacity: 0;
  transition-property: opacity;

  @media (--sm-up) {
    display: inline-block;
  }
}

.listItem {
  position: relative;

  &:hover,
  &:focus {
    & .unpinButton {
      opacity: 1;
    }
  }
}
