.socials-container {
  padding-top: var(--spacing-x-tight);
}

.left,
.right {
  display: inline-block;
  width: 50%;

  & :global(button) {
    display: block;
    width: 100%;
    height: 3rem;
    padding-right: var(--spacing-loose);
    padding-left: var(--spacing-loose);
    font-weight: var(--font-weight-medium);
    text-align: left;

    &:hover,
    &:focus {
      background: var(--color-grey-lighter);
    }
  }
}

.copy {
  @mixin flex-center-space-between;
  @mixin border-top-grey;

  padding: var(--spacing-base) var(--spacing-loose);

  & :global(.text-icon) {
    flex-shrink: 0;
  }

  & input {
    margin-left: var(--spacing-x-tight);
    font-size: var(--font-size-sm);
    color: var(--color-grey);
  }
}

.description {
  @mixin border-bottom-grey;

  padding: var(--spacing-x-tight) var(--spacing-base) var(--spacing-loose);
  font-size: var(--font-size-md-s);
  line-height: 1.5rem;
  color: var(--color-grey-dark);
  text-align: center;
}
