.form {
  @mixin border-grey-light;

  position: relative;
  padding: var(--sp8) 0;
  border-radius: var(--sp16);
}

.content {
  padding: var(--sp4) var(--sp12);
  margin-bottom: var(--sp8);
}

.footer {
  @mixin flex-center-end;

  gap: var(--sp4);
  padding: 0 var(--sp8);

  & .count {
    padding-right: var(--sp20);
    font-size: var(--text14);
    line-height: 1.375rem;
    color: var(--color-negative-red);
  }
}
