.container {
  width: var(--sizing-menu-md);

  text-align: initial;
}

header {
  @mixin flex-center-space-between;
  @mixin border-bottom-grey;

  padding: var(--spacing-base);

  font-size: 0;

  & h4 {
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-md);
  }
}

.content {
  @mixin max-height-scroll;
  padding: var(--spacing-base) var(--spacing-x-tight);

  & ul {
    & li {
      padding: 0 var(--spacing-x-tight);
    }
    & li + li {
      @mixin border-top-grey;
      padding-top: var(--spacing-base);
      margin-top: var(--spacing-base);
    }
  }
}

footer {
  @mixin border-top-grey;
  padding: var(--spacing-base);
  text-align: center;
}
