.container {
  width: var(--sizing-menu-md);

  text-align: initial;
}

header {
  @mixin flex-center-space-between;
  @mixin border-bottom-grey;

  padding: var(--spacing-base);

  font-size: 0;

  & h4 {
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-medium);
  }
}

.content {
  @mixin max-height-scroll;
  padding: var(--spacing-base) var(--spacing-x-tight);
}

footer {
  @mixin border-top-grey;
  padding: var(--spacing-base);
  text-align: center;
}
