main {
  padding-top: 7rem;
  padding-bottom: 1rem;
}

.container {
  @mixin flex-center-all;
  border: 1px solid var(--color-line-grey-light);
  border-radius: 4px;
  background: var(--color-white);
  overflow: hidden;
}

.complete {
  width: 100%;

  & .hint {
    @mixin flex-center-all;
    color: var(--color-grey-darker);
    padding: var(--spacing-tight) 0rem;
  }
}
