.participants {
  @mixin flex-center-start;

  font-size: var(--text14);
  line-height: 1.375rem;
  color: var(--color-grey);

  @media (--md-up) {
    display: none;
  }

  & .count {
    color: var(--color-black);
  }

  & .avatars {
    @mixin flex-center-start;

    gap: var(--sp4);
    margin-right: var(--sp6);
  }
}
