.participants {
  @mixin flex-center-start;

  flex-wrap: wrap;
  font-size: var(--text14);
  line-height: 1.375rem;
  color: var(--color-grey);

  @media (--md-up) {
    display: none;
  }

  & .countContainer {
    display: flex;
    align-items: center;
  }

  & .count {
    color: var(--color-black);
  }

  & .avatars {
    @mixin flex-center-start;

    margin-right: var(--sp6);

    & :global(.avatar) {
      margin-left: calc(var(--sp6) * -1);
      border: 1px solid var(--color-white);
      border-radius: 50%;

      &:nth-child(1) {
        z-index: 3;
        margin-left: 0;
      }

      &:nth-child(2) {
        z-index: 2;
      }

      &:nth-child(3) {
        z-index: 1;
      }
    }
  }
}
