.inline {
  display: inline-flex;
  align-items: center;
  padding: var(--sp4) var(--sp10) var(--sp4) var(--sp8);
  background: var(--color-grey-lighter);
  border-radius: var(--sp8);

  & .name {
    @mixin line-clamp;

    line-height: 1.3725rem;
    color: var(--color-black);
  }

  & .close {
    display: inline-flex;
    margin-left: var(--sp8);
  }

  &.clickable {
    cursor: pointer;
  }

  &.active {
    background: var(--color-green-lighter);

    & .name {
      color: var(--color-matters-green);
    }

    &:not(.disabled) {
      &:hover,
      &:focus {
        background: var(--color-grey-hover);
      }
    }

    & svg {
      opacity: 0.5;
    }
  }
}
