.container {
  @mixin flex-center-all;

  flex-direction: column;
  padding: 2.5rem 2rem 0;

  & img {
    height: 200px;
  }

  & .hint {
    padding-top: var(--spacing-x-tight);
    font-size: var(--font-size-sm-s);
    line-height: 1.5rem;
    color: var(--color-grey-darker);
  }
}
