.container {
  display: flex;
  flex-direction: column;
  gap: var(--sp8);
  padding: var(--sp16);
  font-size: var(--text14);
  color: var(--color-grey);

  & header {
    /* 1.125rem will eventually be rendered as 19px */
    line-height: 1.025rem;
  }

  @media (--sm-up) {
    padding: var(--sp16) 0;
  }
}
