.container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-x-tight);
  padding: var(--spacing-base);
  font-size: var(--font-size-sm);
  color: var(--color-grey);

  & header {
    line-height: 1.025rem;
  }

  @media (--sm-up) {
    padding: var(--spacing-base) 0;
  }
}
