.container {
  @mixin flex-center-space-between;

  line-height: 1;
}

.left {
  @mixin flex-center-space-between;

  & .content {
    display: inline-flex;
    flex-direction: column;
    margin-left: var(--spacing-tight);
  }

  & .order {
    margin-bottom: var(--spacing-x-tight);
    font-size: var(--font-size-sm-s);
    font-weight: var(--font-weight-bold);
    color: var(--color-matters-gold);
  }

  & .title {
    font-size: var(--font-size-sm-s);
    font-weight: var(--font-weight-normal);
  }

  & .subtitle {
    margin-top: var(--spacing-x-tight);
    font-size: var(--font-size-xs);
    color: var(--color-grey);
  }
}

.right {
  display: inline-flex;

  & :global(.text-icon svg) {
    margin-right: calc(var(--spacing-x-tight) * -1);
  }
}
