.archived {
  font-size: var(--text14);
  font-weight: var(--font-medium);
  line-height: var(--line-height-base-loose);
}

.displayName {
  @mixin line-clamp;

  font-size: var(--text14);
  font-weight: var(--font-medium);
  line-height: var(--line-height-base-loose);
  color: var(--color-black);
}
