.archived {
  font-size: var(--text14);
  font-weight: var(--font-medium);
  line-height: calc(22 / 14);
}

.displayName {
  @mixin line-clamp;

  font-size: var(--text14);
  font-weight: var(--font-medium);
  line-height: calc(22 / 14);
  color: var(--color-black);
}
