.menu {
  width: 100%;
  text-align: left;
}

.width-sm {
  width: var(--sizing-menu-sm);
}

.width-md {
  width: var(--sizing-menu-md);
}

.spacing-y-xtight {
  padding-top: var(--spacing-x-tight);
  padding-bottom: var(--spacing-x-tight);
}
