.set-amount-no-liker-id {
  @mixin flex-center-all;

  margin: var(--spacing-xx-loose) var(--spacing-xxx-loose);
  color: var(--color-grey-dark);
  text-align: center;
}

.set-amount-change-support-way {
  padding: var(--spacing-base) 0;
  margin: 0 var(--spacing-base);
  border-bottom: 0.5px solid var(--color-line-grey);

  & .button {
    display: inline-block;
    padding-left: var(--spacing-x-tight);
  }
}

.set-amount-balance {
  @mixin flex-center-space-between;

  padding: var(--spacing-loose) var(--spacing-base) 0;

  & .left {
    font-size: 1rem;
    font-weight: var(--font-weight-medium);
    line-height: 1.5rem;
    color: var(--color-black);
  }
}

.set-amount-custom-amount-input {
  padding: 0 var(--spacing-base);

  /* Chrome, Safari, Edge, Opera */
  & input::-webkit-outer-spin-button,
  & input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  & input[type='number'] {
    -moz-appearance: textfield;
  }

  & input {
    height: var(--input-height);
    text-align: center;
    border: 1px solid var(--color-grey-light);
    border-radius: var(--spacing-x-tight);
    caret-color: var(--color-matters-green);

    &:focus,
    &.focus {
      background-color: var(--color-green-lighter);
      border-color: var(--color-matters-green);
    }
  }

  & .footer {
    padding-top: var(--spacing-loose);
  }
}

.set-amount-reconnect-footer {
  font-size: 0.75rem;
  color: var(--color-grey);
  text-align: center;

  & .address {
    color: var(--color-red);
  }
}
