.label {
  @mixin inline-flex-center-all;

  padding: var(--spacing-xxx-tight) var(--spacing-x-tight);
  line-height: 1rem;
  color: var(--color-grey);
  border: 1px solid var(--color-grey-light);
  border-radius: var(--spacing-loose);
}
