input {
  @mixin form-input-grey;
}

ul {
  & li {
    position: relative;
    margin: var(--spacing-base) var(--spacing-base) 0 var(--spacing-base);

    & .drag-handler,
    & .delete-handler {
      @mixin flex-center-all;
      @mixin all-transition;

      position: absolute;
      top: 0;
      height: 100%;
    }
    & .drag-handler {
      padding-right: var(--spacing-x-tight);
      right: 100%;
    }
    & .delete-handler {
      padding-left: var(--spacing-x-tight);
      left: 100%;
    }

    @media (--lg-up) {
      margin-right: 0;
      margin-left: 0;

      & .drag-handler,
      & .delete-handler {
        opacity: 0;
      }

      &:hover,
      &:focus {
        & .drag-handler,
        & .delete-handler {
          opacity: 1;
        }
      }
    }
  }
}
