.hint {
  margin-right: var(--spacing-base);
  font-size: var(--font-size-sm);
  line-height: 1rem;
  color: var(--color-grey-darker);
}

.green {
  color: var(--color-matters-green);
}

.red {
  color: var(--color-red);
}

.notice {
  display: inline-block;
  color: var(--color-black);
}
