p {
  margin-right: var(--spacing-base);
  font-size: var(--font-size-sm);
  color: var(--color-grey-darker);
}

.green {
  color: var(--color-matters-green);
}

.red {
  color: var(--color-red);
}

.notice {
  margin-left: var(--spacing-x-tight);
  color: var(--color-black);
}
