form {
  flex-grow: 1;
  background: var(--color-grey-lighter);
  border-radius: 0 0 var(--spacing-x-tight) var(--spacing-x-tight);

  @media (--sm-up) {
    background: transparent;
  }

  &.no-background {
    background: transparent;
  }
}
