form {
  flex-grow: 1;
  background: var(--color-grey-lighter);
  border-radius: 0 0 0.5rem 0.5rem;

  @media (--sm-up) {
    background: transparent;
  }

  &.no-background {
    background: transparent;
  }
}
