.tabs {
  position: sticky;
  top: var(--global-nav-height-mobile);
  z-index: 1;
  padding-top: var(--sp20);
  padding-bottom: var(--sp8);
  background-color: var(--color-white);

  @media (--sm-up) {
    top: var(--global-nav-height);
  }
}
