.container {
  display: flex;
  gap: var(--sp24);
  align-items: center;
  margin-top: var(--sp20);

  & > a {
    align-self: center;
  }

  & .info {
    @mixin flex-start-center;

    flex-direction: column;
    gap: var(--sp4);
    color: var(--color-black);

    & .displayName {
      font-size: var(--text16);
      font-weight: var(--font-medium);
      line-height: 1.5rem;
    }

    & .bio {
      @mixin line-clamp;

      -webkit-line-clamp: 4;
      font-size: var(--text14);
      line-height: 1.375rem;
      color: var(--color-grey);
    }
  }
}
