footer {
  @mixin flex-center-space-between;

  flex-direction: column;
  flex-shrink: 0;
  margin: var(--spacing-base);
  margin-bottom: calc(constant(safe-area-inset-bottom) + var(--spacing-base));
  margin-bottom: calc(env(safe-area-inset-bottom) + var(--spacing-base));

  & :global(> *) {
    flex: 1;
    width: 100%;
  }

  & :global(> * + *) {
    margin-top: var(--spacing-base);
  }

  &:not(.block) {
    @media (--sm-up) {
      flex-direction: row;

      & :global(> * + *) {
        margin-top: 0;
        margin-left: var(--spacing-base);
      }
    }
  }
}
