.footer {
  @mixin flex-center-space-between;
  @mixin safe-area-botttom;

  flex-direction: column;
  flex-shrink: 0;
  padding: var(--spacing-s-loose) var(--spacing-base) var(--spacing-base);

  & > * {
    flex: 1;
    width: 100%;
  }

  & > * + * {
    margin-top: var(--spacing-base);
  }
}

.smUpFooter {
  padding: var(--spacing-s-loose);
  text-align: right;

  & > * + * {
    margin-left: var(--spacing-x-loose);
  }
}
