footer {
  @mixin flex-center-space-between;
  @mixin safe-area-botttom;

  flex-direction: column;
  flex-shrink: 0;
  margin: var(--spacing-base);

  & :global(> *) {
    flex: 1;
    width: 100%;
  }

  & :global(> * + *) {
    margin-top: var(--spacing-base);
  }
}
