.container {
  @mixin flex-center-start;

  position: relative;
  width: 100%;
}

.avatar {
  position: relative;
  display: inline-flex;
  margin-right: var(--spacing-x-tight);
}

.content {
  flex-grow: 1;
  overflow: hidden;

  & .header {
    @mixin flex-center-start;

    & > * + * {
      margin-left: var(--spacing-xx-tight);
    }

    & .name {
      @mixin line-clamp;

      font-weight: var(--font-weight-medium);
    }
  }
}

.desc {
  margin-top: var(--spacing-x-tight);
  color: var(--color-grey-darker);
}

.nameMdS {
  font-size: var(--font-size-md-s);
}

.descSmS {
  font-size: var(--font-size-sm-s);
}

.descRow2 {
  & p {
    @mixin line-clamp;

    -webkit-line-clamp: 2;
  }
}
