.book {
  position: relative;
  z-index: 1;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  width: 7.5rem;
  height: 10rem;
  overflow: hidden;
  border-radius: 0.5rem;

  & .cover {
    position: relative;
    z-index: -1;
    flex-grow: 1;

    & img {
      @mixin object-fit-cover;

      background-color: var(--color-grey-lighter);
    }
  }
}
