.participants {
  & .header {
    @mixin flex-center-space-between;

    & h2 {
      font-size: var(--text20);
      font-weight: var(--font-medium);
    }

    & .count {
      font-weight: var(--font-normal);
      color: var(--color-grey);
    }
  }
}

.avatars {
  display: flex;
  flex-wrap: wrap;
  gap: var(--sp16);
  margin-top: var(--sp16);
}
