.tags {
  border-top: var(--spacing-x-tight) solid var(--color-grey-lighter);
  border-bottom: var(--spacing-x-tight) solid var(--color-grey-lighter);

  & :global(.list-item > .card) {
    margin: 0 calc(var(--spacing-x-tight) * -1);
  }
}

.backToAll {
  @mixin shadow-border-top-grey;
}
