.tags {
  @mixin border-bottom-grey;

  padding-top: var(--sp20);
  padding-bottom: var(--sp20);
  border-bottom-style: dashed;

  @media (--sm-up) {
    padding-bottom: var(--sp12);
  }

  & .tagSection {
    display: flex;
    flex-wrap: wrap;
    gap: var(--sp16);
    margin-top: var(--sp12);
  }
}
