.tags {
  @mixin border-bottom-grey;

  padding-bottom: var(--spacing-x-loose);
  border-bottom-style: dashed;

  @media (--sm-up) {
    padding-bottom: var(--spacing-x-tight);
  }

  & :global(.list-item > .card) {
    margin: 0 calc(var(--spacing-x-tight) * -1);
  }
}
