.to {
  @mixin flex-center-all;

  & .outline {
    @mixin flex-center-all;

    margin-left: calc(var(--spacing-xx-tight) * -1);
    border: 2.5px solid var(--color-white);
    border-radius: 50%;
  }
}

.from {
  @mixin flex-center-all;

  & .outline {
    @mixin flex-center-all;

    z-index: 1;
    margin-left: calc(var(--spacing-xx-tight) * -1);

    & :global(svg) {
      stroke: var(--color-white);
      stroke-width: 3;
    }
  }
}

.wallet {
  @mixin flex-center-end;

  width: 100%;
}

.to,
.from,
.wallet {
  margin-top: calc(var(--spacing-xx-tight) * -1);
}
