.profile {
  text-align: center;
}

.avatar {
  margin: var(--spacing-loose) 0 var(--spacing-base);
}

.badges {
  @mixin flex-center-all;

  margin: var(--spacing-base) 0;

  & :global(> * + *) {
    margin-left: var(--spacing-x-tight);
  }
}

.name {
  margin: var(--spacing-base) 0 var(--spacing-loose);

  & .displayName {
    font-size: var(--font-size-xm);
    font-weight: var(--font-weight-medium);
    line-height: 1.5rem;
  }

  & .userName {
    margin-top: var(--spacing-x-tight);
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-normal);
    line-height: 1rem;
    color: var(--color-grey-dark);
  }
}
