.callback {
  @mixin flex-center-all;

  height: 100dvh;

  & .logo {
    & svg {
      width: 200px;
      height: 33.121px;

      @media (--md-up) {
        width: 320px;
        height: 53.617px;
      }
    }
  }

  .error {
    @mixin flex-center-all;

    flex-direction: column;
    gap: var(--sp40);

    & svg {
      width: 168px;
      height: 168px;
    }

    & .hint {
      text-align: center;

      & .title {
        font-size: var(--font-size-lg);
        line-height: 1.875rem;
        color: var(--color-black);
      }

      & .content {
        margin-top: var(--sp8);
        font-size: var(--font-size-sm);
        line-height: 1.375rem;
        color: var(--color-grey-dark);

        & .link {
          color: var(--color-matters-green);
        }
      }
    }
  }
}
