.container {
  @mixin flex-center-space-between;

  padding: var(--sp16);

  @media (--sm-up) {
    padding: var(--sp16) 0;
  }

  & .right {
    @mixin inline-flex-center-all;

    & > * + * {
      padding-left: var(--sp24);
    }
  }

  & .left {
    @mixin inline-flex-start-center;

    flex-grow: 1;
    flex-direction: column;
    gap: var(--sp8);

    & .content {
      width: 100%;

      & .title {
        @mixin line-clamp;

        -webkit-line-clamp: 2;
      }
    }
  }
}

.deleteButton {
  color: var(--color-grey);

  &:hover,
  &:focus {
    color: var(--color-negative-red);
  }

  & svg {
    @mixin transition;
  }
}
