footer {
  @mixin flex-center-space-between;

  margin-top: var(--spacing-x-tight);

  & .left,
  & .right {
    & :global(> *) {
      padding-right: var(--spacing-loose);
      vertical-align: middle;
    }
  }
}
