.stats {
  padding: 4.75rem 0;

  @media (--md-up) {
    padding: 10rem 0;
  }

  & li {
    grid-column: span 2;

    & + li + li {
      margin-top: var(--sp16);
    }

    @media (--sm-up) {
      grid-column: span 4;
    }

    @media (--lg-up) {
      grid-column: span 3;

      & + li + li {
        margin-top: 0;
      }
    }
  }
}

.type {
  font-size: var(--font-size-sm);
  color: var(--color-grey-darker);
}

.num {
  font-size: 2.25rem;
  font-weight: var(--font-weight-semibold);
  color: var(--color-matters-green);

  @media (--sm-up) {
    font-size: 4rem;
  }
}
