.stats {
  padding: 4.75rem 0;

  @media (--md-up) {
    padding: 10rem 0;
  }
}

li {
  grid-column: 1 / -1;

  & + li {
    margin-top: var(--spacing-base);
  }

  @media (--md-up) {
    grid-column: span 2;

    & + li {
      margin-top: 0;
    }
  }

  @media (--lg-up) {
    grid-column: span 3;
  }
}

.type {
  font-size: var(--font-size-sm);
  color: var(--color-grey-darker);
}

.num {
  font-size: 3rem;
  font-weight: var(--font-weight-semibold);
  color: var(--color-matters-green);

  @media (--md-up) {
    font-size: 4rem;
  }
}
