.formContainer {
  flex-grow: 1;

  /* FIXME: rendering issue when checkbox is checked */
  & :global(form) {
    position: relative;
  }
}

.item {
  padding: var(--sp8) 0;
}

.createCollection {
  padding: 0 var(--sp16) var(--sp16);
  background: white;

  @media (--sm-up) {
    padding: 0 var(--sp20);
  }

  & .hr {
    padding-top: var(--sp12);
    margin-top: var(--sp12);
  }

  & .button {
    padding: var(--sp8) 0;
    font-size: var(--text14);
    line-height: var(--line-height-base-loose);
    color: var(--color-matters-green);
    cursor: pointer;

    &:hover,
    &:focus {
      color: var(--color-matters-green-hover);
    }
  }
}

.full {
  @mixin border-grey;

  padding: var(--sp1) var(--sp6);
  margin-right: var(--sp8);
  font-size: var(--text12);
  color: var(--color-grey);
  border-radius: 0.25rem;
}
