.newCollection {
  padding: var(--spacing-x-tight) 0;
  font-size: var(--font-size-sm);
  line-height: var(--line-height-base-loose);
  color: var(--color-matters-green);
  cursor: pointer;

  &:hover,
  &:focus {
    color: var(--color-matters-green-dark);
  }
}

.formContainer {
  margin: 0 var(--spacing-base-loose);

  & :global(form) {
    position: relative;
  }

  & .listForm {
    @mixin border-bottom-grey;

    max-height: 22.5rem;
    padding-bottom: var(--spacing-tight);
    margin-bottom: var(--spacing-tight);
    overflow-y: auto;
  }
}
