.formContainer {
  flex-grow: 1;

  /* FIXME: rendering issue when checkbox is checked */
  & :global(form) {
    position: relative;
  }
}

.createCollection {
  position: sticky;
  bottom: 0;
  background: white;

  & .hr {
    padding-top: var(--spacing-tight);
    margin-top: var(--spacing-tight);
  }

  & .button {
    padding: var(--spacing-x-tight) 0;
    font-size: var(--font-size-sm);
    line-height: var(--line-height-base-loose);
    color: var(--color-matters-green);
    cursor: pointer;

    &:hover,
    &:focus {
      color: var(--color-matters-green-dark);
    }
  }
}
