.newCollection {
  padding: var(--spacing-x-tight) var(--spacing-base-loose);
  font-size: var(--font-size-sm);
  line-height: var(--line-height-base-loose);
  color: var(--color-matters-green);
  cursor: pointer;

  &:hover,
  &:focus {
    color: var(--color-matters-green-dark);
  }
}

.formContainer {
  /* padding: 0 var(--spacing-base-loose); */

  & .listForm {
    @mixin border-bottom-grey;

    max-height: 22.5rem;

    /* padding: 0 var(--spacing-base-loose); */
    padding-bottom: var(--spacing-tight);
    margin-bottom: var(--spacing-tight);
    overflow-y: auto;

    /* & label {
      padding: 0 var(--spacing-base-loose);
    } */
  }
}
