.steps {
  padding-top: 5rem;
  text-align: center;

  & .step {
    grid-column: 1 / -1;
    margin-top: var(--sp40);

    @media (--md-up) {
      grid-column: span 3;
    }

    @media (--lg-up) {
      grid-column: span 4;
      margin-top: var(--sp24);
    }

    & .avatar {
      display: inline-flex;
      align-items: center;
      padding: var(--sp4);
      padding-right: var(--sp12);
      font-size: var(--color-black);
      background: var(--color-grey-lighter);
      border-radius: 2rem;

      & .info {
        margin-left: var(--sp8);
      }
    }

    & .title {
      font-size: var(--text18);
      font-weight: var(--font-medium);

      & span.number {
        padding-right: var(--sp8);
        color: var(--color-grey-light);
      }
    }

    & .content,
    & .subContent {
      margin-top: var(--sp16);
      margin-bottom: var(--sp8);
      font-size: var(--text14);
      color: var(--color-grey-dark);
    }

    & .content {
      margin-bottom: var(--sp24);
    }

    & .subContentLink {
      font-size: var(--text14);
      color: var(--color-matters-green);
    }
  }
}
