.container {
  position: fixed;
  top: 66px;
  right: 0;
  left: 0;
  z-index: 1000;
  height: calc(100% - 66px);
  background-color: rgb(0 0 0 / 40%);
}

.content {
  padding: var(--sp8) var(--sp16) var(--sp20);
  background-color: var(--color-white);

  & .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & .title {
      font-size: var(--font-size-16);
      font-weight: var(--font-semibold);
    }
  }

  & .body {
    margin-top: var(--sp12);

    & .grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(76px, 1fr));
      gap: var(--sp12);

      & .gridItem {
        @mixin line-clamp;

        padding: var(--sp4) var(--sp10);
        font-size: var(--text14);
        color: var(--color-grey-darker);

        /* display: flex; */

        /* align-items: center; */

        /* justify-content: center; */
        text-align: center;

        /* white-space: nowrap; */
        background-color: var(--color-grey-lighter);
        border-radius: var(--sp8);

        &.selectedChannel {
          font-weight: var(--font-semibold);
          color: var(--color-white);
          background-color: var(--color-black);
        }
      }
    }
  }
}
