.group {
  & .name {
    margin: var(--sp32) 0 0;
    font-size: var(--text14);
    font-weight: var(--font-normal);
    color: var(--color-grey-dark);
  }

  & .list {
    overflow: hidden;
    -webkit-tap-highlight-color: transparent;

    & > li {
      border-bottom: 1px dashed var(--color-grey-light);
    }
  }
}

.spacingXBase {
  margin-right: var(--sp16);
  margin-left: var(--sp16);
}

.spacingYXloose {
  margin-top: var(--sp32);
  margin-bottom: var(--sp32);
}
