.cover {
  position: relative;
  overflow: hidden;

  /* border-radius: 0 0 1.25rem 1.25rem; */

  & :global(img) {
    @mixin object-fit-cover;

    background-color: var(--color-grey-lighter);
  }

  &::after {
    display: block;
    padding-bottom: 46.93%;
    content: '';

    @media (--sm-up) {
      padding-bottom: 30.14%;
    }
  }
}
