.cover {
  position: relative;

  & :global(img) {
    @mixin object-fit-cover;

    background-color: var(--color-grey-lighter);
  }

  &::before {
    display: block;
    padding-bottom: 46.93%;
    content: '';

    @media (--sm-up) {
      padding-bottom: 30.14%;
    }
  }

  &::after {
    @mixin expand-to-container;

    content: '';
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.6) 100%
    );
  }
}

.user {
  &::before {
    padding-bottom: 70.93%;

    @media (--sm-up) {
      padding-bottom: 30.9%;
    }
  }
}

.topic {
  &::before {
    padding-bottom: 89.33%;

    @media (--sm-up) {
      padding-bottom: 52.33%;
    }
  }
  &::after {
    background: none;
  }
}
