.card {
  @mixin all-transition;
  outline: none;

  &:not(.disabled) {
    cursor: pointer;
  }
}

/* Background */
.bg-white {
  background: var(--color-white);
}
.bg-grey-lighter {
  background: var(--color-grey-lighter);

  &:not(.disabled) {
    &:hover,
    &:focus {
      background: var(--color-grey-lighter-active);
    }
  }
}
.bg-yellow-lighter {
  background: var(--color-yellow-lighter);

  &:not(.disabled) {
    &:hover,
    &:focus {
      background: var(--color-green-lighter);
    }
  }
}

.bg-active-grey-lighter {
  &:not(.disabled) {
    &:hover,
    &:focus {
      background: var(--color-grey-lighter);
    }
  }
}

.bg-active-green-lighter {
  &:not(.disabled) {
    &:hover,
    &:focus {
      background: var(--color-green-lighter);
    }
  }
}

/* Spacing */
.spacing-y-xtight {
  padding-top: var(--spacing-x-tight);
  padding-bottom: var(--spacing-x-tight);
}
.spacing-y-tight {
  padding-top: var(--spacing-tight);
  padding-bottom: var(--spacing-tight);
}
.spacing-y-base {
  padding-top: var(--spacing-base);
  padding-bottom: var(--spacing-base);
}

.spacing-x-xtight {
  padding-left: var(--spacing-x-tight);
  padding-right: var(--spacing-x-tight);
}
.spacing-x-tight {
  padding-left: var(--spacing-tight);
  padding-right: var(--spacing-tight);
}
.spacing-x-base {
  padding-left: var(--spacing-base);
  padding-right: var(--spacing-base);
}
.spacing-x-loose {
  padding-left: var(--spacing-loose);
  padding-right: var(--spacing-loose);
}

/* Border */
.hasBorder {
  overflow: hidden;
}

.border-grey-lighter {
  border: 1px solid var(--color-grey-lighter);
}

.border-radius-base {
  border-radius: var(--spacing-base);
}
.border-radius-xtight {
  border-radius: var(--spacing-x-tight);
}
.border-radius-xxtight {
  border-radius: var(--spacing-xx-tight);
}
