.list {
  &.has-border {
    & :global(> .list-item:not(:first-child)) {
      @mixin border-top-grey;
    }
  }

  &.spacing-vertical-base {
    & :global(> .list-item:not(:first-child)) {
      margin-top: calc(var(--spacing-base) / 2);
      padding-top: calc(var(--spacing-base) / 2);
    }
  }
  &.spacing-vertical-loose {
    & :global(> .list-item:not(:first-child)) {
      margin-top: calc(var(--spacing-loose) / 2);
      padding-top: calc(var(--spacing-loose) / 2);
    }
  }
  &.spacing-vertical-xloose {
    & :global(> .list-item:not(:first-child)) {
      margin-top: calc(var(--spacing-x-loose) / 2);
      padding-top: calc(var(--spacing-x-loose) / 2);
    }
  }

  &.spacing-horizontal-base {
    & :global(> .list-item) {
      padding-left: var(--spacing-base);
      padding-right: var(--spacing-base);
    }
  }
  &.spacing-horizontal-loose {
    & :global(> .list-item) {
      padding-left: var(--spacing-loose);
      padding-right: var(--spacing-loose);
    }
  }
  &.spacing-horizontal-xloose {
    & :global(> .list-item) {
      padding-left: var(--spacing-x-loose);
      padding-right: var(--spacing-x-loose);
    }
  }
}
