.list {
  &.has-border {
    & :global(> .list-item) {
      @mixin border-bottom-grey;
    }
  }

  &.spacing-y-base {
    & :global(> .list-item) {
      padding-bottom: calc(var(--spacing-base) / 2);
      margin-bottom: calc(var(--spacing-base) / 2);
    }
  }

  &.spacing-y-loose {
    & :global(> .list-item) {
      padding-bottom: calc(var(--spacing-loose) / 2);
      margin-bottom: calc(var(--spacing-loose) / 2);
    }
  }

  &.spacing-y-xloose {
    & :global(> .list-item) {
      padding-bottom: calc(var(--spacing-x-loose) / 2);
      margin-bottom: calc(var(--spacing-x-loose) / 2);
    }
  }

  &.spacing-x-base {
    & :global(> .list-item) {
      padding-right: var(--spacing-base);
      padding-left: var(--spacing-base);
    }
  }

  &.spacing-x-loose {
    & :global(> .list-item) {
      padding-right: var(--spacing-loose);
      padding-left: var(--spacing-loose);
    }
  }

  &.spacing-x-xloose {
    & :global(> .list-item) {
      padding-right: var(--spacing-x-loose);
      padding-left: var(--spacing-x-loose);
    }
  }
}
