.list {
  &.hasBorder {
    &.borderPositionBottom {
      & > :global(.list-item) {
        @mixin border-bottom-grey-light;

        border-bottom-style: dashed;

        &:last-child {
          border-bottom-width: 0;
        }
      }

      &.hasLastBorder {
        & > :global(.list-item) {
          &:last-child {
            border-bottom-width: 1px;
          }
        }
      }
    }

    &.borderPositionTop {
      & > :global(.list-item) {
        @mixin border-top-grey-light;

        border-top-style: dashed;
      }
    }
  }

  &.spacingYBase {
    & > :global(.list-item) {
      padding-bottom: calc(var(--sp16) / 2);
      margin-bottom: calc(var(--sp16) / 2);
    }
  }

  &.spacingYBaseLoose {
    & > :global(.list-item) {
      padding-bottom: calc(var(--sp20) / 2);
      margin-bottom: calc(var(--sp20) / 2);
    }
  }

  &.spacingYLoose {
    & > :global(.list-item) {
      padding-bottom: calc(var(--sp24) / 2);
      margin-bottom: calc(var(--sp24) / 2);
    }
  }

  &.spacingYXloose {
    & > :global(.list-item) {
      padding-bottom: calc(var(--sp32) / 2);
      margin-bottom: calc(var(--sp32) / 2);
    }
  }

  &.spacingYXxxloose {
    & > :global(.list-item) {
      padding-bottom: calc(var(--sp40) / 2);
      margin-bottom: calc(var(--sp40) / 2);
    }
  }

  &.spacingXBase {
    & > :global(.list-item) {
      padding-right: var(--sp16);
      padding-left: var(--sp16);
    }
  }

  &.spacingXBaseLoose {
    & > :global(.list-item) {
      padding-right: var(--sp20);
      padding-left: var(--sp20);
    }
  }

  &.spacingXLoose {
    & > :global(.list-item) {
      padding-right: var(--sp24);
      padding-left: var(--sp24);
    }
  }

  &.spacingXXloose {
    & > :global(.list-item) {
      padding-right: var(--sp32);
      padding-left: var(--sp32);
    }
  }
}
