.list-item {
  @mixin border-bottom-grey;

  &.no-border {
    border: none;
  }
}

.spacing-vertical-tight {
  padding-top: var(--spacing-tight);
  padding-bottom: var(--spacing-tight);
}
.spacing-vertical-base {
  padding-top: var(--spacing-base);
  padding-bottom: var(--spacing-base);
}
.spacing-vertical-loose {
  padding-top: var(--spacing-loose);
  padding-bottom: var(--spacing-loose);
}

.spacing-horizontal-tight {
  padding-left: var(--spacing-tight);
  padding-right: var(--spacing-tight);
}
.spacing-horizontal-base {
  padding-left: var(--spacing-base);
  padding-right: var(--spacing-base);
}
.spacing-horizontal-loose {
  padding-left: var(--spacing-loose);
  padding-right: var(--spacing-loose);
}
