.list {
  &.has-border {
    & :global(> .list-item + .list-item) {
      @mixin border-top-grey;

      border-top-style: dashed;
    }
  }

  &.spacing-y-base {
    & :global(> .list-item + .list-item) {
      padding-top: calc(var(--spacing-base) / 2);
      margin-top: calc(var(--spacing-base) / 2);
    }
  }

  &.spacing-y-loose {
    & :global(> .list-item) {
      padding-top: calc(var(--spacing-loose) / 2);
      margin-top: calc(var(--spacing-loose) / 2);
    }
  }

  &.spacing-y-xloose {
    & :global(> .list-item) {
      padding-top: calc(var(--spacing-x-loose) / 2);
      margin-top: calc(var(--spacing-x-loose) / 2);
    }
  }

  &.spacing-x-base {
    & :global(> .list-item) {
      padding-right: var(--spacing-base);
      padding-left: var(--spacing-base);
    }
  }

  &.spacing-x-loose {
    & :global(> .list-item) {
      padding-right: var(--spacing-loose);
      padding-left: var(--spacing-loose);
    }
  }

  &.spacing-x-xloose {
    & :global(> .list-item) {
      padding-right: var(--spacing-x-loose);
      padding-left: var(--spacing-x-loose);
    }
  }
}
