header {
  @mixin flex-center-space-between;

  padding: var(--spacing-x-tight) var(--spacing-base);

  & h4 {
    font-size: var(--font-size-md-s);
    font-weight: var(--font-weight-semibold);
  }
}
