.header {
  @mixin flex-center-space-between;

  padding: var(--sp8) var(--sp16);

  & h3 {
    font-weight: var(--font-semibold);
  }
}

.sizeMdS {
  font-size: var(--text15);
}

.sizeLg {
  font-size: var(--text20);
}
