.container {
  display: grid;
  grid-template-columns: repeat(12, mimmax(0, 1fr));
  margin: 0 var(--spacing-base);
}

.buttons {
  grid-column: 1 / -1;
  margin-bottom: var(--spacing-loose);

  & :global(> button) {
    width: 100%;
  }

  & :global(> button + button) {
    margin-top: var(--spacing-base);
  }

  @media (--sm-up) {
    grid-column: 4 / span 6;
    margin-bottom: var(--spacing-xx-loose);
  }
}
