.buttons {
  margin-bottom: var(--spacing-loose);

  & :global(> *) {
    width: 100%;
  }

  & :global(> * + *) {
    margin-top: var(--spacing-base);
  }

  @media (--sm-up) {
    margin-bottom: var(--spacing-xx-loose);
  }
}
