:root {
  --article-digest-sidebar-cover-width: 4.5rem;
  --article-digest-sidebar-cover-width-lg: 10.5rem;
  --article-digest-sidebar-card-spacing: var(--spacing-tight);
}

.container.has-cover {
  position: relative;
  min-height: var(--article-digest-sidebar-cover-width);
  padding-right: calc(
    var(--article-digest-sidebar-cover-width) + var(--spacing-x-tight)
  );

  & .cover {
    position: absolute;
    top: 0;
    right: 0;
    width: var(--article-digest-sidebar-cover-width);
    height: var(--article-digest-sidebar-cover-width);

    border-radius: var(--spacing-xx-tight);
  }

  &.has-background {
    min-height: auto;
    padding-right: calc(
      var(--article-digest-sidebar-cover-width-lg) + var(--spacing-base)
    );

    & .cover {
      margin: calc(var(--article-digest-sidebar-card-spacing) * -1);
      width: var(--article-digest-sidebar-cover-width-lg);
      height: calc(100% + var(--article-digest-sidebar-card-spacing) * 2);

      border-radius: 0;
    }
  }
}

footer {
  margin-top: var(--spacing-tight);

  line-height: 1;

  /* Make <UserDigest.Mini> as an inline element, otherwise users will easily touch it inadvertently */
  & :global(> *) {
    display: inline-flex;
  }
}
