.container.hasCover {
  & .cover {
    display: none;
  }

  /* show cover only on md-up */
  @media (--md-up) {
    position: relative;
    min-height: 4.5rem;
    padding-right: calc(4.5rem + var(--spacing-x-tight));

    & .cover {
      position: absolute;
      top: 0;
      right: 0;
      display: initial;
      width: 4.5rem;
      height: 4.5rem;

      & img {
        @mixin object-fit-cover;

        border-radius: var(--spacing-xx-tight);
      }
    }

    &.hasBackground {
      min-height: auto;
      padding-right: calc(10.5rem + var(--spacing-base));

      & .cover {
        width: 10.5rem;
        height: calc(100% + var(--spacing-tight) * 2);
        margin: calc(var(--spacing-tight) * -1);
        border-radius: 0;
      }
    }
  }
}

.footer {
  margin-top: var(--spacing-tight);
  line-height: 1;

  /* Make <UserDigest.Mini> as an inline element, otherwise users will easily touch it inadvertently */
  & > * {
    display: inline-flex;
  }
}
