.tabs {
  @mixin border-bottom-grey-light;

  position: relative;
  position: sticky;
  top: var(--global-nav-height-mobile);
  z-index: var(--z-index-sticky-tabs);
  padding: 0 var(--sp16);
  margin-top: var(--sp8);
  white-space: nowrap;
  background: var(--color-white);

  @media (--sm-up) {
    top: var(--global-nav-height);
    margin-top: var(--sp20);
  }
}

.noSpacing {
  padding: 0;
  margin-top: 0;
}

.list {
  @mixin hide-scrollbar;

  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.fillList {
  display: flex;

  & li {
    flex-grow: 1;

    & + li {
      margin-left: 0 !important;
    }
  }
}

.item {
  @mixin inline-flex-center-all;
  @mixin transition;

  padding: var(--sp12) 0 var(--sp8);
  font-size: var(--text14);
  font-weight: var(--font-medium);
  line-height: 1.375rem;
  color: var(--color-grey-dark);
  cursor: pointer;
  transition-property: color;

  &.selected,
  &:hover,
  &:focus {
    color: var(--color-black);
  }

  &.selected {
    border-bottom: 2px solid var(--color-matters-green);

    & .count {
      color: var(--color-grey-darker);
    }
  }

  &.disabled {
    color: var(--color-grey-light);
    cursor: not-allowed;
  }

  & + .item {
    margin-left: var(--sp32);
  }

  & .count {
    color: var(--color-grey-dark);
  }
}
