nav {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 2rem;
    background-image: linear-gradient(
      to left,
      var(--color-white),
      var(--color-white) 73%,
      rgba(255, 255, 255, 0)
    );
  }
}

ul {
  white-space: nowrap;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

li {
  display: inline-block;

  margin-right: var(--spacing-x-loose);
  margin-bottom: var(--spacing-x-loose);

  color: var(--color-grey);
  font-size: var(--font-size-md);
  line-height: 1;
  white-space: nowrap;

  &:hover,
  &:focus,
  &[aria-selected='true'] {
    color: var(--color-black);
    font-weight: var(--font-weight-medium);
  }

  &[aria-selected='true'] {
    margin-bottom: calc(var(--spacing-x-loose) + 2px);

    & :global(> *) {
      padding-bottom: var(--spacing-xx-tight);
      border-bottom: 2px solid var(--color-black);
    }
  }
}

.auto {
  @media (--md-up) {
    &::after {
      display: none;
    }
  }

  & ul {
    @media (--md-up) {
      white-space: initial;
    }
  }

  & li {
    @media (--md-up) {
      display: block;
      margin-right: 0;
    }
  }
}
