nav {
  position: relative;
  padding: var(--spacing-x-tight) var(--spacing-base);
  white-space: nowrap;

  @media (--sm-up) {
    padding-top: var(--spacing-base);
    padding-bottom: var(--spacing-base);
  }

  &.sticky {
    position: sticky;
    top: 0;
    z-index: var(--z-index-sticky-tabs);
    background: var(--color-white);
  }
}

ul {
  @mixin hide-scrollbar;

  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

li {
  display: inline-block;

  & + li {
    margin-left: var(--spacing-x-tight);
  }
}
