nav {
  @mixin border-bottom-grey;
  position: relative;

  padding: 0 var(--spacing-base);
  white-space: nowrap;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 2rem;
    background-image: linear-gradient(
      to left,
      var(--color-white),
      var(--color-white) 73%,
      rgba(255, 255, 255, 0)
    );
  }

  &.spacing-bottom-xtight {
    margin-bottom: var(--spacing-x-tight);
  }
  &.spacing-bottom-base {
    margin-bottom: var(--spacing-base);
  }
  &.spacing-bottom-loose {
    margin-bottom: var(--spacing-loose);
  }
  &.spacing-bottom-xxloose {
    margin-bottom: var(--spacing-xx-loose);
  }
}

ul {
  @mixin hide-scrollbar;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

li {
  position: relative;
  display: inline-block;

  margin-right: var(--spacing-loose);

  color: var(--color-grey);
  font-size: var(--font-size-xm);
  font-weight: var(--font-weight-semibold);
  line-height: 1.5rem;
  white-space: nowrap;

  &:hover,
  &:focus,
  &[aria-selected='true'] {
    color: var(--color-black);
  }

  & .content {
    display: inline-block;
    padding-bottom: var(--spacing-x-tight);
    border-bottom: 2px solid transparent;
  }

  & sup {
    top: calc(var(--spacing-x-tight) * -1);
    padding-left: var(--spacing-xxx-tight);
  }

  &[aria-selected='true'] {
    & .content {
      border-bottom-color: var(--color-black);
    }
  }
}
