.tabs {
  @mixin border-bottom-grey;

  position: relative;
  position: sticky;
  top: 0;
  z-index: var(--z-index-sticky-tabs);
  padding: 0 var(--spacing-base);
  margin-top: var(--spacing-base-loose);
  white-space: nowrap;
  background: var(--color-white);
}

.list {
  @mixin hide-scrollbar;

  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.item {
  @mixin inline-flex-center-all;
  @mixin transition;

  padding: var(--spacing-tight) 0 var(--spacing-x-tight);
  font-weight: var(--font-weight-medium);
  line-height: 1.375rem;
  color: var(--color-grey-dark);
  transition-property: color;

  &.selected,
  &:hover,
  &:focus {
    color: var(--color-black);
  }

  &.selected {
    border-bottom: 2px solid var(--color-matters-green);

    & .count {
      color: var(--color-grey-darker);
    }
  }

  & + .item {
    margin-left: var(--spacing-x-loose);
  }

  & .count {
    color: var(--color-grey-dark);
  }
}
