.container {
  @mixin flex-center-start;

  &:not(.disabled) {
    &:hover,
    &:focus {
      & .displayname {
        text-decoration: underline;
      }
    }
  }
}

.name {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-left: var(--spacing-x-tight);
}

.displayname {
  @mixin line-clamp;

  font-weight: var(--font-weight-medium);
}

.username {
  @mixin line-clamp;

  color: var(--color-grey);
}

.name-style-loose {
  & .displayname {
    font-size: var(--font-size-md-s);
    line-height: 1.5rem;
  }

  & .username {
    font-size: var(--font-size-sm-s);
    line-height: 1.5rem;
  }
}

.name-style-tight {
  & .displayname {
    font-size: var(--font-size-sm);
    line-height: 1rem;
  }

  & .username {
    font-size: var(--font-size-xs);
    line-height: 1rem;
  }
}
