.container {
  @mixin flex-center-start;

  color: var(--color-black);
}

.name {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  margin-left: var(--spacing-x-tight);
}

.displayname {
  @mixin line-clamp;

  font-weight: var(--font-weight-medium);
}

.username {
  @mixin line-clamp;

  color: var(--color-grey);
}

.nameStyleLoose {
  & .displayname {
    font-size: var(--font-size-md-s);
    line-height: 1.5rem;
  }

  & .username {
    font-size: var(--font-size-sm-s);
    line-height: 1.5rem;
  }
}

.nameStyleTight {
  & .displayname {
    font-size: var(--font-size-sm);
    line-height: 1rem;
  }

  & .username {
    font-size: var(--font-size-xs);
    line-height: 1rem;
  }
}
