.avatar {
  display: inline-block;
  border-radius: 50%;
  background-color: var(--color-grey-lighter);
}

/* 20px */
.xxsmall {
  width: 1.25rem;
  height: 1.25rem;
}

/* 24px */
.xsmall {
  width: 1.5rem;
  height: 1.5rem;
}

/* 32px */
.small {
  width: 2rem;
  height: 2rem;
}

/* 40px */
.default {
  width: 2.5rem;
  height: 2.5rem;
}

/* 70px */
.large {
  width: 4.375rem;
  height: 4.375rem;
}

/* 140px */
.xlarge {
  width: 8.75rem;
  height: 8.75rem;
}
