.container {
  & ul {
    & li {
      border-top: 0 !important;
    }
  }

  & .dashedLine {
    border-top: 1px dashed var(--color-grey-light);
  }
}

.rateHint {
  @mixin flex-center-end;

  padding: var(--spacing-x-tight) 0 0;
}
