:root {
  --info-max-width: 7.5rem;
  --info-overflow-width: 3rem;
}

.container {
  padding: 0;
  border-radius: 2rem;
  border: 1px solid transparent;
  font-size: var(--font-size-sm);

  & :global(> *) {
    vertical-align: middle;
  }

  @media (--sm-up) {
    padding: var(--spacing-xx-tight) var(--spacing-x-tight)
      var(--spacing-xx-tight) var(--spacing-xx-tight);

    &:hover,
    &:focus {
      border-color: rgba(0, 0, 0, 0.08);
    }
  }

  &.inactive {
    color: var(--color-grey-dark);
  }
}

.info {
  display: none;
  position: relative;
  max-width: var(--info-max-width);
  margin-left: var(--spacing-x-tight);
  text-align: left;
  overflow: hidden;

  @media (--sm-up) {
    display: inline-block;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: calc(var(--info-max-width) - var(--info-overflow-width));
    width: var(--info-overflow-width);
    height: 100%;
    text-align: right;
    background-image: linear-gradient(
      to left,
      #fff,
      #fff 0,
      rgba(255, 255, 255, 0)
    );
  }

  & :global(> *) {
    display: block;
    line-height: 1rem;
  }

  & .username {
    margin-left: var(--spacing-xxx-tight);
  }
}
