.area {
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  @media (--sm-up) {
    height: 37vh;
    margin-bottom: var(--spacing-tight);
  }
}

.nodes {
  min-height: 100%;

  & li {
    position: relative;

    & .drag-handler {
      @mixin flex-center-all;
      @mixin all-transition;

      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      height: 100%;
    }

    &.Article {
      & .drag-handler {
        height: auto;
        padding-top: var(--spacing-tight);
      }
    }

    & + li {
      @mixin border-top-grey;
    }
  }
}
