.content {
  width: 100%;
  padding: 0 var(--sp16);

  @media (--sm-up) {
    padding: 0;
  }
}

.updatedDate {
  width: 7.5rem; /* 120px */
  height: 1.125rem;
  background: var(--color-grey-lighter);
}

.title {
  width: 100%;
  height: 1.125rem;
  margin-top: var(--sp8);
  background: var(--color-grey-lighter);
}
