.latest-responses,
.featured-comments {
  margin: var(--spacing-loose) 0;

  & header {
    @mixin flex-center-space-between;

    margin-bottom: var(--spacing-base);
  }
}

.latest-responses-switch {
  color: var(--color-grey);
  font-size: var(--font-size-sm-s);
  line-height: 1.25rem;

  & :global(> *) {
    vertical-align: middle;
  }

  & > span {
    display: inline-block;
    margin-left: var(--spacing-x-tight);
  }
}
