.overlay {
  @mixin expand-to-container;

  content: '';
  background: rgb(0 0 0 / 40%);
  will-change: opacity;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: var(--color-white);
  border-radius: var(--spacing-x-tight) var(--spacing-x-tight) 0 0;
  will-change: transform, top;

  &::before {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    height: 300vh;
    content: '';
    background: var(--color-white);
  }

  & [data-dialog-entity]:last-child {
    @media (--sm-down) {
      padding-bottom: var(--spacing-xx-loose);
    }
  }

  &.bgGreyLighter {
    background: var(--color-grey-lighter);

    @media (--sm-up) {
      background: var(--color-white);
    }
  }

  &.bgGreyLighterSmUp {
    @media (--md-up) {
      background: var(--color-grey-lighter);
    }
  }

  @media (--sm-up) {
    border-radius: var(--spacing-x-tight);
    will-change: opacity;

    &::before {
      display: none;
    }
  }
}

.handle {
  position: absolute;
  top: 0;
  left: 50%;
  padding: var(--spacing-x-tight);
  transform: translateX(-50%);

  & .icon {
    display: inline-block;
    width: 3rem;
    height: 0.375rem;
    background: var(--color-grey-lighter);
    border-radius: var(--spacing-x-tight);
  }
}
