.l-container {
  display: grid;
  grid-template-areas: 'spacingLeft content spacingRight';
  grid-template-columns: minmax(0, 1fr) var(--layout-width) minmax(0, 1fr);
  margin: 0 var(--spacing-base);

  @media (--md-up) {
    margin: 0 var(--spacing-xx-loose);
  }

  @media (--lg-up) {
    grid-template-columns: minmax(0, 1fr) var(--layout-width-lg-up) minmax(
        0,
        1fr
      );
    margin: 0 auto;
  }

  &.full {
    margin: 0 auto;
  }
}
