/* Layouts
   ========================================================================== */
@define-mixin flex-center-all {
  display: flex;
  align-items: center;
  justify-content: center;
}

@define-mixin flex-center-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@define-mixin flex-center-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

@define-mixin flex-center-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@define-mixin flex-start-space-between {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

@define-mixin flex-start-center {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

@define-mixin flex-start-start {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

@define-mixin flex-end-space-between {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

@define-mixin inline-flex-center-all {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

@define-mixin inline-flex-center-start {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
}

@define-mixin inline-flex-center-end {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
}

@define-mixin inline-flex-start-center {
  display: inline-flex;
  align-items: flex-start;
  justify-content: center;
}

/* Fonts
   ========================================================================== */
@define-mixin font-serif {
  font-family: var(--font-serif-tc);

  &[lang='zh-Hans'],
  &[data-lang='zh-Hans'] {
    font-family: var(--font-serif-sc);
  }
}

@define-mixin font-sans {
  font-family: var(--font-sans-tc);

  &[lang='zh-Hans'],
  &[data-lang='zh-Hans'] {
    font-family: var(--font-sans-sc);
  }
}

/* Borders
   ========================================================================== */
@define-mixin border-grey {
  border: 1px solid var(--color-line-grey-light);
}

@define-mixin border-bottom-grey {
  border-bottom: 1px solid var(--color-line-grey-light);
}

@define-mixin border-top-grey {
  border-top: 1px solid var(--color-line-grey-light);
}

@define-mixin border-left-grey {
  border-left: 1px solid var(--color-line-grey-light);
}

@define-mixin border-right-grey {
  border-right: 1px solid var(--color-line-grey-light);
}

@define-mixin border-grey-light {
  border: 1px solid var(--color-grey-light);
}

@define-mixin border-bottom-grey-light {
  border-bottom: 1px solid var(--color-grey-light);
}

@define-mixin border-top-grey-light {
  border-top: 1px solid var(--color-grey-light);
}

@define-mixin border-left-grey-light {
  border-left: 1px solid var(--color-grey-light);
}

@define-mixin border-right-grey-light {
  border-right: 1px solid var(--color-grey-light);
}

@define-mixin shadow-border-bottom-grey {
  box-shadow: 0 1px 0 0 var(--color-line-grey-light);
}

@define-mixin shadow-border-top-grey {
  box-shadow: 0 -1px 0 0 var(--color-line-grey-light);
}

/* Form
   ========================================================================== */
@define-mixin form-input {
  @mixin transition;
  @mixin border-grey;

  height: var(--input-height);
  padding: var(--sp12);
  font-size: var(--text14);
  line-height: 1.375rem;
  color: var(--color-black);
  background-color: var(--color-white);
  border-radius: var(--sp8);
  transition-property: border-color, background-color;

  &:focus,
  &.focus {
    border-color: var(--color-grey);
  }

  &:disabled {
    color: var(--color-grey-dark);
    background-color: var(--color-grey-lighter);
    border-color: transparent;
  }

  &::placeholder {
    color: var(--color-grey-dark);
    opacity: 1; /* Firefox */
  }

  &.error {
    border-color: var(--color-negative-red);

    &:focus,
    &.focus {
      background-color: transparent;
      border-color: var(--color-negative-red);
    }
  }
}

@define-mixin form-input-number {
  caret-color: var(--color-matters-green);

  /* Chrome, Safari, Edge, Opera */
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    margin: 0;
    appearance: none;
  }

  /* Firefox */
  &[type='number'] {
    appearance: textfield;
  }
}

/* Components
   ========================================================================== */
@define-mixin feed-footer-actions {
  @mixin flex-center-space-between;

  margin-top: var(--sp16);
  font-size: var(--font-size-subtext);
  font-weight: var(--font-weight-subtext);
  line-height: var(--line-height-subtext);

  & .left,
  & .right {
    @mixin inline-flex-center-all;

    & > * {
      flex-shrink: 0;
    }
  }

  & .left {
    color: var(--color-grey);

    & > * + * {
      margin-left: var(--sp16);
    }
  }

  & .right {
    color: var(--color-black);

    & > * + * {
      margin-left: var(--sp16);
    }
  }
}

/* Scrollbar
   ========================================================================== */
@define-mixin hide-scrollbar {
  /* IE 10+ */
  -ms-overflow-style: none;

  /* Firefox */
  overflow: -moz-scrollbars-none;
  scrollbar-width: none;

  /* Chrome & Safari */
  &::-webkit-scrollbar {
    display: none;
    width: 0 !important;
    height: 0 !important;
  }
}

@define-mixin scrollbar-thin {
  /* Width */
  &::-webkit-scrollbar {
    width: 15px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    border: solid 6px transparent;
    box-shadow: inset 0 0 15px 15px transparent;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    min-height: 68px;
    border: solid 6px transparent;
    border-radius: 8px;
    box-shadow: inset 0 0 15px 15px var(--color-grey-light);
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    box-shadow: inset 0 0 15px 15px var(--color-grey);
  }
}

/* Utilities
   ========================================================================== */
@define-mixin expand-to-container {
  position: absolute;
  inset: 0;
}

@define-mixin safe-area-botttom {
  &::after {
    display: block;
    padding-bottom: env(safe-area-inset-bottom);
    content: '';
  }
}

@define-mixin object-fit-cover {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@define-mixin transition {
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
}

@define-mixin truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: normal;
  white-space: nowrap;
}

@define-mixin line-clamp {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;

  /* autoprefixer: ignore next */
  -webkit-box-orient: vertical;
}

/* FIXME: fix cropped descenders of letters  */
@define-mixin fix-cropped-letters {
  padding-bottom: 0.12em;
  margin-bottom: -0.12rem;
}

@define-mixin polka-dot-background {
  background:
    linear-gradient(90deg, var(--color-white) 2px, transparent 1%) center,
    linear-gradient(var(--color-white) 2px, transparent 1%) center,
    var(--color-grey-light);
  background-repeat: repeat;
  background-position: -2px -1px;
  background-size: 3px 3px;
}
