.title {
  font-size: var(--text16);
  font-weight: var(--font-medium);
  line-height: 1rem;
}

/* dialog */
.circle {
  & .switch {
    & .header {
      @mixin flex-center-space-between;
    }

    & .description {
      margin-top: var(--sp4);
      font-size: var(--text13);
      color: var(--color-grey-darker);
    }
  }

  & .switch + * {
    margin-top: var(--sp16);
  }
}

.license {
  & .title {
    margin-bottom: var(--sp16);
  }

  & .select {
    margin-top: var(--sp8);
  }
}

.circle + .license {
  margin-top: var(--sp32);
}

.sensitive,
.iscn {
  margin-top: var(--sp24);

  & .header {
    @mixin flex-center-space-between;
  }

  & .hint {
    margin-top: var(--sp4);
    font-size: var(--text12);
    color: var(--color-grey);

    & a {
      color: var(--color-matters-green);
      text-decoration: underline;
    }
  }
}

.supportSetting {
  margin: var(--sp16) calc(var(--sp16) * -1) calc(var(--sp16) * -1);

  & button {
    width: 100%;
  }

  & .support {
    @mixin flex-start-center;

    flex-direction: column;
    width: 100%;
    margin-top: var(--sp24);

    & .hint {
      margin-top: var(--sp8);
      font-size: var(--text12);
      color: var(--color-grey);
      text-align: left;
      white-space: break-spaces;
    }

    & .left {
      @mixin flex-center-space-between;

      width: 100%;
    }
  }
}

/* sidebar */
.container {
  padding: var(--sp16);

  &.compact {
    padding: 0;

    & .title {
      font-size: var(--text14);
    }

    & .circle + .license {
      margin-top: var(--sp24);
    }

    & .license .title {
      margin-bottom: 0;
    }

    & .supportSetting {
      margin: 0;
    }
  }
}
