h3 {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-medium);
  line-height: 1rem;
}

.circle {
  & .switch {
    & header {
      @mixin flex-center-space-between;
    }

    & .description {
      margin-top: var(--spacing-xx-tight);
      font-size: var(--font-size-sm-s);
      color: var(--color-grey-darker);
    }
  }

  & .switch + :global(*) {
    margin-top: var(--spacing-base);
  }
}

.widget {
  & .license {
    margin-top: var(--spacing-base);
    background: var(--color-grey-lighter);
    border-radius: var(--spacing-x-tight);
  }
}

.circle + .widget {
  margin-top: var(--spacing-x-loose);
}

.inSidebar {
  & h3 {
    font-size: var(--font-size-sm);
  }

  & .circle + .widget {
    margin-top: var(--spacing-loose);
  }
}

.iscn {
  margin-top: 1.5rem;
  & .d-flex {
    @mixin flex-center-space-between;
  }
  & h3.title {
    margin: 0 1rem 0 0;
    font-size: 0.875rem;
  }
  & p.detail {
    margin: 4px 0 0 0;
    font-size: 12px;
    color: var(--color-grey);
    & a {
      color: var(--color-matters-green);
      text-decoration: underline;
    }
  }
}
