h3 {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-medium);
  line-height: 1rem;
}

.circle {
  & .switch {
    & header {
      @mixin flex-center-space-between;
    }

    & .description {
      margin-top: var(--spacing-xx-tight);
      font-size: var(--font-size-sm-s);
      color: var(--color-grey-darker);
    }
  }

  & .switch + :global(*) {
    margin-top: var(--spacing-base);
  }
}

.widget {
  & .license {
    margin-top: var(--spacing-base);
    background: var(--color-grey-lighter);
    border-radius: var(--spacing-x-tight);
  }
}

.circle + .widget {
  margin-top: var(--spacing-x-loose);
}

.inSidebar {
  & h3 {
    font-size: var(--font-size-sm);
  }

  & .circle + .widget {
    margin-top: var(--spacing-loose);
  }
}

.iscn {
  margin-top: var(--spacing-loose);

  & header {
    @mixin flex-center-space-between;
  }

  & .hint {
    margin-top: var(--spacing-xx-tight);
    font-size: var(--font-size-xs);
    color: var(--color-grey);

    & a {
      color: var(--color-matters-green);
      text-decoration: underline;
    }
  }
}

.support-setting {
  & button {
    width: 100%;
  }
}

.support {
  @mixin flex-start-center;

  flex-direction: column;
  width: 100%;
  margin-top: var(--spacing-loose);

  & .hint {
    margin-top: var(--spacing-xx-tight);
    font-size: var(--font-size-xs);
    color: var(--color-grey);
  }

  & .left {
    @mixin flex-start-space-between;

    width: 100%;
    & .left-btn {
      @mixin flex-center-end;

      width: 100%;
    }
  }
}
