.error {
  text-align: center;
}

.image {
  max-width: 15rem;
  max-height: 15rem;
  margin: 0 auto;
}

.errorMessage {
  margin-top: var(--sp8);
  font-size: var(--text14);
  color: var(--color-grey-dark);
}

.errorRedirect {
  margin-top: var(--sp32);
}

.errorDetail {
  padding: var(--sp24);
  margin-top: var(--sp32);
  overflow: auto;
  color: var(--color-negative-red);
  text-align: left;
  background: var(--color-yellow-lighter);
  border: 1px solid var(--color-negative-red);
  -webkit-overflow-scrolling: touch;
}
