.error {
  text-align: center;
}

.image {
  max-width: 15rem;
  max-height: 15rem;
  margin: 0 auto;
}

.error-code {
  font-family: var(--font-mono);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-normal);
  line-height: 1.16666667;
  color: var(--color-grey);
}

.error-message {
  margin-top: var(--spacing-x-tight);
  font-size: var(--font-size-sm);
  color: var(--color-grey-dark);
}

.error-redirect {
  margin-top: var(--spacing-x-loose);
}

.error-detail {
  padding: var(--spacing-loose);
  margin-top: var(--spacing-x-loose);
  overflow: auto;
  color: var(--color-red);
  text-align: left;
  background: var(--color-yellow-lighter);
  border: 1px solid var(--color-red);
  -webkit-overflow-scrolling: touch;
}
