files:
  "/home/ec2-user/aws-nextjs-metrics/aws-nextjs-metrics.mjs" :
    mode: "000755"
    source: https://cdn.jsdelivr.net/gh/thematters/matters-web@3eb0d35533baa8720d3f92610610def0059fd0b2/bin/aws-nextjs-metrics.mjs

container_commands:
  03prereq:
    command: "( cd /home/ec2-user/aws-nextjs-metrics/ ; npm install @aws-sdk/client-cloudwatch ; chmod -v +x aws-nextjs-metrics.mjs )"
    cwd: /home/ec2-user/aws-nextjs-metrics/
    ignoreErrors: false
  05cron:
    command: "crontab -l | grep -q 'aws-nextjs-metrics.mjs' || crontab -l | { cat; echo '* * * * * ( cd /home/ec2-user/aws-nextjs-metrics/; set -x ; time AWS_REGION=ap-southeast-1 ./aws-nextjs-metrics.mjs ) &>/dev/null'; } | crontab -"
    test: "[ -x /home/ec2-user/aws-nextjs-metrics/aws-nextjs-metrics.mjs ]"
    ignoreErrors: false
