files:
  "/home/ec2-user/aws-nextjs-metrics/aws-nextjs-metrics.mjs" :
    mode: "000755"
    source: https://cdn.jsdelivr.net/gh/thematters/matters-web@develop/bin/aws-nextjs-metrics.mjs

container_commands:
  03prereq:
    command: "( cd /home/ec2-user/aws-nextjs-metrics/ ; npm install @aws-sdk/client-cloudwatch ; chmod -v +x aws-nextjs-metrics.mjs )"
    cwd: /home/ec2-user/aws-nextjs-metrics/
    ignoreErrors: false
  05cron:
    command: "crontab -l | grep -q 'aws-nextjs-metrics.mjs' || crontab -l | { cat; echo '0 * * * * /home/ec2-user/aws-nextjs-metrics/aws-nextjs-metrics.mjs &>/dev/null'; } | crontab -"
    test: "[ -x /home/ec2-user/aws-nextjs-metrics/aws-nextjs-metrics.mjs ]"
    ignoreErrors: false
