:root {
  --digest-response-cover-size: 10rem;
}

.container {
  margin: var(--spacing-default) 0;
}

.header {
  @mixin flex-start-space-between;

  & .avatar {
    display: flex;
    align-items: center;
  }

  & .collected {
    flex-shrink: 0;
    margin: 0 var(--spacing-xx-tight);

    color: var(--color-grey-dark);
    font-size: var(--font-size-sm);
    line-height: 1;
  }
}

.digest-wrap {
  margin-top: 0.75rem;
  margin-left: 2.5rem;
}
