@lost gutter 40px;
@lost flexbox flex;
@lost rounder 99.99999;

.nav-bar {
  & :global(.fixed-main) {
    bottom: var(--global-nav-height);

    @media (--sm-up) {
      bottom: 0;
    }
  }
}

.content {
  @mixin safe-area-botttom;
  @mixin shadow-border-top-grey;

  margin: 0 1px; /* borders of main grid */
  background: var(--color-yellow-lighter);
}

.inner {
  @mixin flex-center-space-between;

  padding: var(--spacing-tight) var(--spacing-base);

  & p {
    margin-left: var(--spacing-base);
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-medium);
  }

  & .highlight {
    color: var(--color-matters-gold);
  }

  & .left {
    @mixin flex-center-start;
  }
}
