.navBar {
  & :global(.fixedMain) {
    bottom: var(--global-nav-height);
    z-index: var(--z-index-bottom-bar);

    @media (--sm-up) {
      bottom: 0;
    }
  }
}

.content {
  @mixin safe-area-botttom;
  @mixin shadow-border-top-grey;

  margin: 0 1px; /* borders of main grid */
  background: var(--color-yellow-lighter);
}

.inner {
  @mixin flex-center-space-between;

  padding: var(--spacing-tight) var(--spacing-base);

  & p {
    margin-left: var(--spacing-base);
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-medium);
  }

  & .left {
    @mixin flex-center-start;
  }
}
