@lost gutter 40px;
@lost flexbox flex;
@lost rounder 99.99999;

.nav-bar {
  position: fixed;
  right: 0;
  bottom: var(--global-nav-height);
  left: 0;
  z-index: var(--z-index-global-header);

  @media (--sm-up) {
    bottom: 0;
  }
}

.content {
  @mixin flex-center-space-between;
  @mixin shadow-border-top-grey;

  padding: var(--spacing-tight) var(--spacing-base);
  padding-bottom: calc(constant(safe-area-inset-bottom) + var(--spacing-tight));
  padding-bottom: calc(env(safe-area-inset-bottom) + var(--spacing-tight));
  margin: 0 1px; /* borders of main grid */
  background: var(--color-yellow-lighter);

  & p {
    margin-left: var(--spacing-base);
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-medium);
  }

  & .highlight {
    color: var(--color-matters-gold);
  }

  & .left {
    @mixin flex-center-start;
  }
}
