/* @styled-jsx=global */

.StripeElement {
  @mixin transition;

  height: var(--input-height);
  padding: 0 0 0 var(--spacing-base);
  border: 1px solid var(--color-grey-light);
  border-radius: var(--spacing-x-tight);
  caret-color: var(--color-matters-green);
  transition-property: border-color, background-color;

  &.StripeElement--focus {
    background-color: var(--color-green-lighter);
    border-color: var(--color-matters-green);
  }

  &.StripeElement--invalid {
    background-color: transparent;
    border-color: var(--color-red);
  }

  /* Chrome, Safari, Edge, Opera */
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
  }

  /* Firefox */
  &[type='number'] {
    -moz-appearance: textfield;
  }
}
