.header {
  @mixin flex-center-space-between;

  position: sticky;
  top: 0;
  z-index: var(--z-index-global-header);
  padding: var(--sp16);
  background: var(--color-white);

  & .left {
    @mixin flex-center-start;

    gap: var(--sp12);

    & .title {
      font-size: var(--text17);
      font-weight: var(--font-medium);
      line-height: 1.75;
      color: var(--color-black);
    }
  }

  & .right {
    gap: var(--sp4);

    & .publishButton {
      font-size: var(--text14);
      line-height: 1.375rem;
    }
  }
}

.form {
  position: relative;
}

.content {
  @mixin hide-scrollbar;

  padding: 0 var(--sp16);
  overflow: scroll;

  & :global(.tiptap.ProseMirror) {
    min-height: 6.5rem; /* Height of 4 lines of text */
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: var(--sp8);
  align-items: center;
  padding: 0 var(--sp16);
  margin-top: var(--sp12);
}

.assets {
  &.hasAssets {
    padding: 0 var(--sp16);
    margin-top: var(--sp12);
  }
}

.footer {
  @mixin flex-end-space-between;

  gap: var(--sp4);
  align-items: center;
  padding: var(--sp12) var(--sp16);

  & .left {
    @mixin flex-center-start;
  }

  & .iconButton {
    @mixin flex-center-all;

    padding: 0 var(--sp12) 0 0;
    cursor: pointer;

    &:disabled {
      cursor: not-allowed;
      opacity: 1;
    }
  }

  & .iconButtonDisabled {
    cursor: not-allowed;
  }

  & .count {
    font-size: var(--text14);
    line-height: 1.375rem;
    color: var(--color-grey-light);

    &.over {
      color: var(--color-negative-red);
    }
  }
}
