.container {
  padding: 0 var(--spacing-base);
  margin: var(--spacing-loose) 0 0;

  @media (--sm-up) {
    padding: 0;
  }

  @media (--md-up) {
    @mixin flex-center-start;
  }
}

.group {
  @media (--md-up) {
    @mixin flex-center-start;

    & + .group {
      padding-left: var(--spacing-xx-loose);
      margin-left: var(--spacing-xx-loose);
      border-left: 1px solid var(--color-grey-light);
    }
  }
}

.tile {
  @mixin flex-center-space-between;

  & .title {
    position: relative;
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-medium);
    line-height: 1.5rem;
    color: var(--color-grey-dark);

    & .indicator {
      position: absolute;
      top: calc(50% - 0.25rem);
      left: calc(100% + 0.5rem);
      width: 0.5rem;
      height: 0.5rem;
      background: currentcolor;
      border-radius: 50%;
    }
  }

  & .value {
    @mixin inline-flex-center-start;

    order: 1;
    font-size: var(--font-size-xm);
    font-weight: var(--font-weight-medium);
    line-height: 2rem;
    color: var(--color-grey-dark);
  }

  & .unit {
    order: 2;
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-normal);
    line-height: 1;
    color: var(--color-grey-dark);
  }

  & .change {
    display: inline-flex;
    order: 0;
    padding: var(--spacing-xx-tight) var(--spacing-x-tight);
    border-radius: 1rem;

    &.positive {
      color: var(--color-matters-green);
      background-color: var(--color-green-lighter);

      & svg {
        transform: rotate(180deg);
      }
    }

    &.negative {
      color: var(--color-negative-red);
      background-color: var(--color-red-lighter);
    }
  }

  & .content {
    @mixin flex-center-space-between;

    & > * {
      margin-left: var(--spacing-x-tight);
    }
  }

  @media (--md-up) {
    flex-direction: column;
    align-items: start;

    & + .tile {
      margin-left: var(--spacing-xx-loose);
    }

    & .content {
      & > * {
        margin-left: 0;
      }

      & > * + * {
        margin-left: var(--spacing-x-tight);
      }
    }

    & .title {
      color: var(--color-grey-dark) !important;

      & .indicator {
        right: calc(100% + 0.25rem);
        left: auto;
      }
    }

    & .value {
      font-size: var(--font-size-xl);
      font-weight: var(--font-weight-bold);
      color: var(--color-black);
    }

    & .change {
      order: 3;
    }
  }
}

.group.primary {
  & .tile {
    & .title {
      color: var(--color-black);
    }

    & .value {
      font-size: var(--font-size-xl);
      font-weight: var(--font-weight-bold);
      color: var(--color-black);
    }
  }
}
