header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  width: 100%;
  height: 4rem;

  border-bottom: 1px solid rgba(0, 0, 0, 0.16);
  background: var(--color-white);

  box-sizing: content-box;
  overflow: hidden;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 4rem;

  box-sizing: border-box;
}

.left,
.right {
  display: flex;
  align-items: center;
}

.right.me {
  & > :global(*) {
    display: inline-block;
  }
  & > :global(* + *) {
    margin-left: var(--spacing-tight);

    @media (--sm-up) {
      margin-left: var(--spacing-loose);
    }
  }
}
