header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  width: 100%;
  height: var(--global-header-height);

  border-bottom: 1px solid rgba(0, 0, 0, 0.16);
  background: var(--color-white);

  box-sizing: content-box;
  overflow: hidden;
  z-index: 100;
}

.holder {
  height: var(--global-header-height); /* fallback */
  height: calc(
    var(--global-header-height) + 1px
  ); /* global header's height + 1px border */
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: var(--global-header-height);

  box-sizing: border-box;
}

.left,
.right {
  display: flex;
  align-items: center;

  height: var(--global-header-height);
}

.right.me {
  & > :global(> *) {
    display: inline-block;
  }
  & > :global(* + *) {
    margin-left: var(--spacing-tight);

    @media (--sm-up) {
      margin-left: var(--spacing-loose);
    }
  }
}
