.container {
  padding: var(--spacing-base);

  @media (--sm-up) {
    padding-right: 0;
    padding-left: 0;
  }
}

.content {
  display: grid;
  grid-template:
    'title avatar' auto
    'description avatar' auto / 1fr auto;
}

.title {
  grid-area: title;
  font-size: var(--font-size-xm);
  font-weight: var(--font-weight-normal);
  line-height: 1.5rem;
}

.description {
  @mixin line-clamp;

  grid-area: description;
  font-size: var(--font-size-sm);
  line-height: 1.5rem;
  color: var(--color-grey-dark);
}

.avatar {
  grid-area: avatar;
  margin-left: var(--spacing-base);
}

.footer {
  @mixin feed-footer-actions;
}
