.toastContainer {
  inset: var(--sp32) !important;
}

.toast {
  @mixin flex-center-space-between;

  padding: var(--sp12);
  font-size: var(--text14);
  line-height: 1.375rem;
  color: var(--color-white);
  border-radius: 0.5rem;

  & .actions {
    @mixin flex-center-space-between;

    & > :global(*) {
      margin-left: var(--sp32);
    }

    & > :global(* + *) {
      position: relative;

      &::before {
        position: absolute;
        top: 0;
        left: calc(var(--sp16) * -1);
        width: 1px;
        height: 100%;
        content: '';
        background: var(--color-grey-darker);
      }
    }
  }
}

.info {
  background: var(--color-black);
}

.success {
  background: var(--color-positive-green);
}

.warning {
  background: var(--color-warn-yellow);
}

.error {
  background: var(--color-negative-red);

  & .actions {
    & > :global(* + *) {
      &::before {
        background: var(--color-white);
      }
    }
  }
}
