.coverField {
  @media (--sm-up) {
    margin-top: var(--spacing-base);
  }
}

.container {
  @mixin form-container;

  @media (--sm-up) {
    margin-right: var(--spacing-base);
    margin-left: var(--spacing-base);
  }
}
