:root {
  --switch-width: 2.5rem;
  --switch-height: 1.5rem;
  --switch-border-radius: 0.75rem;
  --switch-border-width: 0.125rem;
}

.switch {
  display: inline-block;
  position: relative;

  user-select: none;
  tap-highlight-color: transparent;
}

.switch input {
  position: absolute;
  opacity: 0;
}

.switch input + span {
  @mixin all-transition;

  display: inline-block;
  position: relative;
  width: var(--switch-width);
  height: var(--switch-height);

  background: var(--color-white);
  box-shadow: inset 0 0 0 var(--switch-border-width) #e5e5e5;
  border-radius: var(--switch-border-radius);
  line-height: 1;
}

.switch input + span:after {
  @mixin border-grey;

  content: '';
  display: block;

  border-radius: var(--switch-border-radius);
  background: var(--color-white);
  box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.06), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
}

.switch input + span:after,
.switch .loading :global(svg) {
  @mixin all-transition;

  position: absolute;
  top: var(--switch-border-width);
  left: var(--switch-border-width);
  width: calc(var(--switch-height) - var(--switch-border-width) * 2);
  height: calc(var(--switch-height) - var(--switch-border-width) * 2);
}

.switch input:checked {
  & + span {
    box-shadow: inset 0 0 0 var(--switch-height) var(--color-matters-gold);
  }
}
.switch input:checked + span:after,
.switch input:checked + span + .loading :global(svg) {
  left: calc(var(--switch-width) / 2 - var(--switch-border-width));
}

.switch:hover {
  & input + span {
    &:after {
      border-color: var(--color-line-grey);
    }
  }
}

.narrow {
  line-height: 1;
}
