.switch {
  position: relative;
  display: inline-flex;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.switch input {
  @mixin transition;

  position: relative;
  display: inline-block;
  width: var(--switch-width);
  height: var(--switch-height);
  line-height: 1;
  cursor: pointer;
  background: var(--switch-background);
  border-radius: var(--switch-border-radius);
  transition-property: box-shadow;
}

.switch input::after {
  display: block;
  content: '';
  background: var(--color-white);
  border-radius: var(--switch-border-radius);
  box-shadow: 0 2px 4px var(--color-line-grey);
}

.switch input::after,
.switch .loading {
  @mixin transition;

  position: absolute;
  top: var(--switch-spacing);
  left: 0;
  width: var(--switch-thumb-width);
  height: var(--switch-thumb-width);
  transform: translateX(var(--switch-spacing));
  transition-property: transform;
}

.switch .loading :global(svg) {
  position: absolute;
  top: 0;
  left: 0;
}

.switch input:checked {
  box-shadow: inset 0 0 0 var(--switch-height) var(--color-matters-green);
}

.switch input:checked::after,
.switch input:checked + span + .loading {
  transform: translateX(
    calc(
      var(--switch-width) - var(--switch-thumb-width) - var(--switch-spacing)
    )
  );
}

.switch:hover::after,
.switch:focus::after {
  box-shadow: 0 2px 4px var(--color-line-grey-dark);
}
