:root {
  --switch-width: 2.25rem;
  --switch-height: 1.25rem;
  --switch-border-radius: 0.75rem;
  --switch-spacing: 0.125rem;
  --switch-background: var(--color-grey-light);
  --switch-thumb-width: calc(var(--switch-height) - var(--switch-spacing) * 2);
}

.switch {
  position: relative;
  display: inline-flex;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.switch input {
  position: absolute;
  opacity: 0;
}

.switch input + span {
  @mixin all-transition;

  position: relative;
  display: inline-block;
  width: var(--switch-width);
  height: var(--switch-height);
  line-height: 1;
  background: var(--switch-background);
  border-radius: var(--switch-border-radius);
}

.switch input + span::after {
  display: block;
  content: '';
  background: var(--color-white);
  border-radius: var(--switch-border-radius);
  box-shadow: 0 2px 4px var(--color-line-grey);
}

.switch input + span::after,
.switch .loading :global(svg) {
  @mixin all-transition;

  position: absolute;
  top: var(--switch-spacing);
  left: var(--switch-spacing);
  width: var(--switch-thumb-width);
  height: var(--switch-thumb-width);
}

.switch input:checked {
  & + span {
    box-shadow: inset 0 0 0 var(--switch-height) var(--color-matters-green);
  }
}

.switch input:checked + span::after,
.switch input:checked + span + .loading :global(svg) {
  left: calc(
    var(--switch-width) - var(--switch-thumb-width) - var(--switch-spacing)
  );
}

.switch:hover,
.switch:focus {
  & input + span::after {
    box-shadow: 0 2px 4px var(--color-line-grey-dark);
  }
}
