.container {
  @mixin flex-start-space-between;
  @mixin border-bottom-grey;
  padding-bottom: var(--spacing-default);
  margin-bottom: var(--spacing-default);

  font-size: var(--font-size-sm);
}

.content {
  font-weight: var(--font-weight-normal);
}

.right {
  flex-shrink: 0;
  margin-left: var(--spacing-tight);

  & :global(time) {
    font-size: var(--font-size-sm);
  }
}

.delta {
  display: inline-block;

  margin-left: var(--spacing-x-tight);
  width: 5rem;

  font-weight: var(--font-weight-bold);
  text-align: right;

  &.green {
    color: var(--color-matters-green);
  }
  &.red {
    color: var(--color-red);
  }

  @media (--sm-up) {
    margin-left: var(--spacing-default);
  }
}
