.container {
  margin: var(--spacing-xx-tight) 0 var(--spacing-x-tight)
    var(--spacing-x-loose);

  color: var(--color-grey-dark);
  font-size: var(--font-size-sm-s);
  line-height: 1;
}

.reply-to {
  margin-right: var(--spacing-xx-tight);
}
