/* @styled-jsx=global */

@define-mixin flex-center-all {
  display: flex;
  align-items: center;
  justify-content: center;
}

@define-mixin inline-flex-center-all {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

@define-mixin flex-center-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@define-mixin flex-start-space-between {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

@define-mixin flex-end-space-between {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

@define-mixin font-serif {
  font-family: var(--font-serif-tc);

  &[lang='zh-Hans'] {
    font-family: var(--font-serif-sc);
  }
}

@define-mixin font-sans {
  font-family: var(--font-sans-tc);

  &[lang='zh-Hans'] {
    font-family: var(--font-sans-sc);
  }
}

@define-mixin border-grey {
  border: 1px solid var(--color-line-grey-light);
}

@define-mixin border-bottom-grey {
  border-bottom: 1px solid var(--color-line-grey-light);
}

@define-mixin border-top-grey {
  border-top: 1px solid var(--color-line-grey-light);
}

@define-mixin cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@define-mixin all-transition {
  transition: all 0.2s ease-in-out;
}

@define-mixin truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}

@define-mixin max-height-scroll {
  max-height: 50vh;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  @media (--lg-up) {
    max-height: 70vh;
  }
}

@define-mixin unread-dot {
  position: relative;

  &::after {
    @mixin all-transition;

    content: '';
    position: absolute;
    top: -1px;
    right: -1px;
    width: 0.5rem;
    height: 0.5rem;

    background: var(--color-matters-green);
    border-radius: 50%;
    transform: scale(0);
  }

  &.unread::after {
    transform: scale(1);
  }
}

@define-mixin unread-dot-loose {
  @mixin unread-dot;

  &::after {
    top: -0.25rem;
    right: calc((var(--spacing-x-tight) + 0.25rem) * -1);
  }
}

@define-mixin text-input {
  @mixin all-transition;

  padding: var(--spacing-x-tight) var(--spacing-tight);

  font-size: var(--font-size-sm); /* fallback */
  font-size: calc(var(--font-size-sm) + 1px);
  line-height: 1.5rem;

  background-color: var(--color-grey-lighter);
  border-top-right-radius: 0.15rem;
  border-top-left-radius: 0.15rem;
  border-bottom: 1px solid var(--color-grey-light);

  &:focus,
  &.focus {
    background-color: var(--color-bg-green);
    border-bottom-color: var(--color-matters-green);
  }

  &::placeholder {
    color: var(--color-grey);
    opacity: 1; /* Firefox */
  }
}

@define-mixin modal-button {
  @mixin all-transition;
  width: 50%;
  font-weight: var(--font-weight-medium);
  height: 3rem;
}

@define-mixin modal-button-inactive {
  position: relative;
  color: var(--color-black);
  background: var(--color-white);

  &:before {
    @mixin border-top-grey;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin-left: var(--spacing-x-tight);
  }

  &:hover {
    background: var(--color-grey-lighter);
  }
}

@define-mixin modal-button-active {
  color: var(--color-white);
  background: var(--color-matters-green);

  &:hover {
    background: var(--color-matters-green-hover);
  }
}
