/* @styled-jsx=global */

@define-mixin flex-center-all {
  display: flex;
  align-items: center;
  justify-content: center;
}

@define-mixin flex-center-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@define-mixin flex-start-space-between {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

@define-mixin border-bottom-grey {
  border-bottom: 1px solid var(--color-line-grey); /* fallback */
  border-bottom: 0.5px solid var(--color-line-grey);
}

@define-mixin border-top-grey {
  border-top: 1px solid var(--color-line-grey); /* fallback */
  border-top: 0.5px solid var(--color-line-grey);
}

@define-mixin cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@define-mixin all-transition {
  transition: all 0.2s ease-in-out;
}
