.title {
  padding: var(--sp24) var(--sp16) var(--sp16);
}

.item {
  @mixin flex-center-space-between;

  & .key {
    @mixin line-clamp;

    font-size: var(--text15);
    font-weight: var(--font-medium);
    line-height: 1.5rem;
    color: var(--color-black);
    word-break: break-all;
  }
}
