.descendants {
  padding-left: 2.5rem;

  & li {
    margin: var(--sp16) 0;

    & + li {
      padding-top: var(--sp4);
    }

    &:last-child {
      margin-bottom: 0;
    }

    &:not(:last-child) :global(article) {
      position: relative;
      padding: 0;

      &::before {
        position: absolute;
        top: calc(1.5rem + var(--sp8));
        left: calc(1.5rem / 2);
        width: 1px;
        height: 0;
        height: calc(100% - var(--sp16) - var(--sp8) + var(--sp4));
        content: '';
        background-color: var(--color-line-grey-light);
      }
    }
  }

  & .contentContainer {
    padding-left: var(--sp32);
    margin-top: var(--sp8);
  }
}
