li .item {
  @mixin flex-center-space-between;

  padding: var(--spacing-base);
  line-height: 1;

  & .title {
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-medium);
    line-height: 1rem;
  }

  &:hover,
  &:focus {
    & .rect {
      background: var(--color-grey-light);
    }
  }
}

.rect {
  @mixin inline-flex-center-all;

  position: relative;
  width: 2rem;
  height: 2rem;
  overflow: hidden;
  font-size: var(--font-size-sm);
  color: var(--color-grey-darker);
  background: var(--color-grey-lighter);
  border-radius: var(--spacing-x-tight);
  transition: background 0.2s ease-in-out;

  &.num {
    color: var(--color-black);
  }

  & :global(img) {
    @mixin object-fit-cover;
  }
}
