header {
  @mixin flex-center-start;

  @media (--sm-up) {
    align-items: center;
  }

  & .avatar {
    width: 3rem;
    height: 3rem;
    margin-right: var(--spacing-loose);

    border-radius: 50%;

    @media (--sm-up) {
      width: 5rem;
      height: 5rem;
    }
  }

  & .intro {
    font-size: var(--font-size-sm);

    & .sub {
      margin-top: var(--spacing-x-tight);
      color: var(--color-grey-dark);
    }
    & .hightlight {
      color: var(--color-matters-green);
    }

    @media (--sm-up) {
      font-size: var(--font-size-md);
      line-height: 2;

      & .sub {
        margin-top: 0;
      }
    }
  }
}
