.container {
  padding-top: var(--spacing-base);
  padding-bottom: var(--spacing-xxx-loose);
  background: var(--color-white);

  @media (--md-up) {
    padding-bottom: var(--spacing-xx-loose);
  }
}
