/* @styled-jsx=global */

.u-motion-icon-hover {
  @mixin all-transition;

  &:hover,
  &:focus {
    transform: scale(0.9);
  }
}

button:not([disabled]) > svg,
button:not([disabled]) > .text-icon > svg {
  @mixin all-transition;

  &:hover,
  &:focus {
    transform: scale(0.9);
  }
}
