.box {
  @mixin border-grey;

  padding: var(--sp16) 0 0;
  margin-bottom: var(--sp24);
  border-radius: var(--sp8);

  & .header {
    @mixin flex-center-space-between;

    padding: 0 var(--sp16);
  }
}

.campaignBlue {
  border-color: var(--color-campaign-blue-border);
}

.footerSpacing {
  padding-bottom: var(--sp16);
}

.subtitle {
  padding: 0 var(--sp16);
  margin-top: var(--sp4);
  font-size: var(--text12);
  font-weight: var(--font-normal);
  color: var(--color-grey);
}
