.slide {
  & h3 {
    margin: var(--spacing-default) 0 var(--spacing-tight);

    font-size: var(--font-size-lg);
    font-family: var(--font-serif-tc);
    font-weight: var(--font-weight-bold);
    text-align: center;

    &[lang='zh-hans'] {
      font-family: var(--font-serif-sc);
    }

    @media (--sm-up) {
      font-size: var(--font-size-xl);
    }
  }
}

.image-container {
  position: relative;

  & > .image {
    width: 100%;
    height: 98%;
  }

  & > .arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  & > .left {
    left: 0;
  }

  & > .right {
    right: 0;
  }
}

.indicator {
  @mixin flex-center-all;
  padding-bottom: var(--spacing-default);

  & button {
    margin: 0 var(--spacing-x-tight);
    width: 0.5rem;
    height: 0.5rem;

    border-radius: 50%;
    background-color: var(--color-grey-light);

    &:disabled {
      background-color: var(--color-grey-dark);
      opacity: 1;
    }
  }
}

.descriptions {
  position: relative;
  counter-reset: description-counter;

  & .description {
    position: relative;
    font-size: var(--font-size-sm);
    padding: 0 var(--spacing-tight) 0
      calc(var(--spacing-tight) + var(--spacing-loose));

    & + .description {
      margin-top: var(--spacing-tight);
    }

    &::before {
      counter-increment: description-counter;
      content: '0' counter(description-counter);
      position: absolute;
      top: 0;
      left: var(--spacing-tight);

      color: var(--color-grey-light);
      font-weight: var(--font-weight-bold);
      font-size: var(--font-size-sm);
    }

    @media (--sm-up) {
      padding: 0 var(--spacing-x-loose) 0 calc(var(--spacing-x-loose) * 2);

      &::before {
        left: var(--spacing-x-loose);
      }
    }
  }
}

.buttons {
  margin-top: var(--spacing-x-loose);

  & button {
    width: 50%;
    font-weight: var(--font-weight-medium);
    height: 3rem;
  }

  & button.save {
    position: relative;
    color: var(--color-black);

    &:before {
      @mixin border-top-grey;
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      margin-left: var(--spacing-x-tight);
    }
  }

  & button.publish {
    color: var(--color-white);
    background: var(--color-matters-green);
  }
}
