.slide {
  & :global(h3) {
    margin: var(--spacing-default) 0 var(--spacing-tight);
  }
}

.image-container {
  position: relative;
  border-bottom: 0.5px solid rgba(0,0,0,0.16);

  & .image {
    &::after {
      content: '';
      display: block;
      padding-bottom: 58%;
    }
  }
}

.title-container {
  padding: 0 4rem 1rem;
}

.subTitle {
  font-size: var(--font-size-sm);
}

.descriptions {
  position: relative;
  color: var(--color-grey-darker);

  & .description {
    position: relative;
    font-size: var(--font-size-sm);
    padding: 0 4rem;

    & + .description {
      margin-top: var(--spacing-tight);
    }

    &::before {
      content: '\2022';
      position: absolute;
      top: 0;
      left: 2.5rem;

      color: var(--color-matters-green);
      font-weight: var(--font-weight-bold);
      font-size: var(--font-size-sm);
    }
  }
}

.buttons {
  margin-top: var(--spacing-x-loose);

  & button {
    width: 50%;
    font-weight: var(--font-weight-medium);
    height: 3rem;
  }

  & button.save {
    position: relative;
    color: var(--color-black);

    &:before {
      @mixin border-top-grey;
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      margin-left: var(--spacing-x-tight);
    }
  }

  & button.publish {
    color: var(--color-white);
    background: var(--color-matters-green);
  }
}
