.header {
  @mixin flex-center-space-between;

  position: sticky;
  top: 0;
  z-index: var(--z-index-global-header);
  padding: var(--sp16);
  background-color: var(--color-white);

  @media (--sm-up) {
    padding: var(--sp16) var(--sp32);
  }

  & .headerRight {
    display: flex;
    gap: var(--sp24);
    align-items: center;
  }
}

.count {
  font-size: var(--text14);
  line-height: 1.375rem;
  color: var(--color-negative-red);
}

.publishButtons {
  @mixin transition;

  display: flex;
  align-items: center;
  background-color: var(--color-black);
  border-radius: 0.75rem;
  transition-property: opacity;

  &:hover {
    opacity: 0.85;
  }
}

.divider {
  display: inline-block;
  width: 1px;
  height: 0.875rem;
  background-color: var(--color-grey-scale-white-60);
}
