.title {
  padding-bottom: var(--spacing-base);
  border-bottom: 1px solid var(--color-line-grey);
}

.sidebar-title {
  color: var(--color-grey);
}

.author {
  margin-bottom: var(--spacing-base);
}

.date {
  margin-top: var(--spacing-x-tight);
}

.content {
  position: relative;
  padding: var(--spacing-loose) 0 0 0;
  margin-bottom: var(--spacing-loose);
  line-height: var(--line-height-article-base);
  border-bottom: 1px solid var(--color-line-grey);

  @media (--sm-up) {
    padding-left: var(--spacing-base);
    padding-right: var(--spacing-base);
  }
}
