.container {
  background-color: #fff;
  border-radius: 0.15rem;
  z-index: 200;
}

.header {
  @mixin flex-center-space-between;
  border-bottom: 1px solid var(--color-line-grey);
  margin: 0rem var(--spacing-x-tight);
  padding: 0.75rem var(--spacing-x-tight);
}

.content-wrapper {
  @mixin flex-center-all;
  margin: 0rem var(--spacing-x-tight);
  padding: 4rem var(--spacing-x-tight);

  & > .content {
    margin: 0rem;
  }

  @media (--sm-down) {
    & {
      padding: 2rem var(--spacing-x-tight);
    }
  }
}

.buttons {
  @mixin flex-center-space-between;
  padding-top: var(--spacing-x-tight);

  & > .previous {
    cursor: pointer;
    color: var(--color-matters-green);
    font-size: var(--font-size-sm);
    font-weight: 500;
  }
}

.complete {

  & > .message {
    @mixin flex-center-all;
    font-size: var(--font-size-xl);
  }

  & > .hint {
    @mixin flex-center-all;
    color: var(--color-grey-darker);
    padding: var(--spacing-tight) 0rem;
  }
}
