.container {
  background-color: #fff;
  border-radius: 0.15rem;
  padding: 0rem var(--spacing-x-tight);
  z-index: 200;
}

.header {
  @mixin flex-center-space-between;
  border-bottom: 1px solid var(--color-line-grey);
  padding: 0.75rem var(--spacing-x-tight);
}

.content-wrapper {
  @mixin flex-center-all;
  padding: 4rem var(--spacing-x-tight);

  & > .content {
    margin: 0rem;
  }

  @media (--sm-down) {
    & {
      padding: 2rem var(--spacing-x-tight);
    }
  }
}

.buttons {
  @mixin flex-center-space-between;
  padding-top: var(--spacing-x-tight);

  & > .previous {
    cursor: pointer;
    color: var(--color-matters-green);
    font-size: var(--font-size-sm);
    font-weight: 500;
  }
}
