.header {
  @mixin flex-center-space-between;
  @mixin border-bottom-grey;
  margin: 0rem var(--spacing-x-tight);
  padding: 0.75rem var(--spacing-x-tight);
}

.container {
  @mixin flex-center-all;
  padding: 4rem var(--spacing-tight);

  & > .content {
    margin: 0rem;
  }

  @media (--sm-down) {
    & {
      padding: var(--spacing-default) var(--spacing-tight);
    }
  }
}

.complete {
  & > .message {
    @mixin flex-center-all;
    font-size: var(--font-size-xl);
  }

  & > .hint {
    @mixin flex-center-all;
    color: var(--color-grey-darker);
    padding: var(--spacing-tight) 0rem;
  }
}
