.container {
  @mixin flex-start-space-between;

  gap: var(--sp4);
  padding: var(--sp16);
}

.campaignBlue {
  color: var(--color-campaign-blue);

  & .name {
    font-weight: var(--font-medium);
    color: var(--color-campaign-blue);
  }
}

.name {
  font-weight: var(--font-normal);
  line-height: 1rem;
  color: var(--color-grey-darker);

  &.text14 {
    font-size: var(--text14);
  }

  &.text16 {
    font-size: var(--text16);
  }
}

[aria-selected='true'] .name {
  font-weight: var(--font-medium);
  color: var(--color-black);
}

[aria-selected='false'] .name {
  font-weight: var(--font-normal);
}

.subtitle {
  margin-top: var(--sp4);
  font-size: var(--text12);
  line-height: 1.125rem;
  color: var(--color-grey);
}

.left {
  display: inline-flex;
  flex-direction: column;
}

.right {
  display: inline-flex;
}
