.container {
  @mixin flex-center-space-between;

  padding: var(--spacing-base);
  line-height: 1;
}

.name {
  font-size: var(--font-size-sm-s);
  font-weight: var(--font-weight-normal);
  line-height: 1rem;
}

/* [aria-selected='true'] .name {
  font-weight: var(--font-weight-medium);
} */

.subtitle {
  margin-top: var(--spacing-xx-tight);
  font-size: var(--font-size-xs);
  line-height: 1rem;
  color: var(--color-grey);
}

.left {
  display: inline-flex;
  flex-direction: column;
}

.right {
  display: inline-flex;
}
