.container {
  margin: 0rem var(--spacing-base) var(--spacing-loose);
}

.form {
  width: 100%;
}

.field {
  color: var(--color-grey-darker);
  font-size: var(--font-size-sm);
  margin: 0rem 0rem 0.5rem;
}

.search-tag-item {
  white-space: pre-wrap;
  text-align: left;
  line-height: 1.4;

  &.create {
    line-height: 2;

    & .hint {
      flex-shrink: 0;
    }
    & .keyword {
      margin-left: var(--spacing-xx-tight);
      color: var(--color-grey);
    }
  }
}

.search-tag-count {
  margin-left: var(--spacing-xx-tight);
  color: var(--color-grey);
}
