.container {
  margin: 0rem var(--spacing-base) var(--spacing-loose);
}

.form {
  width: 100%;
}

.field {
  color: var(--color-grey-darker);
  font-size: var(--font-size-sm);
  margin: 0rem 0rem 0.5rem;
}

.tag {
  display: inline-block;
  margin-right: var(--spacing-x-tight);
  margin-bottom: var(--spacing-x-tight);
  padding: 0 var(--spacing-x-tight);
  height: 1.5rem;

  font-size: var(--font-size-sm);
  color: var(--color-white);
  background: var(--color-matters-green);
  white-space: nowrap;

  & button {
    margin-left: var(--spacing-x-tight);
    font-size: 0;
  }
  & :global(> *) {
    display: inline-block;
    line-height: 1;
    vertical-align: middle;
  }
}

.search-tag-item {
  white-space: pre-wrap;
  text-align: left;
  line-height: 1.4;

  &.create {
    line-height: 2;

    & .hint {
      flex-shrink: 0;
    }
    & .keyword {
      margin-left: var(--spacing-xx-tight);
      color: var(--color-grey);
    }
  }
}

.search-tag-count {
  margin-left: var(--spacing-xx-tight);
  color: var(--color-grey);
}
