footer {
  @mixin flex-center-all;
  @mixin border-top-grey;
  margin-top: var(--spacing-tight);
  padding-top: var(--spacing-tight);

  color: var(--color-grey);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-medium);

  @media (--sm-up) {
    margin-top: var(--spacing-loose);
    padding-top: var(--spacing-loose);
  }
}

.complete {
  display: flex;
  flex-direction: column;

  & > .image {
    @mixin flex-center-all;
  }

  & > .content {
    color: var(--color-grey-darker);
    font-size: var(--font-size-sm);

    & > .title {
      @mixin flex-center-all;
      color: var(--color-black);
      font-size: var(--font-size-md);
      padding: var(--spacing-default) 0;
    }
  }

  & > .buttons {
    @mixin flex-center-all;
    padding-top: var(--spacing-default);
  }
}
