.field {
  margin: 0 0 0.5rem;
  font-size: var(--font-size-sm);
  color: var(--color-grey-darker);
}

.search-tag-item {
  @mixin flex-start-space-between;

  & .keyword,
  & .count {
    margin-left: var(--spacing-xx-tight);
    color: var(--color-grey);
  }
}

.count {
  margin-left: var(--spacing-xx-tight);
  color: var(--color-grey);
}
