header input {
  @mixin border-bottom-grey;
  margin-bottom: var(--spacing-default);
  padding-bottom: var(--spacing-tight);

  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-xl);
  line-height: 1.33333333;

  &::placeholder {
    color: var(--color-grey);
    opacity: 1; /* Firefox */
  }
}

.spacing {
  height: 3.8rem;
}

.timer {
  margin-left: 0.45rem;
}

.recall {
  display: flex;
  align-items: flex-end;

  & > button {
    font-size: var(--font-size-sm);
    line-height: 1.8;
    opacity: 0.7;
  }
}
