.container {
  display: flex;
  gap: var(--sp16);
  align-items: center;
  justify-content: space-between;
  width: 100%;

  & .left {
    display: flex;
    flex-direction: column;
    gap: var(--sp4);
    align-items: flex-start;
    font-size: var(--text14);
    line-height: 1.375rem;

    & .title {
      font-weight: var(--font-medium);
    }

    & .tags {
      display: flex;
      flex-wrap: wrap;
      gap: var(--sp8);
    }

    & .name {
      padding: var(--sp4) var(--sp8);
      color: var(--color-grey-darker);
      background: var(--color-grey-lighter);
    }
  }

  &:hover {
    & .name {
      color: var(--color-black);
    }
  }
}
