.container {
  & .tabs {
    display: flex;
    gap: var(--sp16);
    margin-top: var(--sp32);

    & .tabItem {
      width: 4.75rem;
      height: 2rem;
      padding: 0.5625rem 0.625rem;
      background-color: var(--color-grey-lighter);
      border-radius: 0.5rem;
    }
  }

  & .feed {
    display: flex;
    flex-direction: column;
    gap: var(--sp16);
    margin-top: var(--sp16);
  }
}

.item {
  display: flex;
  gap: var(--sp32);
  padding: var(--sp12) 0;

  & .left {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: var(--sp10);

    & .title {
      width: 100%;
      height: 1rem;
      background-color: var(--color-grey-lighter);
    }

    & .content {
      width: 9.375rem;
      height: 1rem;
      background-color: var(--color-grey-lighter);
    }
  }

  & .image {
    width: 4rem;
    height: 4rem;
    background-color: var(--color-grey-lighter);
    border-radius: 0.25rem;
  }
}
