.container {
  display: inline-block;

  color: var(--color-matters-green);
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-medium);
  line-height: 1.16666667;
  text-align: center;
}

.appreciate-button {
  position: relative;

  &.circle {
    width: 3rem;
    height: 3rem;

    border-radius: 50%;
    border: 1.5px solid var(--color-matters-green);
    background: var(--color-white);
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.08),
      0 4px 12px 0 rgba(0, 0, 0, 0.08);

    &:hover {
      background: var(--color-bg-green);
    }
  }
}

.count {
  @mixin flex-center-all;

  position: absolute;
  top: -0.25rem;
  right: -0.25rem;
  width: 1rem;
  height: 1rem;

  color: var(--color-white);
  font-size: calc(var(--font-size-xs) - 1px);
  font-weight: var(--font-weight-bold);
  line-height: 1rem;

  background: var(--color-matters-green);
  border-radius: 50%;

  &.max {
    font-size: 6px;
  }
}

.total {
  display: block;
  margin-top: var(--spacing-xx-tight);

  &.inFixedToolbar {
    display: inline-block;
    margin-top: 0;
    margin-left: var(--spacing-x-tight);

    font-weight: var(--font-weight-medium);
    vertical-align: middle;
    line-height: 1;
  }
}
