/* @styled-jsx=global */

.clap {
  &:hover {
    & .icon-like {
      will-change: transform;
      transition: transform 0.15s ease-in;
      transform: scale(1) !important;
    }

    & .clap-explode svg {
      will-change: transform, opacity;
    }
  }

  &.clap-hand-zoom-in {
    & .icon-like {
      transform: scale(1.15) !important;
    }
  }
}

.clap-explode {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  & svg {
    width: 22px;
    height: 22px;
    animation: explode-1 0.5s ease-in forwards;
  }

  &:nth-of-type(5n + 1) svg {
    animation-name: explode-1;
  }
  &:nth-of-type(5n + 2) svg {
    animation-name: explode-2;
  }
  &:nth-of-type(5n + 3) svg {
    animation-name: explode-3;
  }
  &:nth-of-type(5n + 4) svg {
    animation-name: explode-4;
  }
  &:nth-of-type(5n + 5) svg {
    animation-name: explode-5;
  }
}

@keyframes explode-1 {
  0% {
    transform: scale(1);
  }

  30% {
    transform: scale(3);
  }

  100% {
    transform: scale(3);
    opacity: 0;
  }
}

@keyframes explode-2 {
  0% {
    transform: scale(1);
  }

  30% {
    transform: scale(-3.6) rotate(13deg);
  }

  100% {
    transform: scale(-3.6) rotate(13deg);
    opacity: 0;
  }
}

@keyframes explode-3 {
  0% {
    transform: scale(1);
  }

  30% {
    transform: scale(4.3) rotate(-10deg);
  }

  100% {
    transform: scale(4.3) rotate(-10deg);
    opacity: 0;
  }
}

@keyframes explode-4 {
  0% {
    transform: scale(1);
  }

  30% {
    transform: scale(4) rotate(3deg);
  }

  100% {
    transform: scale(4) rotate(3deg);
    opacity: 0;
  }
}

@keyframes explode-5 {
  0% {
    transform: scale(1);
  }

  30% {
    transform: scale(3.3) rotate(-17deg);
  }

  100% {
    transform: scale(3.3) rotate(-17deg);
    opacity: 0;
  }
}
