.container {
  display: inline-block;

  color: var(--color-matters-green);
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-medium);
  line-height: 1.16666667;
  text-align: center;
}

.active {
  & .appreciate-button {
    background: var(--color-white);
  }
}

.inactive {
  & .appreciate-button {
    cursor: not-allowed;
  }
}

.unlogged {
  & .appreciate-button:active {
    background: var(--color-white);
    color: var(--color-matters-green);
  }
}

.appreciate-button {
  position: relative;

  width: 3rem;
  height: 3rem;

  border-radius: 50%;
  border: 2px solid var(--color-matters-green);
  background: var(--color-white);
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.08), 0 4px 12px 0 rgba(0, 0, 0, 0.08);
}

.appreciate-count {
  display: block;
  margin-top: var(--spacing-xx-tight);
}

.appreciated-count {
  @mixin flex-center-all;

  position: absolute;
  right: -0.15rem;
  bottom: -0.15rem;
  width: 1rem;
  height: 1rem;

  color: var(--color-white);
  font-size: calc(var(--font-size-xs) - 1px);
  font-weight: var(--font-weight-bold);
  line-height: 1rem;

  background: var(--color-matters-green);
  border-radius: 50%;

  &.max {
    font-size: 6px;
  }
}
