.container {
  display: inline-block;
  padding-top: var(--spacing-x-tight);
  padding-left: var(--spacing-base);
  line-height: inherit;
  text-align: left;
}

.avatar-list {
  & :global(.avatar) {
    position: relative;
    border: 2px solid var(--color-white);

    & + :global(.avatar) {
      margin-left: calc(var(--spacing-x-tight) * -1);
    }

    &:nth-child(1) {
      z-index: 5;
    }

    &:nth-child(2) {
      z-index: 4;
    }

    &:nth-child(3) {
      z-index: 3;
    }

    &:nth-child(4) {
      z-index: 2;
    }

    &:nth-child(5) {
      z-index: 1;
    }
  }
}

.dialog-donator-list {
  padding: var(--spacing-tight) 0;
}
