.tags-intro {
  margin: var(--spacing-base) 0;

  color: var(--color-grey);
  font-size: var(--font-size-xs);
}

.tag {
  display: inline-block;
  margin-right: var(--spacing-x-tight);
  margin-bottom: var(--spacing-x-tight);
  padding: 0 var(--spacing-x-tight);
  height: 1.5rem;

  font-size: var(--font-size-sm);
  color: var(--color-white);
  background: var(--color-matters-green);
  white-space: nowrap;

  & :global(> *) {
    display: inline-block;
    line-height: 1;
    vertical-align: middle;
  }
  & :global(> * + *) {
    margin-left: var(--spacing-xx-tight);
  }
}

.search-tag-input {
  display: inline-block;
  height: 1.5rem;
  width: 5rem;

  font-size: var(--font-size-sm);
  line-height: 1.5rem;
  color: var(--color-black);

  &::placeholder {
    color: var(--color-grey);
    opacity: 1; /* Firefox */
  }
}

.search-tag-item {
  & .keyword,
  & .count {
    margin-left: var(--spacing-xx-tight);
    color: var(--color-grey);
  }
}
