.footer {
  margin-top: var(--spacing-x-tight);
}

.spaceXTight {
  margin-top: var(--spacing-x-tight);
}

.spaceBase {
  margin-top: var(--spacing-base);
}

.spaceBaseLoose {
  margin-top: var(--spacing-base-loose);
}

.hint {
  font-size: var(--font-size-xs);
  color: var(--color-grey);
}

.hintSizeSm {
  font-size: var(--font-size-sm);
  line-height: 1.375rem;
}

.error {
  color: var(--color-red);
}

.alignCenter {
  text-align: center;
}

.alignRight {
  text-align: right;
}
