.container {
  @mixin form-container;

  @media (--sm-up) {
    margin-right: var(--spacing-base);
    margin-left: var(--spacing-base);
  }

  & :global(.field) {
    margin-top: 0;
    margin-bottom: 0;
  }
}
