.recommendedTags {
  padding: 0 var(--sp16);
  margin: var(--sp16) 0;
}

.hint {
  font-size: var(--text13);
  line-height: 1.125rem;
  color: var(--color-grey);
}

.tagList {
  margin-top: var(--sp16);

  & li {
    display: inline-block;
    margin-right: var(--sp12);
    margin-bottom: var(--sp16);
    line-height: 1.25rem;
  }
}
