form {
  position: relative;
}

.content {
  padding: var(--spacing-base);
  margin-bottom: var(--spacing-tight);
  background: var(--color-grey-lighter);
  border-radius: var(--spacing-base);

  & :global(.ql-editor) {
    min-height: 7rem;
  }
}

footer {
  text-align: right;
}
