.container {
  @mixin flex-center-space-between;

  padding: var(--sp8) var(--sp16);
  margin-top: var(--sp16);
  background: var(--color-grey-lighter);
  border-radius: var(--sp8);
}

.left {
  @mixin flex-center-start;

  & > * + * {
    margin-left: var(--sp8);
  }
}

.right {
  @mixin flex-center-end;
}
