.container {
  @mixin hide-scrollbar;

  position: relative;

  @media (--sm-up) {
    width: 40.5rem;
    max-height: 80vh;
    overflow-y: auto;
  }
}

.header {
  @mixin flex-start-space-between;

  position: sticky;
  top: 0;
  z-index: 2;
  padding: var(--sp16) var(--sp16) var(--sp12);
  background: var(--color-white);

  @media (--sm-up) {
    padding: var(--sp24) var(--sp24) var(--sp12);
  }

  & > section {
    flex-grow: 1;
  }
}

.contentContainer {
  margin-top: var(--sp12);
}

.mainContent {
  @mixin border-bottom-grey;

  padding: 0 var(--sp16) var(--sp16);
  border-bottom-color: var(--color-grey-hover);

  @media (--sm-up) {
    padding: 0 var(--sp24) var(--sp24);
  }

  .assets {
    margin-top: var(--sp12);
  }
}

.comments {
  padding: var(--sp16);

  @media (--sm-up) {
    padding: var(--sp24);
  }

  & .title {
    margin-bottom: var(--sp8);
    font-size: var(--text15);
    line-height: 1.75;
    color: var(--color-black);

    @media (--sm-up) {
      margin-bottom: var(--sp12);
    }

    & .count {
      color: var(--color-grey-dark);
    }
  }

  & :global(.endOfResults) {
    &:has(> .eof) {
      /* moment comment form height + 40px */
      padding-bottom: calc(38px + var(--sp40));

      @media (--sm-up) {
        padding-bottom: 0;
      }
    }

    &:has(> .eofEditing) {
      /* moment comment form height + 40px */
      padding-bottom: calc(138px + var(--sp40));

      @media (--sm-up) {
        padding-bottom: 0;
      }
    }
  }

  & .commentNode {
    margin: var(--sp16) 0;

    @media (--sm-up) {
      margin: var(--sp24) 0;
    }
  }

  &.commentsPlaceholder {
    height: 13rem;
  }
}

.footer {
  @mixin border-top-grey-light;
  @mixin flex-center-start;

  position: sticky;
  bottom: 0;
  z-index: 2;
  gap: var(--sp10);
  padding: var(--sp16) var(--sp24) var(--sp16) var(--sp14);
  background: var(--color-white);
  border-top-color: var(--color-grey-hover);

  @media (--sm-down) {
    position: fixed;
    bottom: 0;
    z-index: var(--z-index-bottom-bar);
    width: 100%;
    padding: var(--sp16);
    background: var(--color-white);
  }

  &.editing {
    padding: var(--sp16);

    @media (--sm-up) {
      padding: var(--sp16) var(--sp24);
    }
  }

  & .likeButton {
    @mixin flex-center-all;

    @media (--sm-up) {
      padding: 0 var(--sp10);
    }
  }
}

.error {
  @media (--sm-up) {
    padding: var(--sp24);
  }
}
