.head {
  @mixin flex-center-space-between;

  padding: var(--spacing-loose) var(--spacing-base) 0;
  margin-bottom: var(--spacing-base);

  @media (--sm-up) {
    padding: var(--spacing-base) 0 0;
  }
}

.h2 {
  line-height: 1;
}
