.splash-screen {
  @mixin flex-center-all;

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: var(--z-index-splash-screen);
  background: var(--color-white);

  & :global(> svg) {
    width: 192px;
    height: auto;

    @media (--sm-up) {
      width: 256px;
    }

    @media (--lg-up) {
      width: 347px;
    }
  }
}
