.btn {
  @mixin all-transition;
  display: inline-block;
  height: 3rem;

  line-height: 3rem;
  font-weight: var(--font-weight-medium);
  vertical-align: middle;
  text-align: center;
}

.width-half {
  width: 50%;
}

.width-full {
  width: 100%;
}

.bg-white {
  position: relative;
  color: var(--color-black);
  background: var(--color-white);

  &:before {
    @mixin border-top-grey;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin-left: var(--spacing-x-tight);
  }

  &:hover {
    background: var(--color-grey-lighter);
  }
}

.bg-green {
  color: var(--color-white);
  background: var(--color-matters-green);

  &:hover {
    background: var(--color-matters-green-hover);
  }
}
