.container {
  @mixin flex-center-all;
  position: relative;
}

.uploader {
  @mixin flex-center-all;
  @mixin cover;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  color: var(--color-matters-green);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-medium);
}

.button {
  @mixin flex-center-all;

  & > .hint {
    @media(--sm-down) {
      display: none;
    }
  }
}

.input {
  @mixin flex-center-all;
  @mixin cover;

  cursor: pointer;
  opacity: 0;
}

.error {
  position: absolute;
  bottom: -1.5rem;

  color: var(--color-red);
  font-size: var(--font-size-xs);

  @media(--sm-down) {
    left: 0;
    bottom: -1.3rem;
    width: 8rem;
  }
}
