main {
  padding-top: 7rem;
  padding-bottom: 1rem;
}

.container {
  @mixin flex-center-all;
  border: 1px solid var(--color-line-grey-light);
  border-radius: 0.125rem;
  padding: 4rem 0;
  background: var(--color-white);

  @media (--sm-down) {
    & {
      padding: var(--spacing-loose) var(--spacing-tight);
    }
  }
}
