.container {
  display: flex;
  flex-direction: column;
}

.info {
  padding: var(--spacing-x-tight) var(--spacing-base);
  text-align: center;
}

.to {
  margin-top: var(--spacing-base);
  margin-bottom: var(--spacing-base);
  font-size: var(--font-size-md-s);
}

.recipient {
  margin-top: var(--spacing-x-tight);
  color: var(--color-black);
}

.amount {
  margin-top: var(--spacing-base);
  font-size: var(--font-size-xl);
  line-height: 1;
}

.hint {
  margin: var(--spacing-base) var(--spacing-base);
  font-size: var(--font-size-sm);
  text-align: center;
}

.forgetPassword {
  @mixin transition;

  margin: var(--spacing-loose) 0;
  font-size: var(--font-size-xs);
  color: var(--color-grey-darker);
  text-align: center;
  transition-property: color;

  &:focus,
  &:hover {
    color: var(--color-black);
  }
}
