.email-title {
  word-break: keep-all;
}

.email-text {
  @mixin line-clamp;

  /* FIXME: fix cropped descenders of letters  */
  padding-bottom: 0.12em;
  padding-left: var(--spacing-base);
  margin-bottom: -0.12rem;
}
