header {
  @mixin flex-center-space-between;

  & .left {
    @mixin inline-flex-center-all;

    & .reply-to {
      margin-left: var(--spacing-x-tight);
      font-size: var(--font-size-sm);
      color: var(--color-grey);
    }
  }
}

.article-title {
  margin: var(--spacing-x-tight) 0;
}
