.header {
  padding: 0 var(--sp16);
  margin-top: var(--sp20);

  @media (--sm-up) {
    padding: 0;
    margin-top: var(--sp32);
  }
}

.cover {
  position: relative;
  overflow: hidden;
  border-radius: 1.25rem;

  & img {
    @mixin object-fit-cover;

    background-color: var(--color-grey-lighter);
  }

  &::after {
    display: block;
    padding-bottom: 23.26%;
    content: '';
  }
}

.title {
  @mixin flex-center-space-between;

  margin-top: var(--sp24);

  & .name {
    font-size: var(--text24);
    font-weight: var(--font-medium);
    line-height: 2.25rem;
  }

  & .apply {
    display: none;

    @media (--md-up) {
      display: block;
    }
  }
}

.meta {
  @mixin flex-center-space-between;

  margin-top: var(--sp8);
  font-size: var(--text15);
  line-height: 1.733rem;

  & .left {
    @mixin flex-start-center;
  }

  & .period {
    display: inline-block;
  }
}

.description {
  margin-top: var(--sp8);
  font-size: var(--text15);
  line-height: 1.733rem;
  color: var(--color-grey-dark);
  white-space: pre-wrap;
}

.extra {
  @mixin flex-center-start;

  margin-top: var(--sp8);
}

.mobileApply {
  margin-top: var(--sp24);

  @media (--md-up) {
    display: none;
  }
}
