.svg {
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.xAxis,
.yAxis {
  & text {
    font-size: var(--text12);
    color: var(--color-grey);
  }
}

.xAxis {
  & :global(.tick:first-of-type) text {
    text-anchor: start;
  }

  & :global(.tick:last-of-type) text {
    text-anchor: end;
  }
}

.yAxis {
  & line {
    stroke: rgb(13 103 99 / 8%);
  }
}
