.empty {
  padding: var(--sp64) var(--sp16);
  font-size: var(--font-size-md);
  line-height: 1.5rem;
  color: var(--color-grey-light);
  text-align: center;

  & footer {
    margin-top: var(--sp24);
  }
}

.description {
  margin-top: var(--sp16);
  color: var(--color-grey);
}

.spacingYLoose {
  padding-top: var(--sp24);
  padding-bottom: var(--sp24);
}

.spacingYXxloose {
  padding-top: var(--sp40);
  padding-bottom: var(--sp40);
}

.spacingYXxxloose {
  padding-top: var(--sp64);
  padding-bottom: var(--sp64);
}
