.authorWidget {
  margin: var(--sp16) var(--sp16) 0;

  @media (--sm-up) {
    margin-right: 0;
    margin-left: 0;
  }
}

.pinnedBroadcast {
  position: relative;
  margin-top: var(--sp16);

  & .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 1.5rem;
    height: 1.5rem;
  }

  & :global(.u-content-comment) {
    text-indent: 2rem;
  }
}
