.content {
  text-align: center;

  & :global(h3) {
    font-size: var(--font-size-md);
    line-height: 2rem;
    text-align: center;
  }
  & :global(p) {
    color: var(--color-grey-dark);
    font-size: var(--font-size-md-s);
    line-height: 1.5rem;
  }
  & :global(h3 + p, p + p) {
    margin-top: var(--spacing-tight);
  }
}

.error {
  & :global(h3) {
    color: var(--color-red);
  }
}

.align-left {
  text-align: left;
}

.spacing-md {
  padding: var(--spacing-base) 0;
}
