.content {
  text-align: center;

  & :global(h2) {
    font-size: var(--font-size-xm);
  }

  & :global(h3) {
    font-size: var(--font-size-md);
    line-height: 2rem;
  }

  & :global(p) {
    font-size: var(--font-size-md-s);
    line-height: 1.5rem;
    color: var(--color-grey-dark);
  }

  & :global(h2 + p, h3 + p, p + p) {
    margin-top: var(--spacing-tight);
  }

  & :global(ul),
  & :global(ol) {
    padding-left: var(--spacing-loose);
    font-size: var(--font-size-md-s);
    line-height: 1.5rem;
    color: var(--color-grey-dark);
  }

  & :global(li) {
    padding-left: var(--spacing-xx-tight);
    margin: var(--spacing-x-tight) 0;
  }

  & :global(ul) {
    margin: var(--spacing-base) 0;
    list-style-type: disc;
  }

  & :global(ol) {
    margin: var(--spacing-base) 0;
    list-style-type: decimal;
  }
}

.error {
  & :global(h3) {
    color: var(--color-red);
  }
}

.info {
  & :global(h3),
  & :global(p),
  & :global(ul),
  & :global(ol) {
    color: var(--color-black);
  }
}

.align-left {
  text-align: left;
}

.spacing-md {
  padding: var(--spacing-base) 0;
}

.spacing-xxl {
  padding: var(--spacing-xx-loose) 0;
}
