.container {
  @mixin border-bottom-grey;
  @mixin flex-start-space-between;
  padding-bottom: var(--spacing-base);
  margin-bottom: var(--spacing-base);
  font-size: 0;
}

.content {
  flex-grow: 1;
  margin-left: var(--spacing-base);
}

.header-container {
  @mixin flex-start-space-between;
}
.header-left {
  display: flex;
  align-items: center;
}

.name {
  padding-right: var(--spacing-base);

  color: var(--color-black);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-medium);
  line-height: 1.25;

  &.small {
    font-size: var(--font-size-md-s);
    line-height: 1.33333333;
  }
}

.name-shrink {
  padding-right: 0.56rem;
}

.description {
  padding-top: var(--spacing-xxx-tight);

  color: var(--color-grey);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-medium);

  display: -webkit-box;
  -webkit-line-clamp: 1;
  /* autoprefixer: ignore next */
  -webkit-box-orient: vertical;
  overflow: hidden;
}
