.container {
  display: flex;
  flex-direction: column;
}

.head {
  display: flex;
  flex-direction: row;
  margin-bottom: var(--sp8);
}

.wrap {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  margin-left: var(--sp16);

  & .name {
    @mixin line-clamp;

    margin-bottom: var(--sp4);
    font-size: var(--text16);
    font-weight: var(--font-medium);
  }
}

.content {
  display: flex;
  flex-direction: column;

  & .description {
    @mixin line-clamp;

    display: flex;
    flex-grow: 1;
    height: 2.75rem;
    margin-bottom: var(--sp12);
    -webkit-line-clamp: 2;
    font-size: var(--text14);
    color: var(--color-grey-dark);
  }
}

.footer {
  @mixin inline-flex-center-all;

  & > * + * {
    padding-left: var(--sp16);
  }
}
