.container {
  display: flex;
  flex-direction: column;
}

.head {
  display: flex;
  flex-direction: row;
  margin-bottom: var(--spacing-x-tight);
}

.wrap {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: var(--spacing-base);

  & .name {
    @mixin line-clamp;

    margin-bottom: var(--spacing-xx-tight);
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-medium);
  }
}

.content {
  display: flex;
  flex-direction: column;

  & .description {
    @mixin line-clamp;

    display: flex;
    flex-grow: 1;
    height: 2.75rem;
    margin-bottom: var(--spacing-tight);
    font-size: var(--font-size-sm);
    color: var(--color-grey-dark);
    -webkit-line-clamp: 2;
  }
}

.footer {
  @mixin inline-flex-center-all;

  & > * + * {
    padding-left: var(--spacing-base);
  }
}
