.defalut {
  @mixin border-grey-light;
  @mixin flex-center-start;

  font-size: var(--text15);
  line-height: 1.75;
  color: var(--color-grey);
  cursor: pointer;
  border-radius: var(--sp8);

  & .imageButton {
    @mixin flex-center-all;

    padding: var(--sp12);
  }

  & .activeButton {
    @mixin flex-center-start;

    flex-grow: 1;
    height: 2.875rem;
  }
}

.form {
  position: relative;
  padding-bottom: var(--sp12);
  overflow: hidden;
  outline: 1px solid var(--color-grey);
  border-radius: var(--sp8);

  &.dragging {
    outline: 3px dashed var(--color-matters-green);
  }
}

.content {
  @mixin hide-scrollbar;

  min-height: 3rem;
  max-height: calc(24px + 3.5 * 26.25px);
  padding: 0 var(--sp12) var(--sp4);
  margin-bottom: var(--sp8);
  overflow: scroll;
}

.footer {
  @mixin flex-end-space-between;

  gap: var(--sp4);
  padding: 0 var(--sp8);

  & .right {
    @mixin flex-center-all;

    & .count {
      padding-right: var(--sp20);
      font-size: var(--text14);
      line-height: 1.375rem;
      color: var(--color-grey-light);

      &.over {
        color: var(--color-negative-red);
      }
    }

    & .line {
      width: 1px;
      height: 1.375rem;
      margin-right: var(--sp16);
      background-color: var(--color-grey-light);
    }
  }
}
