.article {
  font-size: var(--text24);
  font-weight: var(--font-weight-article-title);
  line-height: 1.5;
  letter-spacing: 1.2px;

  @media (--md-up) {
    font-size: var(--font-size-article-title);
    line-height: var(--line-height-article-title);
  }
}

.feed {
  font-size: var(--font-size-feed-title);
  font-weight: var(--font-weight-feed-title);
  line-height: var(--line-height-feed-title);
}

.nav {
  font-size: var(--text20);
  font-weight: var(--font-semibold);
  line-height: 1.6;
}

.base {
  font-size: var(--text16);
  font-weight: var(--font-medium);
  line-height: var(--line-height-base);
}
