.article {
  font-size: var(--font-size-article-title);
  font-weight: var(--font-weight-article-title);
  line-height: var(--line-height-article-title);
}

.feed {
  font-size: var(--font-size-feed-title);
  font-weight: var(--font-weight-feed-title);
  line-height: var(--line-height-feed-title);
}

.sidebar {
  font-size: var(--font-size-md-s);
  font-weight: var(--font-weight-medium);
  line-height: 1.6;
}

.nav {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-semibold);
  line-height: 1.6;
}
