.feature {
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-xl);
  line-height: 1.5;
}

.article {
  font-size: var(--font-size-article-title);
  line-height: var(--line-height-article-title);
  font-weight: var(--font-weight-article-title);
}

.feed {
  font-size: var(--font-size-feed-title);
  line-height: var(--line-height-feed-title);
  font-weight: var(--font-weight-feed-title);
}

.modal {
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-xm);
  line-height: 1.77777778;
}

.modal-headline {
  @mixin font-serif;

  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);
  text-align: center;

  @media (--sm-up) {
    font-size: var(--font-size-xl);
  }
}

.sidebar {
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-md-s);
  line-height: 1.6;
}

.nav {
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-lg);
  line-height: 1.6;
}
