.container {
  @mixin flex-center-start;

  &:not(.disabled) {
    &:hover,
    &:focus {
      & .displayname {
        text-decoration: underline;
      }
    }
  }
}

.name {
  display: flex;
  flex-wrap: wrap;

  &.directionRow {
    flex-direction: row;
    align-items: center;
  }

  &.directionColumn {
    flex-direction: column;
    align-items: flex-start;

    & .displayname,
    & .username {
      line-height: 1.25;
    }

    & .username {
      margin-left: 0;
    }
  }
}

.displayname {
  @mixin line-clamp;

  line-height: 1.25;
}

.username {
  @mixin line-clamp;

  margin-left: var(--spacing-xx-tight);
  font-size: var(--font-size-sm);
  line-height: 1.25;
  color: var(--color-grey);
}

.textSizeXs {
  font-size: var(--font-size-xs);
}

.textSizeSmS {
  font-size: var(--font-size-sm-s);
}

.textSizeSm {
  font-size: var(--font-size-sm);
}

.textSizeMd {
  font-size: var(--font-size-md);
}

.textSizeMdS {
  font-size: var(--font-size-md-s);
}

.textWeightMd {
  font-weight: var(--font-weight-medium);
}

.nameColorBlack {
  & .displayname {
    color: var(--color-black);
  }
}

.nameColorWhite {
  & .displayname {
    color: var(--color-white);
  }
}

.nameColorGreyDarker {
  & .displayname {
    color: var(--color-grey-darker);
  }
}

.nameColorGreen {
  & .displayname {
    color: var(--color-matters-green);
  }
}

.spacingXtight {
  &.hasAvatar .name {
    margin-left: var(--spacing-x-tight);
  }
}

.spacingXxtight {
  &.hasAvatar .name {
    margin-left: var(--spacing-xx-tight);
  }
}
