.container {
  @mixin flex-center-start;
}

.name {
  display: flex;
  flex-wrap: wrap;

  &.nameNoWrap {
    flex-wrap: nowrap;
  }

  &.directionRow {
    flex-direction: row;
    align-items: center;
  }

  &.directionColumn {
    flex-direction: column;
    align-items: flex-start;

    & .displayname,
    & .username {
      line-height: 1.25;
    }

    & .username {
      margin-left: 0;
    }
  }
}

.displayname {
  @mixin line-clamp;
}

.username {
  @mixin line-clamp;

  margin-left: var(--sp4);
  font-size: var(--text14);
  line-height: 1.57;
  color: var(--color-grey);
}

/* 12px */
.text12 {
  font-size: var(--text12);
  line-height: 1.125rem;
}

/* 13px */
.text13 {
  font-size: var(--text13);
  line-height: 1.25;
}

/* 14px */
.text14 {
  font-size: var(--text14);
  line-height: 1.375rem;
}

/* 15px */
.text15 {
  font-size: var(--text15);
  line-height: 1.25;
}

/* 16px */
.text16 {
  font-size: var(--text16);
  line-height: 1.5rem;
}

.fontMedium {
  font-weight: var(--font-medium);
}

.fontSemibold {
  font-weight: var(--font-semibold);
}

.nameColorBlack {
  & .displayname {
    color: var(--color-black);
  }
}

.nameColorWhite {
  & .displayname {
    color: var(--color-white);
  }
}

.nameColorGrey {
  & .displayname {
    color: var(--color-grey);
  }
}

.nameColorGreyDarker {
  & .displayname {
    color: var(--color-grey-darker);
  }
}

.nameColorGreen {
  & .displayname {
    color: var(--color-matters-green);
  }
}

.spacing8 {
  &.hasAvatar .name {
    margin-left: var(--sp8);
  }
}

.spacing6 {
  &.hasAvatar .name {
    margin-left: var(--sp6);
  }
}

.spacing4 {
  &.hasAvatar .name {
    margin-left: var(--sp4);
  }
}
