.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  & :global(.avatar) {
    flex-shrink: 0;
  }
}

.name {
  color: var(--color-black);
  line-height: 1;
}

.name-container {
  display: flex;
  flex-wrap: wrap;
}

.username {
  margin-left: var(--spacing-xx-tight);
  font-size: var(--font-size-sm);
  color: var(--color-grey);
  line-height: 1;
}

.spacing-xtight {
  & .name {
    padding-left: var(--spacing-x-tight);
  }
}

.spacing-xxtight {
  & .name {
    padding-left: var(--spacing-xx-tight);
  }
}

.text-md {
  font-weight: var(--font-weight-md);
}

.text-sm {
  font-size: var(--font-size-sm);
}

.text-sm-s {
  font-size: var(--font-size-sm-s);
}

.text-xs {
  font-size: var(--font-size-xs);
}
