.container {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
}

.name {
  display: flex;
  flex-wrap: wrap;

  &.direction-row {
    flex-direction: row;
  }
  &.direction-column {
    flex-direction: column;
    align-items: flex-start;

    & .displayname,
    & .username {
      line-height: 1.25;
    }
    & .username {
      margin-left: 0;
    }
  }
}
.hasAvatar .name {
  margin-left: var(--spacing-x-tight);
}
.displayname {
  color: var(--color-black);
  line-height: 1;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}
.username {
  margin-left: var(--spacing-xx-tight);

  font-size: var(--font-size-sm);
  color: var(--color-grey);
  line-height: 1;
}

.text-size-xs {
  font-size: var(--font-size-xs);
}
.text-size-sm-s {
  font-size: var(--font-size-sm-s);
}
.text-size-sm {
  font-size: var(--font-size-sm);
}
.text-size-md {
  font-size: var(--font-size-md);
}
.text-size-md-s {
  font-size: var(--font-size-md-s);
}
.text-weight-md {
  font-weight: var(--font-weight-medium);
}
