.container {
  @mixin flex-center-start;

  &.hasAvatar .name {
    margin-left: var(--spacing-x-tight);
  }
  &:not(.disabled) {
    &:hover,
    &:focus {
      & .displayname {
        text-decoration: underline;
      }
    }
  }
}

.name {
  display: flex;
  flex-wrap: wrap;

  &.direction-row {
    flex-direction: row;
    align-items: center;
  }
  &.direction-column {
    flex-direction: column;
    align-items: flex-start;

    & .displayname,
    & .username {
      line-height: 1.25;
    }
    & .username {
      margin-left: 0;
    }
  }
}

.displayname {
  line-height: 1;
}
.username {
  margin-left: var(--spacing-xx-tight);

  font-size: var(--font-size-sm);
  color: var(--color-grey);
  line-height: 1;
}

.text-size-xs {
  font-size: var(--font-size-xs);
}
.text-size-sm-s {
  font-size: var(--font-size-sm-s);
}
.text-size-sm {
  font-size: var(--font-size-sm);
}
.text-size-md {
  font-size: var(--font-size-md);
}
.text-size-md-s {
  font-size: var(--font-size-md-s);
}
.text-weight-md {
  font-weight: var(--font-weight-medium);
}

.name-color-black {
  & .displayname {
    color: var(--color-black);
  }
}
.name-color-white {
  & .displayname {
    color: var(--color-white);
  }
}
.name-color-grey-darker {
  & .displayname {
    color: var(--color-grey-darker);
  }
}
