.time {
  font-size: var(--font-size-subtext);
  font-weight: var(--font-weight-subtext);
  line-height: var(--line-height-subtext);
  color: var(--color-grey-dark);
  white-space: nowrap;
}

.grey {
  color: var(--color-grey);
}

.grey-dark {
  color: var(--color-grey-dark);
}
