time {
  font-size: var(--font-size-timestamp);
  font-weight: var(--font-weight-timestamp);
  line-height: var(--line-height-timestamp);
  color: var(--color-grey-light);
}

.grey {
  color: var(--color-grey);
}
