.notice {
  position: relative;
  visibility: visible;
  padding: var(--sp8) var(--sp16);
  font-size: var(--text14);
  font-weight: var(--font-medium);
  border-radius: var(--sp8);
  box-shadow: var(--shadow-light);

  &.centerX {
    & section {
      width: 100%;

      & p.content,
      & p.subDescription {
        width: 100%;
        text-align: center;
      }
    }
  }
}

.subDescription {
  margin-top: var(--sp4);
  font-weight: var(--font-normal);
  opacity: 0.7;
}

.customButton {
  display: inline-flex;
  flex-shrink: 0;
  margin-left: var(--sp8);
  font-weight: var(--font-normal);
}

.green {
  color: var(--color-matters-green);
  background: var(--color-green-lighter);
}

.grey {
  color: var(--color-white);
  background: var(--color-grey-dark);
}

.red {
  color: var(--color-white);
  background: var(--color-negative-red);
}
