:root {
  --grid-gutter: 40px;
}

.side-nav {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: var(--spacing-x-loose);
  margin-right: calc(var(--grid-gutter) * -1);

  @media (--md-up) {
    align-items: flex-start;
    margin-right: 0;
  }
}

.logo {
  margin-bottom: var(--spacing-xx-loose);

  & a {
    display: inline-flex;
  }
}

ul {
  & li {
    @mixin flex-center-all;

    & + li {
      margin-top: var(--spacing-xx-loose);
    }
  }
}

.dropdown-menu {
  width: 12rem;
}
