:root {
  --grid-gutter: 40px;
}

.side-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: var(--spacing-x-loose);
  margin-right: calc(var(--grid-gutter) * -1);

  @media (--md-up) {
    align-items: flex-start;
    margin-right: 0;
  }
}

.logo {
  & a {
    display: inline-flex;
  }
}

ul {
  @mixin flex-center-all;

  flex-direction: column;

  @media (--md-up) {
    display: initial;
  }

  & li {
    margin-top: var(--spacing-xx-loose);
    font-size: 0;
  }
}

.dropdown-menu {
  width: 12rem;
}
