main {
  padding-top: 1rem;
  padding-bottom: 1rem;

  @media (--sm-up) {
    margin-top: 7rem;
  }
}

.container {
  border: 1px solid var(--color-line-grey-light);
  border-radius: 0.25rem;
  background: var(--color-white);
  overflow: hidden;
}
