.radioInputOptions {
  @mixin flex-start-space-between;

  flex-wrap: wrap;
}

.radioInputItem {
  @mixin transition;

  display: flex;
  flex: 0 0 30%;
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-medium);
  color: var(--color-black);
  background: var(--color-white);
  border: 1px solid var(--color-line-grey-light);
  border-radius: var(--spacing-x-tight);
  transition-property: color, border-color, background-color;

  &.active {
    color: var(--color-matters-green);
    background: var(--color-green-lighter);
    border-color: var(--color-matters-green);
  }

  &:nth-child(n + 4) {
    margin-top: var(--spacing-base);
  }

  & label {
    width: 100%;
    height: 100%;
    padding-top: var(--spacing-base);
    padding-bottom: var(--spacing-base);
    text-align: center;
  }
}

.customInput {
  margin-top: var(--spacing-base);

  & .input {
    @mixin form-input;
    @mixin form-input-number;

    text-align: center;
  }

  & .hint {
    padding-top: var(--spacing-base);
    font-size: var(--font-size-xs);
    color: var(--color-grey-dark);
  }
}
