.radioInputOptions {
  @mixin flex-start-space-between;

  flex-wrap: wrap;
}

.radioInputItem {
  @mixin transition;

  display: flex;
  flex: 0 0 30%;
  font-size: var(--text20);
  font-weight: var(--font-medium);
  color: var(--color-black);
  border: 1px solid var(--color-grey-light);
  border-radius: var(--sp8);
  transition-property: color, border-color, background-color;

  &.active {
    color: var(--color-matters-green);
    background: var(--color-green-lighter);
    border-color: var(--color-matters-green);
  }

  &:nth-child(n + 4) {
    margin-top: var(--sp16);
  }

  & label {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-top: var(--sp8);
    padding-bottom: var(--sp8);
    text-align: center;

    & .currency {
      font-size: var(--text12);
      font-weight: var(--font-medium);
      color: var(--color-grey-darker);
    }

    & .amount {
      font-size: var(--text20);
      font-weight: var(--font-semibold);
      color: var(--color-black);
    }
  }
}

.customInput {
  margin-top: var(--sp16);

  & .inputWrapper {
    @mixin form-input;

    display: flex;
    gap: var(--sp16);
    text-align: left;
    border: 1px solid var(--color-grey-light) !important;

    & .unit {
      color: var(--color-grey-darker);
      word-break: keep-all;
    }

    & .input {
      @mixin form-input-number;
    }

    &:has(> .input:focus, > .input.focus) {
      border-color: var(--color-grey);
    }
  }

  & .hint {
    padding-top: var(--sp16);
    font-size: var(--text12);
    color: var(--color-grey-dark);
  }
}
