.container {
  position: sticky;
  top: var(--global-header-height); /* fallback */
  top: calc(
    var(--global-header-height) + 0.25rem
  ); /* global header's height + 0.25rem spacing */

  margin-top: calc(var(--spacing-xx-loose) * -1);
  margin-bottom: var(--spacing-xx-loose);

  z-index: 10;
}
