.container {
  position: sticky;
  top: calc(var(--global-header-height-mobile) + var(--spacing-base));

  z-index: 10;

  @media (--sm-up) {
    top: calc(var(--global-header-height) + var(--spacing-base));
  }
}
