.currencyFormatter {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  line-height: 1rem;

  & .currency {
    font-size: var(--text16);
    color: black;

    &.currency-medium {
      font-weight: var(--font-medium);
    }

    &.currency-normal {
      font-weight: var(--font-normal);
    }
  }

  & .subCurrency {
    padding-top: var(--sp4);
    font-size: var(--text12);
    color: var(--color-grey);
  }

  & .subtitle {
    padding-top: var(--sp4);
    font-size: var(--text12);
  }
}
