.currencyFormatter {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  line-height: 1rem;

  & .currency {
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-medium);
    color: black;
  }

  & .subCurrency {
    padding-top: var(--sp8);
    font-size: var(--font-size-xs);
    color: var(--color-grey);
  }
}
