.message {
  & .num {
    color: var(--color-matters-green);
  }
}

.tabs {
  padding: 0 var(--spacing-base);
}

.feed {
  padding-bottom: var(--spacing-base);
}

.shuffle {
  @mixin flex-center-end;

  padding: 0 var(--spacing-loose) var(--spacing-tight);
}
