.category {
  @mixin flex-center-space-between;

  padding: var(--sp8) 0;
  font-size: var(--text15);
  font-weight: var(--font-medium);
}

.count {
  margin-left: var(--sp8);
  color: var(--color-grey-dark);
}
