.header {
  @mixin flex-start-start;

  & .mobileLogo {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
  }

  & .campaign {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    height: 1.125rem;

    @media (--sm-up) {
      margin-bottom: var(--ar17-100);
    }
  }
}
