.header {
  @mixin flex-start-start;
}

.campaign {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  height: 1.125rem;
  font-size: var(--text12);
  color: var(--color-campaign-blue);

  @media (--sm-up) {
    margin-bottom: var(--ar17-100);
    margin-left: 0;
  }

  & .campaignName {
    @mixin line-clamp;
  }

  & .campaignStage {
    flex-shrink: 0;
  }
}
