.resendButton {
  display: inline-block;
  padding-left: var(--sp8);
  font-size: var(--font-size-sm);
  line-height: 1.375rem;
  color: var(--color-grey);
  word-break: keep-all;

  &button {
    color: var(--color-matters-green);

    &:hover,
    &:focus {
      color: var(--color-matters-green-hover);
    }
  }
}
