.coverField {
  position: relative;
  margin: calc(var(--sp16) * -1);

  @media (--sm-up) {
    margin: 0 calc(var(--sp20) * -1);
  }

  & .hint {
    position: absolute;
    top: 100%;
    right: 0;
    padding: var(--sp8) var(--sp16);
    font-size: var(--text12);
    color: var(--color-grey);
  }
}

.avatarField {
  margin-top: calc(var(--sp40) * -1);
}
