.container {
  display: grid;
  grid-template-areas: 'spacingLeft main spacingRight';
  grid-template-columns: minmax(0, 1fr) 100% minmax(0, 1fr);
  margin: 0 var(--spacing-base);

  @media (--md-up) {
    margin: 0 var(--spacing-xx-loose);
  }

  @media (--lg-up) {
    grid-template-columns: minmax(0, 1fr) 1105px minmax(0, 1fr);
    margin: 0 auto;
  }
}

.main {
  grid-column: main;

  @media (--sm-up) {
    display: grid;
    grid-template-areas: 'left content';
    grid-template-columns: 3rem auto;
    grid-column-gap: 1.25rem;
  }

  @media (--md-up) {
    grid-template-areas: 'left content right';
    grid-template-columns: 3rem auto 17rem;
    grid-column-gap: 2.5rem;
  }

  @media (--lg-up) {
    grid-template-areas: 'left content content content content content content content right right right';
    grid-template-columns: repeat(11, [col-start] minmax(0, 1fr));
    grid-column-gap: 2.5rem;
  }
}

.sidenav {
  @media (--sm-up) {
    grid-column: left;
  }

  & .content {
    position: sticky;
    top: 0;
  }
}

.article {
  position: relative;
  grid-column: content;
  min-height: 100vh;

  @media (--sm-up) {
    grid-column: content;
  }

  &.bgGreyLighter {
    background: var(--color-grey-lighter);

    @media (--sm-up) {
      background: none;
    }
  }

  @media (--sm-up) {
    padding-bottom: 0;
  }

  &.hasNavBar {
    padding-bottom: var(--global-nav-height);

    &.hasOnboardingTasks {
      padding-bottom: calc(var(--global-nav-height) * 2);

      @media (--lg-up) {
        padding-bottom: 0;
      }
    }
  }
}

.aside {
  @mixin border-left-grey;
  @mixin border-right-grey;

  @media (--sm-up) {
    grid-column: right;
  }

  & .content :global(> * + *) {
    margin-top: var(--spacing-xx-loose);
  }

  @media (--lg-up) {
    padding: var(--spacing-x-loose) 0;

    /* Fix grid layout. Otherwise, we need wrap it with another `l-low` */
    margin-right: 0 !important;
    border-right: none;
    border-left: none;
  }
}
