@lost flexbox flex;

article {
  min-height: 100vh;

  padding-bottom: var(--global-nav-height);
  padding-bottom: calc(
    constant(safe-area-inset-bottom) + var(--global-nav-height)
  );
  padding-bottom: calc(env(safe-area-inset-bottom) + var(--global-nav-height));

  &.bg-grey-lighter {
    background: var(--color-grey-lighter);

    @media (--sm-up) {
      background: none;
    }
  }

  &.asideShowInMobile {
    @media (--lg-down) {
      min-height: auto;
    }
  }

  @media (--sm-up) {
    @mixin border-left-grey;
    @mixin border-right-grey;
    padding-bottom: 0;
  }
}

aside {
  @mixin border-left-grey;
  @mixin border-right-grey;
  padding: var(--spacing-x-loose) var(--spacing-base) var(--spacing-base);

  & :global(> * + *) {
    margin-top: var(--spacing-xx-loose);
  }

  @media (--lg-up) {
    padding: var(--spacing-x-loose) 0 0;

    /* Fix grid layout. Otherwise, we need wrap it with another `l-low` */
    margin-right: 0 !important;

    border-left: none;
    border-right: none;
  }
}

/**
 * Layout
 */
nav {
  lost-column: 4/4;

  @media (--sm-up) {
    & {
      lost-column: 1/8;
    }
  }

  @media (--md-up) {
    & {
      lost-column: 2/9;
    }
  }

  @media (--lg-up) {
    & {
      lost-column: 2/12;
    }
  }
}

main {
  lost-column: 4/4;

  @media (--sm-up) {
    & {
      lost-column: 7/8;
    }
  }

  @media (--md-up) {
    & {
      lost-column: 7/9;
    }
  }

  @media (--lg-up) {
    & {
      lost-column: 10/12;
    }
  }
}

article {
  lost-column: 4/4;

  @media (--lg-up) {
    & {
      lost-column: 7/10;
    }
  }
}

aside {
  lost-column: 4/4;

  @media (--lg-up) {
    & {
      lost-column: 3/10;
    }
  }
}
