article {
  min-height: 100vh;
  padding-bottom: var(--global-nav-height);
  padding-bottom: calc(
    constant(safe-area-inset-bottom) + var(--global-nav-height)
  );
  padding-bottom: calc(env(safe-area-inset-bottom) + var(--global-nav-height));

  &.bg-grey-lighter {
    background: var(--color-grey-lighter);

    @media (--sm-up) {
      background: none;
    }
  }

  @media (--sm-up) {
    @mixin border-left-grey;
    @mixin border-right-grey;

    padding-bottom: 0;
  }
}

aside {
  @mixin border-left-grey;
  @mixin border-right-grey;

  padding: var(--spacing-base);

  & :global(> * + *) {
    margin-top: var(--spacing-xx-loose);
  }

  @media (--lg-up) {
    padding: var(--spacing-x-loose) 0 0;

    /* Fix grid layout. Otherwise, we need wrap it with another `l-low` */
    margin-right: 0 !important;
    border-right: none;
    border-left: none;

    &.in-editor {
      padding-top: var(--global-header-height);

      & :global(> * + *) {
        margin-top: var(--spacing-loose);
      }
    }
  }
}
