article {
  position: relative;
  min-height: 100vh;

  &.bg-grey-lighter {
    background: var(--color-grey-lighter);

    @media (--sm-up) {
      background: none;
    }
  }

  @media (--sm-up) {
    padding-bottom: 0;
  }

  &.hasNavBar {
    padding-bottom: var(--global-nav-height);

    &.hasOnboardingTasks {
      padding-bottom: calc(var(--global-nav-height) * 2);

      @media (--lg-up) {
        padding-bottom: 0;
      }
    }
  }
}

aside {
  @mixin border-left-grey;
  @mixin border-right-grey;

  & .aside-sticky {
    position: sticky;
    top: var(--spacing-x-loose);
  }

  & .content :global(> * + *) {
    margin-top: var(--spacing-xx-loose);
  }

  @media (--lg-up) {
    padding: var(--spacing-x-loose) 0;

    /* Fix grid layout. Otherwise, we need wrap it with another `l-low` */
    margin-right: 0 !important;
    border-right: none;
    border-left: none;
  }
}

.sidenav {
  position: sticky;
  top: 0;
}
