.container {
  @mixin flex-start-center;

  font-weight: var(--font-bold);
}

.currency {
  padding-top: var(--sp4);
  padding-right: var(--sp4);
  font-size: var(--text14);
}

.amount {
  font-size: 2.5rem;
}
