footer {
  @mixin flex-center-all;

  margin: var(--spacing-x-loose) 0;
}

.source-header {
  padding: 0 var(--spacing-base);
  margin-bottom: var(--spacing-xx-loose);
  text-align: center;

  & img {
    max-width: 343px;
  }

  & .title {
    margin-top: var(--spacing-x-tight);
  }

  & .intro {
    margin-top: var(--spacing-xx-tight);
    font-size: var(--font-size-md-s);
    line-height: 1.5rem;
    color: var(--color-grey-darker);
  }
}
