.container {
  padding: 0 var(--spacing-base);

  @media (--sm-up) {
    padding: 0;
  }
}

.footer {
  @mixin flex-center-all;

  margin: var(--spacing-x-loose) 0;
}

.sourceHeader {
  margin-top: var(--spacing-base);
  text-align: center;

  & img {
    height: 200px;
  }

  & .title {
    margin-top: var(--spacing-x-tight);
  }

  & .intro {
    margin: var(--spacing-base) 0;
    font-size: var(--font-size-md);
    line-height: 1.5rem;
    color: var(--color-grey-dark);
  }
}
