.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 var(--spacing-base);

  & .header {
    @mixin flex-center-start;

    margin: var(--spacing-base) 0;
    font-size: var(--font-size-md-s);
    line-height: 1.5rem;

    & :global(> *) {
      flex-shrink: 0;
    }

    & .userInfo {
      flex-shrink: 1;
      margin: 0 var(--spacing-x-tight);
    }
  }

  & .item {
    @mixin flex-center-space-between;
    @mixin all-transition;

    padding: var(--spacing-base);
    margin-bottom: var(--spacing-base);
    background: var(--color-white);
    border: 1px solid var(--color-line-grey-light);
    border-radius: 0.5rem;

    &.clickable:hover {
      color: var(--color-matters-green);
      cursor: pointer;
      background: var(--color-green-lighter);
      border-color: var(--color-matters-green);

      & :global(.currency) {
        color: var(--color-matters-green);
      }

      & :global(.subCurrency) {
        color: var(--color-matters-green);
        opacity: 0.6;
      }
    }
  }
}
