.container {
  padding: var(--spacing-loose) var(--spacing-base);
}

.content {
  @mixin flex-center-start;

  flex-direction: column;
  width: 100%;
  padding-top: var(--spacing-loose);

  & p {
    color: var(--color-grey-darker);
  }
}

.title {
  @mixin: flex-start-space-between;

  flex-direction: row;
}

.rocket {
  width: 101px;
  height: 89px;
  margin: var(--spacing-loose) 0;

  @media (--sm-up) {
    margin: var(--spacing-xx-loose) 0;
  }
}

.tips {
  margin: var(--spacing-loose) 0 0;
  font-size: var(--font-size-xs);
  line-height: 1rem;
  color: var(--color-grey);
}
