.content {
  @mixin flex-center-start;

  flex-direction: column;
  width: 100%;
  margin-top: var(--sp16);

  & p {
    color: var(--color-grey-darker);
  }
}

.rocket {
  width: 101px;
  height: 89px;
  margin: var(--sp24) 0;

  @media (--sm-up) {
    margin: var(--sp40) 0;
  }
}

.tips {
  margin: var(--sp24) 0 0;
  font-size: var(--text12);
  line-height: 1rem;
  color: var(--color-grey);
}
