.content {
  @mixin flex-center-start;

  flex-direction: column;
  width: 100%;
  margin-top: var(--spacing-base);

  & p {
    color: var(--color-grey-darker);
  }
}

.rocket {
  width: 101px;
  height: 89px;
  margin: var(--spacing-loose) 0;

  @media (--sm-up) {
    margin: var(--spacing-xx-loose) 0;
  }
}

.tips {
  margin: var(--spacing-loose) 0 0;
  font-size: var(--font-size-xs);
  line-height: 1rem;
  color: var(--color-grey);
}
