.galaxy {
  position: relative;
  width: 16.5rem;
  min-width: 16.5rem;
  max-width: 16.5rem;
  height: 12.75rem;
  min-height: 12.75rem;
  max-height: 12.75rem;
  margin: 0 auto;
}

.check {
  position: absolute;
  color: rgb(255 255 255 / 45%);
  cursor: pointer;

  & :global(> svg) {
    border: 1px solid rgb(0 0 0 / 0%);
    border-radius: 50%;
  }

  &:hover {
    color: rgb(255 255 255 / 65%);
  }
}

.checked {
  color: rgb(255 255 255 / 100%);

  &:hover {
    color: rgb(255 255 255 / 100%);
  }
}

.check-1 {
  top: 43px;
  right: 62px;
  width: 35px;
  height: 35px;

  &.checked,
  &.selected,
  &:hover {
    & :global(> svg) {
      border: 1px solid #9bcfb3;
    }
  }
}

.check-2 {
  top: 100px;
  right: 35px;
  width: 54px;
  height: 54px;

  &.checked,
  &.selected,
  &:hover {
    & :global(> svg) {
      border: 1px solid #da887c;
    }
  }
}

.check-3 {
  bottom: 37.5px;
  left: 85px;
  width: 42px;
  height: 42px;

  &.checked,
  &.selected,
  &:hover {
    & :global(> svg) {
      border: 1px solid #8bcbd4;
    }
  }
}

.check-4 {
  top: 70px;
  left: 34px;
  width: 38px;
  height: 38px;

  &.checked,
  &.selected,
  &:hover {
    & :global(> svg) {
      border: 1px solid #e1c999;
    }
  }
}

.check-5 {
  top: 31px;
  left: 95px;
  width: 33px;
  height: 33px;

  &.checked,
  &.selected,
  &:hover {
    & :global(> svg) {
      border: 1px solid #9396c2;
    }
  }
}
