.section-container {
  margin-top: var(--spacing-default);

  font-size: var(--font-size-sm);
}

.setting-section {
  @mixin flex-center-space-between;
  padding-bottom: var(--spacing-default);

  & + .setting-section {
    @mixin border-top-grey;

    padding: var(--spacing-default) 0;
  }
}

.first {
  & .section-container {
    &:first-child {
      margin-top: 0;
    }

    @media (--sm-up) {
      margin-top: 0;
    }
  }
}
