.info {
  display: flex;
  align-items: center;
  padding-left: var(--spacing-base);
  margin: var(--spacing-x-tight) 0;
  color: var(--color-grey-dark);
  white-space: pre-wrap;

  & .num {
    font-weight: var(--font-weight-semibold);
    color: var(--color-black);
  }
}

.createCollection {
  display: flex;
  justify-content: center;
  font-weight: var(--font-weight-medium);
}

.addCollection {
  @mixin flex-center-all;
  @mixin transition;

  padding: var(--spacing-base) 0;
  color: var(--color-matters-green);
  cursor: pointer;
  border-bottom: 1px dashed var(--color-line-grey-light);
  transition-property: color;

  &:hover,
  &:focus {
    color: var(--color-matters-green-dark);
  }
}
