.head {
  margin-bottom: var(--spacing-base);

  & h4 {
    @mixin flex-center-start;

    font-size: var(--font-size-sm-s);
    font-weight: var(--font-weight-normal);
    line-height: 1rem;
    color: var(--color-grey);

    & :global(a) {
      color: var(--color-black);
    }

    & :global(> *) {
      flex-shrink: 0;
      line-height: 1;
    }

    & :global(> :last-child) {
      flex-shrink: initial;
    }

    & :global(> * + *) {
      margin-left: var(--spacing-xx-tight);
    }
  }
}
