.assetsContainer {
  margin-top: var(--sp16);
  margin-bottom: var(--sp16);
  background: white;

  @media (--sm-up) {
    margin-bottom: var(--sp24);
  }

  & :global(.assetsItem + .assetsItem),
  & :global(.fresnel-container + .assetsItem) {
    position: relative;

    &::before {
      position: absolute;
      top: 0;
      width: calc(100% - var(--sp16) * 2);
      content: '';
      border-top: 1px dashed var(--color-grey-light);

      @media (--sm-up) {
        width: 100%;
      }
    }
  }
}
