.assetsContainer {
  margin-bottom: var(--spacing-base);
  background: white;

  @media (--sm-up) {
    margin-bottom: var(--spacing-loose);
  }

  & .divider {
    width: calc(100% - var(--spacing-base) * 2);
    margin-left: var(--spacing-base);

    @media (--sm-up) {
      width: calc(100% - var(--spacing-x-loose) * 2);
      margin-left: var(--spacing-x-loose);
    }
  }
}
