.content {
  align-self: center;

  & h3 {
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-semibold);
    text-align: center;
  }

  & p {
    margin-top: var(--spacing-loose);
    font-size: var(--font-size-md);
    line-height: 2;
    color: var(--color-grey-darker);
  }

  @media (--sm-up) {
    & h3 {
      font-size: 2.25rem;
    }
  }

  @media (--md-up) {
    & h3 {
      text-align: left;
    }
  }
}

/* layout */
img {
  justify-self: center;
}

.content,
img {
  grid-column: 1 / -1;
}

@media (--md-up) {
  img {
    grid-column: col-start 1 / span 5;
  }
  .content {
    grid-column: col-start 7 / span 6;
  }

  .feature {
    & .content {
      grid-column: col-start 1 / span 5;
    }
    & img {
      grid-column: col-start 7 / span 6;
    }
  }
}

/* section-specfic */
.ecosystem {
  position: relative;
  padding: 3.25rem var(--spacing-base);
  background-position: right bottom 2rem;
  background-size: 212px;

  & img {
    width: 236px;
    height: 300px;
    margin-bottom: 3.75rem;
  }

  @media (--sm-up) {
    padding: 4rem 0 7.5rem;
    background-size: 408px;

    & img {
      width: 375px;
      height: 473px;
    }
  }

  @media (--md-up) {
    & img {
      margin-bottom: 0;
    }
  }

  @media (--lg-up) {
    padding: 5rem 0 12rem;
  }
}

.community {
  padding: 3.25rem var(--spacing-base);
  color: var(--color-white);
  background-color: var(--color-black);

  & p {
    color: var(--color-white);
  }

  & img {
    width: 329px;
    height: 308px;
    margin-bottom: 3rem;
  }

  & .buttons {
    margin-top: var(--spacing-x-loose);
    text-align: center;

    & :global(> * + *) {
      margin-left: var(--spacing-x-loose);
    }
  }

  @media (--sm-up) {
    padding: 5rem 0;

    & img {
      width: 423px;
      height: 396px;
    }
  }

  @media (--md-up) {
    & img {
      margin-bottom: 0;
    }

    & .buttons {
      text-align: left;
    }
  }
}

.feature {
  padding: 3.25rem var(--spacing-base) 0;
  background-color: var(--color-green-lighter);
  background-position: right bottom;
  background-size: 100%;

  & img {
    width: 328px;
    height: 506px;
    margin-top: var(--spacing-x-loose);
  }

  & .flag {
    display: block;
    font-size: var(--font-size-sm);
    text-align: center;
  }

  @media (--sm-up) {
    background-size: 1202px;
  }

  @media (--md-up) {
    & img {
      margin-top: 0;
    }

    & .flag {
      text-align: left;
    }

    & .content {
      padding-bottom: 8rem;
    }
  }
}
