.container {
  @media (--sm-up) {
    padding: var(--spacing-xxx-loose);
  }
}

.header {
  padding: 0 var(--spacing-x-loose);

  & :global(.avatar) {
    display: block;
    margin: 0 auto;
  }

  & h1 {
    margin-top: var(--spacing-loose);
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-medium);

    &.left {
      text-align: left;
    }

    &.center {
      text-align: center;
    }
  }

  @media (--md-up) {
    padding: 0 var(--spacing-xxx-loose);

    & :global(.avatar) {
      width: 5.875rem;
      height: 5.875rem;
    }
  }
}
