.clear {
  padding: var(--spacing-base);
  text-align: right;

  @media (--sm-up) {
    padding: var(--spacing-base) 0;
  }
}

.tabs {
  padding: var(--spacing-x-tight) 0;

  @media (--sm-up) {
    padding: 0;
  }
}
