.hero {
  position: relative;
  padding: var(--spacing-xx-loose) 0 var(--spacing-x-tight);
  background-image: var(--about-hero-bg);
  background-position:
    right top,
    top 128px right -70px,
    left bottom;
  background-size: 258px, 281px, 123px;

  @media (--sm-up) {
    padding-bottom: 5rem;
    background-position:
      right top,
      top 259px right var(--spacing-x-loose),
      left bottom;
    background-size: 521px, 258px, 270px;
  }

  @media (--md-up) {
    background-position:
      right top,
      top 98px right 5rem,
      left bottom;
    background-size: 521px, 308px, 270px;
  }

  @media (--md-up) {
    background-size: 521px, 308px, 357px;
  }
}

.logo {
  & svg {
    width: 97px;
    height: 20px;
  }
}

.slogan {
  position: relative;
  padding-top: 10rem;
  text-align: center;

  & h2 {
    margin-bottom: var(--spacing-loose);
    font-size: 1.75rem;
  }

  & .text {
    flex-shrink: 0;
  }

  & .ilusCity {
    display: block;
    flex-shrink: 0;
    height: 349px;
    margin: var(--spacing-xx-loose) calc(var(--spacing-base) * -1) 0;
    background-position: left top;
  }

  @media (--sm-up) {
    padding-top: 3rem;

    & h2 {
      font-size: 2.25rem;

      & br {
        display: none;
      }
    }

    & .ilusCity {
      width: 612px;
      height: 378px;
      margin: var(--spacing-loose) auto 0;
      background-position: center;
    }
  }

  @media (--md-up) {
    @mixin flex-center-space-between;

    padding-top: 6rem;
    text-align: left;

    & h2 {
      & br {
        display: initial;
      }
    }
  }

  @media (--lg-up) {
    & .ilusCity {
      width: 705px;
      height: 437px;
    }
  }
}

.reports {
  & .container {
    display: flex;
    padding: 0 var(--spacing-base);

    & .emblaViewport {
      position: relative;
      padding: 5rem var(--spacing-base) 0;
      overflow: hidden;

      & ul {
        @mixin hide-scrollbar;

        position: relative;
        display: flex;
        cursor: inherit;

        & li {
          position: relative;
          flex: 0 0 100%;
          margin-left: var(--spacing-loose);
          cursor: inherit;

          & a {
            @mixin border-grey;
            @mixin transition;

            position: relative;
            display: block;
            width: 100%;
            height: 136px;
            padding: var(--spacing-base);
            cursor: inherit;
            background: var(--color-grey-lighter);
            border-radius: 0.5rem;
            transition-property: border-color;

            &:hover,
            &:focus {
              border-color: var(--color-matters-green);

              & h3 {
                color: var(--color-matters-green);
              }
            }
          }

          & h3 {
            @mixin line-clamp;

            font-size: var(--font-size-md);
            font-weight: var(--font-weight-semibold);
            -webkit-line-clamp: 2;
          }

          & cite {
            position: absolute;
            right: var(--spacing-base);
            bottom: var(--spacing-base);
            font-size: var(--font-size-sm);
            font-style: normal;
            font-weight: var(--font-weight-medium);
          }
        }
      }
    }
  }

  @media (--sm-up) {
    display: grid;
    grid-template-areas: 'spacingLeft content spacingRight';
    grid-template-columns: minmax(0, 1fr) 100% minmax(0, 1fr);

    & .container {
      grid-column: content;

      & .emblaViewport {
        & ul {
          & li {
            & a {
              height: 174px;
            }

            & h3 {
              font-size: var(--font-size-xl);
            }

            & cite {
              font-size: var(--font-size-md);
            }
          }
        }
      }
    }
  }

  @media (--md-up) {
    & .container {
      grid-column: content;

      & .emblaViewport {
        padding-top: 17rem;

        & ul {
          & li {
            flex: 0 0 auto;

            & a {
              width: 344px;
              height: 206px;
            }
          }
        }
      }
    }
  }

  @media (--lg-up) {
    grid-template-columns: minmax(0, 1fr) 1105px minmax(0, 1fr);
  }
}

.scrollButton {
  @mixin flex-center-all;

  padding: 5rem 0 0;

  @media (--md-up) {
    padding-top: 17rem;
  }
}

.ilusCity {
  background-image: var(--about-city-bg);
}
