.count {
  padding-left: var(--spacing-xx-tight);
  font-weight: var(--font-weight-semibold);
  color: var(--color-grey);
}

.smSpacing {
  padding-bottom: var(--spacing-x-tight);

  @media (--sm-up) {
    padding-bottom: 0;
  }
}
