.count {
  padding-left: var(--sp4);
  font-weight: var(--font-weight-semibold);
  color: var(--color-grey);
}

.smSpacing {
  padding-bottom: var(--sp8);

  @media (--sm-up) {
    padding-bottom: 0;
  }
}
