.container {
  padding: var(--sp8) var(--sp16) 0;
}

.dropdownButton {
  display: block;
  margin-bottom: var(--sp24);
  line-height: inherit;
  vertical-align: initial;
  text-align: initial;
  white-space: initial;

  & > section {
    margin-bottom: 0;
  }
}

.list {
  overflow: hidden;
  cursor: pointer;
  user-select: none;
  border-radius: var(--sp8);
  -webkit-tap-highlight-color: transparent;
}

.options {
  width: 100%;
  max-height: 50vh;
  max-height: calc(var(--ivh) * 50);
  max-height: 50dvh;
  padding-top: var(--sp6);
  padding-bottom: var(--sp6);
  overflow: auto;
  text-align: left;
  border-radius: var(--sp8);

  @media (--sm-up) {
    max-height: 30vh;
    max-height: calc(var(--ivh) * 30);
    max-height: 30dvh;
  }

  &.dropdown {
    width: var(--sizing-menu);
  }
}
