.pinInput {
  @mixin flex-center-all;

  width: 100%;
  padding: 0 var(--spacing-base);
  margin: 0 auto;

  & .pinInputItem {
    @mixin transition;
    @mixin border-grey;

    display: flex;
    width: 16.6%;
    height: 3rem;
    font-size: var(--font-size-xl);
    line-height: 1.5rem;
    color: var(--color-black);
    text-align: center;
    border-radius: var(--spacing-x-tight);
    transition-property: border-color;

    & + .pinInputItem {
      margin-left: var(--spacing-tight);
    }

    &:focus,
    &.focus {
      border-color: var(--color-grey);
    }

    &.error {
      border-color: var(--color-negative-red);
    }
  }

  @media (--sm-up) {
    padding: 0;
  }
}
