.pin-input {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 0 var(--spacing-base);
  width: 100%;

  & .pin-input-item {
    flex: 1 1 auto;
    display: inline-block;

    height: 3rem;

    color: var(--color-black);
    line-height: 1.5rem;
    font-size: var(--font-size-xl);
    border: 1.5px solid var(--color-grey-light);
    text-align: center;

    & + .pin-input-item {
      border-left: 0;
    }

    &:first-child {
      border-radius: 0.25rem 0px 0px 0.25rem;
    }

    &:last-child {
      border-radius: 0px 0.25rem 0.25rem 0px;
    }
  }

  @media (--sm-up) {
    padding: 0;
  }
}
