:root {
  --search-bar-height: 2rem;
  --search-bar-button-width: 2rem;
}

form {
  position: relative;
  width: 100%;
  height: var(--search-bar-height);
  margin-right: auto;
  margin-left: auto;
  font-size: var(--font-size-sm);
  line-height: var(--search-bar-height);

  & :global(input[type='search']) {
    @mixin transition;

    height: 100%;
    padding: 0 var(--spacing-base) 0 var(--search-bar-button-width);
    font-size: var(--font-size-sm);
    color: var(--color-black);
    text-overflow: ellipsis;
    background-color: var(--color-grey-lighter);
    border: 1px solid var(--color-grey-lighter);
    border-radius: var(--search-bar-height);
    transition-property: border-color, background-color;

    &:focus {
      background-color: var(--color-green-lighter);
      border: 1px solid var(--color-matters-green);
    }

    &::placeholder {
      color: var(--color-grey);
      opacity: 1; /* Firefox */
    }
  }

  & :global(button[type='submit']) {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--search-bar-button-width);
    height: 100%;
  }

  & :global(button[type='button']) {
    position: absolute;
    top: 0;
    right: 0;
    width: var(--search-bar-button-width);
    height: 100%;
  }
}
