.form {
  position: relative;
  width: 100%;
  height: 2rem;
  margin-right: auto;
  margin-left: auto;
  font-size: var(--text14);
  line-height: 2rem;

  & input[type='search'] {
    @mixin transition;

    height: 100%;
    padding: 0 var(--sp16) 0 calc(1.375rem + var(--sp8) * 2);
    text-overflow: ellipsis;
    font-size: var(--text14);
    color: var(--color-black);
    background: var(--color-grey-lighter);
    border: 1px solid var(--color-grey-lighter);
    border-radius: 2rem;
    transition-property: border-color, background-color;

    &:focus {
      border: 1px solid var(--color-matters-green) !important;
    }

    &::placeholder {
      color: var(--color-grey);
      opacity: 1; /* Firefox */
    }
  }

  & button[type='submit'] {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(1.375rem + var(--sp8) * 2);
    height: 100%;
  }

  & button[type='button'] {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(1.375rem + var(--sp8) * 2);
    height: 100%;
  }
}

.searchQuickResult {
  padding-top: var(--sp12);
}
