.title {
  @mixin border-bottom-grey;

  padding-bottom: var(--spacing-tight);
}

.subtitle {
  @mixin flex-center-space-between;
  padding-top: var(--spacing-x-tight);

  & .collection {
    & .count {
      color: var(--color-grey-darker);
    }
  }
}

.author {
  margin-bottom: var(--spacing-tight);
}

.content {
  @mixin border-bottom-grey;

  position: relative;
  padding: var(--spacing-default) 0 0 0;
  margin-bottom: var(--spacing-default);

  line-height: var(--line-height-article-base);

  @media (--sm-up) {
    padding-left: var(--spacing-tight);
    padding-right: var(--spacing-tight);
  }
}
