.container {
  padding-bottom: var(--sp32);
  background: var(--color-white);
}

.chart {
  padding: 0 var(--sp8) 0 var(--sp16);
  margin-top: var(--sp40);

  @media (--sm-up) {
    padding: 0;
  }
}
