.content {
  margin-top: var(--spacing-xx-loose);
  text-align: center;

  & h2 {
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-medium);
  }

  & p {
    margin-top: var(--spacing-x-tight);
    font-size: var(--font-size-sm);
    color: var(--color-grey-darker);
  }
}
