.tag .name {
  @mixin line-clamp;

  line-height: inherit;
}

.list {
  position: relative;
  display: block;

  & .count {
    @mixin inline-flex-center-all;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    justify-content: flex-end;
    width: 3rem;
    font-size: var(--text15);
    line-height: 1rem;
    color: var(--color-grey);
    text-align: right;
  }
}
