.container {
  @mixin flex-center-space-between;

  padding: var(--sp16) 0;
}

.left {
  & > * + * {
    margin-top: var(--sp8);
  }
}

.right {
  flex-shrink: 0;
  margin-left: var(--sp16);
  text-align: right;
}

.user {
  @mixin flex-center-start;
}
