.card {
  @mixin all-transition;
  cursor: pointer;
  outline: none;

  &:hover,
  &:focus {
    background: var(--color-green-lighter);
  }
}

.bg-grey-lighter {
  background: var(--color-grey-lighter);
  border-radius: 0.25rem;

  &:hover,
  &:focus {
    background: var(--color-grey-lighter-hover);
  }
}

.spacing-vertical-xtight {
  padding-top: var(--spacing-x-tight);
  padding-bottom: var(--spacing-x-tight);
}
.spacing-vertical-tight {
  padding-top: var(--spacing-tight);
  padding-bottom: var(--spacing-tight);
}
.spacing-vertical-base {
  padding-top: var(--spacing-base);
  padding-bottom: var(--spacing-base);
}

.spacing-horizontal-xtight {
  padding-left: var(--spacing-x-tight);
  padding-right: var(--spacing-x-tight);
}
.spacing-horizontal-tight {
  padding-left: var(--spacing-tight);
  padding-right: var(--spacing-tight);
}
.spacing-horizontal-base {
  padding-left: var(--spacing-base);
  padding-right: var(--spacing-base);
}

.text-size-md-s {
  font-size: var(--font-size-md-s);
}
