header {
  @mixin flex-center-space-between;
  @mixin border-bottom-grey;

  padding-bottom: var(--spacing-tight);
}

.hasButtons {
  flex-direction: column;

  & .title {
    flex-direction: column;
    width: 100%;

    @media (--sm-up) {
      @mixin flex-center-space-between;
      align-items: flex-start;
      flex-direction: row;
    }
  }
}

.hasDescription {
  flex-direction: column;
  padding-bottom: var(--spacing-x-loose);

  & .description {
    color: var(--color-grey-darker);
    font-size: var(--font-size-sm);
    margin-top: var(--spacing-base);
    width: 100%;
    white-space: pre-wrap;
  }
}
