.header {
  &.hasBorder {
    @mixin border-bottom-grey;
  }
}

.title {
  @mixin flex-center-space-between;

  flex-wrap: wrap;
}

.spacingBottom8 {
  padding-bottom: var(--sp8);
}

.spacingBottom16 {
  padding-bottom: var(--sp16);
}
