.fixedMain {
  position: fixed;
  right: 0;
  left: 0;
  pointer-events: none;
}

.singleCol {
  & .content {
    grid-column: 1 / -1;

    @media (--md-up) {
      grid-column: col-start 2 / span 6;
    }

    @media (--lg-up) {
      grid-column: col-start 3 / span 5;
    }

    @media (--xl-up) {
      grid-column: col-start 4 / span 6;
    }
  }
}

.content {
  pointer-events: initial;
}
