footer {
  margin: var(--spacing-loose) var(--spacing-base);
  font-size: var(--font-size-sm);
  color: var(--color-grey-dark);

  @media (--sm-up) {
    margin-right: 0;
    margin-left: 0;
  }

  & p {
    margin-bottom: var(--spacing-x-tight);
  }
}
