.toolbar {
  @mixin shadow-border-top-grey;
  @mixin safe-area-botttom;

  position: sticky;
  bottom: 0;
  z-index: var(--z-index-bottom-bar);
  min-height: var(--global-nav-height);
  padding: var(--spacing-base);
  background: var(--color-white);

  & .buttons {
    @mixin flex-center-space-between;

    & :global(> *) {
      @mixin inline-flex-center-all;

      flex-shrink: 0;
      height: 2rem;
    }

    @media (--sm-up) {
      & :global(> *) {
        height: auto;
      }

      & :global(> * + *) {
        margin-left: var(--spacing-loose);
      }
    }
  }

  & .comment-bar {
    font-size: 0;
  }

  @media (--sm-up) {
    & .comment-bar {
      display: block;
      flex-grow: 1;
      flex-shrink: 1;
      margin-left: var(--spacing-base);
    }
  }
}
