.container {
  @mixin border-top-grey;
  display: flex;
  align-items: center;
  position: sticky;
  bottom: 0;
  margin: 0 calc(var(--spacing-base) * -1);
  padding: var(--spacing-base) var(--spacing-base) var(--spacing-loose);

  background: var(--color-white);
  line-height: 1;
  z-index: 1;

  @media (--sm-up) {
    margin: 0;
  }
}

.appreciate-button {
  flex-shrink: 0;
}

.comment-bar {
  flex-grow: 1;
  flex-shrink: 1;

  margin-left: var(--spacing-base);
}

.buttons {
  flex-shrink: 0;

  & :global(> *) {
    margin-left: var(--spacing-loose);

    @media (--xs-down) {
      margin-left: var(--spacing-base);
    }
  }
}
