/* @styled-jsx=global */

.icon {
  width: 1rem;
  height: 1rem;

  /* Sizes */
  &.xs {
    width: 0.75rem;
    height: 0.75rem;
  }
  &.sm {
    width: 0.875rem;
    height: 0.875rem;
  }
  &.md {
    width: 1.5rem;
    height: 1.5rem;
  }
  &.lg {
    width: 2rem;
    height: 2rem;
  }
  &.xl {
    width: 3rem;
    height: 3rem;
  }
  &.xxl {
    width: 4rem;
    height: 4rem;
  }

  /* Colors */
  &.white {
    color: var(--color-white);
  }
  &.black {
    color: var(--color-black);
  }
  &.grey-dark {
    color: var(--color-grey-dark);
  }
  &.grey {
    color: var(--color-grey);
  }
  &.grey-lighter {
    color: var(--color-grey-lighter);
  }
  &.green {
    color: var(--color-green);
  }
}
