.icon {
  flex-shrink: 0;

  /* Sizes */
  &.size12 {
    width: 0.75rem;
    height: 0.75rem;
  }

  &.size13 {
    width: 0.8125rem;
    height: 0.8125rem;
  }

  &.size14 {
    width: 0.875rem;
    height: 0.875rem;
  }

  &.size16 {
    width: 1rem;
    height: 1rem;
  }

  &.size18 {
    width: 1.125rem;
    height: 1.125rem;
  }

  &.size20 {
    width: 1.25rem;
    height: 1.25rem;
  }

  &.size22 {
    width: 1.375rem;
    height: 1.375rem;
  }

  &.size24 {
    width: 1.5rem;
    height: 1.5rem;
  }

  &.size26 {
    width: 1.625rem;
    height: 1.625rem;
  }

  &.size28 {
    width: 1.75rem;
    height: 1.75rem;
  }

  &.size30 {
    width: 1.875rem;
    height: 1.875rem;
  }

  &.size32 {
    width: 2rem;
    height: 2rem;
  }

  &.size40 {
    width: 2.5rem;
    height: 2.5rem;
  }

  &.size48 {
    width: 3rem;
    height: 3rem;
  }

  &.size64 {
    width: 4rem;
    height: 4rem;
  }

  &.size88 {
    width: 5.5rem;
    height: 5.5rem;
  }

  /* Colors */
  &.white {
    color: var(--color-white);
  }

  &.whiteLight {
    color: var(--color-white-light);
  }

  &.black {
    color: var(--color-black);
  }

  &.greyDark {
    color: var(--color-grey-dark);
  }

  &.greyDarker {
    color: var(--color-grey-darker);
  }

  &.grey {
    color: var(--color-grey);
  }

  &.greyLight {
    color: var(--color-grey-light);
  }

  &.greyLighter {
    color: var(--color-grey-lighter);
  }

  &.green {
    color: var(--color-matters-green);
  }

  &.gold {
    color: var(--color-matters-gold);
  }

  &.red {
    color: var(--color-negative-red);
  }

  &.redLight {
    color: var(--color-heart-red);
  }

  &.campaignBlue {
    color: var(--color-campaign-blue);
  }
}
