.spacingTopBase {
  margin-top: var(--sp16);
}

.spacingTopLoose {
  margin-top: var(--sp24);
}

.spacingBottomBase {
  margin-bottom: var(--sp16);
}

.spacingBottomBaseLoose {
  margin-bottom: var(--sp20);
}

.spacingBottomLoose {
  margin-bottom: var(--sp24);
}
