.container {
  position: absolute;
  top: calc(2rem / 2 * -1);
  left: 0;
  display: flex;
  align-items: center;

  & button,
  & .expandButton,
  & .uploadButton {
    cursor: pointer;
    background: var(--color-white);
    border-radius: 50%;
  }

  @media (--md-up) {
    left: calc((2rem + var(--spacing-base)) * - 1);
  }
}

.menuItems {
  @mixin transition;

  display: none;
  margin-left: var(--spacing-base);
  opacity: 0;
  transition-property: opacity, transform;

  & > * + * {
    margin-left: var(--spacing-base);
    cursor: pointer;
  }

  @media (--md-up) {
    margin-left: var(--spacing-x-loose);
  }
}

.expanded {
  & .menuItems {
    display: inline-flex;
    opacity: 1;
  }

  & .expandButton {
    transform: rotate(45deg);
  }
}

.expandButton {
  @mixin transition;

  transition-property: transform;
}

.uploadButton {
  display: inline-flex;
  vertical-align: middle;
}
