.carousel {
  position: relative;
  width: 100%;
  padding: var(--sp8) 0 0;

  @media (--sm-up) {
    padding: 0;
  }
}

.header {
  @mixin flex-center-space-between;

  position: absolute;
  right: var(--sp16);
  left: var(--sp16);
  z-index: 1;
  height: 2rem;

  @media (--sm-up) {
    margin-left: calc(0 - var(--sp8));
  }

  & .left {
    @mixin flex-center-start;
  }

  & .dots {
    @mixin flex-center-start;

    padding-left: var(--sp8);
  }
}

.viewport {
  width: 100%;
  overflow: hidden;

  & .container {
    display: flex;
    margin-left: calc(var(--sp8) * -1);
  }

  & .slide {
    position: relative;
    min-width: 100%;
    padding-left: var(--sp8);
  }

  & .content {
    position: relative;
    z-index: 0;
    height: 7rem;
    padding: calc(2rem + var(--sp8) + var(--sp8)) var(--sp16) var(--sp16);
    overflow: hidden;
    background-position: bottom right;
    border-radius: var(--sp16);

    & img {
      @mixin object-fit-cover;

      object-position: right bottom;
    }

    & picture,
    & img {
      z-index: -1;
    }

    & h3 {
      @mixin line-clamp;

      -webkit-line-clamp: 2;
      font-size: var(--text16);
      font-weight: var(--font-semibold);
      line-height: 1.5rem;
      color: var(--color-white);
    }

    & p {
      display: none;
    }

    @media (--sm-up) {
      & h3 {
        -webkit-line-clamp: 1;
        font-size: var(--text18);
      }

      & p {
        @mixin line-clamp;

        margin-top: var(--sp4);
        -webkit-line-clamp: 1;
        font-size: var(--text13);
        line-height: 1.25rem;
        color: rgb(255 255 255 / 80%);
      }
    }
  }
}

.dot {
  @mixin transition;

  box-sizing: content-box;
  box-sizing: border-box;
  width: 0.25rem;
  height: 0.25rem;
  margin-right: var(--sp8);
  cursor: pointer;
  background: rgb(255 255 255 / 70%);
  border: 2px solid rgb(255 255 255 / 0%);
  border-radius: 100%;
  transition-property: border-color, border-width, background-color;

  &.selected {
    background: rgb(255 255 255 / 100%);
    border-color: var(--color-white);
    border-width: 4px;
  }
}
