label {
  position: relative;
  display: block;
  font-size: 0;
}

.mask {
  @mixin expand-to-container;
  @mixin flex-center-all;

  background: rgba(0, 0, 0, 0.5);
}

.delete {
  position: absolute;
  right: var(--spacing-base);
  bottom: var(--spacing-base);
}
