.cover {
  &::after {
    content: '';
    display: block;
    padding-bottom: 35%;

    @media (--sm-up) {
      padding-bottom: 27.777778%;
    }
  }
}

label {
  position: relative;
  display: block;
  font-size: 0;
}

.mask {
  @mixin expand-to-container;
  @mixin flex-center-all;

  background: rgba(0, 0, 0, 0.5);
}
