html {
  @mixin font-sans;

  height: 100%;
  font-size: var(--sizing-root);
  font-weight: var(--font-weight-base);
  line-height: var(--line-height-base);
  overflow-wrap: break-word;
  background-color: var(--color-white);
  text-size-adjust: 100%;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizespeed;
}

body {
  /* disable pull-to-refresh & scroll bouncing */
  overscroll-behavior-y: none;
}

*:not(body) {
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}

a,
button {
  @mixin transition;

  transition-property: opacity;

  &:disabled,
  &[aria-disabled='true'] {
    opacity: 0.5;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

svg {
  display: inline-block;
  width: auto;
  user-select: none;
}

img,
audio,
video {
  max-width: 100%;
}

[contenteditable] {
  caret-color: var(--color-matters-green);
}

hr {
  @mixin border-top-grey;

  display: block;
  width: 100%;
  height: 0;
  padding: 0;
  margin: 0;
  border-right: 0;
  border-bottom: 0;
  border-left: 0;
}

code,
kbd,
samp,
pre {
  font-family: var(--font-mono);
  background: var(--color-grey-lighter);
}

code,
kbd,
samp {
  padding: var(--sp4);
}

pre {
  padding: var(--sp12) var(--sp16);
}

.grecaptcha-badge {
  visibility: hidden;
}
