/* @styled-jsx=global */

html {
  @mixin font-sans;

  height: 100%;

  font-size: var(--sizing-root);
  font-weight: var(--font-weight-base);
  line-height: var(--line-height-base);
  -webkit-text-size-adjust: 100%;

  background-color: var(--color-white);
  word-break: break-word;
  -ms-overflow-style: -ms-autohiding-scrollbar;

  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeSpeed;
}

body {
  /* disable pull-to-refresh & scroll bouncing */
  overscroll-behavior-y: none;
}

*:not(body) {
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}

a,
button {
  @mixin all-transition;

  &:disabled,
  &[aria-disabled='true'] {
    opacity: 0.5;
  }
}

a {
  &:link,
  &:visited {
    color: inherit;
    text-decoration: none;
  }

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }
}

svg {
  display: inline-block;
  width: auto;
  user-select: none;
  fill: currentColor;
}

img,
audio,
video {
  max-width: 100%;
}

[contenteditable] {
  caret-color: var(--color-matters-green);
}

hr {
  @mixin border-top-grey;

  display: block;

  width: 100%;
  height: 0;
  margin: 0;
  padding: 0;

  border-bottom: 0;
  border-left: 0;
  border-right: 0;
}

code,
kbd,
samp,
pre {
  background: var(--color-grey-lighter);
}

code,
kbd,
samp {
  padding: var(--spacing-xx-tight);
}

pre {
  padding: var(--spacing-x-tight) var(--spacing-base);
}

.grecaptcha-badge {
  visibility: hidden;
}
