.node {
  &.selectable {
    padding-right: calc(var(--icon-spacing-right) + 1.5rem);
  }
}

.iconSelect {
  @mixin inline-flex-center-all;

  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  padding-right: var(--sp16);
}
