section {
  @mixin flex-start-center;
  font-weight: var(--font-weight-bold);

  line-height: 1;
}

.currency {
  padding-top: var(--spacing-xx-tight);
  padding-right: var(--spacing-xx-tight);
  font-size: var(--font-size-sm);
}

.amount {
  font-size: 2.5rem;
}
