.subtitle {
  padding: 0 var(--spacing-base);
  margin: var(--spacing-x-tight) 0;

  @media (--md-up) {
    padding: 0;
  }
}

.list {
  padding: 0 var(--spacing-tight);

  @media (--md-up) {
    padding: 0;
  }
}
