.container {
  @mixin flex-center-all;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  padding: calc(var(--spacing-base-tight) - 1px) 0;
  color: black;
  text-align: center;
  background: var(--color-grey-hover);

  &.revision {
    background: var(--color-green-lighter);
  }
}
