.container {
  @mixin flex-center-all;

  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-index-under-global-header);
  width: 100%;
  padding: calc(var(--sp10) - 1px) 0;
  color: black;
  text-align: center;
  background: var(--color-grey-hover);

  &.revision {
    background: var(--color-green-lighter);
  }

  & a {
    font-size: 0;
  }
}
