.wrapper {
  padding: var(--sp20) 0;
}

.container {
  @mixin flex-center-start;

  gap: 1.25rem;

  @media (--sm-up) {
    gap: 3rem;
  }

  & .content {
    flex-grow: 1;
  }
}

.book {
  align-self: flex-start;
}

.header {
  & .title {
    @mixin line-clamp;

    -webkit-line-clamp: 2;
    font-size: var(--font-size-base);
    font-weight: var(--font-medium);
    line-height: 1.5rem;
  }
}

p.articleCount,
.description,
.footer {
  margin-top: var(--sp6);

  @media (--sm-up) {
    margin-top: var(--sp12);
  }
}

.description {
  @mixin line-clamp;

  -webkit-line-clamp: 3;
  font-size: var(--text14);
  line-height: 1.375rem;
  color: var(--color-grey-dark);
}

p.articleCount {
  font-size: var(--font-size-subtext);
  font-weight: var(--font-weight-subtext);
  line-height: var(--line-height-subtext);
  color: var(--color-grey-darker);
  white-space: nowrap;
}

.footer {
  @mixin flex-center-space-between;

  font-size: var(--font-size-subtext);
  font-weight: var(--font-weight-subtext);
  line-height: var(--line-height-subtext);
  color: var(--color-grey);

  & .left,
  & .right {
    @mixin inline-flex-center-all;
  }

  & .left {
    & > * + * {
      margin-left: 0;
    }
  }

  & .articleCount,
  & .iconDivider {
    display: none;
  }

  @media (--sm-up) {
    & .articleCount,
    & .iconDivider {
      display: inline-flex;
    }
  }
}
