.commentEditor :global(.ProseMirror),
.commentEditor :global(.tiptap) {
  min-height: 4.125rem;

  & > *:first-child {
    margin: 0;
  }

  & > * + * {
    margin: var(--spacing-x-tight) 0;
  }

  & p {
    font-size: var(--font-size-sm);
    line-height: 1.375rem;
  }

  & blockquote {
    padding-left: var(--spacing-base);
  }

  /* outline */
  &:focus {
    outline: none;
  }

  /* placeholder */
  & :global(p.is-editor-empty:first-child::before) {
    float: left;
    height: 0;
    color: var(--color-grey);
    pointer-events: none;
    content: attr(data-placeholder);
  }

  /* disable interactive */
  & a {
    pointer-events: none;
  }

  & :global(.mention) {
    padding-bottom: 0;
    color: var(--color-matters-green);
    border-bottom: 0;
  }
}
