.content {
  padding: var(--sp16) var(--sp24);
  text-align: left;

  @media (--sm-up) {
    padding: var(--sp16) var(--sp64) var(--sp32);
  }

  & .list {
    padding: 0 var(--sp8) var(--sp32);
    font-size: var(--font-size-sm);
    color: var(--color-grey-darker);

    & .listItem {
      position: relative;
      padding: var(--sp8) var(--sp8);

      &::before {
        position: absolute;
        top: calc(50% - 1px);
        left: 0;
        width: 2px;
        height: 2px;
        content: '';
        background-color: currentcolor;
        border-radius: 50%;
      }
    }
  }
}

.currentAccount {
  @mixin flex-center-all;

  margin-top: var(--sp32);
}

.switchAccount {
  margin-top: var(--sp16);
  font-size: var(--font-size-sm);
  color: var(--color-grey-dark);
  text-align: center;
}
