.book {
  position: relative;
  z-index: 1;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  width: 7.25rem;
  height: 10rem;
  padding: var(--sp10) var(--sp8) var(--sp8);
  overflow: hidden;
  background: var(--color-white);
  border-radius: 0.5rem;
  box-shadow:
    0 8px 16px 0 rgb(0 0 0 / 3%),
    8px 0 8px 0 rgb(0 0 0 / 3%),
    0 4px 12px 0 rgb(0 0 0 / 8%),
    1px 0 2px 0 rgb(0 0 0 / 8%);

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--sp6);
    content: '';
    background: var(--jacket-bg);
    border-radius: 0.5rem 0.5rem 0 0;
  }

  & .title {
    @mixin line-clamp;

    position: relative;
    flex-shrink: 0;
    margin-bottom: var(--sp8);
    -webkit-line-clamp: 3;
    font-size: var(--text14);
    font-weight: var(--font-medium);
    line-height: 1.375rem;

    &::before {
      position: absolute;
      z-index: -1;
      display: block;
      width: 100%;
      height: 100%;
      content: '';
      background:
        linear-gradient(to right, var(--jacket-underline) 100%, transparent 0%),
        linear-gradient(to right, var(--jacket-underline) 100%, transparent 0%),
        linear-gradient(to right, var(--jacket-underline) 100%, transparent 0%);
      background-repeat: no-repeat;
      background-position:
        0 0.875rem,
        0 2.25rem,
        0 3.625rem;
      background-size: 100% 0.5rem;
    }
  }

  & .cover {
    position: relative;
    flex-grow: 1;

    & img {
      @mixin object-fit-cover;

      background-color: var(--color-grey-lighter);
      border-radius: 0.25rem;
    }
  }

  & .description {
    flex-grow: 1;
    overflow: hidden;
    font-size: var(--text12);
    line-height: 1.125rem;
    color: var(--color-grey);

    &.lineClamp {
      @mixin line-clamp;

      max-height: calc(1.125rem * var(--desc-lines));
      -webkit-line-clamp: var(--desc-lines);
    }
  }
}
