.container {
  @mixin flex-center-start;

  position: relative;

  &:not(.disabled) .name {
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

.avatar {
  position: relative;
  display: inline-flex;
  margin-right: var(--spacing-x-tight);

  & .badge {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-flex;
  }
}

header {
  @mixin flex-center-start;

  & :global(> * + *) {
    margin-left: var(--spacing-xx-tight);
  }
}

.content {
  overflow: hidden;
}

.name {
  font-weight: var(--font-weight-medium);
}

.description {
  @mixin line-clamp;

  font-size: var(--font-size-sm-s);
  color: var(--color-grey-dark);
}

.extra-button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: flex-start;
}

.size-sm {
  & .content {
    height: 2rem;
    padding-right: 4rem; /* width of extra button */
  }

  & .name,
  & .description {
    line-height: 1rem; /* 16px, half of the avatar height */
  }

  & .name {
    font-size: var(--font-size-sm);
  }

  & .extra-button {
    align-items: middle;
  }
}

.size-lg {
  & .content {
    height: 3rem;
  }

  & .name,
  & .description {
    line-height: 1.5rem; /* 24px, half of the avatar height */
  }

  & .name {
    font-size: var(--font-size-md-s);
  }
}
