.container {
  @mixin flex-center-start;

  position: relative;
}

.avatar {
  position: relative;
  display: inline-flex;
  margin-right: var(--sp8);

  & .badge {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-flex;
  }
}

.content {
  overflow: hidden;

  &.hasExtraButton {
    padding-right: 5rem; /* width of extra button */
  }
}

.header {
  @mixin flex-center-start;

  & > * + * {
    margin-left: var(--sp4);
  }
}

.name {
  @mixin line-clamp;
  @mixin fix-cropped-letters;

  font-weight: var(--font-medium);
  color: var(--color-black);
}

.subtitle {
  @mixin line-clamp;

  font-size: var(--text13);
  color: var(--color-grey-dark);
}

.extraButton {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
}

.sizeSm {
  & .content:not(.archived) {
    height: 2rem;
  }

  & .name,
  & .subtitle {
    line-height: 1rem; /* 16px, half of the avatar height */
  }

  & .name {
    font-size: var(--text14);
  }

  & .extraButton {
    align-items: center;
  }
}

.sizeLg {
  & .content:not(.archived) {
    height: 3rem;
  }

  & .name,
  & .subtitle {
    line-height: 1.5rem; /* 24px, half of the avatar height */
  }

  & .name {
    font-size: var(--text15);
  }
}

.placeholder {
  @mixin flex-center-start;

  & .avatar {
    width: 3rem;
    height: 3rem;
    background-color: var(--color-grey-lighter);
    border-radius: 50%;
  }

  & .content {
    flex: 1;
    height: 3rem;
    background-color: var(--color-grey-lighter);
  }
}
