.label {
  position: relative;
  display: block;
  font-size: 0;
}

.mask {
  @mixin expand-to-container;
  @mixin flex-center-all;

  background: rgb(0 0 0 / 50%);
}

.delete {
  position: absolute;
  right: var(--spacing-base);
  bottom: var(--spacing-base);
}

.collection {
  display: flex;
  justify-content: center;

  @media (--sm-up) {
    justify-content: start;
  }

  & .collectionContent {
    position: relative;
  }
}
