.label {
  position: relative;
  display: block;
  font-size: 0;
}

.mask {
  @mixin expand-to-container;
  @mixin flex-center-all;

  background: rgb(0 0 0 / 50%);
}

.emptyMask {
  background: var(--color-grey-light);
}

.delete {
  position: absolute;
  right: var(--sp16);
  bottom: var(--sp16);
}

.userProfileCover {
  display: flex;
  gap: var(--sp40);
}

.collection {
  display: flex;
  justify-content: center;

  @media (--sm-up) {
    justify-content: start;
  }

  & .collectionContent {
    position: relative;
  }
}
