.container {
  & :global(.list-item > .card) {
    margin: var(--sp8) calc(var(--sp8) * -1);
  }

  & .list {
    display: flex;
    flex-wrap: wrap;
    gap: var(--sp16);
    margin-top: var(--sp8);
  }
}

.content {
  @mixin flex-start-space-between;

  margin-top: var(--sp8);

  & p {
    flex-grow: 1;
    margin-right: var(--sp8);
    font-size: var(--text13);
    line-height: 1.85;
    color: var(--color-grey);

    @mixin line-clamp;

    -webkit-line-clamp: 3;
  }

  & .cover {
    position: relative;
    flex-shrink: 0;
    width: 3rem;
    height: 3rem;

    & img {
      @mixin object-fit-cover;

      background-color: var(--color-grey-lighter);
      border-radius: var(--sp4);
    }
  }
}
