.item {
  padding: var(--sp20) 0;
}

.title {
  margin-top: var(--sp8);
}

.content {
  @mixin border-left-grey;
  @mixin line-clamp;

  padding-left: var(--sp16);
  margin-top: var(--sp12);
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  color: var(--color-black);
  border-left-style: dashed;
  border-left-width: 3px;
}
