.tags {
  /* FIXME: top header overlay by sticky tabs */

  /* margin-top: 1px; */
}

.list {
  @media (--lg-up) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    /* margin-top: calc(var(--sp16) * -1); */
  }

  & .listItem {
    position: relative;
    padding: var(--sp8) 0;

    @media (--lg-up) {
      padding: var(--sp16) 0;

      &:nth-child(2n) {
        margin-left: var(--sp4);
      }

      &:nth-child(2n + 1) {
        margin-right: var(--sp24);
      }
    }
  }
}
