.tags {
  margin-top: var(--sp24);

  @media (--sm-up) {
    margin-top: var(--sp32);
  }
}

.list {
  display: flex;
  flex-wrap: wrap;

  & .listItem {
    @mixin border-bottom-grey-light;

    position: relative;
    flex: 0 0 50%;
    padding-bottom: var(--sp20);
    margin-bottom: var(--sp20);
    border-style: dashed;
  }

  @media (--sm-down) {
    & .listItem {
      &:nth-child(2n + 1) {
        padding-right: var(--sp16);
      }
    }
  }

  @media (--sm-up) {
    & .listItem {
      flex: 0 0 33.3333%;

      &:nth-child(3n + 1),
      &:nth-child(3n + 2) {
        padding-right: var(--sp16);
      }
    }
  }
}
