header {
  top: 0;
  z-index: var(--z-index-global-header);
  width: 100%;
  padding-top: constant(safe-area-inset-top);
  padding-top: env(safe-area-inset-top);

  &.solid-fixed {
    @mixin shadow-border-bottom-grey;

    position: sticky;
    background: var(--color-white);
  }

  &.transparent-absolute {
    position: absolute;
  }
}

.content {
  @mixin flex-center-space-between;

  height: var(--global-header-height-mobile);
  padding: 0 var(--spacing-base);

  @media (--sm-up) {
    height: var(--global-header-height);
  }
}

.left {
  display: inline-flex;
  flex-shrink: 0;
  margin-right: var(--spacing-x-tight);

  @media (--sm-up) {
    margin-right: var(--spacing-base);
  }
}

.right {
  @mixin flex-center-space-between;

  flex-grow: 1;
  flex-shrink: 1;

  & :global(> *:first-child) {
    flex-grow: 1;
  }
}
