.header {
  position: relative;
  top: 0;
  z-index: var(--z-index-global-header);
  width: 100%;
  padding-top: env(safe-area-inset-top);

  &.compact {
    @mixin shadow-border-bottom-grey;

    position: sticky;
    background: var(--color-white);
  }

  &.transparent {
    position: absolute;
  }
}

.solid {
  & .content {
    margin-top: var(--sp16);
    margin-bottom: var(--sp8);

    @media (--sm-up) {
      margin-top: var(--sp32);
      margin-bottom: var(--sp20);
    }
  }
}

.compact {
  & .content {
    height: var(--global-header-height-mobile);

    @media (--sm-up) {
      height: var(--global-header-height);
    }
  }
}

.content {
  @mixin flex-center-space-between;

  padding-right: var(--sp16);
  padding-left: var(--sp16);

  @media (--sm-up) {
    padding-right: 0;
    padding-left: 0;
  }
}

.left {
  display: inline-flex;
  flex-shrink: 0;
  margin-right: var(--sp8);

  @media (--sm-up) {
    margin-right: var(--sp16);
  }
}

.right {
  @mixin flex-center-space-between;

  flex-grow: 1;
  flex-shrink: 1;

  & > *:first-child {
    flex-grow: 1;
  }
}
