:root {
  --recommend-article-desc-height: 2.75rem;
}

.container {
  display: flex;
  flex-direction: column;
}

.head {
  display: flex;
  flex-direction: row;
  margin-bottom: var(--spacing-x-tight);
}

.wrap {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-right: var(--spacing-base);

  & .title {
    @mixin line-clamp;

    margin-bottom: var(--spacing-x-tight);
    font-size: var(--font-size-xm);
    font-weight: var(--font-weight-medium);
    -webkit-line-clamp: 2;
  }

  & .author {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

& .cover {
  position: relative;
  flex-shrink: 0;
  width: 4.5rem;
  height: 4.5rem;

  & :global(img) {
    @mixin object-fit-cover;

    border-radius: 0.25rem;
  }
}

.content {
  @mixin line-clamp;

  height: var(--recommend-article-desc-height);
  font-size: var(--font-size-sm);
  color: var(--color-grey-dark);
  -webkit-line-clamp: 2;
}
