.container {
  display: flex;
  flex-direction: column;
  height: 8.5rem;
}

.head {
  display: flex;
  flex-direction: row;
  margin-bottom: var(--sp8);
}

.wrap {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  margin-right: var(--sp16);

  & .title {
    margin-bottom: var(--sp8);
    font-size: var(--text16);
    font-weight: var(--font-medium);

    & > a {
      @mixin line-clamp;

      -webkit-line-clamp: 2;
      -webkit-box-align: start;
    }
  }

  & .author {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

& .cover {
  position: relative;
  flex-shrink: 0;
  width: 4.5rem;
  height: 4.5rem;

  & img {
    @mixin object-fit-cover;

    border-radius: 0.25rem;
  }
}

.content {
  @mixin line-clamp;

  height: 2.75rem;
  -webkit-line-clamp: 2;
  font-size: var(--text14);
  color: var(--color-grey-dark);
}
