.info {
  @mixin flex-center-start;

  flex-wrap: wrap;
  padding-top: var(--spacing-x-tight);

  & > * {
    margin-right: var(--spacing-base);
    margin-bottom: var(--spacing-x-tight);
  }
}

.time {
  flex-shrink: 0;
  font-size: var(--font-size-subtext);
  font-weight: var(--font-weight-subtext);
  line-height: var(--line-height-subtext);

  & .edited {
    margin-right: var(--spacing-xx-tight);
    color: var(--color-grey);
  }
}
