.info {
  @mixin flex-center-start;

  flex-wrap: wrap;
  padding: var(--spacing-loose) 0;
  font-size: var(--font-size-xs);
  line-height: 1.125rem;

  & .author {
    display: flex;
    margin-right: 0;
    color: var(--color-grey-darker);
  }

  & :global(button) {
    line-height: 1.125rem;
  }
}

.time {
  margin-right: var(--spacing-xx-tight);
  color: var(--color-grey-darker);
}

.dot {
  margin: 0 var(--spacing-x-tight);
  color: var(--color-grey-darker);
}
