.info {
  @mixin flex-center-start;

  flex-wrap: wrap;
  padding-top: var(--spacing-x-tight);

  & :global(> *) {
    margin-right: var(--spacing-base);
    margin-bottom: var(--spacing-x-tight);
  }
}

.time {
  flex-shrink: 0;
  font-size: var(--font-size-timestamp);
  font-weight: var(--font-weight-timestamp);
  line-height: var(--line-height-timestamp);

  & span {
    margin-right: var(--spacing-xx-tight);
    color: var(--color-grey);
  }
}
