.editorTitle {
  margin: 0 0 var(--spacing-base);

  @media (--sm-up) {
    margin: var(--spacing-base) 0;
  }

  & input {
    margin-bottom: var(--spacing-base);
    font-size: var(--font-size-article-title);
    font-weight: var(--font-weight-article-title);
    line-height: var(--line-height-article-title);

    &::placeholder {
      color: var(--color-grey);
      opacity: 1; /* Firefox */
    }
  }
}
