.container {
  padding-top: var(--spacing-x-tight);
  background: var(--color-white);
  border-radius: 1.25rem 1.25rem 0 0;

  @media (--sm-up) {
    padding-top: 0;
  }
}

.discussion {
  padding: 0 var(--spacing-base);
  margin-top: var(--spacing-x-tight);

  & header {
    margin-bottom: var(--spacing-loose);
  }
}

:root {
  --wall-bottom-offset: calc(
    var(--spacing-xxx-loose) + var(--global-nav-height)
  );
}

.wall {
  margin-bottom: calc(var(--wall-bottom-offset) * -1);

  & .info,
  & .slogan {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  & .info {
    padding: var(--spacing-x-loose) 0 4.5rem;

    & .price {
      margin-bottom: var(--spacing-x-tight);
      font-size: var(--font-size-lg);
      font-weight: var(--font-weight-semibold);
    }
  }

  & .slogan {
    padding: 0 var(--spacing-base);
    margin-top: calc(var(--spacing-xxx-loose) * -1);

    & .title {
      margin-bottom: var(--spacing-x-tight);
      font-size: var(--font-size-xm);
      font-weight: var(--font-weight-medium);
    }

    & .desc {
      margin-bottom: var(--spacing-loose);
      font-size: var(--font-size-md-s);
    }
  }
}
