.form {
  @mixin border-bottom-grey;

  position: relative;
  width: 100%;
  height: 3.375rem;
  margin-right: auto;
  margin-left: auto;
  font-size: var(--font-size-md-s);
  line-height: 3.375rem;

  & input[type='search'] {
    height: calc(3.375rem - 2px);
    padding: 0 calc(2rem + var(--sp8));
    font-size: var(--font-size-sm);
    color: var(--color-black);
    caret-color: var(--color-matters-green);
    background: white;

    &::placeholder {
      color: var(--color-grey);
      opacity: 1; /* Firefox */
    }
  }

  & button.search,
  & button.clear {
    position: absolute;
    top: 0;
    width: 2rem;
    height: 100%;
  }

  & button.search {
    left: var(--sp8);
  }

  & button.clear {
    right: var(--sp8);
  }
}
