.container {
  @mixin border-left-grey;

  padding-left: var(--sp12);
  color: var(--color-grey);
  border-left-style: solid;
  border-left-width: 3px;
}

.content {
  display: flex;
  gap: var(--sp8);
}

.text {
  @mixin line-clamp;

  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  line-height: var(--line-height-base-loose);
}

.assets {
  display: flex;
  flex-shrink: 0;
  gap: var(--sp8);

  & .item {
    position: relative;
    max-width: 2.5rem;
    max-height: 2.5rem;

    & img {
      width: 100%;
      height: 100%;
      aspect-ratio: 1 / 1;
      object-fit: cover;
      background: var(--color-grey-lighter);
      border-radius: var(--sp4);
    }
  }
}

.strike {
  text-decoration: line-through;
}
