ul {
  display: flex;

  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;

  & li {
    margin: var(--spacing-base) var(--spacing-base) var(--spacing-base) 0;

    &:last-child {
      margin-right: 0;
    }
  }
}
