.related-articles {
  margin-left: calc(var(--spacing-base) * -1);
  margin-right: calc(var(--spacing-base) * -1);
  margin-bottom: calc(var(--spacing-base) * -1);

  @media (--sm-up) {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;

    & ul {
      & li {
        margin-bottom: var(--spacing-loose);
      }
    }
  }
}
