:root {
  --descendant-avatar-size: 1.5rem;
}

article {
  &:target {
    animation: commentBackgroundFadeOut 2s ease 1s;
  }
}

header {
  @mixin flex-start-space-between;

  & .right {
    & :global(> * + *) {
      margin-left: var(--spacing-tight);
    }
  }
}

.reply-to-container {
  margin: var(--spacing-xx-tight) 0 var(--spacing-x-tight)
    var(--spacing-x-loose);
}

.content-container {
  margin-top: var(--spacing-xx-tight);
  padding-left: var(--spacing-xx-loose);
}

@keyframes commentBackgroundFadeOut {
  50% {
    background: var(--color-green-lighter);
  }

  0,
  100% {
    background: none;
  }
}
