.comment {
  &:target {
    animation: comment-background-fade-out 2s ease 1s;
  }
}

.header {
  @mixin flex-start-space-between;

  & .right {
    display: inline-flex;

    & > * + * {
      margin-left: var(--spacing-tight);
    }
  }
}

.replyToContainer {
  margin: var(--spacing-xx-tight) 0 var(--spacing-x-tight)
    var(--spacing-x-loose);
}

.contentContainer {
  padding-left: var(--spacing-xx-loose);
  margin-top: var(--spacing-xx-tight);
}

@keyframes comment-background-fade-out {
  50% {
    background: var(--color-grey-lighter);
  }

  0,
  100% {
    background: none;
  }
}
