.comment {
  &:target {
    animation: comment-background-fade-out 2s ease 1s;
  }
}

.header {
  @mixin flex-start-space-between;

  & .right {
    display: inline-flex;

    & > * + * {
      margin-left: var(--sp12);
    }
  }
}

.replyToContainer {
  margin: var(--sp4) 0 var(--sp8) var(--sp32);
}

.contentContainer {
  padding-left: var(--sp40);
  margin-top: var(--sp4);
}

@keyframes comment-background-fade-out {
  50% {
    background: var(--color-grey-lighter);
  }

  0,
  100% {
    background: none;
  }
}
