.momentComment {
  padding: var(--sp8) 0;

  @media (--sm-up) {
    padding: var(--sp12) 0;
  }
}

.playSlideDownFade {
  overflow: hidden;
  animation:
    slide-down-fade 1.6s,
    maintain-padding 1.6s;
}

@keyframes slide-down-fade {
  0% {
    max-height: 0;
    background: var(--color-green-lighter);
    opacity: 0;
  }

  /* 1s later */
  62.5% {
    background: var(--color-green-lighter);
  }

  100% {
    max-height: 500px;
    background: var(--color-white);
    opacity: 1;
  }
}

@keyframes maintain-padding {
  0% {
    padding-right: var(--sp16);
    padding-left: var(--sp16);
    margin-right: calc(-1 * var(--sp16));
    margin-left: calc(-1 * var(--sp16));
  }

  /* keep the padding and margin not change */
  99% {
    padding-right: var(--sp16);
    padding-left: var(--sp16);
    margin-right: calc(-1 * var(--sp16));
    margin-left: calc(-1 * var(--sp16));
  }

  100% {
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
  }
}

.header {
  @mixin flex-start-space-between;

  & .left {
    & .author {
      @mixin flex-center-start;

      gap: var(--sp8);

      & .info {
        display: flex;
        flex-direction: column;

        & .top {
          @mixin flex-center-start;

          gap: var(--sp6);
        }

        & .displayName {
          @mixin line-clamp;

          font-size: var(--text15);
          font-weight: var(--font-medium);
          line-height: 1.75;
        }

        & .displayNamePlaceholder {
          width: 7.5rem;
          height: 1rem;
          background-color: var(--color-grey-lighter);
        }

        & time {
          line-height: 1.125rem;
        }

        & .createdAtPlaceholder {
          width: 3.75rem;
          height: 1rem;
          margin-top: var(--sp4);
          background-color: var(--color-grey-lighter);
        }
      }
    }
  }

  & .right {
    display: inline-flex;
    flex-shrink: 0;
    align-items: center;
    height: 1.375rem;
    margin-left: var(--sp16);

    & > * + * {
      margin-left: var(--sp12);
    }
  }
}

.contentContainer {
  margin-top: var(--sp8);

  &.spacingLeft {
    margin-left: var(--sp48);
  }

  & .contentPlaceholder {
    width: calc(100% - 48px);
    height: 1rem;
    margin-left: var(--sp48);
    background-color: var(--color-grey-lighter);

    & + .contentPlaceholder {
      margin-top: var(--sp8);
    }

    &:last-child {
      width: 50%;
    }
  }
}
