.support {
  margin-top: var(--sp24);

  @mixin flex-center-space-between;

  & .hint {
    margin-top: var(--sp4);
    font-size: var(--text12);
    color: var(--color-grey);
  }

  & .right {
    @mixin flex-center-end;
  }
}

.tabs {
  padding-bottom: var(--sp16);
  margin: calc(var(--sp8) * -1) calc(var(--sp16) * -1) var(--sp8);

  @media (--sm-up) {
    margin: calc(var(--sp16) * -1) 0 var(--sp8);
  }
}

.preview {
  @mixin polka-dot-background;

  position: relative;
  padding: var(--sp40) var(--sp16);
  margin: var(--sp8) 0;
  line-height: var(--line-height-base);
  text-align: center;

  & .content {
    font-size: var(--text14);
    font-weight: var(--font-normal);
    line-height: 1.375rem;
    color: var(--color-black);

    & .tagline {
      font-size: var(--text15);
      font-weight: var(--font-medium);
    }
  }

  & .button {
    margin: var(--sp24) 0 0;

    & button {
      width: 100%;
    }
  }
}

.previewTitle {
  margin-top: var(--sp16);
}
