.title {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-semibold);
  line-height: 1.6;
  cursor: pointer;

  @media (--sm-up) {
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-medium);
    line-height: 2.25rem;
  }
}
