.container {
  display: flex;
  padding: var(--sp16);

  @media (--sm-up) {
    padding: var(--sp16) 0;
  }
}

.number {
  display: flex;
  flex-shrink: 0;
  padding-right: var(--sp12);
  font-size: var(--text18);
  font-weight: var(--font-semibold);
  line-height: 1.3333333;
  color: var(--color-analytics-red);
}

.article {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: row;
  padding-bottom: var(--sp4);
  line-height: 1.75;
}

.titleWrap {
  display: flex;
  flex-grow: 1;
}

.title {
  @mixin line-clamp;

  font-size: var(--text14);
  font-weight: var(--font-medium);
}

.count {
  display: flex;
  flex-shrink: 0;
  justify-content: flex-end;
  width: 3rem;
}
