.container {
  padding: var(--sp16) var(--sp16) 0;
}

.rightButton {
  width: 4.5rem;
  height: 4.5rem;
  background-color: var(--color-grey-lighter);
  border-radius: 0.5rem;
}

.cover {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
  overflow: hidden;
  background: var(--color-grey-lighter);
  border-radius: var(--sp2);

  & img {
    @mixin object-fit-cover;

    background-color: var(--color-grey-lighter);
  }
}
