.container {
  padding: var(--sp16) var(--sp16) 0;
}

.rightButton {
  width: 4.5rem;
  height: 4.5rem;
  background-color: var(--color-grey-lighter);
  border-radius: 0.5rem;
}

.cover {
  position: relative;
  width: 100%;
  height: 4.5rem;
  border-radius: var(--sp8);

  & .action {
    position: absolute;
    top: calc(var(--sp8) * -1);
    right: calc(var(--sp8) * -1);
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    background: var(--color-white);
    border-radius: 50%;
  }

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: var(--color-grey-lighter);
    border-radius: var(--sp8);
  }
}
