.setAmountBalance {
  @mixin flex-center-space-between;

  padding: var(--sp16) 0 0;
  font-size: var(--text14);
  line-height: 1.375rem;
  color: var(--color-black);
  white-space: pre;

  & .left {
    font-weight: var(--font-medium);
  }
}
