.baseDrawer {
  & .baseDrawerCheckbox {
    display: none;

    &:checked {
      & ~ .baseDrawerContainer {
        visibility: visible;
        transform: translate3d(0, 0, 0) !important;
      }
    }
  }

  & .baseDrawerContainer {
    position: fixed;
    z-index: calc(var(--z-index-over-bottom-bar) + 1);
    display: flex;
    flex-direction: column;
    padding: 0 var(--sp48);
    overflow-y: auto;
    overscroll-behavior: contain;
    visibility: hidden;
    background: white;
    backdrop-filter: blur(12px);
    box-shadow: -8px 0 56px 0 rgb(0 0 0 / 8%) !important;
    will-change: transform, visibility;
  }
}

.drawer {
  & .header {
    @mixin flex-center-space-between;

    position: sticky;
    top: 0;
    z-index: var(--z-index-global-header);
    padding: var(--sp40) var(--sp24) 0 var(--sp40);
    margin-bottom: var(--sp16);
    background: var(--color-white);

    & h2 {
      font-size: var(--text20);
      font-weight: var(--font-semibold);
      line-height: 1.5;
    }

    & .close {
      &:hover,
      &:focus {
        color: var(--color-grey-darker);
      }
    }
  }
}
