/* @styled-jsx=global */

html {
  height: 100%;

  font-size: var(--sizing-root);
  font-family: var(--font-sans-tc);
  font-weight: var(--font-weight-base);
  line-height: var(--line-height-base);
  -webkit-text-size-adjust: 100%;

  background-color: var(--color-white);
  word-break: break-all;
  -ms-overflow-style: -ms-autohiding-scrollbar;

  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeSpeed;

  &[lang='zh-hans'] {
    font-family: var(--font-sans-sc);
  }
}

body {
  min-height: 100%;
  padding-top: var(--global-header-height); /* fallback */
  padding-top: calc(
    var(--global-header-height) + 1px
  ); /* global header's height + 1px border */
  padding-bottom: var(--spacing-x-loose);
  overflow-x: hidden;
}

main {
  margin-top: var(--spacing-loose);

  @media (--sm-up) {
    margin-top: var(--spacing-x-loose);
  }
}

*:not(body) {
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}

a,
button {
  @mixin all-transition;
}

a {
  &:link,
  &:visited {
    color: inherit;
    text-decoration: none;
  }

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }
}

svg {
  display: inline-block;
  width: auto;
  user-select: none;
  fill: currentColor;
}

img,
audio,
video {
  max-width: 100%;
}

[contenteditable] {
  caret-color: var(--color-matters-green);
}

hr {
  @mixin border-top-grey;

  display: block;

  width: 100%;
  height: 1px;
  margin: 0;

  border-bottom: 0;
  border-left: 0;
  border-right: 0;

  &.light {
    border-color: var(--color-line-grey-light);
  }
}
