.billboard {
  max-width: 100%;

  @media (--sm-up) {
    max-width: 50%;
  }

  @media (--md-up) {
    max-width: 100%;
  }

  & a {
    @mixin flex-center-all;

    position: relative;

    &::after {
      display: block;
      padding-bottom: 56.06%;
      content: '';
    }

    & img {
      @mixin object-fit-cover;

      border-radius: 1.25rem;
    }
  }

  & .button {
    margin-top: var(--sp8);
    color: var(--color-grey);
  }
}
