.billboard {
  position: relative;
  display: block;
  overflow: hidden;
  border-radius: 1.25rem;

  & img {
    @mixin object-fit-cover;

    background-color: var(--color-grey-lighter);
  }

  &::after {
    display: block;
    padding-bottom: 56.06%;
    content: '';
  }
}
