.container {
  padding: var(--spacing-base) var(--spacing-base) var(--spacing-xx-loose);
  text-align: left;
  background-color: var(--color-grey-lighter);

  & > section:global(.card) + section:global(.card) {
    margin-top: var(--spacing-base);
  }

  @media (--sm-up) {
    padding: var(--spacing-base);
  }
}

.warning-gold {
  @mixin flex-center-space-between;

  position: relative;
  align-items: flex-start;
  padding: var(--spacing-tight) var(--spacing-x-tight);
  margin: var(--spacing-x-tight) 0 var(--spacing-x-loose) 0;
  color: var(--color-matters-gold);
  background: var(--color-yellow-lighter);
  border-radius: 4px;

  & span {
    display: inline-flex;
    font-size: var(--font-size-md-s);
    line-height: 1.5;
  }
}

.warning-green {
  @mixin flex-center-space-between;

  position: relative;
  align-items: flex-start;
  padding: var(--spacing-x-tight) var(--spacing-x-tight);
  margin: var(--spacing-x-tight) 0 var(--spacing-base) 0;
  color: var(--color-matters-green);
  background: var(--color-green-lighter);
  border-radius: 4px;
}

.gateways {
  margin-bottom: var(--spacing-base);

  & ul {
    @mixin hide-scrollbar;

    max-height: 12rem;
    padding: var(--spacing-x-tight) var(--spacing-base) 0;
    margin: 0 calc(var(--spacing-base) * -1);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    & li {
      @mixin flex-center-space-between;

      position: relative;
      background-color: var(--color-grey-lighter);
      border-radius: 4px;

      & :global(:not(.gateway-url)) {
        flex-shrink: 0;
      }

      & .gateway-url {
        @mixin flex-center-space-between;
        @mixin truncate;

        width: 100%;
        padding-left: var(--spacing-x-tight);
        margin-right: var(--spacing-x-tight);
        font-size: var(--font-size-md);
        line-height: 2.5rem;
        color: var(--color-grey-darker);
      }

      & .gateway-url-disabled {
        @mixin flex-center-space-between;
        @mixin truncate;

        width: 100%;
        padding: 0 var(--spacing-x-tight);
        margin-right: var(--spacing-x-tight);
        font-size: var(--font-size-md);
        line-height: 2.5rem;
        color: var(--color-grey-light);
      }
    }

    & > li + li {
      margin-top: 0.5rem;
    }
  }
}

.subtitle {
  font-size: var(--font-size-sm-s);
  font-weight: var(--font-weight-normal);
  color: var(--color-grey);
  & a {
    text-decoration: underline;
  }
}

.item {
  & .title {
    @mixin flex-center-space-between;

    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-semibold);
    line-height: 1;
  }

  &:hover,
  &:focus {
    & .rect {
      background: var(--color-grey-light);
    }
  }
}
