.container {
  text-align: left;

  & > .card + .card {
    margin-top: var(--sp16);
  }
}

.gateways {
  & .gatewayUrls {
    @mixin hide-scrollbar;

    padding: var(--sp8) var(--sp16) 0;
    margin: var(--sp8) calc(var(--sp16) * -1);

    & li {
      @mixin flex-center-space-between;

      position: relative;
      background-color: var(--color-grey-lighter);
      border-radius: 0.25rem;

      & :not(.gatewayUrl) {
        flex-shrink: 0;
      }

      & .gatewayUrl {
        @mixin flex-center-space-between;
        @mixin truncate;

        width: 100%;
        padding-left: var(--sp8);
        margin-right: var(--sp8);
        font-size: var(--text14);
        line-height: 2.375rem;
        color: var(--color-grey-dark);

        &.disabled {
          opacity: 0.5;
        }
      }
    }

    & li + li {
      margin-top: var(--sp8);
    }
  }
}

.secret {
  @mixin flex-center-space-between;

  margin-top: var(--sp16);
  color: var(--color-matters-gold);

  & .key {
    @mixin flex-center-space-between;
  }

  & .copyButton {
    height: 2.5rem;
    padding: 0 var(--sp16);
    background: var(--color-yellow-lighter);
    border-radius: 0.5rem;
  }

  & .description {
    color: var(--color-matters-gold);
  }
}

.title {
  font-size: var(--text14);
  line-height: 1.375rem;
}

.description {
  font-size: var(--text12);
  font-weight: var(--font-normal);
  line-height: 1.125rem;
  color: var(--color-grey);

  &.error {
    color: var(--color-negative-red);
  }
}

.hash {
  & .copy {
    @mixin flex-center-space-between;

    position: relative;
    padding: var(--sp12) var(--sp8);
    margin-top: var(--sp16);
    color: var(--color-matters-green);
    background: var(--color-green-lighter);
    border-radius: 0.25rem;

    & .hash {
      @mixin line-clamp;

      padding-right: var(--sp8);
      font-family: var(--font-mono);
      font-size: var(--text14);
      background: transparent;
    }
  }
}

.warningCard {
  color: var(--color-matters-gold);
  background: var(--color-yellow-lighter);
  border-radius: 0.5rem;
}

.warningInput {
  color: var(--color-matters-green);
  background: var(--color-green-lighter);
  border-radius: 0.25rem;
}

.warningCard,
.warningInput {
  @mixin flex-start-start;

  padding: var(--sp8) var(--sp16);
  font-size: var(--text15);
  line-height: 1.5rem;

  & svg {
    margin-right: var(--sp4);
  }
}
