.footer {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;

  padding: var(--spacing-loose) 0px;
}

.item {
  padding-bottom: var(--spacing-x-tight);
  padding-right: var(--spacing-default);

  color: var(--color-grey-dark);
  font-size: var(--font-size-sm);
  line-height: 1.71428571;

  & :hover {
    color: var(--color-matters-green);
  }
}
