.footer {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;

  padding: var(--spacing-loose) 0px;
}

.item {
  color: var(--color-grey-dark);
  font-size: var(--font-size-sm);
  padding-top: var(--spacing-x-tight);
  padding-right: var(--spacing-default);
}

.item-link:hover {
  color: var(--color-matters-green);
}
