.hint,
.intro {
  margin: var(--sp16) 0 var(--sp8);
}

.hint {
  margin-top: 0;
  font-size: var(--font-size-sm);
  color: var(--color-grey-dark);
}

.intro {
  & h4 {
    margin-bottom: var(--sp8);
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-medium);
  }

  & p {
    font-size: var(--font-size-xs);
    color: var(--color-grey);
  }
}
