.container {
  display: flex;
  flex-direction: column;
}

.hint {
  margin: var(--sp16) var(--sp16);
  font-size: var(--text14);
  line-height: 1.375rem;
  color: var(--color-black);
  text-align: center;
}

.fallbackContent {
  margin: var(--sp16);
  text-align: center;

  & img {
    margin-top: var(--sp16);
  }
}
