.hint {
  margin: var(--spacing-base) var(--spacing-base);
  font-size: var(--font-size-sm);
  text-align: center;
}

.fallbackContent {
  margin: var(--spacing-base);
  text-align: center;

  & img {
    margin-top: var(--spacing-base);
  }
}
