.walletLabel {
  @mixin flex-center-start;

  margin-top: var(--sp16);

  & > * + * {
    margin-left: var(--sp8);
  }
}

.wallet {
  @mixin transition;

  font-size: 0;
  color: var(--color-grey-darker);
  cursor: pointer;
  transition-property: color;

  &:hover,
  &:focus {
    color: var(--color-matters-green);
  }
}

.dialogContent {
  display: flex;
  flex-direction: column;
  font-size: var(--text14);
  color: var(--color-grey-darker);

  & .ensName {
    color: var(--color-matters-green);
  }
}
