.footer {
  @mixin flex-center-space-between;

  margin-top: var(--sp16);
  font-size: var(--text12);
  color: var(--color-grey);

  & .left {
    @mixin inline-flex-center-all;

    & > * {
      display: inline-flex;
    }

    & > * + * {
      padding-left: var(--sp24);
    }
  }
}

.reply-form {
  margin-top: var(--sp16);
}
