footer {
  @mixin flex-center-space-between;

  margin-top: var(--spacing-base);

  font-size: var(--font-size-xs);
  color: var(--color-grey);

  & .left {
    @mixin inline-flex-center-all;

    & :global(> * + *) {
      padding-left: var(--spacing-loose);
    }
  }
}

.reply-form {
  margin-top: var(--spacing-base);
}
