main {
  padding-top: 1rem;
  padding-bottom: 1rem;

  @media (--sm-up) {
    margin-top: 7rem;
  }
}

.container {
  @mixin flex-center-all;
  border: 1px solid var(--color-line-grey-light);
  border-radius: 0.125rem;
  padding: 4rem 0;
  background: var(--color-white);

  @media (--sm-down) {
    & {
      padding: var(--spacing-loose) var(--spacing-tight);
    }
  }
}

.complete {
  display: flex;
  flex-direction: column;

  & > .image {
    @mixin flex-center-all;
  }

  & > .content {
    color: var(--color-grey-darker);
    font-size: var(--font-size-sm);

    & > .title {
      @mixin flex-center-all;
      color: var(--color-black);
      font-size: var(--font-size-md);
      padding: var(--spacing-default) 0;
    }
  }

  & > .buttons {
    @mixin flex-center-all;
    padding-top: var(--spacing-default);
  }
}
