.container {
  @mixin flex-center-all;

  height: 8rem;
  margin: var(--spacing-loose) 0;
  background-image: var(--circle-wall-bg-sm);
  background-size: contain;

  @media (--sm-up) {
    background-image: var(--circle-wall-bg-md);
  }
}

.message {
  color: var(--color-grey-darker);
  text-align: center;
  cursor: pointer;

  &:hover,
  &:focus {
    color: var(--color-matters-green);
  }
}
