.description {
  padding: var(--spacing-loose);
  font-size: var(--font-size-md-s);
  line-height: var(--spacing-loose);
  color: var(--color-grey-darker);
  text-align: center;

  & .bold {
    font-weight: var(--font-weight-semibold);
    color: var(--color-black);
  }
}
