.block {
  display: flex;
  flex-wrap: wrap;

  & .item {
    width: 100%;
    padding: 0 var(--spacing-base);
    margin-top: var(--spacing-base);

    font-size: var(--font-size-sm);

    & :global(> header) {
      margin-bottom: 0;
    }

    @media (--sm-up) {
      width: 50%;
    }
  }
}

.setting-item {
  @mixin flex-center-space-between;
  padding: var(--spacing-loose) 0;

  & + .setting-item {
    @mixin border-top-grey;
  }

  & .description {
    margin-top: var(--spacing-xx-tight);
    font-size: var(--font-size-xs);
    color: var(--color-grey);
  }
}
