.section-container {
  margin-top: var(--spacing-default);

  font-size: var(--font-size-sm);
}

.setting-item {
  @mixin flex-center-space-between;
  padding-bottom: var(--spacing-default);

  & + .setting-item {
    @mixin border-top-grey;
    padding: var(--spacing-default) 0;
  }

  & .description {
    margin-top: var(--spacing-xx-tight);
    font-size: var(--font-size-xs);
    color: var(--color-grey);
  }
}

.first {
  & .section-container {
    &:first-child {
      margin-top: 0;
    }

    @media (--sm-up) {
      margin-top: 0;
    }
  }
}
