.container {
  position: relative;
  flex: 1;

  & > *:not(svg) {
    width: 100%;
  }

  & > svg {
    position: absolute;
    top: var(--sp4);
    left: var(--sp4);

    & path {
      fill: var(--color-likecoin);
    }
  }
}
