.container {
  position: relative;
  flex: 1;

  & :global(> *:not(svg)) {
    width: 100%;
  }

  & :global(> svg) {
    position: absolute;
    top: var(--spacing-xx-tight);
    left: var(--spacing-xx-tight);

    & :global(path) {
      fill: var(--color-likecoin-green);
    }
  }
}
