.container {
  @mixin flex-center-start;

  &.hasAvatar .name {
    margin-left: var(--spacing-x-tight);
  }

  &:not(.disabled) {
    &:hover,
    &:focus {
      & .email {
        text-decoration: underline;
      }
    }
  }
}

.name {
  display: flex;
  flex-wrap: wrap;

  &.direction-row {
    flex-direction: row;
    align-items: center;
  }

  &.direction-column {
    flex-direction: column;
    align-items: flex-start;

    & .email {
      line-height: 1.25;
    }
  }
}

.email {
  line-height: 1;
}

.text-size-xs {
  font-size: var(--font-size-xs);
}

.text-size-sm-s {
  font-size: var(--font-size-sm-s);
}

.text-size-sm {
  font-size: var(--font-size-sm);
}

.text-size-md {
  font-size: var(--font-size-md);
}

.text-size-md-s {
  font-size: var(--font-size-md-s);
}

.text-weight-md {
  font-weight: var(--font-weight-medium);
}

.name-color-black {
  & .email {
    color: var(--color-black);
  }
}

.name-color-white {
  & .email {
    color: var(--color-white);
  }
}

.name-color-grey-darker {
  & .email {
    color: var(--color-grey-darker);
  }
}

.name-color-green {
  & .email {
    color: var(--color-matters-green);
  }
}
