.container {
  display: flex;
  flex-direction: column;
}

.hint {
  margin-bottom: var(--sp16);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-medium);
  line-height: 1.375rem;
  color: var(--color-black);
  text-align: center;
}
