.reason {
  @mixin border-bottom-grey;

  padding: var(--spacing-loose) 0;
  margin: 0 var(--spacing-base);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-bold);
  line-height: 1.5rem;
  text-align: center;
}

.hint {
  margin-top: var(--spacing-x-tight);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-normal);
  color: var(--color-grey);
}
