.container {
  @mixin flex-start-space-between;

  margin: var(--sp12) 0;

  & .title {
    display: flex;
    flex-direction: column;
    gap: var(--sp10);

    & .text {
      width: 9.375rem;
      height: 1rem;
      background-color: var(--color-grey-lighter);
    }
  }

  & .image {
    width: 2.75rem;
    height: 2.75rem;
    background-color: var(--color-grey-lighter);
    border-radius: 0.25rem;
  }
}
