.openDialogButton {
  display: block;
  margin-bottom: var(--sp24);
  line-height: inherit;
  vertical-align: initial;
  text-align: initial;
  white-space: initial;

  & > section {
    margin-bottom: 0;
  }
}
