footer {
  @mixin flex-center-space-between;

  margin-top: var(--spacing-base);

  font-size: var(--font-size-xs);
  color: var(--color-grey);

  & .left,
  & .right {
    & :global(> * + *) {
      padding-left: var(--spacing-loose);
    }
  }
}
