footer {
  @mixin flex-center-space-between;

  margin-top: var(--spacing-base);

  font-size: var(--font-size-xs);
  color: var(--color-grey);

  & .left,
  & .right {
    display: flex;
    align-items: center;

    & > :global(* + *) {
      margin-left: var(--spacing-loose);

      line-height: 1;
    }
  }
}

.state {
  display: inline-block;
  padding: var(--spacing-xxx-tight) var(--spacing-xx-tight);

  color: var(--color-white);
  background: var(--color-grey);
  border-radius: 2px;
  line-height: 1;
}

.response-count {
  font-size: 0;
}
