.container {
  overflow: hidden;
  background: var(--color-white);
  border-radius: 0.25rem;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.06);
}

header {
  position: relative;
  background: var(--color-matters-green);

  & :global(img) {
    @mixin object-fit-cover;

    background: var(--color-matters-green);
  }

  & :global(a) {
    @mixin line-clamp;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: var(--spacing-base);
  }

  &::after {
    display: block;
    padding-bottom: 22.8%;
    content: '';
  }
}

ul {
  padding: var(--spacing-x-tight) 0;

  & li {
    & :global(h4) {
      @mixin line-clamp;

      height: 2rem;
      line-height: 2rem;
    }
  }
}
