.container {
  overflow: hidden;
  background: var(--color-white);
  border-radius: 0.25rem;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.06);
}

header {
  display: flex;
  padding: var(--spacing-base);
  color: var(--color-white);
  background: var(--color-matters-green);

  & :global(.tag) {
    @mixin line-clamp;
  }
}

ul {
  padding: var(--spacing-x-tight) 0;

  & li {
    & :global(h4) {
      @mixin line-clamp;

      height: 2rem;
      line-height: 2rem;
    }
  }
}
