.container {
  overflow: hidden;
  background: var(--color-white);
  border-radius: var(--spacing-xx-tight);
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.06);
}

header {
  position: relative;
  background: var(--color-matters-green);

  & :global(img) {
    @mixin object-fit-cover;

    background: var(--color-matters-green);
  }

  & :global(div) {
    @mixin expand-to-container;

    padding: var(--spacing-base);

    & a {
      @mixin line-clamp;
    }
  }

  &::after {
    display: block;
    padding-bottom: 22.8%;
    content: '';
  }
}

ul {
  padding: var(--spacing-x-tight) 0;

  & li {
    & :global(h4) {
      @mixin line-clamp;

      height: 2rem;
      line-height: 2rem;
    }
  }
}

.mask {
  background: rgba(0, 0, 0, 0.3);
}
