:root {
  --recommend-article-card-height: 163px;
}

.item {
  @mixin border-grey;

  border-radius: var(--spacing-x-tight);

  & :global(.card) {
    height: var(--recommend-article-card-height);
  }
}
