.container {
  & .header {
    margin-bottom: var(--sp8);
  }

  & .content {
    @mixin border-left-grey;
    @mixin line-clamp;

    padding-left: var(--sp12);
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    font-size: var(--text16);
    color: var(--color-grey);
    border-left-width: 3px;
  }
}
