.container {
  & .header {
    margin-bottom: var(--sp8);
  }

  & .content {
    @mixin border-left-grey;
    @mixin line-clamp;

    padding-left: var(--sp12);
    font-size: var(--font-size-md);
    color: var(--color-grey);
    text-overflow: ellipsis;
    border-left-width: 3px;
    -webkit-line-clamp: 3;
  }
}
