.container {
  width: var(--sizing-menu-md);
}

.recent-searches {
  display: flex;
  flex-wrap: wrap;
  padding: 0 var(--spacing-base);

  & :global(> *) {
    margin-right: var(--spacing-tight);
    margin-bottom: var(--spacing-tight);
  }
}
