.userProfile {
  margin-bottom: var(--sp20);
}

.right {
  @mixin flex-start-space-between;

  & > * {
    &:nth-child(2) {
      margin-left: var(--sp16);
    }
  }
}

.spaceTop {
  margin-top: var(--sp16);
}

.header {
  @mixin flex-start-space-between;

  padding: 0 var(--sp16);
  margin-bottom: var(--sp16);

  & .avatar {
    z-index: 0;
    display: inline-flex;
    margin-top: calc(var(--sp24) * -1);
    border-radius: 50%;
    box-shadow: 0 0 0 3px var(--color-white);
  }

  & .avatarBtn {
    position: relative;
  }
}

.headerWithoutCover {
  margin-top: calc(var(--sp20) + var(--sp24));
}

.info {
  padding: 0 var(--sp16);
  margin-bottom: var(--sp12);

  & .displayName,
  & .username {
    @mixin flex-center-start;

    & > * + * {
      margin-left: var(--sp8);
    }
  }

  & .displayName {
    font-size: var(--text24);
    line-height: 1;

    & .name {
      font-size: var(--text20);
      line-height: 1.5;
    }
  }

  & .username {
    margin-top: var(--sp8);
    font-size: var(--text16);
    line-height: 1;
    color: var(--color-grey-dark);
  }

  .badges {
    & > span > * {
      position: relative;
      display: inline-block;
      margin-left: -4px;

      &:nth-child(1) {
        z-index: 9;
      }

      &:nth-child(2) {
        z-index: 8;
      }

      &:nth-child(3) {
        z-index: 7;
      }

      &:nth-child(4) {
        z-index: 6;
      }

      &:nth-child(5) {
        z-index: 5;
      }

      &:nth-child(6) {
        z-index: 4;
      }
    }
  }
}

.follow {
  padding: 0 var(--sp16);
  margin-top: var(--sp16);
  font-size: var(--text16);
  line-height: 1.5rem;
  color: var(--color-grey-darker);

  & > * + * {
    margin-left: var(--sp16);
  }

  & .count {
    font-weight: var(--font-medium);
  }
}

.footer {
  padding: 0 var(--sp16);
}
