.title {
  @mixin flex-center-start;

  height: 2.25rem; /* 36px; */
  margin: var(--sp32) 0;
}

.info {
  @mixin border-top-grey-light;
  @mixin border-bottom-grey-light;
  @mixin flex-center-space-between;

  padding: var(--sp16) 0;
}

.buttons {
  display: inline-flex;
  gap: var(--sp16);
  margin-top: var(--sp8);

  @media (--sm-up) {
    padding-right: var(--sp16);
    margin-top: var(--sp16);
  }
}

.statistics {
  @mixin flex-center-start;

  gap: var(--sp8);
}
