.title {
  @mixin flex-center-start;

  height: 2.25rem; /* 36px; */
  padding: 0 var(--sp16);
  margin: var(--sp20) 0;

  @media (--sm-up) {
    padding: 0;
  }
}

.info {
  @mixin border-top-grey-light;
  @mixin border-bottom-grey-light;
  @mixin flex-center-space-between;

  padding: var(--sp16) 0;
  margin: 0 var(--sp16) var(--sp12);

  @media (--sm-up) {
    margin: 0 0 var(--sp12);
  }
}

.tabs {
  padding: 0 var(--sp16);
  margin-top: var(--sp32);
  margin-bottom: var(--sp12);

  @media (--sm-up) {
    padding: 0;
  }
}

.buttons {
  display: inline-flex;
  gap: var(--sp16);
  margin-top: var(--sp8);

  @media (--sm-up) {
    padding-right: var(--sp16);
    margin-top: var(--sp16);
  }
}

.statistics {
  @mixin flex-center-start;

  gap: var(--sp8);
}
