.info {
  @mixin border-bottom-grey;

  padding: 0 var(--spacing-base) var(--spacing-loose);
  margin-bottom: var(--spacing-x-tight);
}

.description {
  margin-top: var(--spacing-base);
  font-size: var(--font-size-md-s);
  color: var(--color-grey-darker);
  white-space: pre-wrap;
}

.statistics {
  @mixin flex-center-space-between;

  margin-top: var(--spacing-base);
}

.buttons {
  @mixin flex-center-space-between;

  margin-top: var(--spacing-loose);
}
