.info {
  @mixin border-bottom-grey;

  padding: 0 var(--spacing-base) var(--spacing-loose);
  margin-bottom: var(--spacing-x-tight);
}

.statistics {
  @mixin flex-center-space-between;

  margin-top: var(--spacing-base);
}

.buttons {
  display: inline-flex;
  margin-top: var(--spacing-loose);

  & :global(> * + *) {
    margin-left: var(--spacing-base);
  }
}
