.info {
  padding: 0 var(--sp16);
  margin-bottom: var(--sp8);

  @media (--sm-up) {
    padding: 0;
  }

  & .top {
    @mixin flex-center-space-between;

    margin-top: var(--sp16);
  }
}

.buttons {
  display: inline-flex;
  gap: var(--sp16);
  margin-top: var(--sp8);

  @media (--sm-up) {
    padding-right: var(--sp16);
    margin-top: var(--sp16);
  }
}

.statistics {
  @mixin flex-center-start;

  gap: var(--sp8);
}
