.buttons {
  & :global(> * + *) {
    margin-left: var(--spacing-base);
  }
}

.description {
  padding: 0 var(--spacing-base) var(--spacing-base) var(--spacing-base);

  color: var(--color-grey-darker);
  font-size: var(--font-size-sm);
  white-space: pre-wrap;
}
