.info {
  padding: 0 var(--spacing-base);
  margin-bottom: var(--spacing-x-tight);

  @media (--sm-up) {
    padding: 0;
  }

  & .top {
    @mixin flex-center-space-between;

    margin-top: var(--spacing-base);
  }
}

.buttons {
  @media (--sm-up) {
    padding-right: var(--spacing-base);
  }
}

.statistics {
  @mixin flex-center-start;

  gap: var(--spacing-x-tight);
}
