.edit-tag {
  margin: 0rem 0rem 0rem var(--spacing-default);

  & :global(svg) {
    fill: var(--color-green);
    stroke: var(--color-green);
  }
}

.buttons {
  flex-shrink: 0;
  margin-left: var(--spacing-tight);
}
