.title {
  @mixin border-bottom-grey;

  padding-bottom: var(--spacing-tight);
}

.subtitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.author {
  margin-bottom: var(--spacing-tight);
}

.date {
  margin-top: var(--spacing-x-tight);
}

.content {
  @mixin border-bottom-grey;

  position: relative;
  padding: var(--spacing-default) 0 0 0;
  margin-bottom: var(--spacing-default);

  line-height: var(--line-height-article-base);

  @media (--sm-up) {
    padding-left: var(--spacing-tight);
    padding-right: var(--spacing-tight);
  }
}
