.author,
.title {
  padding-bottom: var(--spacing-tight);
  margin-bottom: var(--spacing-tight);

  border-bottom: 1px solid var(--color-line-grey);
}

.date {
  margin-top: var(--spacing-x-tight);
}

.toolbar-bottom {
  padding-top: var(--spacing-default);

  border-top: 1px solid var(--color-line-grey);
}
