.toolbar {
  @mixin shadow-border-top-grey;
  @mixin safe-area-botttom;

  position: fixed;
  bottom: 0;
  z-index: var(--z-index-bottom-bar);
  width: 100%;
  padding: var(--sp8) var(--sp16);
  background: var(--color-white);

  & .buttons {
    @mixin flex-center-space-between;

    & .commentButton {
      flex-grow: 1;
      justify-content: flex-start;
      padding: var(--sp10);
      margin-right: var(--sp16);
      font-size: var(--text14);
      color: var(--color-grey-darker);
      background: var(--color-grey-lighter);
      border-radius: 0.5rem;
    }
  }
}

.appreciationButton {
  transform: scale(0);
  animation: scale-out 0.2s;
}

.scaleOut {
  animation: scale-out 0.2s;
}

@keyframes scale-out {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0) translateX(-5px);
  }
}

.scaleIn {
  animation: scale-in 0.2s;
}

@keyframes scale-in {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}
