.support {
  margin-top: var(--spacing-loose);
  @mixin flex-center-space-between;

  & .hint {
    margin-top: var(--spacing-xx-tight);
    font-size: var(--font-size-xs);
    color: var(--color-grey);
  }

  & .right {
    @mixin flex-center-end;
  }
}

.donation {
  position: relative;
  padding: var(--spacing-base);
  margin: var(--spacing-base) 0;
  line-height: var(--line-height-base);
  text-align: center;
  background: var(--color-yellow-lighter);
  border-radius: 1.25rem;

  & span {
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-normal);
    line-height: 1.5rem;
    color: var(--color-black);
  }
}

.contentInput {
  @mixin flex-center-start;

  flex-direction: column;
  margin-top: calc(var(--spacing-base) * -1);
}

.preview {
  padding: var(--spacing-base);
}

.previewResponse {
  & p {
    font-size: var(--font-size-md-s);
    font-weight: var(--font-weight-medium);
  }
}

.previewButton {
  margin: var(--spacing-base) 0 0;

  & button {
    width: 100%;
  }
}
