.cover-field {
  position: relative;

  & .hint {
    position: absolute;
    top: 100%;
    right: 0;
    padding: var(--spacing-x-tight) var(--spacing-base);
    font-size: var(--font-size-xs);
    color: var(--color-grey);
  }
}

.avatar-field {
  padding-left: var(--spacing-base);
  margin-top: calc(var(--spacing-xx-loose) * -1);
}
