.cover-field {
  position: relative;

  & .hint {
    position: absolute;
    top: 100%;
    right: 0;
    padding: var(--spacing-x-tight) var(--spacing-base);
    font-size: var(--font-size-xs);
    color: var(--color-grey);
  }
}

.avatar-field {
  padding-left: var(--spacing-base);
  margin-top: calc(var(--spacing-xx-loose) * -1);
}

.container {
  margin-right: var(--spacing-base);
  margin-left: var(--spacing-base);

  @media (--sm-up) {
    margin-right: 0;
    margin-left: 0;
  }

  & :global(.field) {
    margin-right: 0;
    margin-left: 0;

    @media (--sm-up) {
      margin-right: 1rem;
      margin-left: 1rem;
    }

    & :global(.input-container) {
      margin: 0;
    }
  }
}
