.tabList {
  @mixin hide-scrollbar;

  display: flex;
  gap: var(--sp16);
  padding: var(--sp32) 0 0;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;

  @media (--sm-up) {
    padding: var(--sp32) 0 0;
  }

  & .tabItem {
    @mixin transition;

    flex-shrink: 0;
    padding: var(--sp5) var(--sp10);
    font-size: var(--font-size-sm);
    font-feature-settings:
      'clig' off,
      'liga' off;
    line-height: 1.375rem;
    color: var(--color-grey-darker);
    cursor: pointer;
    background: var(--color-grey-lighter);
    border-radius: 0.5rem;
    transition-property: background-color, color;

    /* FIX: change the font-weight of a font, the text will typically cause a bit of a layout shift
    ref: https://stackoverflow.com/a/32570813
    */
    &::after {
      display: block;
      height: 0;
      overflow: hidden;
      font-weight: var(--font-weight-semibold);
      color: transparent;
      visibility: hidden;
      content: attr(data-title);
    }

    &:hover {
      background: var(--color-grey-light);
    }

    &.active {
      font-weight: var(--font-weight-semibold);
      color: var(--color-white);
      background: var(--color-black);
    }
  }
}
