h2 {
  @mixin font-serif;

  font-size: 1.7rem;
  line-height: 1.4;

  @media (--sm-up) {
    font-size: 2.5rem;
  }
}

.goal {
  padding: var(--spacing-xxx-loose) 0;

  & img {
    display: block;
    height: 20rem;
    margin: 0 auto;
  }

  & h2 {
    margin-top: var(--spacing-xx-loose);
    text-align: center;
  }

  & p {
    margin-top: var(--spacing-loose);
  }

  @media (--sm-up) {
    padding: 8rem 0;

    & h2 {
      margin-top: 0;
      text-align: left;
    }
  }
}

.features {
  margin-top: 2.375rem;
  background-color: var(--color-yellow-lighter);

  & .title {
    position: relative;
    text-align: center;

    & h2 {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      margin-top: -2.375rem;
    }
  }

  & .feature-section {
    padding-top: var(--spacing-xxx-loose);

    &:last-child {
      padding-bottom: var(--spacing-xxx-loose);
    }

    & .intro {
      text-align: center;

      & h3 {
        font-size: var(--font-size-xl);
        font-weight: var(--font-weight-light);
      }

      & p {
        margin-top: var(--spacing-base);
        margin-bottom: var(--spacing-x-loose);
        font-size: var(--font-size-sm);
        color: var(--color-matters-gold);
      }
    }

    & img {
      border: 3px solid var(--color-grey-light);
      border-radius: 10px;
    }
  }

  @media (--sm-up) {
    margin-top: 3.5rem;
    background: linear-gradient(
        90deg,
        var(--color-yellow-lighter) 50%,
        transparent 50%
      )
      no-repeat;

    & .title {
      text-align: left;

      & h2 {
        margin-top: -3.5rem;
      }
    }

    & .feature-section {
      padding-top: 9rem;

      &:last-child {
        padding-bottom: 9rem;
      }

      & .intro {
        @mixin flex-start-center;

        flex-direction: column;
        text-align: left;

        & p {
          margin-bottom: 0;
        }
      }
    }
  }
}
