h2 {
  @mixin font-serif;
  font-size: 1.7rem;
  line-height: 1.4;

  @media (--sm-up) {
    font-size: 2.5rem;
  }
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: var(--spacing-x-loose) 0;

  z-index: 1;

  & .logo {
    & :global(svg) {
      width: 97px;
      height: 20px;
    }
  }
}

.slogan {
  @mixin flex-center-space-between;
  align-items: flex-start;

  position: relative;
  padding-top: 8.125rem;
  height: 100vh;
  height: calc(var(--vh) * 100);

  background-color: var(--color-green-lighter);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
  text-align: center;

  @media (--sm-up) {
    align-items: center;
    padding-top: 0;
    height: 50rem;
    background-position: right center;
    text-align: left;
  }

  & img {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
  }

  & .buttons {
    margin-top: var(--spacing-xx-loose);
  }
}

.goal,
.growing {
  padding: var(--spacing-xxx-loose) 0;

  & img {
    display: block;
    margin: 0 auto;
    height: 20rem;
  }

  & h2 {
    margin-top: var(--spacing-xx-loose);
    text-align: center;
  }

  & p {
    margin-top: var(--spacing-loose);
  }

  @media (--sm-up) {
    padding: 8rem 0;

    & h2 {
      margin-top: 0;
      text-align: left;
    }
  }
}

.features {
  margin-top: 2.375rem;
  background-color: var(--color-yellow-lighter);

  & .title {
    position: relative;
    text-align: center;

    & h2 {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      margin-top: -2.375rem;
    }
  }

  & .feature-section {
    padding-top: var(--spacing-xxx-loose);

    &:last-child {
      padding-bottom: var(--spacing-xxx-loose);
    }

    & .intro {
      text-align: center;

      & h3 {
        font-size: var(--font-size-xl);
        font-weight: var(--font-weight-light);
      }
      & p {
        margin-top: var(--spacing-base);
        margin-bottom: var(--spacing-x-loose);
        color: var(--color-matters-gold);
        font-size: var(--font-size-sm);
      }
    }

    & img {
      border: 3px solid var(--color-grey-light);
      border-radius: 10px;
    }
  }

  @media (--sm-up) {
    margin-top: 3.5rem;
    background: linear-gradient(
        90deg,
        var(--color-yellow-lighter) 50%,
        transparent 50%
      )
      no-repeat;

    & .title {
      text-align: left;

      & h2 {
        margin-top: -3.5rem;
      }
    }

    & .feature-section {
      padding-top: 9rem;

      &:last-child {
        padding-bottom: 9rem;
      }

      & .intro {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        text-align: left;

        & p {
          margin-bottom: 0;
        }
      }
    }
  }
}

.reports {
  margin-top: 5rem;
  margin-bottom: var(--spacing-xxx-loose);

  & h2 {
    margin-bottom: var(--spacing-xx-loose);
    text-align: center;
  }

  & .item {
    width: 100%;
    margin-bottom: var(--spacing-base);
    padding: 0 var(--spacing-x-tight);

    @media (--sm-up) {
      width: 50%;
    }

    @media (--lg-up) {
      width: 25%;
    }

    & a {
      @mixin all-transition;
      position: relative;
      display: block;
      padding: var(--spacing-base);
      background: var(--color-grey-lighter);

      &:hover,
      &:focus {
        background: var(--color-green-lighter);

        & h3 {
          color: var(--color-matters-green);
        }
      }

      & h3 {
        @mixin font-serif;
        margin-bottom: var(--spacing-x-tight);
        font-size: var(--font-size-xl);
        line-height: 1.3333333;
      }
    }
  }

  @media (--sm-up) {
    margin-top: 7.5rem;
    margin-bottom: 4.5rem;

    & .item {
      & a {
        height: 17rem;

        & cite {
          position: absolute;
          bottom: var(--spacing-base);
          left: var(--spacing-base);
          right: var(--spacing-base);
          color: var(--color-grey-darker);
          font-style: normal;
          font-weight: var(--font-weight-medium);
        }
      }
    }
  }
}

.footer {
  padding: 4.5rem 0 2rem;

  background: var(--color-grey-lighter);
  text-align: center;

  & .footer-section {
    margin-bottom: var(--spacing-xxx-loose);
  }

  & h2 {
    font-size: var(--font-size-lg);
    margin-bottom: var(--spacing-loose);
  }
  & p {
    @mixin font-serif;

    & + p {
      margin-top: var(--spacing-loose);
    }
  }
  & .socials {
    & :global(> *) {
      display: inline-block;
      margin: 0 calc(var(--spacing-loose) / 2);
    }
  }

  & form {
    display: flex;

    & input {
      @mixin border-bottom-grey;
      display: inline-block;
      padding: var(--spacing-x-tight);
      margin-right: var(--spacing-base);
      height: 2.5rem;

      background: var(--color-white);
    }
  }

  & .copyright {
    @mixin font-serif;

    font-size: var(--font-size-sm);
    color: var(--color-grey-dark);
  }

  @media (--sm-up) {
    padding: 7.5rem 0;
    text-align: left;

    & .socials {
      & :global(> *) {
        margin-left: 0;
        margin-right: var(--spacing-loose);
        margin-bottom: var(--spacing-x-tight);
      }
    }

    & .copyright {
      color: var(---grey-dark);
    }
  }
}
