.container {
  @mixin flex-center-start;

  margin: var(--spacing-loose) 0;
  padding: 0 var(--spacing-base);
}

.hint {
  margin-left: var(--spacing-base);
  color: var(--color-grey-dark);
  font-size: var(--font-size-sm);
}
