.container {
  @mixin flex-center-start;
  padding: 0 var(--spacing-base);

  margin: var(--spacing-loose) 0;
}

.hint {
  margin-left: var(--spacing-base);
  font-size: var(--font-size-sm);
  color: var(--color-grey-dark);
}
