.content {
  @mixin flex-start-start;
}

.header {
  margin-left: var(--sp16);
}

.title {
  margin-bottom: var(--sp4);
  font-weight: var(--font-medium);
  line-height: 1.5rem;
}

.textSizeMdS {
  font-size: var(--text15);
}

.textSizeXm {
  font-size: var(--text18);
}

.description {
  @mixin line-clamp;

  -webkit-line-clamp: 3;
  margin-top: var(--sp16);
  font-size: var(--text15);
  line-height: 1.5rem;
  color: var(--color-grey-darker);
}

.footer {
  @mixin flex-center-space-between;

  margin-top: var(--sp16);
}
