.cover {
  position: relative;
  width: 100%;
  margin-bottom: var(--sp16);
  font-size: 0;

  &.hasCover {
    &::after {
      display: block;
      padding-bottom: 50%;
      content: '';

      @media (--xs-up) {
        padding-bottom: 100%;
      }
    }
  }

  & img {
    @mixin object-fit-cover;

    overflow: hidden;
    border-radius: 0.5rem;
  }

  & .pinned {
    position: absolute;
    top: -1.3125rem;
    right: 15.67px;
    height: 2.25rem;
    padding: 0.5rem;
  }
}

.author {
  display: flex;
}

.title {
  padding-top: var(--sp8);
}

.coverIcon {
  & svg {
    width: 100%;
    height: 50%;

    @media (--xs-up) {
      height: 100%;
    }
  }
}
