h2 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-weight: var(--font-weight-bold);
  font-family: var(--font-serif-tc);
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.support-text {
  margin-left: 5rem;
  margin-right: 5rem;
  font-size: var(--font-size-sm);
  color: var(--color-grey-darker);
  margin-bottom: 1.5rem;
}

.strong {
  color: var(--color-black);
  font-weight: var(--font-weight-semibold);
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}
