.expandable {
  position: relative;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* autoprefixer: ignore next */
  -webkit-box-orient: vertical;
  overflow: hidden;

  & button {
    position: absolute;
    right: 0;
    bottom: 0;

    background: #f2faf7;
    border-radius: 2rem;
    padding: var(--spacing-xx-tight) var(--spacing-x-tight);
  }
}

.bg-white {
  & button {
    background: var(--color-white);
  }
}

.bg-green-lighter {
  & button {
    background: var(--color-green-lighter);
  }
}
