.expandable {
  position: relative;
  white-space: pre-wrap;

  & .lineClamp {
    @mixin line-clamp;
  }

  & .expandButton {
    color: var(--color-grey);
    cursor: pointer;
  }

  & .collapseWrapper {
    @mixin flex-center-end;

    margin-top: var(--sp8);
  }

  & .unexpandWrapper {
    position: relative;

    & .richShowMoreButton {
      @mixin transition;

      margin-top: var(--sp4);
      font-size: var(--text14);
      line-height: 1.375rem;
      color: var(--color-grey-darker);
      transition-property: color;

      &:hover {
        color: var(--color-black);
      }
    }

    & .sizeMdS {
      font-size: var(--text15);
      line-height: 1.75;
    }
  }

  & .richWrapper {
    @mixin line-clamp;
  }
}

/* color */
.black {
  color: var(--color-black);
}

.grey {
  color: var(--color-grey);
}

.greyLight {
  color: var(--color-grey-light);
}

.greyDark {
  color: var(--color-grey-dark);
}

.greyDarker {
  color: var(--color-grey-darker);
}

/* size */
.sizeSm {
  font-size: var(--text14);
}

.sizeMdS {
  font-size: var(--text15);
}

.sizeMd {
  font-size: var(--text16);
}

/* space top */
.spacingTopBase {
  margin-top: var(--sp16);
}

.spacingTopTight {
  margin-top: var(--sp12);
}

.textIndent {
  text-indent: 2rem;
}
