.expandable {
  position: relative;
  white-space: pre-wrap;

  & .children {
    @mixin line-clamp;
  }

  & .expandButton {
    color: var(--color-grey);
    cursor: pointer;
  }

  & .collapseWrapper {
    @mixin flex-center-end;

    margin-top: var(--spacing-x-tight);
  }

  & .unexpandWrapper {
    position: relative;

    & .richShowMoreButton {
      @mixin flex-start-center;

      position: absolute;
      bottom: 0;
      align-items: flex-end;
      width: 100%;
      height: 7.5rem;
      color: var(--color-grey);

      &:hover {
        color: var(--color-grey-darker);
      }

      &.white {
        background: linear-gradient(
          180deg,
          rgb(255 255 255 / 0%) 0%,
          var(--color-white) 100%
        );
      }

      &.grey-lighter {
        background: linear-gradient(
          180deg,
          rgb(247 247 247 / 0%) 0%,
          var(--color-grey-lighter) 100%
        );
      }
    }
  }

  & .richWrapper {
    overflow-y: hidden;
    overflow-y: clip;

    &::after {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: 80%;
      pointer-events: none;
      content: '';
    }

    &.white::after {
      background: linear-gradient(
        180deg,
        rgb(255 255 255 / 0%) 0%,
        var(--color-white) 100%
      );
    }

    &.greyLighter::after {
      background: linear-gradient(
        180deg,
        rgb(247 247 247 / 0%) 0%,
        var(--color-grey-lighter) 100%
      );
    }
  }
}

/* color */
.black {
  color: var(--color-black);
}

.grey {
  color: var(--color-grey);
}

.greyLight {
  color: var(--color-grey-light);
}

.greyDark {
  color: var(--color-grey-dark);
}

.greyDarker {
  color: var(--color-grey-darker);
}

/* size */
.sizeSm {
  font-size: var(--font-size-sm);
}

.sizeMdS {
  font-size: var(--font-size-md-s);
}

.sizeMd {
  font-size: var(--font-size-md);
}

/* space top */
.spacingTopBase {
  margin-top: var(--spacing-base);
}

.spacingTopTight {
  margin-top: var(--spacing-tight);
}

.textIndent {
  text-indent: 2rem;
}
