.expandable {
  position: relative;
  white-space: pre-wrap;

  & .expandButton {
    color: var(--color-grey);
    cursor: pointer;
  }

  & .collapseWrapper {
    @mixin flex-center-end;

    margin-top: var(--spacing-x-tight);
  }

  & .richWrapper {
    overflow-y: hidden;
    overflow-y: clip;

    &::after {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: 50%;
      pointer-events: none;
      content: '';
    }

    &.white::after {
      background: linear-gradient(180deg, rgb(255 255 255 / 0%) 0%, #fff 100%);
    }

    &.grey-lighter::after {
      background: linear-gradient(
        180deg,
        rgb(247 247 247 / 0%) 0%,
        #f7f7f7 100%
      );
    }
  }
}

/* color */
.black {
  color: var(--color-black);
}

.grey {
  color: var(--color-grey);
}

.grey-light {
  color: var(--color-grey-light);
}

.grey-dark {
  color: var(--color-grey-dark);
}

.grey-darker {
  color: var(--color-grey-darker);
}

/* size */
.size-sm {
  font-size: var(--font-size-sm);
}

.size-md-s {
  font-size: var(--font-size-md-s);
}

.size-md {
  font-size: var(--font-size-md);
}

/* space top */
.spacing-top-base {
  margin-top: var(--spacing-base);
}

.textIndent {
  text-indent: 2rem;
}
