.container {
  background: var(--color-white);
}

.discussion {
  padding: 0 var(--sp16);
  margin-top: var(--sp8);

  @media (--sm-up) {
    padding: 0;
  }

  & .header {
    margin-bottom: var(--sp24);
  }
}

.wall {
  margin-top: var(--sp16);
  margin-bottom: calc(calc(var(--sp64) + var(--global-nav-height)) * -1);

  & img {
    display: block;
    width: 100%;
  }

  & .brief {
    height: calc(var(--sp64) + var(--global-nav-height));
    margin-top: calc(-1px);
    text-align: center;
    background: var(--color-matters-green);

    & p {
      display: inline-block;
      padding: var(--sp8) var(--sp16);
      margin-top: var(--sp16);
      font-size: var(--text15);
      color: var(--color-white);
      background: #095552;
      border-radius: 3rem;
    }
  }
}
