.container {
  padding-top: var(--spacing-x-tight);
  padding-bottom: var(--spacing-xxx-loose);
  background: var(--color-white);
  border-radius: 1.25rem 1.25rem 0 0;

  @media (--sm-up) {
    padding-top: 0;
    padding-bottom: var(--spacing-xx-loose);
  }
}

.discussion {
  padding: 0 var(--spacing-base);
  margin-top: var(--spacing-x-tight);

  & header {
    margin-bottom: var(--spacing-loose);
  }
}

:root {
  --wall-bottom-offset: calc(
    var(--spacing-xxx-loose) + var(--global-nav-height) * 2
  );
}

.wall {
  margin-top: var(--spacing-base);
  margin-bottom: calc(var(--wall-bottom-offset) * -1);

  & img {
    display: block;
    width: 100%;
  }

  & .brief {
    height: calc(var(--wall-bottom-offset));
    margin-top: calc(-1px);
    text-align: center;
    background: var(--color-matters-green);

    & p {
      display: inline-block;
      padding: var(--spacing-x-tight) var(--spacing-base);
      margin-top: var(--spacing-base);
      font-size: var(--font-size-md-s);
      color: var(--color-white);
      background: #095552;
      border-radius: 3rem;
    }
  }
}
