.container {
  background: var(--color-white);
}

.discussion {
  padding: 0 var(--spacing-base);
  margin-top: var(--spacing-x-tight);

  & .header {
    margin-bottom: var(--spacing-loose);
  }
}

.wall {
  margin-top: var(--spacing-base);
  margin-bottom: calc(
    calc(var(--spacing-xxx-loose) + var(--global-nav-height)) * -1
  );

  & img {
    display: block;
    width: 100%;
  }

  & .brief {
    height: calc(var(--spacing-xxx-loose) + var(--global-nav-height));
    margin-top: calc(-1px);
    text-align: center;
    background: var(--color-matters-green);

    & p {
      display: inline-block;
      padding: var(--spacing-x-tight) var(--spacing-base);
      margin-top: var(--spacing-base);
      font-size: var(--font-size-md-s);
      color: var(--color-white);
      background: #095552;
      border-radius: 3rem;
    }
  }
}
