.container {
  position: sticky;
  top: var(--global-header-height); /* fallback */
  top: calc(
    var(--global-header-height) + var(--spacing-base)
  ); /* global header's height + base spacing */

  margin-top: calc(var(--spacing-xx-loose) * -1);
  margin-bottom: var(--spacing-loose);

  z-index: 10;
}
