.container {
  position: sticky;
  top: calc(3rem + var(--spacing-base));

  margin-top: calc(var(--spacing-xx-loose) * -1);
  margin-bottom: var(--spacing-loose);

  z-index: 10;

  @media (--sm-up) {
    top: calc(4rem + var(--spacing-base));
  }
}
