.container {
  position: sticky;
  top: calc(var(--global-header-height-mobile) + var(--spacing-base));
  z-index: 10;
  margin-top: calc(var(--spacing-xx-loose) * -1);
  margin-bottom: var(--spacing-loose);

  @media (--sm-up) {
    top: calc(var(--global-header-height) + var(--spacing-base));
  }
}
