.setAmountHeader {
  @mixin flex-center-space-between;

  padding-bottom: var(--sp16);
  border-bottom: 0.5px solid var(--color-line-grey);
}

.changeButton {
  display: inline-block;
  margin-left: var(--sp8);
}
