.joinUs {
  position: relative;
  padding-top: 5rem;
  padding-bottom: 3.5rem;
  background-image: var(--about-join-us-bg);
  background-position: right bottom;
  background-size: 196px;

  & h2 {
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-semibold);
    text-align: center;
  }

  @media (--sm-up) {
    padding-bottom: 7.5rem;

    & h2 {
      font-size: 2.25rem;
    }
  }

  @media (--sm-up) {
    background-size: 216px;

    & img {
      width: 375px;
      height: 473px;
    }
  }

  & ul {
    margin-top: var(--sp24);
  }

  & li {
    & a {
      @mixin flex-center-space-between;

      padding: var(--sp16) var(--sp16) var(--sp16) 0;
      font-size: var(--font-size-lg);

      &:hover,
      &:focus {
        color: var(--color-matters-green);
      }
    }

    & + li {
      @mixin border-top-grey;
    }
  }
}

.title,
.list {
  grid-column: 1 / -1;
}
