.badge-civic-liker {
  height: 16px;
  padding: 0 6px;

  color: var(--color-white);
  font-size: 9px;
  font-weight: var(--font-weight-semibold);
  line-height: 16px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}
