.container {
  @mixin all-transition;

  padding: var(--spacing-x-tight) var(--spacing-tight);
  min-height: 2.5rem;

  font-size: var(--font-size-sm); /* fallbakc */
  font-size: calc(var(--font-size-sm) + 1px);
  line-height: 1.5rem;

  background-color: var(--color-grey-lighter);
  border-top-right-radius: 0.15rem;
  border-top-left-radius: 0.15rem;
  border-bottom: 1px solid var(--color-grey-light);

  &.focus {
    background-color: var(--color-bg-green);
    border-bottom: 1px solid var(--color-matters-green);
  }
}
