.container {
  @mixin text-input;

  position: relative;

  & :global(.ql-editor) {
    min-height: 4rem;
  }
}

.collapsed-input {
  @mixin text-input;
  height: 2.5rem;
}

.mention-container {
  position: absolute;

  width: var(--sizing-menu-md);
  visibility: hidden;

  color: var(--color-black);
  border-radius: 2px;
  background: var(--color-white);
  box-shadow: var(--shadow-dark);
  border: 1px solid var(--color-line-grey-light);
}
