footer {
  @mixin flex-center-space-between;

  margin-top: var(--spacing-tight);

  font-size: var(--font-size-xs);
  color: var(--color-grey);

  & .left {
    display: flex;
    align-items: center;

    & > :global(* + *) {
      line-height: 1;
    }
  }
  & .space-left {
    margin-left: var(--spacing-tight);
  }
  & .space-right {
    margin-right: var(--spacing-tight);
  }
}

button.active {
  color: var(--color-black);
}

.comment-form {
  margin-top: var(--spacing-tight);
}
