:root {
  --bubble-menu-width: 21.5rem;
  --bubble-menu-width-comment: 16.5rem;
}

.container {
  @mixin flex-center-all;
  @mixin border-grey;

  position: relative;
  width: var(--bubble-menu-width);
  padding: var(--spacing-x-tight) var(--spacing-base);
  background: var(--color-white);
  border-radius: var(--spacing-xx-tight);
  box-shadow: var(--shadow-dark);

  &.comment {
    width: var(--bubble-menu-width-comment);
  }

  & :global(* + *) {
    margin-left: var(--spacing-tight);
  }

  & .active {
    color: var(--color-matters-green);
  }

  & input {
    width: 100%;
    height: 1.5rem;
    font-size: var(--font-size-sm);
    color: var(--color-black);
    background: transparent;
    border: none;
    outline: none;
  }
}
