.container {
  @mixin flex-center-all;
  @mixin border-grey;

  position: relative;
  width: 20.875rem; /* 9 * 22 + 8 * 14 + 12 * 2 */
  padding: var(--sp8) var(--sp12);
  background: var(--color-white);
  border-radius: var(--sp8);
  box-shadow: 0 4px 16px 0 rgb(0 0 0 / 12%);

  &.comment {
    width: 5.125rem; /* 2 * 22 + 1 * 14 + 12 * 2 */
  }

  & > * + * {
    margin-left: var(--sp14);
    font-size: 0;
  }

  & button {
    &:disabled {
      color: var(--color-grey);
      opacity: 1;
    }
  }

  @media (--sm-up) {
    width: 27rem; /* 9 * 24 + 8 * 24 + 16 * 2 */

    & > * + * {
      margin-left: var(--sp24);
    }

    &.comment {
      width: 6rem; /* 2 * 24 + 1 * 24 + 12 * 2 */
    }
  }

  & .active {
    color: var(--color-matters-green);
  }

  & input {
    width: 100%;
    height: 1.5rem;
    font-size: var(--text14);
    color: var(--color-black);
    background: transparent;
    border: none;
    outline: none;
  }

  & .urlInput {
    width: 100%;
    height: 1.5rem;
    font-size: var(--text14);
    color: var(--color-black);
    background: transparent;
    border: none;
    outline: none;
  }

  & .urlSubmitButton {
    height: 1.5rem;
    font-size: var(--text13);
    color: var(--color-matters-green);
  }
}
