.container {
  @mixin flex-center-all;
  @mixin border-grey;

  position: relative;
  width: 21.5rem; /* 9 * 24 + 8 * 12 + 16 * 2 */
  padding: var(--sp8) var(--sp16);
  background: var(--color-white);
  border-radius: var(--sp4);
  box-shadow: var(--shadow-dark);

  &.comment {
    width: 5.75rem; /* 2 * 24 + 1 * 12 + 16 * 2 */
  }

  & * + * {
    margin-left: var(--sp12);
  }

  & .active {
    color: var(--color-matters-green);
  }

  & input {
    width: 100%;
    height: 1.5rem;
    font-size: var(--font-size-sm);
    color: var(--color-black);
    background: transparent;
    border: none;
    outline: none;
  }

  & .urlInput {
    width: 100%;
    height: 1.5rem;
    font-size: var(--font-size-sm);
    color: var(--color-black);
    background: transparent;
    border: none;
    outline: none;
  }

  & .urlSubmitButton {
    height: 1.5rem;
    font-size: var(--font-size-sm-s);
    color: var(--color-matters-green);
  }
}
