.subscription-banner {
  & :global(.fixed-main) {
    bottom: var(--global-nav-height);
    z-index: var(--z-index-bottom-bar);

    @media (--sm-up) {
      bottom: 0;
    }
  }
}

.content {
  @mixin safe-area-botttom;
  @mixin all-transition;

  background: var(--color-matters-gold);

  &:hover,
  &:focus {
    background: var(--color-matters-gold-active);
  }

  @media (--sm-up) {
    margin: var(--spacing-loose) var(--spacing-base);
    border-radius: var(--spacing-base);
  }
}

.inner {
  @mixin flex-center-space-between;

  padding: var(--spacing-base);
  font-size: var(--font-size-md);
  color: var(--color-white);
}
