.unreadIcon {
  position: relative;
  display: inline-flex;

  &::after {
    @mixin transition;

    position: absolute;
    top: -0.25rem;
    right: -0.25rem;
    width: 0.5rem;
    height: 0.5rem;
    content: '';
    background: var(--color-new-palette-green);
    border-radius: 50%;
    transition-property: transform;
    transform: scale(0);
    animation: pulse-green 3s ease infinite;
  }

  &.unread {
    transform-origin: 50% 4px;
    animation: ring 10s ease infinite;
  }

  &.unread::after {
    transform: scale(1);
  }
}

@keyframes pulse-green {
  0% {
    box-shadow: 0 0 0 0 var(--color-new-palette-green);
    transform: scale(0.85);
  }

  70% {
    box-shadow: 0 0 0 12px rgb(255 82 82 / 0%);
    transform: scale(0.9);
  }

  100% {
    box-shadow: 0 0 0 0 rgb(255 82 82 / 0%);
    transform: scale(0.85);
  }
}

@keyframes ring {
  0% {
    transform: rotate(0);
  }

  1% {
    transform: rotate(12deg);
  }

  2% {
    transform: rotate(-10deg);
  }

  3% {
    transform: rotate(8deg);
  }

  4% {
    transform: rotate(-6deg);
  }

  5% {
    transform: rotate(4deg);
  }

  6% {
    transform: rotate(-2deg);
  }

  7% {
    transform: rotate(1deg);
  }

  8% {
    transform: rotate(0);
  }

  10% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(0);
  }
}
