.unread-icon {
  position: relative;
  display: inline-flex;

  &::after {
    @mixin all-transition;

    position: absolute;
    top: -0.25rem;
    right: -0.25rem;
    width: 0.5rem;
    height: 0.5rem;
    content: '';
    background: var(--color-matters-green);
    border-radius: 50%;
    transform: scale(0);
  }

  &.unread::after {
    transform: scale(1);
  }
}
