.sort-button {
  font-size: var(--font-size-sm);
  color: var(--color-grey-dark);
}

.dropdown-button {
  font-size: var(--font-size-sm);

  &.active {
    font-weight: var(--font-weight-bold);
  }
}
