.article {
  @mixin transition;

  display: inline-flex;
  align-items: center;
  padding: var(--sp5) var(--sp10) var(--sp5) var(--sp8);
  color: var(--color-grey-darker);
  background: var(--color-grey-lighter);
  border-radius: 0.5rem;
  transition-property: color, background;

  & .name {
    @mixin line-clamp;
    @mixin fix-cropped-letters;

    font-size: var(--text14);
    line-height: 1.375rem; /* 22px */
  }

  &:not(.disabled) {
    &:hover,
    &:focus {
      color: var(--color-black);
      background: var(--color-grey-hover);
    }
  }
}
