.container {
  @mixin flex-start-space-between;

  padding: var(--spacing-xx-tight);
  line-height: 1;
}

.name {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-normal);
  line-height: 1rem;
  color: var(--color-grey-darker);
}

[aria-selected='true'] .name {
  font-weight: var(--font-weight-medium);
}
[aria-selected='false'] .name {
  font-weight: var(--font-weight-normal);
}

.subtitle {
  margin-top: var(--spacing-xx-tight);
  font-size: var(--font-size-xs);
  line-height: 1rem;
}

.left {
  display: inline-flex;
  flex-direction: column;
  margin-right: var(--spacing-xx-tight);
}

.right {
  display: inline-flex;
}
