/* @styled-jsx=global */

.dialog[data-reach-dialog-overlay] {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: var(--z-index-dialog);
  overflow: hidden;

  @media (--sm-up) {
    @mixin flex-center-all;
  }
}

.dialog [data-reach-dialog-content] {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  outline: none;

  @media (--sm-up) {
    position: relative;
    right: auto;
    bottom: auto;
    left: auto;
    width: 100%;
  }
}
