.dialog {
  position: fixed;
  inset: 0;
  z-index: var(--z-index-dialog);
  overflow: hidden;

  &.overlay {
    background: rgb(0 0 0 / 40%);
    will-change: opacity;
  }

  &.scrollable {
    overflow: auto !important;
  }

  @media (--sm-up) {
    @mixin flex-center-all;
  }
}

.content {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  outline: none;

  @media (--sm-up) {
    position: relative;
    right: auto;
    bottom: auto;
    left: auto;
    width: 23.4375rem; /* 375px */
    margin-top: auto;
    margin-bottom: auto;
    transform-origin: center bottom 0;
  }
}
