/* @styled-jsx=global */

@custom-media --sm-up (min-width: 768px);
@custom-media --sm-down (max-width: 767px);
@custom-media --md-up (min-width: 1024px);
@custom-media --md-down (max-width: 1023px);
@custom-media --lg-up (min-width: 1280px);
@custom-media --lg-down (max-width: 1279px);
@custom-media --xl-up (min-width: 1440px);
@custom-media --xl-down (max-width: 1439px);
