/* @styled-jsx=global */

:root {
  --color-matters-gold: #c0a46b;
  --color-matters-green: #0d6763;

  --color-black: #333333;
  --color-grey-darker: #808080;
  --color-grey-dark: #999c9d;
  --color-grey: #b3b3b3;
  --color-grey-light: #dddddd;
  --color-grey-lighter: #f6f6f6;
  --color-white: #ffffff;

  --color-green-lighter: #f2faf7;

  --color-yellow: #bfa267;
  --color-yellow-lighter: #faf7f0;

  --color-red: #c85c41;
  --color-red-lighter: #f9eeec;

  /* hover */
  --color-matters-gold-hover: color(var(--color-matters-gold) shade(5%));
  --color-matters-green-hover: color(var(--color-matters-green) shade(5%));
  --color-red-hover: color(var(--color-red) shade(5%));

  /* line */
  --color-line-grey-light: rgba(0, 0, 0, 0.06);
  --color-line-grey: rgba(0, 0, 0, 0.16);
  --color-line-grey-dark: rgba(0, 0, 0, 0.24);
}
