:root {
  --color-matters-gold: #c0a46b;
  --color-matters-green: #0d6763;
  --color-matters-green-dark: #0a524f;
  --color-black: #333;
  --color-grey-darkest: #505050;
  --color-grey-darker: #808080;
  --color-grey-dark: #999c9d;
  --color-grey: #b3b3b3;
  --color-grey-light: #ddd;
  --color-grey-lighter: #f7f7f7;
  --color-white: #fff;
  --color-white-light: #fff9;
  --color-red-dark: #a04a34;
  --color-red: #c85c41;
  --color-red-lighter: #fae7e3;
  --color-green-lighter: #f2faf7;
  --color-yellow-lighter: #faf7f0;
  --color-likecoin-green: #40bfa5;
  --color-analytics-red: #c25050;

  /* hover */
  --color-matters-gold-active: #b69c66;
  --color-grey-lighter-active: #ededed;

  /* line */
  --color-line-grey-light: rgb(0 0 0 / 8%);
  --color-line-grey: rgb(0 0 0 / 16%);
  --color-line-grey-dark: rgb(0 0 0 / 24%);

  /* background */
  --color-bg-black: rgb(0 0 0 / 70%);
}
