/* @styled-jsx=global */

:root {
  --color-matters-gold: #c0a46b;
  --color-matters-green: #0d6763;
  --color-black: #333;
  --color-grey-darker: #808080;
  --color-grey-dark: #999c9d;
  --color-grey: #b3b3b3;
  --color-grey-light: #ddd;
  --color-grey-lighter: #f7f7f7;
  --color-white: #fff;
  --color-red: #c85c41;
  --color-green-lighter: #f2faf7;
  --color-yellow-lighter: #faf7f0;

  /* hover */
  --color-matters-gold-active: color(var(--color-matters-gold) shade(5%));
  --color-matters-green-active: color(var(--color-matters-green) shade(5%));
  --color-grey-lighter-active: #ededed;

  /* line */
  --color-line-grey-light: rgba(0, 0, 0, 0.08);
  --color-line-grey: rgba(0, 0, 0, 0.16);
  --color-line-grey-dark: rgba(0, 0, 0, 0.24);
}
