:root {
  /* logo */
  --color-matters-gold: #c0a46b;
  --color-matters-gold-hover: #ab8840;
  --color-matters-gold-press: #8a6b2c;
  --color-matters-gold-lighter: #faf7f0; /* FIXME: undocumented */
  --color-matters-gold-light: #fff4dc; /* FIXME: undocumented */
  --color-yellow-lighter: #faf7f0;
  --color-matters-green: #0d6763;
  --color-matters-green-hover: #0a524f;
  --color-matters-green-press: #074643;
  --color-green-lighter: #f2faf7;

  /* grey scale */
  --color-black: #333;
  --color-grey-darker: #808080;
  --color-grey-dark: #999c9d;
  --color-grey: #b3b3b3;
  --color-grey-darkest: #505050; /* FIXME: undocumented */
  --color-grey-light: #ddd;
  --color-grey-lighter: #f7f7f7;
  --color-grey-hover: #ededed;
  --color-white: #fff;
  --color-white-light: #fff9; /* FIXME: undocumented */

  /* function */
  --color-positive-green: #5c9969;
  --color-new-palette-green: #82da0f;
  --color-top-up-yellow: #fff4dc;
  --color-top-up-yellow-darker: #ffe9b8;
  --color-warn-yellow: #dba34f;
  --color-negative-red: #c85c41;
  --color-negative-red-2: #a04a34;
  --color-heart-red: #e95656;
  --color-insufficient-red: #ffe8e8;
  --color-red-lighter: #fae7e3; /* FIXME: undocumented */
  --color-analytics-red: #c25050; /* FIXME: undocumented */
  --color-free-write-blue-bg: #f0f9fe;
  --color-free-write-blue: #1999d0;
  --color-free-write-blue-label: #83bad1;
  --color-free-write-blue-border: #d6ebf7;
  --color-free-write-green-text: #398449;
  --color-free-write-green-bg: #f1faf2;
  --color-free-write-green-bg-hover: #e3f5e5;
  --color-free-write-green-label: #94d09c;

  /* others */
  --color-noir: #000;
  --color-likecoin: #40bfa5;
  --color-debug: #f00;

  /* line */

  /* FIXME: undocumented */
  --color-line-grey-light: rgb(0 0 0 / 8%);
  --color-line-grey: rgb(0 0 0 / 16%);
  --color-line-grey-dark: rgb(0 0 0 / 24%);
  --color-line-matters-green-light: #0d676366;
  --color-line-matters-gold-light: rgb(192 164 107 / 40%);
  --color-line-matters-golod-lighter: rgb(192 164 107 / 20%);
  --color-line-matters-negative-red-lighter: rgb(200 92 65 / 20%);
  --color-new-palette-linear-ocean: linear-gradient(
    90deg,
    #735bf3 0%,
    #028ccc 100%
  );
  --color-new-palette-linear-ocean-deep: linear-gradient(
    90deg,
    #4b0ad6 0%,
    #006fa3 100%
  );
  --color-new-palette-info-0: #edf9ff;
}
