/* @styled-jsx=global */

:root {
  --sizing-root: 16px;
  --global-header-height: 4rem;
  --global-header-height-mobile: 3rem;
  --global-nav-height: 4rem;
  --sizing-menu-md: 17rem;
  --sizing-menu-sm: 12.5rem;
}
