:root {
  --sp1: 0.0625rem; /* 1px */
  --sp2: 0.125rem; /* 2px */
  --sp4: 0.25rem; /* 4px */
  --sp5: 0.3125rem; /* 5px */
  --sp6: 0.375rem; /* 6px */
  --sp8: 0.5rem; /* 8px */
  --sp10: 0.625rem; /* 10px */
  --sp12: 0.75rem; /* 12px */
  --sp13: 0.8125rem; /* 13px */
  --sp14: 0.875rem; /* 14px */
  --sp16: 1rem; /* 16px */
  --sp18: 1.125rem; /* 18px */
  --sp20: 1.25rem; /* 20px */
  --sp24: 1.5rem; /* 24px */
  --sp30: 1.875rem; /* 30px */
  --sp32: 2rem; /* 32px */
  --sp40: 2.5rem; /* 40px */
  --sp44: 2.75rem; /* 44px */
  --sp48: 3rem; /* 48px */
  --sp64: 4rem; /* 64px */
  --sp78: 4.875rem; /* 78px */
  --ar17-100: 0.93125rem; /* 14.9px */
  --ar17-150: 1.4rem; /* 22.4px */
  --ar17-200: 1.8625rem; /* 29.8px */
  --ar17-300: 2.8rem; /* 44.8px */
  --ar17-400: 3.725rem; /* 59.6px */
}
