@font-face {
  font-family: 'Google Noto Serif TC';
  src: url('../../../../public/static/fonts/NotoSerifTC-Regular.otf')
    format('opentype');
}

@font-face {
  font-family: 'Google Noto Serif SC';
  src: url('../../../../public/static/fonts/NotoSerifSC-Regular.otf')
    format('opentype');
}

:root {
  /* Font Stack */
  --font-sans-tc: -apple-system, blinkmacsystemfont, 'Helvetica Neue',
    'Segoe UI', roboto, arial, 'PingFang TC', 'PingFang SC', 'Noto Sans TC',
    'Noto Sans SC', 'Noto Sans CJK TC', 'Noto Sans CJK SC', 'Source Han Sans TW',
    'Source Han Sans CN', 'Microsoft JhengHei', 'Microsoft YaHei',
    'WenQuanYi Micro Hei', sans-serif;
  --font-sans-sc: -apple-system, blinkmacsystemfont, 'Helvetica Neue',
    'Segoe UI', roboto, arial, 'PingFang SC', 'PingFang TC', 'Noto Sans SC',
    'Noto Sans TC', 'Noto Sans CJK SC', 'Noto Sans CJK TC', 'Source Han Sans CN',
    'Source Han Sans TW', 'Microsoft YaHei', 'Microsoft JhengHei',
    'WenQuanYi Micro Hei', sans-serif;
  --font-serif-tc: 'Noto Serif', 'Noto Serif TC', 'Noto Serif SC',
    'Noto Serif CJK TC', 'Noto Serif CJK SC', 'Source Han Serif TW',
    'Source Han Serif CN', 'Songti TC', 'Songti SC', 'Google Noto Serif TC',
    'Google Noto Serif SC', serif;
  --font-serif-sc: 'Noto Serif', 'Noto Serif SC', 'Noto Serif TC',
    'Noto Serif CJK SC', 'Noto Serif CJK TC', 'Source Han Sans CN',
    'Source Han Sans TW', 'Songti SC', 'Songti TC', 'Google Noto Serif TC',
    'Google Noto Serif SC', serif;
  --font-mono: menlo, 'SFMono-Regular', consolas, monaco, monospace;

  /* Type Scale */
  --font-size-xs-s: 0.6875rem; /* 11px */
  --font-size-xs: 0.75rem; /* 12px */
  --font-size-sm-s: 0.8125rem; /* 13px */
  --font-size-sm: 0.875rem; /* 14px */
  --font-size-md-s: 0.9375rem; /* 15px */
  --font-size-md: 1rem; /* 16px */
  --font-size-xm: 1.125rem; /* 18px */
  --font-size-lg: 1.25rem; /* 20px */
  --font-size-xl-s: 1.375rem; /* 22px */
  --font-size-xl: 1.5rem; /* 24px */
  --font-size-xxl: 2rem; /* 32px */
  --font-size-xxxl-s: 2.25rem; /* 36px */
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-bolder: 900;
  --line-height-base-loose: 1.571428; /* 22/14 */

  /* Base */
  --font-size-base: var(--font-size-md);
  --font-weight-base: var(--font-weight-normal);
  --line-height-base: 1.5;

  /* Nav Title */
  --font-size-nav-title: var(--font-size-lg);
  --line-height-nav-title: 2; /* 32/20 */
  --font-weight-nav-title: var(--font-weight-semibold);

  /* Feed Title */
  --font-size-feed-title: var(--font-size-xm);
  --line-height-feed-title: 1.3333333; /* 24/18 */
  --font-weight-feed-title: var(--font-weight-medium);

  /* Subtext: digest footer, datetime, etc. */
  --font-size-subtext: var(--font-size-xs);
  --line-height-subtext: 1.3333333; /* 16/12 */
  --font-weight-subtext: var(--font-weight-normal);

  /* Article Title */
  --font-size-article-title: var(--font-size-xxxl-s);
  --line-height-article-title: 1.5555; /* 56/35 */
  --font-weight-article-title: var(--font-weight-semibold);

  /* Article Body */
  --font-size-article-base: 1rem; /* 16px; */
  --line-height-article-base: 1.875; /* 30/16 */

  /* Articke Heading */
  --font-size-article-h1: var(--font-size-xl-s); /* 22px */
  --font-size-article-h2: var(--font-size-lg); /* 20px */
  --font-size-article-h3: var(--font-size-xm); /* 18px */
  --font-size-article-h4: var(--font-size-md); /* 16px */
  --font-size-article-h5: var(--font-size-sm); /* 14px */
  --font-size-article-h6: var(--font-size-xs); /* 12px */
  --line-height-article-heading: var(--line-height-base);
}
