/* @styled-jsx=global */

:root {
  /* Font Stack */
  --font-sans-tc:
    -apple-system,
    blinkmacsystemfont,
    'Helvetica Neue',
    'Segoe UI',
    roboto,
    arial,
    'PingFang TC',
    'Microsoft YaHei',
    'Source Han Sans TC',
    'Noto Sans CJK TC',
    'WenQuanYi Micro Hei',
    sans-serif;
  --font-sans-sc:
    -apple-system,
    blinkmacsystemfont,
    'Helvetica Neue',
    'Segoe UI',
    roboto,
    arial,
    'PingFang SC',
    'Microsoft YaHei',
    'Source Han Sans SC',
    'Noto Sans CJK SC',
    'WenQuanYi Micro Hei',
    sans-serif;
  --font-serif-tc:
    'Noto Serif',
    'Noto Serif CJK TC',
    'Source Han Serif TC',
    'Songti TC',
    serif;
  --font-serif-sc:
    'Noto Serif',
    'Noto Serif CJK SC',
    'Source Han Serif SC',
    'Songti SC',
    serif;
  --font-mono: menlo, 'SFMono-Regular', consolas, monaco, monospace;

  /* Type Scale */
  --font-size-xs-s: 0.6875rem; /* 11px */
  --font-size-xs: 0.75rem; /* 12px */
  --font-size-sm-s: 0.8125rem; /* 13px */
  --font-size-sm: 0.875rem; /* 14px */
  --font-size-md-s: 0.9375rem; /* 15px */
  --font-size-md: 1rem; /* 16px */
  --font-size-xm: 1.125rem; /* 18px */
  --font-size-lg: 1.25rem; /* 20px */
  --font-size-xl: 1.5rem; /* 24px */
  --font-size-xxl: 2rem; /* 32px */
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-bolder: 900;

  /* Base */
  --font-size-base: var(--font-size-md);
  --font-weight-base: var(--font-weight-normal);
  --line-height-base: 1.5;

  /* Nav Title */
  --font-size-nav-title: var(--font-size-lg);
  --line-height-nav-title: 2; /* 32/20 */
  --font-weight-nav-title: var(--font-weight-semibold);

  /* Feed Title */
  --font-size-feed-title: var(--font-size-xm);
  --line-height-feed-title: 1.33333333; /* 24/18 */
  --font-weight-feed-title: var(--font-weight-medium);

  /* Timestamp */
  --font-size-timestamp: var(--font-size-xs);
  --line-height-timestamp: 1.33333333; /* 16/12 */
  --font-weight-timestamp: var(--font-weight-normal);

  /* Article Title */
  --font-size-article-title: var(--font-size-xl);
  --line-height-article-title: 1.5; /* 36/24 */
  --font-weight-article-title: var(--font-weight-semibold);

  /* Article Body */
  --font-size-article-base: 1rem; /* 16px; */
  --line-height-article-base: 1.875; /* 30/16 */

  /* Articke Heading */
  --font-size-article-h1: 1.375; /* 22px */
  --font-size-article-h2: var(--font-size-lg); /* 20px */
  --font-size-article-h3: var(--font-size-xm); /* 18px */
  --font-size-article-h4: var(--font-size-md); /* 16px */
  --font-size-article-h5: var(--font-size-sm); /* 14px */
  --font-size-article-h6: var(--font-size-xs); /* 12px */
  --line-height-article-heading: var(--line-height-base);
}
