:root {
  /* Font Stack */
  --font-sans-tc:
    -apple-system, blinkmacsystemfont, 'Helvetica Neue', 'Segoe UI', roboto,
    arial, 'PingFang TC', 'PingFang SC', 'Microsoft JhengHei',
    'Microsoft YaHei', 'Noto Sans TC', 'WenQuanYi Micro Hei', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji';
  --font-sans-sc:
    -apple-system, blinkmacsystemfont, 'Helvetica Neue', 'Segoe UI', roboto,
    arial, 'PingFang SC', 'PingFang TC', 'Microsoft YaHei',
    'Microsoft JhengHei', 'Noto Sans SC', 'WenQuanYi Micro Hei', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji';
  --font-serif-tc:
    'Songti TC', 'Songti SC', 'NSimSun', 'SimSun', serif, var(--font-sans-sc),
    'Apple Color Emoji', 'Segoe UI Emoji';
  --font-serif-sc:
    'Songti SC', 'Songti TC', 'NSimSun', 'SimSun', serif, var(--font-sans-sc),
    'Apple Color Emoji', 'Segoe UI Emoji';
  --font-mono:
    menlo, 'SFMono-Regular', consolas, monaco, monospace, var(--font-sans-sc),
    'Apple Color Emoji', 'Segoe UI Emoji';

  /* Type Scale */
  --text12: 0.75rem; /* 12px */
  --text13: 0.8125rem; /* 13px */
  --text14: 0.875rem; /* 14px */
  --text15: 0.9375rem; /* 15px */
  --text16: 1rem; /* 16px */
  --text17: 1.0625rem; /* 17px */
  --text18: 1.125rem; /* 18px */
  --text20: 1.25rem; /* 20px */
  --text24: 1.5rem; /* 24px */
  --text32: 2rem; /* 32px */
  --text36: 2.25rem; /* 36px */

  /* Font Weight */
  --font-normal: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;

  /* Line Height */
  --line-height-base-loose: 1.571428; /* 22/14 */

  /* Base */
  --font-size-base: var(--text16);
  --font-weight-base: var(--font-normal);
  --line-height-base: 1.5;

  /* Nav Title */
  --font-size-nav-title: var(--text20);
  --line-height-nav-title: 2; /* 32/20 */
  --font-weight-nav-title: var(--font-semibold);

  /* Feed Title */
  --font-size-feed-title: var(--text18);
  --line-height-feed-title: 1.3333333; /* 24/18 */
  --font-weight-feed-title: var(--font-medium);

  /* Subtext: digest footer, datetime, etc. */
  --font-size-subtext: var(--text12);
  --line-height-subtext: 1.3333333; /* 16/12 */
  --font-weight-subtext: var(--font-normal);

  /* Article Title */
  --font-size-article-title: var(--text32);
  --line-height-article-title: 1.6875; /* 54/32 */
  --font-weight-article-title: var(--font-semibold);

  /* Article Body */
  --font-size-article-base: 1.0625rem; /* 17px */
  --line-height-article-base: 1.75; /* 30/16 */

  /* Articke Heading */
  --font-size-article-h1: var(--text36); /* 36px */
  --font-size-article-h2: var(--text24); /* 24px */
  --font-size-article-h3: var(--text20); /* 20px */
  --font-size-article-h4: var(--text16); /* 16px */
  --font-size-article-h5: var(--text14); /* 14px */
  --font-size-article-h6: var(--text12); /* 12px */
  --line-height-article-heading: 1.7;

  /* sm */
  --text14-article-h1: var(--text24); /* 24px */
  --text14-article-h2: 1.3125rem; /* 21px */
  --text14-article-h3: 1.1875rem; /* 19px */
}
