/* @styled-jsx=global */

:root {
  --z-index-global-header: 100;
  --z-index-under-global-header: 99;
  --z-index-over-global-header: 101;
  --z-index-sticky-tabs: 110;
  --z-index-over-sticky-tabs: 111;
  --z-index-dialog: 200;
  --z-index-over-dialog: 201;
  --z-index-progress-bar: 300;
  --z-index-splash-screen: 400;
}
