:root {
  /* header */
  --z-index-global-header: 100;
  --z-index-under-global-header: 99;

  /* sticky tabs */
  --z-index-sticky-tabs: 110;
  --z-index-over-sticky-tabs: 111;

  /* bottom bar */
  --z-index-global-bottom-bar: 149;
  --z-index-bottom-bar: 150;
  --z-index-over-bottom-bar: 151;

  /* dialog */
  --z-index-dialog: 200;
  --z-index-over-dialog: 201;

  /* others */
  --z-index-progress-bar: 300;
  --z-index-wallet-connect-modal: 400;
  --z-index-drawer-overlay: 10;
}
