.footer {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;

  padding: var(--spacing-x-loose) 0px;
}

.item {
  padding-bottom: var(--spacing-x-tight);
  padding-right: var(--spacing-loose);
  color: var(--color-grey-dark);
  font-size: var(--font-size-sm);
}

a.item:hover {
  color: var(--color-matters-green);
}
