.footer {
  padding: 4rem 0;
  color: var(--color-white);
  background: var(--color-black);

  @media (--md-up) {
    padding: 7.5rem 0;
  }
}

.container {
  display: grid;
  grid-template: auto / repeat(1, minmax(0, 1fr));
  grid-gap: var(--sp40);

  & h2 {
    margin-bottom: var(--sp24);
    font-size: var(--text20);
  }

  & a {
    color: var(--color-white);
  }

  & p {
    color: var(--color-grey);

    & + p {
      margin-top: var(--sp16);
    }
  }

  & .followUs {
    & .socials {
      display: flex;

      & > * {
        display: inline-block;
      }

      & > * + * {
        margin-left: var(--sp40);
      }

      & ul {
        & > * + * {
          margin-top: var(--sp16);
        }
      }
    }
  }

  & .moreProducts {
    & .products {
      & > * + * {
        margin-left: var(--sp40);
      }
    }
  }

  & .subscribeUs {
    & .buttons {
      width: 100%;
    }
  }

  & .copyright {
    font-size: var(--text14);
    color: var(--color-grey);
    text-align: center;
  }

  @media (--md-up) {
    grid-template: auto / repeat(2, minmax(0, 1fr));
    grid-template-areas:
      'topLeft topRight'
      'bottomLeft bottomRight';
    grid-gap: 0;

    & .contactUs {
      grid-area: topLeft;
    }

    & .copyright {
      grid-area: bottomLeft;
      align-self: end;
      text-align: left;
    }

    & .followUs {
      grid-column: topRight;
    }

    & .moreProducts {
      margin-bottom: var(--sp40);
    }

    & .subscribeUs {
      grid-column: bottomRight;
      align-self: end;
    }

    & .languageSwitch {
      margin-top: var(--sp24);
    }
  }

  @media (--lg-up) {
    grid-template: auto / repeat(3, minmax(0, 1fr));
    grid-template-areas:
      'topLeft topMiddle topRight'
      'bottomLeft bottomMiddle bottomRight';
    grid-row-gap: var(--sp40);

    & .contactUs {
      grid-area: topLeft;
    }

    & .copyright {
      grid-area: bottomLeft;
      align-self: initial;
    }

    & .followUs {
      grid-area: topMiddle;
    }

    & .moreProducts {
      grid-area: bottomMiddle;
    }

    & .subscribeUs {
      grid-column: topRight;
      align-self: initial;
    }
  }
}
