.header {
  display: flex;
  padding: 0 var(--sp16);
  margin-top: var(--sp32);
  margin-bottom: var(--sp20);

  @media (--sm-up) {
    padding: 0;
  }

  & .info {
    flex-grow: 1;
    padding: var(--sp8) 0;
    margin-left: var(--sp32);

    & .title {
      margin-bottom: var(--sp6);
      font-size: var(--font-size-base);
      font-weight: var(--font-weight-medium);

      @media (--md-up) {
        margin-bottom: var(--sp16);
        font-size: var(--font-size-article-h2);
      }
    }

    & .author {
      margin-bottom: var(--sp6);
      font-size: var(--font-size-sm);
      color: var(--color-grey-darker);
    }

    & .articleCount {
      font-size: var(--font-size-xs);
      color: var(--color-grey);
    }
  }
}

.description {
  padding: 0 var(--sp16);
  margin-bottom: var(--sp20);
  font-size: var(--font-size-sm);
  color: var(--color-grey-dark);

  @media (--sm-up) {
    padding: 0;
  }

  @media (--md-up) {
    margin-bottom: 0;
  }
}

.addDescription {
  font-size: var(--font-size-sm);
}
