.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20rem;
  height: 100%;
  padding-top: env(safe-area-inset-top);
  overflow-y: auto;
  background: var(--color-white);
  box-shadow: 4px 0 16px rgb(0 0 0 / 8%);
  will-change: transform;

  @media (--xs-down) {
    width: 16rem;
  }
}

.header {
  padding: var(--sp16) 0 var(--sp24);
}

.footer {
  padding: var(--sp24) 0;
}
