.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
}

.container {
  @mixin flex-center-all;
  @mixin transition;

  position: fixed;
  bottom: var(--sp20);
  z-index: var(--z-index-bottom-bar);
  opacity: 0;
  transition-property: transform, opacity;
  transform: translateY(130%);
}

.showContainer {
  opacity: 1;
  transform: translateY(0);
}

.toolbar {
  @mixin inline-flex-center-all;

  padding: 0 var(--sp12);
  background: var(--color-white);
  backdrop-filter: blur(12px);
  border-radius: 99px;
  box-shadow:
    0 2px 4px 0 rgb(0 0 0 / 14%),
    0 1px 0 0 rgb(0 0 0 / 0%),
    0 -2px 12px 0 rgb(0 0 0 / 5%);

  & .divider {
    width: 1px;
    height: 13px;
    margin: 0 var(--sp6);
    background: var(--color-grey-light);
  }

  & section {
    display: flex;
  }
}
