.recent-searches {
  & ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0 var(--spacing-base);
    margin-top: var(--spacing-xx-tight);

    & li {
      margin-bottom: var(--spacing-tight);

      &:not(:last-child) {
        margin-right: var(--spacing-tight);
      }

      & .key {
        @mixin line-clamp;

        height: 1.5rem;
        padding: 0 var(--spacing-x-tight);
        font-size: var(--font-size-sm);
        line-height: 1.5rem;
        color: var(--color-grey-darker);
        background: var(--color-grey-lighter);
        border-radius: 2rem;

        &:hover,
        &:focus {
          background: var(--color-green-lighter);
        }
      }
    }
  }

  &.inPage ul li :global(> a) {
    font-size: var(--font-size-md);
  }
}

.frequent-searches {
  & .key {
    @mixin line-clamp;

    font-size: var(--font-size-sm);
    color: var(--color-matters-green);
  }

  &.inPage .key {
    font-size: var(--font-size-md);
  }
}
