.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: rgba(0, 0, 0, 0.5);
}

.center {
  @mixin flex-center-all;
}

.container {
  background-color: var(--color-white);
  border-radius: 2px;
}
