.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: rgba(0, 0, 0, 0.5);

  &.center {
    @mixin flex-center-all;
  }
}

.row {
  flex: auto;
  padding-bottom: var(--spacing-default);

  @media (--sm-down) {
    & {
      padding-bottom: var(-spacing-x-tight);
    }
  }
}

.container {
  background-color: #fff;
  border-radius: 0.15rem;
  z-index: 200
}

.header {
  @mixin flex-center-space-between;
  border-bottom: 1px solid var(--color-line-grey);
  margin: 0rem var(--spacing-x-tight);
  padding: 0.75rem var(--spacing-x-tight);
}
