.form {
  & > .term {
    padding: var(--spacing-tight) var(--spacing-tight) var(--spacing-default);

    & > .hint {
      color: var(--color-grey-darker);
    }
    & > .context {
      font-size: var(--font-size-sm);
      border: 1px solid var(--color-grey-light);
      border-radius: 0.125rem;
      max-height: 27rem;
      margin-top: var(--spacing-tight);
      padding: var(--spacing-x-tight);
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;

      &::-webkit-scrollbar-track {
        border-radius: 0.5rem;
        background-color: rgba(0, 0, 0, 0);
      }

      &::-webkit-scrollbar {
        width: 0.9rem;
        background-color: rgba(0, 0, 0, 0);
      }

      &::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.1);
        border: 0.25rem solid rgba(0, 0, 0, 0);
        border-radius: 0.75rem;
        background-clip: padding-box;
        box-shadow: none;
        height: 3rem;
        min-height: 3rem;
      }

      @media (--sm-down) {
        max-height: 20rem;
      }
    }
  }
}

.buttons {
  & button {
    width: 50%;
    font-weight: var(--font-weight-medium);
    height: 3rem;
  }

  & button.disagree {
    position: relative;
    color: var(--color-black);

    &:before {
      @mixin border-top-grey;
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      margin-left: var(--spacing-x-tight);
    }
  }

  & button.agree {
    color: var(--color-white);
    background: var(--color-matters-green);
  }
}
