.container {
  @mixin flex-start-space-between;

  line-height: 1.5rem;
}

.score {
  flex-shrink: 0;
  margin-left: var(--spacing-base);

  color: var(--color-grey-light);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-semibold);
}
