.container {
  .header {
    @mixin flex-start-space-between;

    & .left {
      & .author {
        @mixin flex-center-start;

        gap: var(--sp8);

        & .info {
          display: flex;
          flex-direction: column;

          & .displayName {
            @mixin line-clamp;

            font-size: var(--text15);
            font-weight: var(--font-medium);
            line-height: 1.75;
          }

          & .displayNamePlaceholder {
            width: 7.5rem;
            height: 1rem;
            background-color: var(--color-grey-lighter);
          }

          & time {
            line-height: 1.125rem;
          }

          & .createdAtPlaceholder {
            width: 3.75rem;
            height: 1rem;
            margin-top: var(--sp4);
            background-color: var(--color-grey-lighter);
          }
        }
      }
    }

    & .right {
      display: inline-flex;
      align-items: center;
      height: 1.375rem;
      margin-left: var(--sp16);

      & > * + * {
        margin-left: var(--sp12);
      }
    }
  }

  & .content {
    margin: var(--sp8) 0 var(--sp12);
    font-size: var(--text17);
    line-height: 1.75;
    white-space: pre-wrap;

    & .contentPlaceholder {
      width: 100%;
      height: 1rem;
      background-color: var(--color-grey-lighter);

      &:last-child {
        width: 50%;
      }

      & + .contentPlaceholder {
        margin-top: var(--sp8);
      }
    }
  }

  .assets {
    margin-top: var(--sp12);
  }
}
