.slides {
  padding: var(--spacing-base);

  & ul {
    @mixin hide-scrollbar;

    display: flex;
    margin-right: calc(var(--spacing-base) * -1);

    & li {
      position: relative;
      flex-shrink: 0;
      padding: 0 var(--spacing-base) 0 0;
      margin: 0;
      scroll-snap-align: start;
    }
  }
}

.wrap {
  @mixin hide-scrollbar;

  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
}

.bg-yellow-lighter {
  background: var(--color-yellow-lighter);
}

.bg-green-lighter {
  background: var(--color-green-lighter);
}

.bg-grey-lighter {
  background: var(--color-grey-lighter);
}

.size-auto {
  width: auto;
}

.size-sm {
  width: 18rem;
}

.size-md {
  width: 20rem;
}
