.slides {
  /* padding: var(--sp20) 0 var(--sp4); */

  & ul {
    @mixin hide-scrollbar;

    display: flex;

    @media (--sm-up) {
      margin-right: calc(var(--sp16) * -1);
    }

    & li {
      position: relative;
      flex-shrink: 0;
      padding: 0 var(--sp16) 0 0;
      margin: 0;
      scroll-snap-align: start;
    }
  }
}

.wrap {
  @mixin hide-scrollbar;

  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;

  @media (--sm-down) {
    margin-right: calc(var(--sp16) * -1);
    margin-left: calc(var(--sp16) * -1);

    & ul {
      & li:first-child {
        padding-left: var(--sp16);
      }
    }
  }
}

.bgYellowLighter {
  background: var(--color-yellow-lighter);
}

.bgGreenLighter {
  background: var(--color-green-lighter);
}

.bgGreyLighter {
  background: var(--color-grey-lighter);
}

.sizeXxs {
  width: 13.5rem;

  &:first-child {
    width: calc(13.5rem + var(--sp16));
  }
}

.sizeXs {
  width: 15rem;
}

.sizeSm {
  width: 18rem;
}

.sizeMd {
  width: 20rem;
}
