.container {
  position: relative;
  font-size: var(--text14);
  line-height: 1.375rem;

  & > * + * {
    margin-top: var(--sp8);
  }
}

.name {
  @mixin line-clamp;

  white-space: break-spaces;
}

.description {
  @mixin line-clamp;

  -webkit-line-clamp: 3;
  color: var(--color-grey);
}
