/* @styled-jsx=global */

@lost gutter 40px;
@lost flexbox flex;

/*
 * Row
 */
.l-row {
  lost-center: 100%;
  margin-left: 1rem;
  margin-right: 1rem;

  @media (--sm-up) {
    & {
      lost-center: 792px;
    }
  }
  @media (--md-up) {
    & {
      lost-center: 896px;
    }
  }
  @media (--lg-up) {
    & {
      lost-center: 1208px;
    }
  }

  &.full {
    margin-left: auto;
    margin-right: auto;
  }
}

/*
 * Column & Offset
 */
/* 4 cols in XSmall */
@each $i in 0, 1, 2, 3, 4 {
  .l-col-$(i) {
    /* prettier-ignore */
    lost-column: $(i)/4;

    @if $(i) == 4 {
      flex-basis: 100%;
      width: 100%;
      max-width: 100%;
    }
  }
  .l-offset-$(i) {
    /* prettier-ignore */
    lost-offset: $(i)/4;
  }
}

/* 8 cols in Small and Medium */
@each $device in sm, md {
  @media (--$(device)-up) {
    @each $i in 0, 1, 2, 3, 4, 5, 6, 7, 8 {
      .l-col-$(device)-$(i) {
        /* prettier-ignore */
        lost-column: $(i)/8;

        @if $(i) == 8 {
          flex-basis: 100%;
          width: 100%;
          max-width: 100%;
        }
      }
      .l-offset-$(device)-$(i) {
        /* prettier-ignore */
        lost-offset: $(i)/8;
      }
    }
  }
}

/* 12 cols in Large */
@each $device in lg {
  @media (--$(device)-up) {
    @each $i in 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12 {
      .l-col-$(device)-$(i) {
        /* prettier-ignore */
        lost-column: $(i)/12;

        @if $(i) == 12 {
          flex-basis: 100%;
          width: 100%;
          max-width: 100%;
        }
      }
      .l-offset-$(device)-$(i) {
        /* prettier-ignore */
        lost-offset: $(i)/12;
      }
    }
  }
}

/*
 * Waffle
 */
@each $i in 1, 2, 3, 4 {
  .l-waffle-$(i) {
    /* prettier-ignore */
    lost-column: 1/$(i);
  }
}
@each $device in sm, md, lg {
  @media (--$(device)-up) {
    @each $i in 1, 2, 3, 4 {
      .l-waffle-$(device)-$(i) {
        /* prettier-ignore */
        lost-column: 1/$(i);
      }
    }
  }
}
