.container {
  display: flex;
  flex-direction: column;

  & .hint {
    padding: var(--sp16) 0;
    margin-bottom: var(--sp24);
    font-size: var(--text14);
    line-height: 1.375rem;
    color: var(--color-black);
  }
}
