.container {
  display: inline-block;
  padding-left: var(--spacing-base);
  text-align: left;
}

.received-count {
  margin-bottom: var(--spacing-xx-tight);
  color: var(--color-grey);
  line-height: 1rem;
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-medium);

  &.highlight {
    color: var(--color-matters-green);
  }
}

.avatar-list {
  @mixin flex-center-start;

  & :global(> *) {
    position: relative;
    box-shadow: 0 0 0 2px var(--color-white);

    &:nth-child(1) {
      z-index: 4;
    }

    &:nth-child(2) {
      z-index: 3;
    }

    &:nth-child(3) {
      z-index: 2;
    }

    &:nth-child(4) {
      z-index: 1;
    }
  }

  & .appreciator-count {
    @mixin inline-flex-center-all;

    width: 1.25rem;
    height: 1.25rem;
    color: var(--color-white);
    line-height: 1.25rem;
    font-size: var(--font-size-xs-s);
    font-weight: var(--font-weight-semibold);
    background: var(--color-matters-green);
    border-radius: 50%;
  }
}
