.description {
  margin-top: var(--sp24);
  font-size: var(--text15);
  line-height: 1.75;
  color: var(--color-grey-darker);

  & p + p {
    margin: var(--sp12) 0 0;
  }

  @media (--md-up) {
    padding-top: var(--sp24);
    border-top: 1px dotted var(--color-grey-light);
  }
}
