main {
  & :global(h2) {
    @mixin font-serif;

    font-size: var(--font-size-xxl);
  }
}

header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  padding: var(--spacing-xx-loose) 0;

  & .logo {
    & :global(svg) {
      width: 97px;
      height: 20px;
    }
  }
}
