.item {
  @mixin flex-center-space-between;

  padding: var(--sp8) 0;

  & .pinnedChannel {
    color: var(--color-grey-darker);
  }
}

.disabledTip {
  padding: var(--sp8) var(--sp12);
  margin-bottom: var(--sp12);
  background-color: var(--color-grey-lighter);
  border-radius: var(--radius-sm);
  color: var(--color-grey-darker);
  font-size: var(--font-sm);
  text-align: center;
}
