.item {
  @mixin flex-center-space-between;

  padding: var(--sp8) 0;

  & .pinnedChannel {
    color: var(--color-grey-darker);
  }
}

.child {
  padding-left: var(--sp24);
}

.disabledTip {
  padding: var(--sp8) var(--sp12);
  margin-bottom: var(--sp12);
  font-size: var(--font-sm);
  color: var(--color-grey-darker);
  text-align: center;
  background-color: var(--color-grey-lighter);
  border-radius: var(--radius-sm);
}
