.banner {
  padding: var(--sp16);
  margin-top: 5rem;
  margin-bottom: 8rem;
  background-image: var(--migration-banner-bg);

  & h4 {
    font-size: var(--font-size-md);
    color: var(--color-matters-green);
  }

  & p {
    margin: var(--sp8) 0 var(--sp16);
    font-size: var(--font-size-sm);
    color: var(--color-grey-darker);
  }

  @media (--sm-up) {
    padding: var(--sp32) var(--sp40);

    & h4 {
      font-size: var(--font-size-lg);
    }

    & p {
      font-size: var(--font-size-md);
    }
  }
}
