.container {
  margin-top: var(--spacing-base);
}

.title {
  font-size: var(--font-size-sm);
}

.actions {
  display: flex;
  align-items: center;

  margin-top: var(--spacing-xx-tight);

  font-size: var(--font-size-xs);
  color: var(--color-grey-dark);

  & > :global(*) {
    margin-right: var(--spacing-tight);

    color: var(--color-grey-dark);
    line-height: 1;
  }
}
