footer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  font-size: var(--font-size-xs);
  color: var(--color-grey);

  & > :global(* + *) {
    line-height: 1;
  }
  & .space-left {
    margin-left: var(--spacing-tight);
  }
  & .space-right {
    margin-right: var(--spacing-tight);
  }
}

.state {
  display: inline-block;
  padding: var(--spacing-xxx-tight) var(--spacing-xx-tight);

  color: var(--color-white);
  background: var(--color-grey);
  border-radius: 2px;
  line-height: 1;
}
