.addDraft {
  @mixin flex-center-all;
  @mixin transition;

  padding: var(--sp16) 0;
  color: var(--color-matters-green);
  cursor: pointer;
  border-bottom: 1px dashed var(--color-grey-light);
  transition-property: color;

  &:hover,
  &:focus {
    color: var(--color-matters-green-hover);
  }
}

.startWriting {
  display: flex;
  justify-content: center;
  font-weight: var(--font-weight-medium);
}
