.title {
  line-height: 1.5rem;
}

.text12 {
  font-size: var(--text12);
}

.text16 {
  font-size: var(--text16);
}

.fontNormal {
  font-weight: var(--font-normal);
}

.fontMedium {
  font-weight: var(--font-medium);
}
