.title {
  line-height: 1.5rem;
}

.text-size-xs {
  font-size: var(--font-size-xs);
}

.text-size-md {
  font-size: var(--font-size-md);
}

.text-weight-normal {
  font-weight: var(--font-weight-normal);
}

.text-weight-md {
  font-weight: var(--font-weight-medium);
}
