.header {
  & section {
    margin-top: var(--spacing-tight);
    font-size: var(--font-size-sm-s);
    color: var(--color-grey-darker);

    & .bold {
      font-weight: var(--font-weight-semibold);
      color: var(--color-black);
    }
  }
}
