.description {
  margin-top: var(--spacing-tight);
  margin-bottom: var(--spacing-loose);
  font-size: var(--font-size-sm-s);
  color: var(--color-grey-darker);

  & .bold {
    padding-top: var(--spacing-xx-tight);
    font-weight: var(--font-weight-semibold);
    color: var(--color-black);
  }
}
