.content {
  margin-top: var(--sp40);
  text-align: center;

  & h2 {
    font-size: var(--text16);
    font-weight: var(--font-medium);
  }

  & p {
    margin-top: var(--sp8);
    font-size: var(--text14);
    color: var(--color-grey-darker);
  }
}
