.clap {
  &:hover {
    & .iconLike {
      transform: scale(1) !important;
      transition: transform 0.15s ease-in;
      will-change: transform;
    }

    & .clapExplode svg {
      will-change: transform, opacity;
    }
  }

  &.clapHandZoomIn {
    & .iconLike {
      transform: scale(1.15) !important;
    }
  }

  & .clapExplode {
    & svg {
      position: absolute;
      top: 50%;
      left: 50%;
      animation-duration: 0.5s;
      animation-timing-function: ease-in;
      animation-fill-mode: forwards;
    }
  }
}
