.appreciateButton {
  @mixin transition;

  position: relative;
  display: inline-flex;

  &.icon20 {
    & .icon {
      position: relative;
      width: 1.25rem;
      height: 1.25rem;
    }
  }

  &.icon24 {
    & .icon {
      position: relative;
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  & .iconLike {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    transform: scale(1);
    transition: transform 0.2s ease-in-out;
  }
}
