.appreciate-button {
  position: relative;
  color: var(--color-matters-green);

  @media (--sm-up) {
    z-index: 5;
    width: 3rem;
    height: 3rem;
    background: var(--color-white);
    border: 1.5px solid var(--color-matters-green);
    border-radius: 50%;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.08),
      0 4px 12px 0 rgba(0, 0, 0, 0.08);

    &:hover,
    &:focus {
      background: var(--color-green-lighter);
    }
  }
}

.count {
  display: none;

  @media (--sm-up) {
    @mixin flex-center-all;

    position: absolute;
    top: -0.25rem;
    right: -0.25rem;
    width: 1rem;
    height: 1rem;
    font-size: var(--font-size-xs-s);
    font-weight: var(--font-weight-bold);
    line-height: 1rem;
    color: var(--color-white);
    background: var(--color-matters-green);
    border-radius: 50%;
  }
}

.total {
  display: inline-block;
  margin-top: 0;
  margin-left: var(--spacing-x-tight);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-medium);
  line-height: 1rem;
  vertical-align: middle;

  @media (--sm-up) {
    display: none;
  }
}
