.container {
  margin-bottom: 3rem;
  margin-top: calc(var(--spacing-loose) * -1);

  @media (--sm-up) {
    margin-top: calc(var(--spacing-x-loose) * -1);
  }
  @media (--lg-up) {
    background: initial !important;
  }
}

.content-container {
  padding-top: var(--spacing-default);
  padding-bottom: var(--spacing-loose);

  @media (--sm-up) {
    padding-bottom: var(--spacing-x-loose);
  }
}

.content {
  @mixin flex-start-space-between;
  flex-direction: column;
  position: relative;

  width: 100%;

  @media (--sm-up) {
    flex-direction: row;
  }
}

.avatar-container {
  display: flex;
  justify-content: center;
  flex-direction: column;

  @media (--sm-up) {
    text-align: center;
  }

  & :global(.avatar) {
    flex-shrink: 0;
    border: 4px solid #ffffff;
    margin: -3rem 0 0;

    /* 70px */
    width: 4.375rem;
    height: 4.375rem;

    /* 140px */
    @media (--sm-up) {
      width: 8.75rem;
      height: 8.75rem;
      margin: -4rem 0 1.5rem;
    }
  }
}

.info {
  flex-grow: 1;
  width: 100%;

  margin-top: var(--spacing-tight);
  margin-left: 0;

  @media (--sm-up) {
    margin-top: 0;
    margin-left: 3rem;
  }
}

.header {
  @mixin flex-start-space-between;
}

.name {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);

  @media (--sm-up) {
    font-size: var(--font-size-xl);
    line-height: 1.25;
  }

  & > span {
    display: inline-flex;
    align-items: center;
    margin-left: var(--spacing-x-tight);

    & :first-child {
      margin-left: 0;
    }

    & :global(> *) {
      margin-left: var(--spacing-x-tight);
    }

    & :gloabl(> .btn) {
      margin-top: 1px;
    }
  }
}

.action-button {
  position: absolute;
  top: -12px; /* position hack in small device */
  right: 0;

  @media (--sm-up) {
    position: initial;
    top: initial;
    right: initial;
  }

  & > :global(*) + :global(*) {
    margin-left: var(--spacing-tight);
  }
}

.description {
  position: relative;
  margin-top: var(--spacing-x-tight);
  color: var(--color-grey-darker);
  font-size: var(--font-size-sm);
  white-space: pre-wrap;

  @media (--sm-up) {
    font-size: var(--font-size-md);
  }

  & p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* autoprefixer: ignore next */
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  & button {
    position: absolute;
    right: 0;
    bottom: 0;
    line-height: 24px;
    z-index: 1;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 7rem;
      background-image: linear-gradient(
        to left,
        var(--color-white),
        var(--color-white) 53%,
        rgba(255, 255, 255, 0)
      );
      z-index: -1;
    }
  }

  &.expand {
    & p {
      -webkit-line-clamp: unset;
    }
  }
}

.info-follow {
  @mixin border-top-grey;

  margin-top: var(--spacing-tight);
  padding-top: var(--spacing-tight);

  color: var(--color-grey);
  font-size: var(--font-size-sm);
  font-size: calc(var(--font-size-sm) - 1px);

  & .followers,
  & .followees {
    display: inline-flex;
    align-items: center;
  }
  & .followees {
    margin-left: 2.5rem;
  }

  & .count {
    display: block;

    color: var(--color-black);
    font-size: var(--font-size-lg);
    font-size: calc(var(--font-size-lg) + 2px);
    font-weight: var(--font-weight-bold);
    line-height: 1;
    padding-right: var(--spacing-x-tight);
  }
}

.editing {
  background-color: var(--color-white);

  & > .content-container {
    background-color: var(--color-white);
    border: 1.5px dashed rgba(13, 103, 99, 0.8);
  }
}

.cover-container {
  @media (--sm-down) {
    margin-left: 0;
    margin-right: 0;
  }
}

.profile-cover {
  &::after {
    content: '';
    display: block;
    padding-bottom: 35%;

    @media (--sm-up) {
      padding-bottom: 27.777778%;
    }
  }
}
