.container {
  margin-bottom: 3rem;
  margin-top: calc(var(--spacing-loose) * -1);

  background: var(--color-bg-yellow);

  @media (--sm-up) {
    margin-top: calc(var(--spacing-x-loose) * -1);
  }
  @media (--lg-up) {
    background: initial !important;
  }

  &.inactive {
    background: var(--color-grey-lighter);

    & .content-container {
      @media (--lg-up) {
        background: var(--color-grey-lighter);
      }
    }
  }
}

.content-container {
  padding-top: var(--spacing-tight);
  padding-bottom: var(--spacing-loose);

  @media (--sm-up) {
    padding-top: var(--spacing-x-loose);
    padding-bottom: var(--spacing-x-loose);
  }
  @media (--lg-up) {
    background: var(--color-bg-yellow);
  }
}

.content {
  @mixin flex-start-space-between;
  flex-direction: column;
  position: relative;

  width: 100%;

  @media (--sm-up) {
    flex-direction: row;
  }

  & :global(.avatar) {
    flex-shrink: 0;

    /* 70px */
    width: 4.375rem;
    height: 4.375rem;

    /* 140px */
    @media (--sm-up) {
      width: 8.75rem;
      height: 8.75rem;
    }
  }
}

.info {
  flex-grow: 1;
  width: 100%;

  margin-top: var(--spacing-tight);
  margin-left: 0;

  @media (--sm-up) {
    margin-top: 0;
    margin-left: 3rem;
  }
}

.header {
  @mixin flex-start-space-between;
}

.name {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);

  @media (--sm-up) {
    font-size: var(--font-size-xl);
    line-height: 1.25;
  }

  & :global(> *) {
    vertical-align: middle;
  }
  & :global(> * + *) {
    margin-left: var(--spacing-tight);
  }
}

.action-button {
  position: absolute;
  top: 19px; /* position hack in small device */
  right: 0;

  @media (--sm-up) {
    position: initial;
    top: initial;
    right: initial;
  }
}

.description {
  position: relative;
  margin-top: var(--spacing-x-tight);
  color: var(--color-grey-darker);
  font-size: var(--font-size-sm);
  white-space: pre-wrap;

  @media (--sm-up) {
    font-size: var(--font-size-md);
  }

  & p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* autoprefixer: ignore next */
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  & button {
    position: absolute;
    right: 0;
    bottom: 0;
    line-height: 24px;
    z-index: 1;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 7rem;
      background-image: linear-gradient(
        to left,
        var(--color-bg-yellow),
        var(--color-bg-yellow) 73%,
        rgba(255, 255, 255, 0)
      );
      z-index: -1;
    }
  }

  &.expand {
    & p {
      -webkit-line-clamp: unset;
    }
  }
}

.info-follow {
  @mixin border-top-grey;

  margin-top: var(--spacing-tight);
  padding-top: var(--spacing-tight);

  color: var(--color-grey-dark);
  font-size: var(--font-size-sm);
  font-size: calc(var(--font-size-sm) - 1px);

  & .followers,
  & .followees {
    display: inline-block;
    text-align: center;
  }
  & .followees {
    margin-left: 5rem;
  }

  & .count {
    display: block;

    padding-bottom: var(--spacing-xx-tight);

    color: var(--color-matters-green);
    font-size: var(--font-size-lg);
    font-size: calc(var(--font-size-lg) + 2px);
    font-weight: var(--font-weight-bold);
    line-height: 1;
  }
}

.editing {
  background-color: var(--color-white);

  & > .content-container {
    background-color: var(--color-white);
    border: 1.5px dashed rgba(13, 103, 99, 0.8);
  }
}
