.tooltip {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 4px;

  &.triangle {
    /* triangle dimension */
    --b: 0.75em; /* base */
    --h: 0.5em; /* height */
    --p: 50%; /* triangle position (0%:left 100%:right) */
    --r: 0.25em; /* the radius */
    --c: var(--color-black);

    background: var(--c);
    border-radius: var(--r) var(--r)
      min(var(--r), 100% - var(--p) - var(--b) / 2)
      min(var(--r), var(--p) - var(--b) / 2) / var(--r);
    border-image: conic-gradient(var(--c) 0 0) fill 0 / var(--r)
      calc(100% - var(--p) - var(--b) / 2) 0 calc(var(--p) - var(--b) / 2) / 0 0
      var(--h) 0;
    clip-path: polygon(
      0 100%,
      0 0,
      100% 0,
      100% 100%,
      min(100%, var(--p) + var(--b) / 2) 100%,
      var(--p) calc(100% + var(--h)),
      max(0%, var(--p) - var(--b) / 2) 100%
    );
  }

  & .divider {
    display: inline-block;
    width: 1px;
    height: 1.25rem;
    background-color: var(--color-grey-darker);
  }

  & button {
    @mixin transition;

    color: var(--color-white);
    opacity: 1;
    transition-property: opacity;

    &:hover {
      opacity: 0.6;
    }

    &.quoteButton {
      padding: var(--sp12);
    }

    &.shareButton {
      padding: var(--sp12) var(--sp12) var(--sp12) var(--sp16);
    }
  }
}
