.container {
  width: var(--sizing-menu-md);

  text-align: initial;
}

header {
  @mixin flex-center-space-between;
  @mixin border-bottom-grey;

  padding: var(--spacing-tight);

  font-size: 0;

  & h4 {
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-medium);
  }
}

.content {
  padding: var(--spacing-tight) var(--spacing-x-tight);
  max-height: 50vh;
  overflow: auto;

  @media (--sm-up) {
    max-height: 70vh;
  }

  & ul {
    & li {
      padding: 0 var(--spacing-x-tight);
    }
    & li + li {
      @mixin border-top-grey;
      padding-top: var(--spacing-tight);
      margin-top: var(--spacing-tight);
    }
  }
}

footer {
  @mixin border-top-grey;
  padding: var(--spacing-tight);
  text-align: center;
}
