.content {
  &.inactive {
    @mixin flex-center-space-between;

    color: var(--color-grey);

    & button {
      margin: 0 0 0 var(--sp12);
    }
  }
}

.size14 {
  font-size: var(--text14);
}

.size15 {
  font-size: var(--text15);
}
