.content {
  &.inactive {
    @mixin flex-center-start;

    color: var(--color-grey);

    & :global(button) {
      margin-left: var(--spacing-tight);
    }
  }
}

.size-sm {
  font-size: var(--font-size-sm);
}

.size-md-s {
  font-size: var(--font-size-md-s);
}
