.content {
  &.inactive {
    color: var(--color-grey);
  }
}

.text14 {
  font-size: var(--text14);
}

.text15 {
  font-size: var(--text15);
}

.restoreButton {
  margin-left: var(--sp8);
  font-size: inherit;
  vertical-align: baseline;
}
