.content {
  &.inactive {
    @mixin flex-center-space-between;

    color: var(--color-grey);

    & button {
      margin: 0 0 0 var(--sp12);
    }
  }
}

.sizeSm {
  font-size: var(--font-size-sm);
}

.sizeMdS {
  font-size: var(--font-size-md-s);
}
