.buttons {
  width: 7.5rem;
  height: 2.5rem;
  background: var(--color-grey-lighter);
  border-radius: 2.5rem;
}

.followers {
  width: 50%;
  height: 1.5rem;
  background: var(--color-grey-lighter);
}

.description {
  width: 100%;
  height: 1.25rem;
  margin-top: var(--spacing-x-tight);
  background: var(--color-grey-lighter);
}
