:root {
  --timeline-width: 2px;
  --timeline-disc-size: 10px;
}

ul {
  position: relative;
  grid-column: 1 / -1;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--timeline-width);
    height: 100%;
    content: '';
    background-color: var(--color-black);
    border-radius: var(--timeline-width);
  }

  & + ul {
    padding-top: var(--spacing-base);
  }

  @media (--sm-up) {
    grid-column: span 4;

    & + ul {
      padding-top: 0;
    }
  }

  @media (--md-up) {
    grid-column: span 4;

    & + ul {
      grid-column: span 4 / -1;
    }
  }

  @media (--lg-up) {
    grid-column: span 4;

    & + ul {
      grid-column: span 4 / -1;
    }
  }
}

li {
  position: relative;
  display: flex;

  &::before {
    position: absolute;
    top: calc(50% - var(--timeline-disc-size) / 2);
    left: calc(
      (var(--timeline-disc-size) / 2 - var(--timeline-width) / 2) * -1
    );
    width: var(--timeline-disc-size);
    height: var(--timeline-disc-size);
    content: '';
    background-color: var(--color-black);
    border-radius: var(--timeline-disc-size);
  }

  & + li {
    margin-top: var(--spacing-base);
  }
}

time {
  padding-left: var(--spacing-loose);
  font-size: var(--font-size-xm);
  color: var(--color-grey-darker);
}

.event {
  padding-left: var(--spacing-x-tight);
  font-size: var(--font-size-xm);
}
