.container {
  position: relative;
}

.cover {
  &::after {
    content: '';
    display: block;
    padding-bottom: 37%;

    @media (--sm-up) {
      padding-bottom: 27.777778%;
    }
  }
}

.uploader {
  @mixin expand-to-container;

  background-color: rgba(0, 0, 0, 0.7);
  color: var(--color-white);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-medium);
  border-radius: 0 0 var(--spacing-xx-tight) var(--spacing-xx-tight);
}

.buttons {
  @mixin flex-center-all;

  position: absolute;
  right: var(--spacing-base);
  bottom: var(--spacing-base);

  @media (--sm-up) {
    right: var(--spacing-loose);
    bottom: var(--spacing-loose);
  }

  & label {
    padding: 0 var(--spacing-base);
    font-size: 0;
  }
  & input[type='file'] {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }

  & :global(> * + *) {
    margin-left: var(--spacing-base);
  }
}
