.complete {
  display: flex;
  flex-direction: column;

  & > .image {
    @mixin flex-center-all;
  }

  & > .content {
    color: var(--color-grey-darker);
    font-size: var(--font-size-sm);

    & > .title {
      @mixin flex-center-all;
      color: var(--color-black);
      font-size: var(--font-size-md);
      padding: var(--spacing-default) 0;
    }
  }

  & > .buttons {
    @mixin flex-center-all;
    padding-top: var(--spacing-default);
  }
}
