.complete {
  text-align: center;

  & :global(h3) {
    margin: var(--spacing-default) 0;
    color: var(--color-black);
  }

  & img {
    width: 5rem;
    height: 5rem;
  }
}

.content {
  color: var(--color-grey-darker);
  font-size: var(--font-size-sm);
  text-align: left;
}

.buttons {
  padding-top: var(--spacing-default);
}
