.container {
  overflow-y: auto;

  @media (--sm-up) {
    max-width: 25.25rem; /* 404px */
  }
}

.campaign,
.response {
  padding: var(--sp16);
}

.title {
  padding-bottom: var(--sp16);
  font-size: var(--font-size-base);
}
