.container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.sub-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.content-container {
  padding-left: var(--spacing-x-tight);
  padding-right: var(--spacing-x-tight);
}

.name,
.description {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-medium);
  line-height: 1.33333333;
}

.name {
  padding-right: var(--spacing-tight);

  color: var(--color-black);
}

.description {
  padding-top: var(--spacing-x-tight);

  color: var(--color-grey);
}
