.container {
  @mixin border-bottom-grey;
  @mixin flex-start-space-between;
  padding-bottom: var(--spacing-tight);
  margin-bottom: var(--spacing-tight);
}

.content {
  flex-grow: 1;
  margin-left: var(--spacing-tight);
}

.header-container {
  @mixin flex-start-space-between;
}
.header-left {
}

.name {
  padding-right: var(--spacing-tight);

  color: var(--color-black);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-medium);
  line-height: 1.25;

  &.small {
    font-size: var(--font-size-sm); /* fallback */
    font-size: calc(var(--font-size-sm) + 1px);
    line-height: 1.33333333;
  }
}

.description {
  padding-top: var(--spacing-xxx-tight);

  color: var(--color-grey);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-medium);
}
