:root {
  --descendant-avatar-size: 1.5rem;
}

.container {
  padding: var(--spacing-loose) 0;

  &:target {
    animation: bgFadeOut 2s ease 1s;
  }
}

.author-reply-container {
  width: 100%;
  width: fill-available;
}

@keyframes bgFadeOut {
  50% {
    background: var(--color-green-lighter);
  }
  0,
  100% {
    background: none;
  }
}

.header {
  @mixin flex-start-space-between;
}

.author-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  & .label {
    margin-left: var(--spacing-x-tight);
    font-size: 0;
  }
}

.reply-to {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: var(--spacing-xx-tight) 0 var(--spacing-xx-tight) var(--spacing-x-loose);

  color: var(--color-grey-dark);
  font-size: var(--font-size-sm-s);
  line-height: 1;

  & .wording {
    margin-right: var(--spacing-x-tight);
  }
}

.comment-to-article {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: var(--spacing-x-tight) 0 var(--spacing-base);
}

.container:not(.in-article) .reply-to {
  margin-left: 2.5rem;
}

.content-wrap {
  margin-top: var(--spacing-xx-tight);
  padding-left: var(--spacing-xx-loose);

  font-size: var(--font-size-md-s);
}

.descendant-comments {
  & .container {
    padding: var(--spacing-base) 0;
  }
  & li:first-child .container {
    margin-top: var(--spacing-xx-tight);
    padding-top: var(--spacing-base);
  }

  & .content-wrap {
    position: relative;
    margin-top: var(--spacing-x-tight);
    padding-left: var(--spacing-x-loose);

    &::before {
      content: '';
      position: absolute;
      left: calc(var(--descendant-avatar-size) / 2);
      top: 0;
      height: 0;
      height: calc(100% - var(--spacing-base) * 2);
      width: 1px;
      background-color: var(--color-line-grey-light);
    }
  }
}

.cancel-button {
  padding: 0 var(--spacing-base);

  font-size: var(--font-size-sm);
  color: var(--color-matters-green);
}

.more-button {
  padding-left: var(--spacing-x-loose);
}

.published-description {
  flex-shrink: 0;
  margin: 0 var(--spacing-xx-tight) 0 var(--spacing-x-tight);

  color: var(--color-grey);
  font-size: var(--font-size-sm);
  line-height: 1;
}

.article-title {
  flex-shrink: 2;
  display: block;

  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-md);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
