.title {
  @mixin expand-to-container;

  & .content {
    position: absolute;
    right: var(--spacing-base);
    bottom: var(--spacing-loose);
    left: var(--spacing-base);
    line-height: 1;
  }

  &.mask {
    background: rgba(0, 0, 0, 0.35);
  }
}
