.avatar {
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;

  border-radius: 50%;
  background-color: var(--color-grey-lighter);
}

/* 16px */
.xs {
  width: 1rem;
  height: 1rem;
}

/* 20px */
.sm {
  width: 1.25rem;
  height: 1.25rem;
}

/* 24px */
.md {
  width: 1.5rem;
  height: 1.5rem;
}

/* 32px */
.lg {
  width: 2rem;
  height: 2rem;
}

/* 70px */
.xl {
  width: 4.375rem;
  height: 4.375rem;
}

/* 140px */
.xxl {
  width: 8.75rem;
  height: 8.75rem;
}
