.container {
  & article {
    padding: var(--spacing-base) 0;
  }
}

.descendants {
  @mixin border-left-grey-light;

  padding-left: var(--spacing-base);
  margin-left: var(--spacing-x-tight);
  border-left-style: dashed;

  & .contentContainer {
    padding-left: var(--spacing-x-loose);
    margin-top: var(--spacing-x-tight);
  }
}
