.container {
  display: inline-block;

  color: var(--color-matters-gold);
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-medium);
  line-height: 1.16666667;
  text-align: center;
}

.active {
  & .mat-button {
    background: var(--color-matters-gold);
  }
}

.inactive {
  & .mat-button {
    cursor: not-allowed;
  }
}

.unlogged {
  & .mat-button:active {
    background: var(--color-matters-gold);
    color: #fff;
    fill: currentColor;
  }
}

.mat-button {
  width: 3rem;
  height: 3rem;

  border-radius: 50%;
  border: 2px solid var(--color-matters-gold);
  background: var(--color-white);
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.08), 0 4px 12px 0 rgba(0, 0, 0, 0.08);
}

.mat-count {
  display: block;
  margin-top: var(--spacing-xx-tight);
}
