.autosize {
  display: inline-grid;
}

.autosize::after,
.autosize > input {
  grid-area: 1 / 1;
  width: auto;
  outline: none;
  border: none;
}

.autosize::after {
  visibility: hidden;
  white-space: nowrap;
  content: attr(data-value) ' ';
}
