.autosize {
  display: inline-grid;
}

.autosize::after,
.autosize > input {
  grid-area: 1 / 1;
  width: auto;
  outline: none;
  border: none;
}

.autosize::after {
  visibility: hidden;

  /* Ensure consistent sizing calculation */
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  white-space: nowrap;
  content: attr(data-value) ' ';
}
