.endOfResults {
  @mixin flex-center-all;

  padding-bottom: var(--sp40);
  font-size: var(--text14);
  color: var(--color-grey);
}

.spacingTopBase {
  padding-top: var(--sp16);
}

.spacingTopXLoose {
  padding-top: var(--sp32);
}
