.endOfResults {
  @mixin flex-center-all;

  padding-bottom: var(--spacing-xx-loose);
  font-size: var(--font-size-sm);
  color: var(--color-grey);
}

.spacingTopBase {
  padding-top: var(--spacing-base);
}

.spacingTopXLoose {
  padding-top: var(--spacing-x-loose);
}
