.buttons {
  display: none;
  margin-top: var(--spacing-tight);
  text-align: right;

  & :global(> * + *) {
    margin-left: var(--spacing-tight);
  }
}

.expand {
  & .buttons {
    display: block;
  }
}

.blocked {
  display: block;
  width: 100%;
  padding: var(--spacing-x-tight);

  color: var(--color-grey-dark);
  font-size: var(--font-size-sm);
  text-align: center;
  background: var(--color-grey-lighter);
}
