.articleEditor {
  position: relative;
  height: calc(
    100vh - 3rem - 4rem - var(--sp16) * 2
  ); /* 3rem for header, 4rem for bottom bar */

  height: calc(var(--ivh) * 100 - 3rem - 4rem - var(--sp16) * 2);
  height: calc(100dvh - 3rem - 4rem - var(--sp16) * 2);
  padding-bottom: 30vh;
  overflow: hidden auto;
  cursor: text;

  @media (--md-up) {
    height: auto;
    overflow-x: initial;
    overflow-y: initial;
  }

  /* outline */
  &:focus {
    outline: none;
  }

  /* text selection */
  &::selection,
  & :global(mark.highlight) {
    background: var(--color-editor-selection);
  }

  & :global(mark.highlight) {
    display: inline-block;
  }

  /* horizontal rule */
  & :global(hr.ProseMirror-selectednode) {
    &::before {
      background-image: radial-gradient(
        circle,
        var(--color-black) 0.25rem,
        transparent 0.25rem
      );
    }

    &::after {
      position: absolute;
      inset: 0;
      content: '';
      border: 1px solid var(--color-line-grey-light);
      border-radius: 0.5rem;
    }
  }

  /* placeholder */
  & :global(p.is-editor-empty:first-child::before) {
    float: left;
    height: 0;
    color: var(--color-grey);
    pointer-events: none;
    content: attr(data-placeholder);
  }

  & :global(figure.is-figure-empty::before) {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    font-size: var(--text13);
    line-height: 1.5;
    color: var(--color-grey);
    white-space: pre-wrap;
    cursor: text;
    content: attr(data-figure-placeholder);
  }

  /* link input */
  & :global(.figure-embed-link-input) {
    & input {
      display: block;
      height: 1.875rem;
      line-height: var(--line-height-article-base);
      color: var(--color-grey);

      &::placeholder {
        color: var(--color-grey);
        opacity: 1; /* Firefox */
      }
    }
  }

  /* image uploader */
  & :global(.figure-image-uploader),
  & :global(figure) {
    position: relative;
    margin-bottom: var(--ar17-400);

    & :global(input) {
      margin-top: var(--sp12);
      font-size: var(--text14);
      line-height: 1.375rem;
      color: var(--color-grey);
      text-align: center;
      white-space: pre-wrap;
      background: transparent;

      &::placeholder {
        color: var(--color-grey);
        opacity: 1; /* Firefox */
      }
    }
  }

  /* figure selected */
  & :global(figure.ProseMirror-selectednode),
  & :global(.figure-image-uploader.ProseMirror-selectednode) {
    position: relative;

    &::before {
      position: absolute;
      inset: 0;
      content: '';
      border: 2px solid var(--color-matters-green);
    }

    @media (--md-up) {
      outline: 2px solid var(--color-matters-green);

      &::before {
        display: none;
      }
    }
  }
}

.indented {
  & > p {
    text-indent: 2.25rem;
  }
}
