:root {
  --eidtor-bottom-bar-height: var(--global-nav-height);
}

.container {
  position: relative;

  & :global(.ql-editor) {
    margin-bottom: var(--eidtor-bottom-bar-height);

    @media (--sm-up) {
      margin-bottom: 0;
    }
  }
}
