:root {
  --editor-title-height: 3.25rem;
  --eidtor-bottom-bar-height: var(--global-nav-height);
  --editor-conatiner-spacing: calc(var(--spacing-base) * 2);
  --editor-content-spacing: calc(
    var(--editor-title-height) + var(--editor-conatiner-spacing)
  );
  --editor-content-spacing-mobile: calc(
    var(--editor-title-height) + var(--editor-container-spacing) +
      var(--eidtor-bottom-bar-height)
  );
}

.container {
  position: relative;

  & :global(.ql-editor) {
    height: calc(
      100vh - var(--global-header-height-mobile) -
        var(--editor-content-spacing-mobile)
    );
    height: calc(
      var(--vh) * 100 - var(--global-header-height-mobile) -
        var(--editor-content-spacing-mobile)
    );

    @media (--lg-up) {
      height: calc(
        100vh - var(--global-header-height) - var(--editor-content-spacing)
      );
    }
  }
}
