.content {
  padding: var(--spacing-xxx-loose);
  text-align: center;

  & h2 {
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-md);
  }

  & p {
    margin-top: var(--spacing-x-tight);
    font-size: var(--font-size-sm);
    color: var(--color-grey-darker);
  }

  @media (--md-up) {
    padding: 5rem var(--spacing-xxx-loose) 9rem;
  }
}
