.hr {
  margin-top: var(--spacing-loose);
}

.description {
  padding: var(--spacing-loose) var(--spacing-base) var(--spacing-base)
    var(--spacing-base);
  font-size: var(--font-size-sm-s);
  line-height: 1.5rem;
  color: var(--color-grey-dark);

  & ul {
    margin-left: var(--spacing-tight);
    list-style-type: disc;
  }

  & .reference {
    margin-top: var(--spacing-base);
    font-size: var(--font-size-xs-s);

    & a {
      text-decoration: underline;
    }
  }
}
