.hr {
  margin-top: var(--sp24);
}

.description {
  padding: var(--sp24) var(--sp16) var(--sp16) var(--sp16);
  font-size: var(--font-size-sm-s);
  line-height: 1.5rem;
  color: var(--color-grey-dark);

  & ul {
    margin-left: var(--sp12);
    list-style-type: disc;
  }

  & .reference {
    margin-top: var(--sp16);
    font-size: var(--font-size-xs-s);

    & a {
      text-decoration: underline;
    }
  }
}
