.outer {
  @mixin all-transition;

  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;

  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.08);
  transform: translateY(100%);
  opacity: 0;
  z-index: 5;
}

.show {
  transform: translateY(0%);
  opacity: 1;
}

.bg {
  background-color: var(--color-white);
  background-size: cover;
  max-width: 90rem;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-direction: column;

  position: relative;
  padding: var(--spacing-tight) 0;

  & .slogan {
    @mixin font-serif;
  }

  & .desc {
    margin: var(--spacing-x-tight) 0 var(--spacing-tight);

    color: var(--color-grey-darker);
    font-size: var(--font-size-sm);
  }

  & .signup {
    text-align: right;
  }

  & .close {
    position: absolute;
    top: 0.625rem;
    right: 0;
  }

  @media (--md-up) {
    @mixin flex-center-space-between;
    flex-direction: row;
    padding: 2.25rem 0;

    & .slogan {
      @mixin font-serif;

      font-size: var(--font-size-xxl);
    }

    & .desc {
      margin: 0;

      color: var(--color-black);
      font-size: var(--font-size-md);
    }

    & .signup {
      padding-right: var(--spacing-x-loose);
    }
  }
}
