.selectedTags {
  padding: 0 var(--sp16);
  margin: var(--sp16) 0;
}

.tagList {
  line-height: 1;

  & li {
    display: inline-block;
    margin-top: var(--sp16);
    margin-right: var(--sp12);
  }
}

.hint {
  font-size: var(--text13);
  line-height: 1.125rem;
  color: var(--color-grey);
}
