.tagList {
  padding: 0 var(--spacing-base);
  margin-top: var(--spacing-base);

  & li {
    display: inline-block;
    margin-right: var(--spacing-tight);
    margin-bottom: var(--spacing-base);
  }
}
