.campaign,
.response,
.indent {
  padding: var(--sp16);
}

.title {
  padding-bottom: var(--sp16);
  font-size: var(--font-size-base);
}

.access {
  padding: var(--sp16);
}

.indent {
  @mixin flex-center-space-between;

  & .title {
    padding-bottom: 0;
  }
}
