.hint,
.intro {
  padding: 0 var(--spacing-base);
  margin: var(--spacing-loose) 0 var(--spacing-x-tight);
}

.hint {
  font-size: var(--font-size-sm);
  color: var(--color-grey-dark);
}

.intro {
  & h4 {
    margin-bottom: var(--spacing-x-tight);
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-medium);
  }

  & p {
    font-size: var(--font-size-xs);
    color: var(--color-grey);
  }
}
