.subscriptionBanner {
  @mixin flex-center-all;
  @mixin transition;

  height: 3rem;
  margin: var(--sp16) var(--sp16) var(--sp24);
  font-size: var(--font-size-md);
  color: var(--color-white);
  background: var(--color-matters-gold);
  border-radius: var(--sp8);
  transition-property: background-color;

  &:hover,
  &:focus {
    background: var(--color-matters-gold-hover);
  }

  @media (--sm-up) {
    margin-right: 0;
    margin-left: 0;
  }
}
