.container {
  position: relative;

  & + .container {
    margin-top: var(--spacing-x-tight);
  }

  &.has-float {
    & .input {
      padding-right: 6rem;
    }
  }
}

.input {
  @mixin text-input;

  font-size: var(--font-size-md);
  height: 2.5rem;

  &:disabled {
    color: var(--color-grey-darker);
  }
}

.float-right {
  @mixin flex-center-all;

  position: absolute;
  top: 0;
  right: 0;

  height: 2.5rem;
  padding: var(--spacing-x-tight);
}

.info {
  font-size: var(--font-size-xs);
  line-height: 1.1;
  height: 1rem;
  min-height: 1rem;
  margin-top: 0.4rem;
  padding-left: var(--spacing-x-tight);

  & > .error {
    color: var(--color-red);
  }

  & > .hint {
    color: var(--color-grey-dark);
  }
}
