.content {
  flex-shrink: 1;
  padding: var(--spacing-base);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  @media (--md-up) {
    padding: 0 var(--spacing-base-loose);
  }

  &.noSpacing {
    padding: 0;
  }

  &.hasFixed {
    flex-shrink: 0;
  }
}
