.content {
  max-height: 50vh;

  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  @media (--sm-up) {
    max-height: 70vh;
  }
}

.spacing-x-base {
  padding-left: var(--spacing-base);
  padding-right: var(--spacing-base);
}

.spacing-y-base {
  padding-top: var(--spacing-base);
  padding-bottom: var(--spacing-base);
}
