.content {
  max-height: 50vh;

  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  @media (--sm-up) {
    max-height: 70vh;
  }
}

.spacing-x-base {
  margin-left: var(--spacing-base);
  margin-right: var(--spacing-base);
}
.spacing-x-xloose {
  margin-left: var(--spacing-x-loose);
  margin-right: var(--spacing-x-loose);
}

.spacing-y-base {
  margin-top: var(--spacing-base);
  margin-bottom: var(--spacing-base);
}
.spacing-y-xloose {
  margin-top: var(--spacing-x-loose);
  margin-bottom: var(--spacing-x-loose);
}
