.content {
  flex-shrink: 1;
  padding: var(--spacing-base);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  &.has-grow {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
}

.spacing-x-0 {
  padding-right: 0;
  padding-left: 0;
}

.spacing-x-xloose {
  @media (--sm-up) {
    padding-right: var(--spacing-x-loose);
    padding-left: var(--spacing-x-loose);
  }
}

.spacing-y-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.spacing-y-xloose {
  @media (--sm-up) {
    padding-top: var(--spacing-x-loose);
    padding-bottom: var(--spacing-x-loose);
  }
}
