.container {
  @mixin border-grey;

  display: flex;
  flex-direction: column;
  padding: var(--sp12) 0;
  border-color: var(--color-grey-hover);
  border-radius: 0.5rem;

  & title {
    @mixin line-clamp;

    padding: 0 var(--sp16);
    margin-bottom: var(--sp8);
    -webkit-line-clamp: 2;
    font-weight: var(--font-medium);
  }

  & .totalCount {
    padding: 0 var(--sp16);
    margin-bottom: var(--sp12);
    font-size: var(--text14);
    line-height: 1.375rem;
    color: var(--color-grey);
  }

  & .feed {
    @mixin scrollbar-thin;

    max-height: 18.5rem;
    padding: 0 var(--sp16);
    overflow-y: auto;
  }
}
