@define-mixin line-clamp-3 {
  @mixin line-clamp;

  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
}

.container {
  display: flex;
  flex-direction: column;
  font-weight: var(--font-normal);

  & .header {
    display: flex;

    & > a {
      margin-right: var(--sp8);
    }

    & .singleActorInfo {
      @mixin line-clamp-3;

      align-self: center;
    }
  }

  & .content {
    @mixin line-clamp-3;

    margin-top: var(--sp12);
  }

  & .footer {
    @mixin flex-center-end;

    margin-top: var(--sp8);
  }
}

.contentWrap {
  flex-grow: 1;
  padding-top: var(--sp4);

  &.overflowHidden {
    overflow: hidden;
  }
}

/* NoticeCircleName */
.circleDisplayName {
  color: var(--color-black);
}

/* NoticeTag */
.tagContent {
  color: var(--color-black);
}

/* NoticeMultiActors */
.moreActors {
  & button {
    cursor: auto;
  }
}

/* NoticeActorAvatar */
.noticeActorAvatar {
  height: 2rem;
}

/* NoticeArticleTitle, NoticeMomentTitle */
.noticeArticleTitle,
.noticeMomentTitle {
  color: var(--color-black);
}

/* NoticeContentActors */
.noticeActorsNameAndTitleInfo {
  font-size: var(--font-size-base);
  color: var(--color-grey);
}

.noticeActorsNameAndTitleTitle {
  /* @mixin line-clamp-3; */
}

/* NoticeActorName */
.displayName {
  font-size: var(--font-size-base);
  color: var(--color-black);
}

/* NoticeArticleCard */
.noticeArticleCard {
  margin-left: var(--sp40);
}

/* NoticeContentDigest */
.noticeContentDigest {
  @mixin border-left-grey;
  @mixin line-clamp;

  padding-left: var(--sp16);
  margin-left: var(--sp40);
  color: var(--color-black);
  text-overflow: ellipsis;
  border-left-style: dashed;
  border-left-width: 3px;
  -webkit-line-clamp: 3;
}
