.container {
  display: flex;
  align-items: flex-start;

  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-normal);
}

.avatar-wrap {
  flex-shrink: 0;

  margin-right: var(--spacing-x-tight);
  width: 2rem;

  &.multi {
    & :global(.avatar) {
      border: 1.5px solid var(--color-white);
    }
    & :global(> *) {
      position: relative;
      display: inline-flex;

      & + :global(*) {
        margin-left: calc(var(--spacing-x-tight) * -1);
      }
      &:nth-child(1) {
        z-index: 2;
      }
      &:nth-child(2) {
        z-index: 1;
      }
    }
  }
}

.content-wrap {
  flex-grow: 1;
  padding-top: var(--spacing-xx-tight);

  &.overflow-hidden {
    overflow: hidden;
  }

  & h4 {
    margin-bottom: var(--spacing-xx-tight);
    color: var(--color-grey);
    font-weight: var(--font-weight-normal);

    & :global(a) {
      color: var(--color-black);
      font-weight: var(--font-weight-medium);
    }
  }

  & .head-wrap {
    @mixin flex-start-space-between;
    margin-bottom: var(--spacing-x-tight);

    & h4 {
      margin: 0;
    }

    & section.date {
      flex-shrink: 0;
      margin: 0 0 0 var(--spacing-xx-tight);
    }
  }
}

.icon-wrap {
  padding: var(--spacing-x-tight);
}

.multi-actor-avatars {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: var(--spacing-tight);

  & :global(a) {
    margin-right: var(--spacing-x-tight);
  }
}

.sub-content {
  margin-top: var(--spacing-tight);
}

.date {
  margin-top: var(--spacing-xx-tight);
}

.highlight {
  color: var(--color-matters-green);
}
