@define-mixin line-clamp-3 {
  @mixin line-clamp;

  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
}

.container {
  display: flex;
  flex-direction: column;
  font-weight: var(--font-weight-normal);

  & .header {
    display: flex;

    & :global(> a) {
      margin-right: var(--spacing-x-tight);
    }

    & .single-actor-info {
      @mixin line-clamp-3;

      align-self: center;
    }
  }

  & .content {
    @mixin line-clamp-3;

    margin-top: var(--spacing-tight);
  }

  & .footer {
    @mixin flex-center-end;

    margin-top: var(--spacing-x-tight);
  }
}

.avatar-wrap {
  flex-shrink: 0;
  width: 2rem;
  margin-right: var(--spacing-x-tight);

  &.multi {
    & :global(.avatar) {
      border: 2px solid var(--color-white);
    }

    & :global(> *) {
      position: relative;
      display: inline-flex;

      & + :global(*) {
        margin-left: calc(var(--spacing-x-tight) * -1);
      }

      &:nth-child(1) {
        z-index: 2;
      }

      &:nth-child(2) {
        z-index: 1;
      }
    }
  }
}

.content-wrap {
  flex-grow: 1;
  padding-top: var(--spacing-xx-tight);

  &.overflow-hidden {
    overflow: hidden;
  }
}

.head-wrap {
  margin-bottom: var(--spacing-x-tight);

  & h4 {
    font-weight: var(--font-weight-normal);
    color: var(--color-grey);

    & :global(a) {
      font-weight: var(--font-weight-medium);
      color: var(--color-black);
    }
  }

  & p {
    margin-top: var(--spacing-xx-tight);
    color: var(--color-grey);
  }
}

.icon-wrap {
  padding: var(--spacing-x-tight);
}

.highlight {
  color: var(--color-matters-green);
}

/* NoticeTag */
.tag-content {
  color: var(--color-black);
}

/* NoticeMultiActors */
.more-actors {
  & :global(button) {
    cursor: auto;
  }
}

/* NoticeActorAvatar */
.notice-actor-avatar {
  height: 2rem;
}

/* NoticeArticleTitle */
.notice-article-title {
  color: var(--color-black);
}

/* NoticeContentActors */
.notice-actors-name-and-title-info {
  font-size: var(--font-size-base);
  color: var(--color-grey);
}

.notice-actors-name-and-title-title {
  /* @mixin line-clamp-3; */
}

/* NoticeActorName */
.display-name {
  font-size: var(--font-size-base);
  color: var(--color-black);
}

/* NoticeArticleCard */
.notice-article-card {
  margin-left: var(--spacing-xx-loose);
}

/* NoticeContentDigest */
.notice-content-digest {
  @mixin border-left-grey;
  @mixin line-clamp;

  padding-left: var(--spacing-tight);
  margin-left: var(--spacing-xx-loose);
  text-overflow: ellipsis;
  border-left-style: dashed;
  -webkit-line-clamp: 3;
}
