.info {
  padding: var(--sp12) var(--sp16);
  margin-bottom: var(--sp32);
  background: var(--color-grey-lighter);
  border-radius: 0.5rem;
}

.divider {
  border-style: dashed;
}

.header {
  margin-bottom: var(--sp10);
}

.author {
  @mixin flex-center-space-between;
}

.description {
  margin-top: var(--sp10);
  font-size: var(--text14);
  line-height: 1.375rem;
}

.footer {
  margin-top: var(--sp10);

  & .item {
    @mixin flex-start-start;

    margin-top: var(--sp4);
    margin-right: var(--sp16);
    font-size: var(--text12);
    line-height: 1.125rem;

    &.inline {
      @mixin inline-flex-center-start;
    }

    @media (--sm-up) {
      margin-top: var(--sp10);
    }

    & .name {
      flex-shrink: 0;
      margin-right: var(--sp8);
      font-weight: var(--font-medium);
    }

    & .content {
      @mixin inline-flex-center-all;

      flex-wrap: wrap;
      justify-content: flex-start;
      color: var(--color-grey-darker);

      & a {
        @mixin inline-flex-center-all;

        flex-shrink: 0;
      }
    }

    & .gatewayUrl {
      position: relative;

      &:not(:last-child) {
        padding-right: 12px;

        &::before {
          position: absolute;
          top: 0;
          right: 4px;
          color: var(--color-black);
          content: '·';
        }
      }
    }

    &.dataHash {
      & button {
        height: 1.125rem;
      }
    }
  }
}
