.user-profile {
  margin-bottom: var(--spacing-base);
}

header {
  @mixin flex-end-space-between;

  padding: 0 var(--spacing-base);
  margin-bottom: var(--spacing-base);

  & .avatar {
    display: inline-flex;
    margin-top: calc(var(--spacing-loose) * -1);
    border-radius: 50%;
    box-shadow: 0 0 0 3px var(--color-white);
  }
}

.info {
  padding: 0 var(--spacing-base);
  margin-bottom: var(--spacing-base);

  & .display-name,
  & .username {
    @mixin flex-center-start;

    & :global(> * + *) {
      margin-left: var(--spacing-x-tight);
    }
  }

  & .display-name {
    font-size: var(--font-size-xl);
    line-height: 1;

    & .name {
      line-height: 1.5rem;
    }
  }

  & .username {
    margin-top: var(--spacing-x-tight);
    font-size: var(--font-size-md);
    line-height: 1;
    color: var(--color-grey-dark);
  }

  & .description {
    position: relative;
    margin-top: var(--spacing-base);
    font-size: var(--font-size-md);
    color: var(--color-grey-darker);
    white-space: pre-wrap;
  }
}

footer {
  padding: 0 var(--spacing-base);
  font-size: var(--font-size-sm);
  color: var(--color-grey);

  & :global(> *) {
    display: inline-flex;
    align-items: center;
    line-height: 1.5rem;

    & + * {
      margin-left: var(--spacing-loose);
    }
  }

  & .count {
    display: block;
    padding-right: var(--spacing-x-tight);
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-bold);
    line-height: 1.5rem;
    color: var(--color-black);
  }
}
