.user-profile {
  margin-bottom: var(--spacing-base);
}

.buttons {
  & :global(> * + *) {
    margin-left: var(--spacing-base);
  }
}

.right {
  @mixin flex-end-space-between;

  & :global(> *) {
    &:nth-child(2) {
      margin-left: var(--spacing-base);
    }
  }

  & :global(svg) {
    color: var(--color-matters-green);
    background-color: var(--color-white);
    border: 2px solid var(--color-matters-green);
    border-radius: 50%;

    &:hover,
    &:focus {
      color: var(--color-white);
      background-color: var(--color-matters-green);
      transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    }
  }
}

header {
  @mixin flex-end-space-between;

  padding: 0 var(--spacing-base);
  margin-bottom: var(--spacing-base);

  & .avatar {
    display: inline-flex;
    margin-top: calc(var(--spacing-loose) * -1);
    border-radius: 50%;
    box-shadow: 0 0 0 3px var(--color-white);
  }
}

.info {
  padding: 0 var(--spacing-base);
  margin-bottom: var(--spacing-base);

  & .display-name,
  & .username {
    @mixin flex-center-start;

    & :global(> * + *) {
      margin-left: var(--spacing-x-tight);
    }
  }

  & .display-name {
    font-size: var(--font-size-xl);
    line-height: 1;

    & .name {
      line-height: 1.5rem;
    }
  }

  & .username {
    margin-top: var(--spacing-x-tight);
    font-size: var(--font-size-md);
    line-height: 1;
    color: var(--color-grey-dark);
  }
}

footer {
  padding: 0 var(--spacing-base);
  font-size: var(--font-size-sm);
  color: var(--color-grey);

  & :global(> *) {
    display: inline-flex;
    align-items: center;
    line-height: 1.5rem;

    & + * {
      margin-left: var(--spacing-loose);
    }
  }

  & .count {
    display: block;
    padding-right: var(--spacing-x-tight);
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-bold);
    line-height: 1.5rem;
    color: var(--color-black);
  }
}

.ens-name {
  @mixin flex-center-start;

  gap: var(--spacing-x-tight);

  & .info-icon {
    @mixin flex-center-all;
  }
}
