.container {
  display: flex;
  align-items: center;
}

.name {
  color: var(--color-black);
  font-size: var(--font-size-sm);
  padding-left: var(--spacing-x-tight);
}

.description {
  @mixin truncate;

  color: var(--color-grey-dark);
  font-size: var(--font-size-sm);
  padding-left: var(--spacing-x-tight);
}
