.head {
  & .product {
    margin: var(--spacing-loose) var(--spacing-base);
  }

  & .features {
    @mixin flex-center-space-between;

    padding: var(--spacing-x-tight) var(--spacing-loose);
    margin: var(--spacing-loose) var(--spacing-base);
    background: var(--color-yellow-lighter);
    border-radius: var(--spacing-loose);

    & li {
      display: inline-flex;
    }
  }
}

.hint {
  margin: var(--spacing-base);
}

.currentCard {
  @mixin flex-center-space-between;

  margin: var(--spacing-base);
}
