.circle {
  margin: var(--spacing-loose) var(--spacing-base) var(--spacing-x-tight);
  background: var(--color-white);
  border-radius: var(--spacing-x-tight);
  box-shadow: var(--shadow-sm-lighter);
}

.hint {
  margin: var(--spacing-loose) var(--spacing-base);
}
