:root {
  --donation-area-button-height: 2.5rem;
  --donation-area-avatar-height: 1.25rem;
}

.support-widget {
  margin: calc(
      var(--spacing-x-loose) + var(--spacing-base) +
        var(--donation-area-button-height) / 2
    )
    0 calc(var(--spacing-loose) + var(--donation-area-avatar-height) / 2);
}

.donation {
  position: relative;
  padding: var(--spacing-base);
  text-align: center;
  background: var(--color-yellow-lighter);
  border-radius: 1.25rem;

  & p {
    font-size: var(--font-size-sm);
    line-height: 1.25rem;
  }

  & .donation-button {
    margin-top: var(--spacing-base);
  }

  & .donators {
    @mixin flex-center-all;

    margin-top: var(--spacing-loose);
  }

  & .transaction {
    @mixin flex-center-all;

    margin-top: var(--spacing-loose);
    font-size: var(--font-size-xs);

    & .transaction-button {
      display: inline-block;
      margin-left: var(--spacing-xx-tight);
      border-bottom: 1px solid var(--color-matters-gold);
    }
  }
}

.hasCircle {
  & .donation {
    border-radius: var(--spacing-x-tight) var(--spacing-x-tight) 0 0;

    & .donators {
      bottom: calc(
        var(--donation-area-avatar-height) / 2 * -1 - var(--spacing-xx-tight) /
          2
      );
    }
  }
}

.circle {
  margin-top: var(--spacing-xx-tight);
  overflow: hidden;
  background: var(--color-grey-lighter);
  border-radius: 0 0 var(--spacing-x-tight) var(--spacing-x-tight);
}

.animation-hint {
  height: 1.5rem;
  margin: 0 auto;
}
