.supportWidget {
  margin: calc(var(--spacing-base) + 2.5rem / 2) 0
    calc(var(--spacing-loose) + 1.25rem / 2);
}

.donation {
  @mixin flex-center-all;
  @mixin polka-dot-background;

  position: relative;
  flex-direction: column;
  padding: var(--spacing-xx-loose) var(--spacing-base);
  text-align: center;

  @media (--sm-up) {
    padding: var(--spacing-base-xx-loose) var(--spacing-base);
  }

  & p {
    font-size: var(--font-size-sm);
    line-height: 1.25rem;
  }

  &.note p {
    max-width: 29rem;
  }

  & .donationButton {
    margin-top: var(--spacing-loose);
  }

  & .donators {
    @mixin flex-center-all;

    margin-top: var(--spacing-loose);
  }

  & .transaction {
    @mixin flex-center-all;

    margin-top: var(--spacing-loose);
    font-size: var(--font-size-xs);
    line-height: 1;

    & .transactionLeft {
      display: inline-flex;
      line-height: 1.25rem;
    }

    & .transactionButton {
      display: inline-flex;
      padding-top: 2px;
      padding-bottom: 1px;
      margin-left: var(--spacing-xx-tight);
      border-bottom: 1px solid var(--color-matters-gold);
    }
  }
}

.hasCircle {
  & .donation {
    border-radius: var(--spacing-x-tight) var(--spacing-x-tight) 0 0;

    & .donators {
      bottom: calc(1.25rem / 2 * -1 - var(--spacing-xx-tight) / 2);
    }
  }
}

.circle {
  margin-top: var(--spacing-xx-tight);
  overflow: hidden;
  background: var(--color-grey-lighter);
  border-radius: 0 0 var(--spacing-x-tight) var(--spacing-x-tight);
}

.animationHint {
  height: 2.5rem;
  margin: 0 auto;

  @media (--sm-up) {
    height: 1.5rem;
  }
}
