/* @styled-jsx=global */

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-index-progress-bar);
  width: 100%;
  height: 1px;
  background: var(--color-matters-green);
}
