/* @styled-jsx=global */

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;

  background: var(--color-matters-green);
  z-index: 1031;
}
