.tagsSidebar {
  border-top: var(--spacing-x-tight) solid var(--color-grey-lighter);
  border-bottom: var(--spacing-x-tight) solid var(--color-grey-lighter);

  & .list-item > .card {
    margin: 0 calc(var(--spacing-x-tight) * -1);
  }
}

.inSidebar {
  border-top-width: 0;
  border-bottom-width: 0;
}

.right {
  @mixin flex-center-all;

  & > * + * {
    margin-left: var(--spacing-base);
  }
}
