h2 {
  @mixin font-serif;
  font-size: 1.7rem;
  line-height: 1.4;

  @media (--sm-up) {
    font-size: 2.5rem;
  }
}

.slogan {
  @mixin flex-center-space-between;
  align-items: flex-start;

  position: relative;
  padding-top: 8.125rem;
  margin-top: calc((var(--spacing-loose) + var(--global-header-height)) * -1);
  margin-top: calc(
    (var(--spacing-loose) + var(--global-header-height) + 1px) * -1
  );
  height: 100vh;

  background-color: var(--color-bg-green);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
  text-align: center;

  @media (--sm-up) {
    align-items: center;
    padding-top: 0;
    margin-top: calc(
      (var(--spacing-x-loose) + var(--global-header-height)) * -1
    );
    margin-top: calc(
      (var(--spacing-x-loose) + var(--global-header-height) + 1px) * -1
    );
    height: 50rem;
    background-position: right center;
    text-align: left;
  }

  & img {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
  }

  & .buttons {
    margin-top: var(--spacing-x-loose);
  }
}

.goal {
  padding-top: 4rem;
  padding-bottom: 4rem;

  & img {
    display: block;
    margin: 0 auto;
  }

  & h2 {
    margin-top: var(--spacing-x-loose);
    text-align: center;
  }

  & p {
    margin-top: var(--spacing-default);
  }

  @media (--sm-up) {
    padding-top: 8rem;

    & h2 {
      margin-top: 0;
      text-align: left;
    }
  }
}
