.card {
  padding: var(--sp16);
  background: var(--color-white);
  border-radius: 0.5rem;

  & .header {
    @mixin flex-center-space-between;
  }

  & .description {
    margin-top: var(--sp4);
  }

  & .error {
    color: var(--color-negative-red);
  }
}
