.card {
  padding: var(--spacing-base);
  background: var(--color-white);
  border-radius: 0.5rem;

  & .header {
    @mixin flex-center-space-between;
  }

  & .description {
    margin-top: var(--spacing-xx-tight);
  }

  & .error {
    color: var(--color-red);
  }
}
