.container {
  & div {
    @mixin border-bottom-grey;

    padding-top: var(--sp24);
    padding-bottom: var(--sp24);
    margin-right: auto;
    margin-left: auto;
    border-bottom-style: dashed;
  }
}
