.container {
  & > div {
    padding-top: var(--sp24);
    padding-bottom: var(--sp24);
    margin-right: auto;
    margin-left: auto;

    &.hasBorder {
      @mixin border-bottom-grey;

      border-bottom-style: dashed;
    }
  }
}
