.container {
  @mixin border-bottom-grey;

  padding-top: var(--spacing-loose);
  padding-bottom: var(--spacing-loose);
  border-bottom-style: dashed;

  & div {
    margin-right: auto;
    margin-left: auto;
  }
}
