.container {
  @mixin flex-center-start;

  position: relative;
}

.cover {
  position: relative;
  display: inline-flex;
  flex-shrink: 0;
  width: 2.625rem;
  height: 2.625rem;
  margin-right: var(--sp8);

  & img {
    @mixin object-fit-cover;

    background-color: var(--color-grey-lighter);
    border-radius: 0.75rem;
  }
}

.content {
  @mixin flex-start-start;

  flex-direction: column;

  & .header {
    display: inline-flex;
  }
}

.nums {
  @mixin flex-start-start;

  margin-top: var(--sp8);

  & > * {
    width: 4rem;
  }

  & > * + * {
    margin-left: var(--sp12);
  }
}
