.transaction {
  padding: var(--sp20) 0;
}

.header {
  @mixin flex-center-space-between;

  font-size: var(--text16);
  font-weight: var(--font-medium);
  line-height: 1.5rem;
}

.footer {
  @mixin flex-center-space-between;

  margin-top: var(--sp8);
  margin-left: var(--sp32);
  font-size: var(--text12);
  line-height: 1.125rem;
}
