.container {
  display: flex;
  padding: var(--spacing-base);

  @media (--sm-up) {
    padding-right: 0;
    padding-left: 0;
  }

  & .tx-icon {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-right: var(--spacing-x-tight);
  }

  & .tx-info {
    display: flex;
    flex-grow: 1;

    /* margin-left: var(--spacing-xx-tight);

    @media (--sm-up) {
      margin-left: var(--spacing-x-tight);
    } */

    & .left {
      display: flex;
      flex-flow: column wrap;
      flex-grow: 1;

      & .title {
        @mixin line-clamp;

        padding-left: var(--spacing-x-loose);
      }

      & .title,
      & .wallet-action,
      & .subscription {
        margin-bottom: var(--spacing-xx-tight);
      }

      & .wallet-action,
      & .subscription {
        @mixin flex-center-start;

        & p {
          display: flex;
          align-items: center;
          font-size: var(--font-size-md-s);
          font-weight: var(--font-weight-medium);
          line-height: 1;
        }
      }
    }

    & .right {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: end;
      justify-content: space-between;
    }
  }
}
