.container {
  display: flex;

  & .tx-icon {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: var(--spacing-xx-loose);
  }

  & .tx-info {
    display: flex;
    flex-grow: 1;
    margin-left: var(--spacing-xx-tight);

    @media (--sm-up) {
      margin-left: var(--spacing-x-tight);
    }

    & .left {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      flex-wrap: wrap;

      & .title {
        @mixin line-clamp;
      }

      & .title,
      & .wallet-action {
        margin-bottom: var(--spacing-xx-tight);
      }

      & .wallet-action {
        @mixin flex-center-start;

        & p {
          display: flex;
          align-items: center;
          font-size: var(--fon-size-md-s);
          line-height: 1;
        }
      }
    }

    & .right {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      justify-content: space-between;
    }
  }
}
