.payoutItem {
  color: var(--color-grey);

  & .subtitle {
    padding-left: calc(1.25rem + var(--sp12));
    margin-top: var(--sp4);
    font-size: var(--text12);
  }
}

.assetsItem {
  @mixin flex-center-space-between;

  padding: var(--sp24) var(--sp16);

  @media (--sm-up) {
    padding: var(--sp16) 0;
  }

  &.clickable {
    @mixin transition;

    cursor: pointer;
    transition-property: background-color;

    &:hover {
      background-color: var(--color-grey-hover);
    }
  }
}
