.payoutItem {
  color: var(--color-grey);

  & .subtitle {
    padding-left: calc(1.5rem + var(--spacing-base));
    margin-top: var(--spacing-xx-tight);
    font-size: var(--font-size-xs);
  }
}

.assetsItem {
  @mixin flex-center-space-between;

  padding: var(--spacing-loose) var(--spacing-base);

  @media (--sm-up) {
    padding: var(--spacing-loose) var(--spacing-x-loose);
  }

  &.clickable {
    @mixin all-transition;

    cursor: pointer;

    &:hover {
      background-color: var(--color-grey-lighter-active);
    }
  }
}
