.header {
  @mixin flex-center-space-between;

  position: relative;
  flex-shrink: 0;
  padding: var(--sp32) var(--sp16) var(--sp8);
  background: var(--color-white);
  border-radius: var(--sp8) var(--sp8) 0 0;

  & .title {
    font-size: var(--text20);
    font-weight: var(--font-medium);
    line-height: 1.75rem;
  }

  & .titleCenter {
    @mixin flex-center-all;

    position: absolute;
    inset: 0;
    padding: var(--sp32) 0 var(--sp8);
    white-space: break-spaces;
  }

  & .left,
  & .right {
    display: inline-flex;
    min-height: 1.75rem;

    & > * {
      line-height: 1.5rem;
    }
  }
}

.smUpheader {
  @mixin flex-center-space-between;

  padding: 0 var(--sp20);
  margin: var(--sp20) 0 var(--sp16);

  & .title {
    font-size: var(--text20);
    font-weight: var(--font-medium);
    line-height: 1.875rem;
  }
}
