header {
  @mixin flex-center-space-between;
  @mixin shadow-border-bottom-grey;
  flex-shrink: 0;
  position: relative;
  padding: var(--spacing-x-loose) var(--spacing-base) var(--spacing-tight);

  & h1 {
    @mixin flex-center-all;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: var(--spacing-x-loose) 0 var(--spacing-tight);

    font-size: var(--font-size-xm);
    font-weight: var(--font-weight-medium);
    line-height: 1.5rem;
  }

  & .left,
  & .right {
    display: inline-flex;

    & :global(> *) {
      line-height: 1.5rem;
    }
  }

  @media (--sm-up) {
    padding: var(--spacing-tight) var(--spacing-base);

    & h1 {
      padding: 0;
    }
  }
}

.spacing-holder {
  padding: var(--spacing-base);

  @media (--sm-up) {
    padding: 0;
  }
}
