.outer {
  margin: 0;

  & :global(.fixed-main) {
    @mixin all-transition;

    bottom: 0;
    z-index: var(--z-index-bottom-bar);
    opacity: 0;
    transform: translateY(100%);
  }

  &.show {
    & :global(.fixed-main) {
      opacity: 1;
      transform: translateY(0%);
    }
  }
}

.container {
  @mixin border-top-grey;
  @mixin safe-area-botttom;

  position: relative;
  display: flex;
  flex-direction: column;
  padding: var(--spacing-base);
  background-color: var(--color-white);

  @media (--sm-up) {
    @mixin border-left-grey;
    @mixin border-right-grey;
  }

  & .slogan {
    @mixin font-serif;
  }

  & .desc {
    margin: var(--spacing-xx-tight) 0 var(--spacing-x-tight);
    font-size: var(--font-size-sm);
    color: var(--color-grey-darker);
  }

  & .signup {
    text-align: right;
  }

  & .close {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-flex;
    padding: var(--spacing-base);
  }
}
