section {
  & :global(> header) {
    @mixin flex-center-space-between;

    margin-bottom: var(--spacing-default);

    & :global(*) {
      line-height: 1;
    }
  }
}

section + section {
  margin-top: var(--spacing-x-loose);
}
