.text-icon {
  user-select: none;
  font-size: 0;
  vertical-align: middle;

  & :global(*) {
    display: inline-block;
    vertical-align: middle;
  }
}

.text {
  line-height: 1;
}

/* placement */
.text-bottom {
  & :global(*) {
    margin: 0 auto;
    display: block;
  }
}

/* size */
.size-xs {
  & .text {
    font-size: var(--font-size-xs);
  }
}
.size-sm {
  & .text {
    font-size: var(--font-size-sm);
  }
}
.size-md {
  & .text {
    font-size: var(--font-size-md);
  }
}
.size-lg {
  & .text {
    font-size: var(--font-size-lg);
  }
}

/* color */
.black {
  color: var(--color-black);
}
.green {
  color: var(--color-matters-green);
}
.gold {
  color: var(--color-matters-gold);
}
.grey {
  color: var(--color-grey);
}
.grey-dark {
  color: var(--color-grey-dark);
}
.white {
  color: var(--color-white);
}
.red {
  color: var(--color-red);
}

/* spacing */
.spacing-0 {
  &.text-right .text {
    padding-left: 0;
  }
  &.text-left .text {
    padding-right: 0;
  }
  &.text-bottom .text {
    padding-top: 0;
  }
}
.spacing-xxxtight {
  &.text-right .text {
    padding-left: var(--spacing-xxx-tight);
  }
  &.text-left .text {
    padding-right: var(--spacing-xxx-tight);
  }
  &.text-bottom .text {
    padding-top: var(--spacing-xxx-tight);
  }
}
.spacing-xxtight {
  &.text-right .text {
    padding-left: var(--spacing-xx-tight);
  }
  &.text-left .text {
    padding-right: var(--spacing-xx-tight);
  }
  &.text-bottom .text {
    padding-top: var(--spacing-xx-tight);
  }
}
.spacing-xtight {
  &.text-right .text {
    padding-left: var(--spacing-x-tight);
  }
  &.text-left .text {
    padding-right: var(--spacing-x-tight);
  }
  &.text-bottom .text {
    padding-top: var(--spacing-x-tight);
  }
}
.spacing-tight {
  &.text-right .text {
    padding-left: var(--spacing-base);
  }
  &.text-left .text {
    padding-right: var(--spacing-base);
  }
  &.text-bottom .text {
    padding-top: var(--spacing-base);
  }
}

/* weight */
.weight-light {
  font-weight: var(--font-weight-light);
}
.weight-normal {
  font-weight: var(--font-weight-normal);
}
.weight-md {
  font-weight: var(--font-weight-md);
}
.weight-semibold {
  font-weight: var(--font-weight-semibold);
}
.weight-bold {
  font-weight: var(--font-weight-bold);
}
