.textIcon {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  vertical-align: middle;
}

.noneSelect {
  user-select: none;
}

.text {
  display: inline-flex;
  line-height: 1;
}

/* placement */
.textBottom {
  flex-direction: column;
}

/* text size */
.text12 {
  & .text {
    font-size: var(--text12);
  }
}

.text14 {
  & .text {
    font-size: var(--text14);
  }
}

.text13 {
  & .text {
    font-size: var(--text13);
  }
}

.text16 {
  & .text {
    font-size: var(--text16);
  }
}

.text15 {
  & .text {
    font-size: var(--text15);
  }
}

.text18 {
  & .text {
    font-size: var(--text18);
  }
}

.text20 {
  & .text {
    font-size: var(--text20);
  }
}

.text24 {
  & .text {
    font-size: var(--text24);
  }
}

/* color */
.black {
  color: var(--color-black);
}

.green {
  color: var(--color-matters-green);
}

.gold {
  color: var(--color-matters-gold);
}

.grey {
  color: var(--color-grey);
}

.greyLight {
  color: var(--color-grey-light);
}

.greyDark {
  color: var(--color-grey-dark);
}

.greyDarker {
  color: var(--color-grey-darker);
}

.white {
  color: var(--color-white);
}

.red {
  color: var(--color-negative-red);
}

.likecoinGreen {
  color: var(--color-likecoin);
}

.campaignBlue {
  color: var(--color-campaign-blue);
}

.campaignGreenLabel {
  color: var(--color-campaign-green-label);
}

.yellowLighter {
  color: var(--color-yellow-lighter);
}

.attention700 {
  color: var(--color-new-palette-attention-700);
}

/* spacing */
.spacing2.hasIcon {
  &.textRight > .text {
    padding-left: var(--sp2);
  }

  &.textLeft > .text {
    padding-right: var(--sp2);
  }

  &.textBottom > .text {
    padding-top: var(--sp2);
  }
}

.spacing4.hasIcon {
  &.textRight > .text {
    padding-left: var(--sp4);
  }

  &.textLeft > .text {
    padding-right: var(--sp4);
  }

  &.textBottom > .text {
    padding-top: var(--sp4);
  }
}

.spacing6.hasIcon {
  &.textRight > .text {
    padding-left: var(--sp6);
  }

  &.textLeft > .text {
    padding-right: var(--sp6);
  }

  &.textBottom > .text {
    padding-top: var(--sp6);
  }
}

.spacing8.hasIcon {
  &.textRight > .text {
    padding-left: var(--sp8);
  }

  &.textLeft > .text {
    padding-right: var(--sp8);
  }

  &.textBottom > .text {
    padding-top: var(--sp8);
  }
}

.spacing12.hasIcon {
  &.textRight > .text {
    padding-left: var(--sp12);
  }

  &.textLeft > .text {
    padding-right: var(--sp12);
  }

  &.textBottom > .text {
    padding-top: var(--sp12);
  }
}

.spacing16.hasIcon {
  &.textRight > .text {
    padding-left: var(--sp16);
  }

  &.textLeft > .text {
    padding-right: var(--sp16);
  }

  &.textBottom > .text {
    padding-top: var(--sp16);
  }
}

.weightNormal {
  font-weight: var(--font-normal);
}

.weightMedium {
  font-weight: var(--font-medium);
}

.weightSemibold {
  font-weight: var(--font-semibold);
}

.weightBold {
  font-weight: var(--font-bold);
}

.textUnderline {
  text-decoration: underline;
}

.textLineClamp {
  & .text {
    @mixin line-clamp;

    display: -webkit-inline-box;
  }
}
