.relatedTags {
  padding-bottom: var(--sp20);
  margin-top: var(--sp20);
  border-bottom: 1px dashed var(--color-grey-light);
}

.inSidebar {
  padding-bottom: 0;
  margin-top: 0;
  border-bottom: none;
}

.header {
  margin-bottom: var(--sp18);
  font-size: var(--text14);
  font-weight: var(--font-medium);
  line-height: 1.375rem;
  color: var(--color-black);

  @media (--sm-up) {
    margin-bottom: var(--sp16);
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: var(--sp8);

  @media (--sm-up) {
    gap: var(--sp16);
  }
}
