.right {
  @mixin flex-center-all;

  & :global(> * + *) {
    margin-left: var(--spacing-base);
  }
}

.tags {
  padding: 1.5rem 1rem;
  border-top: 0.5rem solid var(--color-line-grey-light);
  border-bottom: 0.5rem solid var(--color-line-grey-light);
  @media (--lg-up) {
    padding: 0;
    border: none;
  }
  & .outer {
    width: 100%;
    overflow-y: auto;
  }
  & .inner {
    @mixin flex-start-start;

    width: 35rem;
    margin: 1rem 0 0 0;
    @media (--lg-up) {
      display: block;
      width: 100%;
      overflow-y: none;
    }
    & ul {
      width: 17rem;
      margin: 0 1rem 0 0;
      @media (--lg-up) {
        width: 100%;
        margin: 0 0 1rem 0;
      }
      &:last-child {
        margin: 0;
      }
      & li {
        margin: 0 0 1rem 0;
        &:last-child {
          margin: 0;
        }
      }
    }
  }
}

.tag {
  & a {
    @mixin flex-start-start;
    &:hover {
      & .content .title h3 {
        color: var(--color-matters-green);
      }
    }
    & .cover {
      margin: 0 0.625rem 0 0;
      & figure {
        width: 2.625rem;
        height: 2.625rem;
        margin: 0;
        background-color: var(--color-matters-green);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        border-radius: 0.5rem;
      }
    }
    & .content {
      & .title {
        margin: 0 0 0.25rem 0;
        & h3 {
          @mixin flex-center-start;

          font-size: var(--font-size-sm);
          font-weight: var(--font-weight-medium);
          color: var(--color-black);
          transition: color 0.3s ease;
          & :global(.text) {
            @mixin line-clamp;

            line-height: inherit;
          }
        }
      }
      & .text {
        font-size: var(--font-size-xs);
        font-weight: var(--font-weight-medium);
        color: var(--color-grey-dark);
        & span {
          display: inline-block;
          width: 3.625rem;
        }
      }
    }
  }
}
