.title {
  @mixin flex-center-start;

  padding: var(--spacing-loose) var(--spacing-base) var(--spacing-base);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-medium);
  color: var(--color-grey);

  @media (--lg-up) {
    @mixin border-bottom-grey;

    padding-right: 0;
    padding-left: 0;
    font-size: var(--font-size-xm);
  }

  & .titleLeft {
    white-space: nowrap;
  }

  & .titleMiddle {
    @mixin line-clamp;

    color: var(--color-black);
    word-break: break-all;
  }

  & .titleRight {
    white-space: nowrap;
  }

  @media (--sm-up) {
    padding-bottom: var(--spacing-x-tight);
  }
}

.aggregateSection {
  padding: 0 var(--spacing-base);

  @media (--lg-up) {
    padding: 0;
  }
}

.result-item {
  padding: var(--spacing-base);
}
