.title {
  @mixin flex-center-start;

  padding: var(--spacing-loose) var(--spacing-base) var(--spacing-base);
  font-size: var(--font-size-xm);
  font-weight: var(--font-weight-medium);
  color: var(--color-grey);

  & .titleLeft {
    white-space: nowrap;
  }

  & .titleMiddle {
    @mixin line-clamp;

    color: var(--color-black);
    word-break: break-all;
  }

  & .titleRight {
    white-space: nowrap;
  }

  @media (--sm-up) {
    padding-bottom: var(--spacing-x-tight);
  }
}

.aggregate-section {
  /* padding-bottom: var(--spacing-x-tight); */

  /* background: var(--color-grey-lighter); */
}

.result-item {
  padding: var(--spacing-base);
}

.endOfResults {
  @mixin flex-center-all;

  padding-top: var(--spacing-base);
  padding-bottom: var(--spacing-base);
}
