.title {
  padding: var(--spacing-loose) var(--spacing-base);
}

.aggregate-section {
  /* padding-bottom: var(--spacing-x-tight); */

  /* background: var(--color-grey-lighter); */
}

.result-item {
  padding: var(--spacing-base);
}

.endOfResults {
  @mixin flex-center-all;

  padding-top: var(--spacing-base);
}
