.outer {
  @mixin all-transition;

  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: var(--z-index-over-global-header);
  margin: 0;
  opacity: 0;
  transform: translateY(100%);
}

.show {
  opacity: 1;
  transform: translateY(0%);
}

.container {
  @mixin border-top-grey;
  position: relative;

  display: flex;
  flex-direction: column;
  padding: var(--spacing-base);
  padding-bottom: calc(constant(safe-area-inset-bottom) + var(--spacing-base));
  padding-bottom: calc(env(safe-area-inset-bottom) + var(--spacing-base));
  background-color: var(--color-white);

  @media (--sm-up) {
    @mixin border-left-grey;
    @mixin border-right-grey;
  }

  & .slogan {
    @mixin font-serif;
  }

  & .desc {
    margin: var(--spacing-xx-tight) 0 var(--spacing-x-tight);
    font-size: var(--font-size-sm);
    color: var(--color-grey-darker);
  }

  & .signup {
    text-align: right;
  }

  & .close {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-flex;
    padding: var(--spacing-base);
  }
}
