.book.classic {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 7.5rem;
  height: 10rem;
  overflow: hidden;
  border-radius: 0.5rem;
  box-shadow:
    0 8px 16px 0 rgb(55 55 55 / 3%),
    0 4px 8px 0 rgb(55 55 55 / 3%),
    0 2px 4px 0 rgb(55 35 35 / 5%),
    0 1px 2px 0 rgb(37 19 10 / 11%),
    0 -2px 4px 0 rgb(0 0 0 / 18%) inset,
    0 2px 2px 0 rgb(255 255 255 / 50%) inset;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 0.5625rem;
    height: 100%;
    content: '';
    background: linear-gradient(
      270deg,
      #333 0%,
      rgb(51 51 51 / 30%) 22.4%,
      rgb(51 51 51 / 0%) 32.81%,
      rgb(51 51 51 / 0%) 100%
    );
    opacity: 0.2;
  }

  & .cover {
    position: relative;
    z-index: -1;
    flex-grow: 1;

    & img {
      @mixin object-fit-cover;

      background-color: var(--color-grey-lighter);
    }
  }

  & .jacket {
    position: relative;
    flex-shrink: 0;
    height: 3.75rem;
    background: var(--jacket-bg);

    & .title,
    & .count {
      padding-right: var(--spacing-x-tight);
      padding-left: var(--spacing-x-base);
      font-size: var(--font-size-xs);
      font-weight: var(--font-weight-normal);
      line-height: 1.0625rem;
    }

    & .title {
      @mixin line-clamp;

      position: absolute;
      top: var(--spacing-xx-tight);
      color: var(--color-white);
      -webkit-line-clamp: 3;
    }

    & .count {
      position: absolute;
      bottom: var(--spacing-xx-tight);
      margin-top: var(--spacing-xxx-tight);
      color: rgb(255 255 255 / 68%);
    }

    &.hasCount {
      & .title {
        -webkit-line-clamp: 2;
      }
    }

    &.titleMd:not(.hasCount) {
      @mixin inline-flex-center-start;

      & .title {
        position: relative;
        top: 0;
        font-size: var(--font-size-sm-s);
        line-height: 1.25rem;
      }
    }

    &.titleLg {
      & .title {
        top: var(--spacing-x-tight);
        font-size: var(--font-size-md);
        line-height: 1.5rem;
      }

      & .count {
        bottom: var(--spacing-x-tight);
      }
    }
  }

  & .mask {
    @mixin expand-to-container;
    @mixin flex-center-all;

    background: rgb(0 0 0 / 50%);
  }
}

.book.flat {
  @mixin flex-center-start;

  position: relative;
  width: 10.125rem;
  height: 4.6875rem;
  padding: 0 var(--spacing-x-tight) 0 calc(var(--spacing-x-tight) + 0.25rem);
  background: var(--color-white);
  border: 1px solid var(--color-grey-light);
  border-radius: 0.25rem 0.5rem 0.5rem 0.25rem;

  &::before {
    position: absolute;
    top: -1px;
    left: -1px;
    width: 0.25rem;
    height: calc(100% + 2px);
    content: '';
    background: var(--jacket-bg);
    border-radius: 0.25rem 0 0 0.25rem;
  }

  & .title,
  & .count {
    font-size: var(--font-size-sm);
  }

  & .title {
    @mixin line-clamp;

    font-weight: var(--font-weight-normal);
    line-height: 1.375rem;
    -webkit-line-clamp: 2;
  }

  & .count {
    line-height: 1.0625rem;
    color: var(--color-grey-dark);
  }

  & .cover {
    display: none;
  }
}
