.amount-options {
  @mixin flex-start-space-between;

  flex-wrap: wrap;
}

.amount {
  display: flex;
  flex: 0 0 30%;
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-medium);
  color: var(--color-white);
  background: var(--color-white);
  border-radius: 0.25rem;

  &:nth-child(n + 4) {
    margin-top: var(--spacing-loose);
  }

  & label {
    width: 100%;
    height: 100%;
    padding-top: var(--spacing-base);
    padding-bottom: var(--spacing-base);
    text-align: center;
  }
}

.hkd {
  color: var(--color-red);
  border: 1.5px solid var(--color-red);

  &.active {
    color: var(--color-white);
    background: var(--color-red);
  }
}

.like {
  color: var(--color-matters-green);
  border: 1.5px solid var(--color-matters-green);

  &.active {
    color: var(--color-white);
    background: var(--color-matters-green);
  }

  &.disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
