.amount-options {
  @mixin flex-start-space-between;
  flex-wrap: wrap;
}

.amount {
  display: flex;

  background: var(--color-white);
  border-radius: 0.25rem;
  color: var(--color-white);

  font-size: var(--font-size-lg);
  width: 6.125rem;
  min-width: 6.125rem;
  max-width: 6.125rem;

  &:nth-child(n+4) {
    margin-top: var(--spacing-loose);
  }

  & label {
    text-align: center;
    width: 100%;
    height: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.hkd {
  border: 1.5px solid var(--color-red);
  color: var(--color-red);

  &.active {
    background: var(--color-red);
    color: var(--color-white);
  }
}

.like {
  border: 1.5px solid var(--color-matters-green);
  color: var(--color-matters-green);

  &.active {
    background: var(--color-matters-green);
    color: var(--color-white);
  }
}
