.group {
  user-select: none;

  & .name {
    padding: 0 var(--spacing-base);
    margin: var(--spacing-loose) 0 var(--spacing-x-tight);
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-normal);
    color: var(--color-grey-dark);
  }
}

ul {
  overflow: hidden;
  user-select: none;
  -webkit-tap-highlight-color: transparent;

  & :global(> li) {
    @mixin border-top-grey;
    @mixin border-bottom-grey;
  }

  & :global(> li + li) {
    border-top: none;
  }

  &.greyStyle {
    margin-right: var(--spacing-base);
    margin-left: var(--spacing-base);
    border-radius: var(--spacing-x-tight);

    & :global(> li) {
      border: none;
    }

    & :global(> li + li) {
      border-top: 1px solid var(--color-white);
    }
  }
}

.spacing-xloose {
  margin-top: var(--spacing-x-loose);
  margin-bottom: var(--spacing-x-loose);
}
