.group {
  user-select: none;

  & .name {
    padding: 0 var(--spacing-base);
    margin: var(--spacing-loose) 0 var(--spacing-x-tight);
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-normal);
    color: var(--color-grey-dark);
  }
}

ul {
  margin-right: var(--spacing-base);
  margin-left: var(--spacing-base);
  overflow: hidden;
  user-select: none;
  -webkit-tap-highlight-color: transparent;

  & :global(> li) {
    border: none;
  }

  & :global(> li + li) {
    border-top: 1px dashed var(--color-grey-light);
  }

  /* Fix <DropdownDialog /> contain <Form.List.Item />, when click dropdown
      eg: /me/settings/ Display Preference
    */

  & :global(> .fresnel-container + li) {
    border-top: 1px dashed var(--color-grey-light);
  }

  /* media at sm */
  & :global(> li + .fresnel-container-at-sm),
  & :global(.fresnel-container-at-sm + .fresnel-container-at-sm),
  & :global(.fresnel-container + .fresnel-container + .fresnel-container) {
    border-top: 1px dashed var(--color-grey-light);
  }

  /* media greater than sm */
  & :global(> li + .fresnel-container + .fresnel-container),
  &
    :global(
      .fresnel-container
        + .fresnel-container
        + .fresnel-container
        + .fresnel-container
    ) {
    border-top: 1px dashed var(--color-grey-light);
  }

  &.grey {
    margin-right: var(--spacing-base);
    margin-left: var(--spacing-base);
    border-radius: var(--spacing-x-tight);

    & :global(> li) {
      border: none;
    }

    & :global(> li + li) {
      border-top: 1px dashed var(--color-grey-light);
    }
  }
}

.spacing-xloose {
  margin-top: var(--spacing-x-loose);
  margin-bottom: var(--spacing-x-loose);
}
