.highlight {
  color: var(--color-matters-green);
}

.reward {
  margin: var(--spacing-tight) 0;

  font-size: var(--font-size-sm);
  color: var(--color-grey-dark);
}

.invitation {
  @mixin flex-center-space-between;
  @mixin border-top-grey;
  padding: var(--spacing-default) 0;

  & .right {
    flex-shrink: 0;
    margin-left: var(--spacing-tight);

    & :global(time) {
      font-size: var(--font-size-sm);
    }
  }

  & .status {
    margin-left: var(--spacing-x-tight);
    width: 5rem;

    font-size: var(--font-size-sm);

    &.pending {
      color: var(--color-grey);
    }
    &.accepted {
      color: var(--color-matters-green);
    }

    @media (--sm-up) {
      margin-left: var(--spacing-default);
    }
  }
}

.form {
  margin: var(--spacing-default) 0 var(--spacing-x-loose);

  & .buttons {
    margin-top: var(--spacing-tight);
    text-align: right;
  }

  & .input-container {
    position: relative;
  }

  & .input-user {
    @mixin flex-center-space-between;
    @mixin cover;
    padding: var(--spacing-x-tight) var(--spacing-tight);

    background: var(--color-grey-lighter);
  }

  & :global(input + .info) {
    display: none;
  }

  @media (--sm-up) {
    & .buttons {
      margin-top: 0;
    }

    & :global(> *) {
      display: inline-block;
    }

    & .input-container {
      margin-right: var(--spacing-tight);
      width: 20rem;
    }
  }
}
