.nftCollection {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-radius: var(--spacing-xxx-tight);

  @media (--sm-up) {
    grid-template-columns: repeat(6, 1fr);
  }

  & li {
    position: relative;

    &::before {
      display: block;
      padding-bottom: 100%;
      content: '';
    }
  }
}

.nftCollectionItem {
  @mixin inline-flex-center-all;

  position: absolute;
  inset: 0;

  & .checked {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
