.nftCollection {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: var(--spacing-x-tight);
  background-color: var(--color-white);
  border-top: 1px solid var(--color-grey-light);
  border-bottom: 1px solid var(--color-grey-light);
  border-radius: var(--spacing-xxx-tight);

  @media (--sm-up) {
    grid-template-columns: repeat(6, 1fr);
    background-color: var(--color-grey-lighter);
    border-top-color: transparent;
  }

  & li {
    position: relative;

    &::before {
      display: block;
      padding-bottom: 100%;
      content: '';
    }
  }
}

.nftCollectionItem {
  @mixin inline-flex-center-all;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  & .checked {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
