.wrapper {
  padding: var(--sp20) 0;
}

.container {
  @mixin flex-start-space-between;

  gap: 1.5rem;

  @media (--md-up) {
    gap: 3rem;
  }
}

.content {
  flex-grow: 1;

  @media (--sm-up) {
    flex: 1;
  }
}

.head {
  grid-area: head;
}

.author {
  @mixin flex-center-start;
}

.description {
  @mixin line-clamp;

  flex-grow: 1;
  grid-area: description;
  margin-top: var(--sp8);
  -webkit-line-clamp: 2;
  font-size: var(--text14);
  line-height: 1.375rem;
  color: var(--color-grey-dark);
}

.cover {
  position: relative;
  flex-shrink: 0;
  grid-area: cover;
  width: 4.75rem;
  height: 4.75rem;

  & img {
    @mixin object-fit-cover;

    background-color: var(--color-grey-lighter);
    border-radius: var(--sp8);
  }

  @media (--sm-up) {
    width: 6.625rem;
    height: 6.625rem;
  }
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: var(--sp8);
  line-height: 1;
}
