header {
  @mixin flex-center-space-between;

  & .left,
  & .right {
    @mixin inline-flex-center-all;

    & .published-article {
      margin-left: var(--spacing-x-tight);
      color: var(--color-grey);
      font-size: var(--font-size-sm);
    }

    & :global(> * + *) {
      margin-left: var(--spacing-tight);
    }
  }
}

.title,
.cover {
  margin: var(--spacing-tight) 0;
}

.description {
  margin: var(--spacing-tight) 0 var(--spacing-base);
  color: var(--color-grey-darker);
  font-size: var(--font-size-md-s);
  line-height: 1.5rem;
}

.cover {
  position: relative;

  & :global(img) {
    @mixin object-fit-cover;

    border-radius: 0.25rem;
    background-color: var(--color-grey-lighter);
  }

  &::after {
    content: '';
    display: block;
    padding-bottom: 55.98%; /* 192/343 */
  }

  @media (--sm-up) {
    &::after {
      padding-bottom: 48.78%; /* 320/656 */
    }
  }
}

.inactive-state {
  display: inline-block;
  padding: var(--spacing-xxx-tight) var(--spacing-xx-tight);
  color: var(--color-white);
  background: var(--color-grey);
  border-radius: 0.125rem;
  line-height: 1;
}

/**
 * View Mode
 */
.mode-default {
}

.mode-comfortable {
  & .content {
    @mixin flex-start-space-between;

    margin: var(--spacing-tight) 0 var(--spacing-base);

    & .cover {
      flex-shrink: 0;
      width: 4.5rem;
      height: 4.5rem;
      margin: 0 var(--spacing-x-tight) 0 0;

      &::after {
        padding-bottom: initial;
      }

      @media (--sm-up) {
        width: 10.625rem;
        height: 6rem;
        margin-right: var(--spacing-base);
      }
    }

    & .description {
      flex-grow: 1;
      margin: 0;

      @mixin line-clamp;

      -webkit-line-clamp: 3;

      @media (--sm-up) {
        -webkit-line-clamp: 4;
      }
    }
  }
}

.mode-compact {
}
