header {
  @mixin flex-center-space-between;

  & .left,
  & .right {
    @mixin inline-flex-center-all;

    & .published-article {
      margin-left: var(--spacing-x-tight);

      color: var(--color-grey);
      font-size: var(--font-size-sm);
    }

    & :global(> * + *) {
      margin-left: var(--spacing-tight);
    }
  }
}

.title,
.cover {
  margin: var(--spacing-x-tight) 0;
}

.description {
  margin: var(--spacing-x-tight) 0 var(--spacing-base);

  color: var(--color-grey-darker);
  font-size: var(--font-size-md-s);
}

.cover {
  background-color: var(--color-grey-lighter);
  border-radius: 0.25rem;

  &::after {
    content: '';
    display: block;
    padding-bottom: 55.98%; /* 192/343 */
  }

  @media (--sm-up) {
    &::after {
      padding-bottom: 48.78%; /* 320/656 */
    }
  }
}

.inactive-state {
  display: inline-block;
  padding: var(--spacing-xxx-tight) var(--spacing-xx-tight);

  color: var(--color-white);
  background: var(--color-grey);
  border-radius: 0.125rem;
  line-height: 1;
}
