header {
  @mixin flex-center-space-between;

  font-size: 0;
}

.title,
.cover {
  margin: var(--spacing-x-tight) 0;
}

.description {
  margin: var(--spacing-x-tight) 0 var(--spacing-base);

  color: var(--color-grey-darker);
  font-size: var(--font-size-md-s);
}

.cover {
  background-color: var(--color-grey-lighter);
  border-radius: 4px;

  &::after {
    content: '';
    display: block;
    padding-bottom: 55.98%; /* 192/343 */
  }

  @media (--sm-up) {
    &::after {
      padding-bottom: 48.78%; /* 320/656 */
    }
  }
}

.sticky {
  margin-bottom: var(--spacing-base);
}
