.container {
  @mixin flex-center-space-between;

  padding: var(--sp16) 0;
  font-size: var(--text14);
  font-weight: var(--font-normal);
  line-height: 1.375rem;

  &:hover,
  &:focus {
    & .right :global(.icon) {
      color: var(--color-black);
    }
  }
}

.left {
  display: inline-flex;
  flex-direction: column;

  & .title {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
  }

  & .subtitle {
    margin-top: var(--sp4);
    font-size: var(--text13);
    line-height: 1rem;
    color: var(--color-grey);
  }
}

.right {
  @mixin inline-flex-center-all;

  color: var(--color-grey-darker);

  & > * + * {
    margin-left: var(--sp6);
  }

  & :global(.icon) {
    @mixin transition;

    transition-property: color;
  }
}

.rightTextGreyDarker {
  color: var(--color-grey-darker);
}

.rightTextGrey {
  color: var(--color-grey);
}

.rightTextGreen {
  color: var(--color-matters-green);
}

.rightTextBlack {
  color: var(--color-black);
}
