.container {
  padding-bottom: var(--spacing-x-loose);
  background: var(--color-white);
}

.chart {
  padding: 0 var(--spacing-x-tight) 0 var(--spacing-base);
  margin-top: var(--spacing-xx-loose);

  @media (--sm-up) {
    padding: 0;
  }
}
