.container {
  display: inline-flex;
  align-items: baseline;
  line-height: var(--line-height-base-loose);
}

.name {
  font-size: var(--text14);
  font-weight: var(--font-medium);
}

.action {
  flex: 0 0 auto;
  font-size: var(--text14);
  color: var(--color-grey-darker);
  white-space: nowrap;
}
