.form {
  width: 100%;
}

.tos {
  margin-top: var(--spacing-tight);

  color: var(--color-black);
  font-size: var(--font-size-sm);
}

.buttons {
  @mixin flex-center-space-between;
  flex-direction: row-reverse;
  padding-top: 1.5rem;
}
