.form {
  width: 100%;
}

.tos {
  margin-top: var(--spacing-tight);

  color: var(--color-black);
  font-size: var(--font-size-sm);
}

button,
.btn {
  @mixin modal-button;

  &.login {
    @mixin modal-button-inactive;
  }
  &[type='submit'] {
    @mixin modal-button-active;
  }
}
