.content {
  & .text {
    @mixin line-clamp;

    line-height: inherit;
  }

  position: relative;
  display: block;
  padding-right: 3rem;

  & .button {
    @mixin inline-flex-center-all;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    justify-content: flex-end;
    width: 3rem;
  }
}

.desc {
  @mixin line-clamp;

  margin: var(--sp4) 0 0 1.25rem;
  font-size: var(--font-size-sm-s);
  color: var(--color-grey-darker);
}
