.container {
  text-align: left;

  & > .card + .card {
    margin-top: var(--spacing-base);
  }
}

.gateways {
  & ul {
    @mixin hide-scrollbar;

    padding: var(--spacing-x-tight) var(--spacing-base) 0;
    margin: 0 calc(var(--spacing-base) * -1);

    & li {
      @mixin flex-center-space-between;

      position: relative;
      background-color: var(--color-grey-lighter);
      border-radius: 0.25rem;

      & :not(.gatewayUrl) {
        flex-shrink: 0;
      }

      & .gatewayUrl {
        @mixin flex-center-space-between;
        @mixin truncate;

        width: 100%;
        padding-left: var(--spacing-x-tight);
        margin-right: var(--spacing-x-tight);
        font-size: var(--font-size-md);
        line-height: 2.5rem;
        color: var(--color-grey-darker);

        &.disabled {
          opacity: 0.5;
        }
      }
    }

    & li + li {
      margin-top: var(--spacing-x-tight);
    }
  }
}

.secret {
  @mixin flex-center-space-between;

  margin-top: var(--spacing-base);
  color: var(--color-matters-gold);

  & .key {
    @mixin flex-center-space-between;
  }

  & .description {
    color: var(--color-matters-gold);
  }
}

.description {
  font-size: var(--font-size-sm-s);
  font-weight: var(--font-weight-normal);
  color: var(--color-grey);

  &.error {
    color: var(--color-red);
  }
}

.hash {
  & .copy {
    @mixin flex-center-space-between;

    position: relative;
    padding: var(--spacing-tight) var(--spacing-x-tight);
    margin-top: var(--spacing-x-tight);
    color: var(--color-matters-green);
    background: var(--color-green-lighter);
    border-radius: 0.25rem;

    & .hash {
      @mixin line-clamp;

      padding-right: var(--spacing-x-tight);
      font-family: var(--font-mono);
      font-size: var(--font-size-sm);
      background: transparent;
    }
  }
}

.warningCard {
  color: var(--color-matters-gold);
  background: var(--color-yellow-lighter);
  border-radius: 0.5rem;
}

.warningInput {
  color: var(--color-matters-green);
  background: var(--color-green-lighter);
  border-radius: 0.25rem;
}

.warningCard,
.warningInput {
  @mixin flex-start-start;

  padding: var(--spacing-x-tight) var(--spacing-base);
  font-size: var(--font-size-md-s);
  line-height: 1.5rem;

  & svg {
    margin-right: var(--spacing-xx-tight);
  }
}
