.container {
  padding: var(--spacing-base);
  text-align: left;

  & :global(> .card + .card) {
    margin-top: var(--spacing-base);
  }
}

.gateways {
  margin-bottom: var(--spacing-base);

  & ul {
    @mixin hide-scrollbar;

    padding: var(--spacing-x-tight) var(--spacing-base) 0;
    margin: 0 calc(var(--spacing-base) * -1);

    & li {
      @mixin flex-center-space-between;

      position: relative;
      background-color: var(--color-grey-lighter);
      border-radius: 0.25rem;

      & :global(:not(.gateway-url)) {
        flex-shrink: 0;
      }

      & .gateway-url {
        @mixin flex-center-space-between;
        @mixin truncate;

        width: 100%;
        padding-left: var(--spacing-x-tight);
        margin-right: var(--spacing-x-tight);
        font-size: var(--font-size-md);
        line-height: 2.5rem;
        color: var(--color-grey-darker);
      }
    }

    & li + li {
      margin-top: var(--spacing-x-tight);
    }
  }
}

.secret {
  @mixin flex-center-space-between;

  margin: var(--spacing-base) 0;
  color: var(--color-matters-gold);

  & .key {
    @mixin flex-center-space-between;
  }

  & .subtitle {
    color: var(--color-matters-gold);
  }
}

.gateways,
.hash {
  @mixin border-top-grey;

  padding-top: var(--spacing-base);
  margin-top: var(--spacing-x-tight);
}

.subtitle {
  font-size: var(--font-size-sm-s);
  font-weight: var(--font-weight-normal);
  color: var(--color-grey);

  &.error {
    color: var(--color-red);
  }
}

.hash {
  & .copy {
    @mixin flex-center-space-between;

    position: relative;
    padding: var(--spacing-tight) var(--spacing-x-tight);
    margin-top: var(--spacing-x-tight);
    color: var(--color-matters-green);
    background: var(--color-green-lighter);
    border-radius: 0.25rem;

    & input {
      font-family: var(--font-mono);
      font-size: var(--font-size-sm);
      background: transparent;
    }
  }
}
