.container {
  padding: var(--spacing-base) var(--spacing-base) var(--spacing-xx-loose);
  text-align: left;
  background-color: var(--color-grey-lighter);

  & > section:global(.card) + section:global(.card) {
    margin-top: var(--spacing-base);
  }

  @media (--sm-up) {
    padding: var(--spacing-base);
  }
}

.gateways {
  margin-bottom: var(--spacing-base);

  & ul {
    @mixin border-top-grey;
    @mixin border-bottom-grey;
    @mixin hide-scrollbar;

    max-height: 11rem;
    padding: var(--spacing-x-tight) var(--spacing-base) 0;
    margin: 0 calc(var(--spacing-base) * -1);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    & li {
      @mixin flex-center-space-between;

      background-color: var(--color-grey-lighter);
      border-radius: 4px;

      & :global(:not(.gateway-url)) {
        flex-shrink: 0;
      }

      & .gateway-url {
        @mixin flex-center-space-between;
        @mixin truncate;

        margin-right: var(--spacing-x-tight);
        font-size: var(--font-size-md);
        line-height: 2.5rem;
        color: var(--color-grey-darker);
      }
    }

    & > li + li {
      margin-top: 0.5rem;
    }
  }
}

.secret {
  margin-bottom: var(--spacing-loose);

  & input {
    padding: var(--spacing-x-tight) var(--spacing-base);
    font-family: var(--font-mono);
    font-size: var(--font-size-sm);
    color: var(--color-matters-green);
    background: var(--color-green-lighter);
  }
}

.subtitle {
  font-size: var(--font-size-sm-s);
  font-weight: var(--font-weight-normal);
  color: var(--color-grey);
}

.hash {
  margin-bottom: var(--spacing-loose);

  & input {
    padding: var(--spacing-x-tight) var(--spacing-base);
    font-family: var(--font-mono);
    font-size: var(--font-size-sm);
    color: var(--color-matters-gold);
    background: var(--color-green-lighter);
  }
}

.item {
  & .title {
    @mixin flex-center-space-between;

    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-semibold);
    line-height: 1;
  }

  &:hover,
  &:focus {
    & .rect {
      background: var(--color-grey-light);
    }
  }
}
