.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.name {
  color: var(--color-black);
  font-size: var(--font-size-sm);
  line-height: normal;
}

.spacing-xtight {
  & .name {
    padding-left: var(--spacing-x-tight);
  }
}

.spacing-xxtight {
  & .name {
    padding-left: var(--spacing-xx-tight);
  }
}

.text-medium {
  font-weight: var(--font-weight-medium);
}
