.task {
  margin-top: var(--spacing-loose);
}

.allDone {
  margin-top: var(--spacing-loose);
  margin-bottom: var(--spacing-loose);

  & hr {
    margin-top: var(--spacing-loose);
    margin-bottom: var(--spacing-tight);
  }
}

.share {
  padding: 0 var(--spacing-base);

  @media (--xl-up) {
    padding: 0;
  }
}
