.task {
  margin: var(--spacing-loose) var(--spacing-base) 0;

  @media (--md-up) {
    margin: var(--spacing-loose) 0 0;
  }
}

.finishButton {
  width: 100%;
}

.allDone {
  margin-top: var(--spacing-loose);
  margin-bottom: var(--spacing-loose);

  & hr {
    margin-top: var(--spacing-loose);
    margin-bottom: var(--spacing-tight);
  }
}

.share {
  padding: 0 var(--spacing-base);

  @media (--lg-up) {
    padding: 0;
  }
}
