.badge {
  font-size: 0;

  &.nomad {
    border: none !important;
  }
}

.item {
  @mixin flex-center-start;

  min-height: 3rem;
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-normal);
  line-height: 1.5rem;
  color: var(--color-black);

  & > * + * {
    margin-left: var(--sp20);
  }

  &.itemNomad {
    @mixin flex-center-start;

    cursor: pointer;

    & .info {
      flex-grow: 1;

      & .subtitle {
        font-size: var(--font-size-sm);
        line-height: 1.375rem;
        color: var(--color-grey-darker);
      }
    }

    &:hover,
    &:focus {
      & :global(.icon) {
        color: var(--color-black);
      }
    }
  }
}

.badgesInDialog {
  display: flex;
  flex-direction: column;
  gap: var(--sp24);

  & .badgesGroup {
    display: flex;
    flex-direction: column;
    gap: var(--sp20);
    align-items: stretch;
    padding: var(--sp16) var(--sp20);
    border: 1px solid var(--color-grey-light);
    border-radius: var(--sp16);
  }
}

.badgesInPage {
  display: flex;
  align-items: center;
  cursor: pointer;
}
