.uploader {
  @mixin flex-center-all;

  width: 6.3125rem;
  height: 6.3125rem;
  background-color: var(--color-grey-lighter);
  border-radius: 0.5rem;
}

.header {
  margin: var(--sp20) 0 var(--sp16);

  & .title {
    margin-bottom: var(--sp8);
    font-size: var(--text20);
    font-weight: var(--font-medium);
    line-height: 1.875rem;
  }

  & .text {
    font-size: var(--text14);
    color: var(--color-grey-darker);
  }
}

.content {
  display: flex;
  flex-wrap: wrap;
  gap: var(--sp16);

  & > div {
    position: relative;

    & button {
      width: 6.3125rem;
      height: 6.3125rem;

      & img {
        background-color: var(--color-grey-lighter);
      }

      & :global(.icon) {
        position: absolute;
        top: 0;
        right: 0;
        margin: var(--sp4) var(--sp4) 0 0;
      }
    }
  }
}
