.uploader {
  display: block;
  padding: var(--sp8) var(--sp16);
  margin-bottom: var(--sp16);
  border: 2px solid var(--color-grey-light);
  border-style: dashed;
  border-radius: var(--sp4);

  & h3 {
    @mixin flex-center-space-between;

    margin-bottom: var(--sp8);
  }

  & p {
    font-size: var(--font-size-sm-s);
    color: var(--color-grey);
  }
}

.selector {
  & h3 {
    margin-bottom: var(--sp16);
    font-size: var(--font-size-sm-s);
    font-weight: var(--font-weight-normal);
    color: var(--color-grey);
  }

  & ul {
    margin-right: calc(var(--sp16) * -1);

    & li {
      position: relative;
      display: inline-block;
      width: 4.5rem;
      height: 4.5rem;
      margin: 0 var(--sp16) var(--sp16) 0;

      &.selected {
        & img {
          opacity: 0.5;
        }
      }

      & img {
        @mixin object-fit-cover;

        background-color: var(--color-grey-lighter);
      }

      & :global(.icon) {
        position: absolute;
        right: 0;
        bottom: 0;
        margin: 0 var(--sp4) var(--sp4) 0;
      }
    }
  }
}
