.endOfResultsIcon {
  display: inline-block;
  width: 1rem;
  height: 1px;
  background-color: var(--color-grey-light);
}

.endOfResults {
  @mixin flex-center-all;

  gap: var(--sp8);
  padding-bottom: var(--sp40);
  font-size: var(--text14);
  color: var(--color-grey);
}

.spacingTopBase {
  padding-top: var(--sp16);
}

.spacingTopXLoose {
  padding-top: var(--sp32);
}
