.context {
  flex-grow: 0;
  flex-shrink: 0;
  margin-bottom: var(--sp16);
}

.form {
  @mixin scrollbar-thin;

  position: relative;
  flex-grow: 1;
  overflow-y: auto;
}

.counter {
  margin-top: var(--sp8);
  font-size: var(--text12);
  color: var(--color-grey);
  text-align: right;
}

.counter[data-over='true'] {
  color: var(--color-red);
}
