.midMenu {
  @mixin border-top-grey;
  @mixin border-bottom-grey;
  @mixin flex-center-space-between;

  padding: var(--spacing-base) 0;

  & .updatedDate {
    font-size: var(--font-size-sm);
    line-height: var(--line-height-base-loose);
    color: var(--color-grey);
  }
}

.addArticles {
  @mixin flex-center-all;
  @mixin border-bottom-grey;
  @mixin transition;

  padding: var(--spacing-base) 0;
  color: var(--color-matters-green);
  cursor: pointer;
  border-bottom-style: dashed;
  transition-property: color;

  &:hover,
  &:focus {
    color: var(--color-matters-green-dark);
  }
}

.feed {
  & .sortable {
    @mixin flex-center-space-between;

    gap: var(--spacing-base);

    & .handle {
      cursor: pointer;
    }

    & > section:last-child {
      flex-grow: 1;
    }
  }
}
