.midMenu {
  @mixin border-top-grey;
  @mixin border-bottom-grey;
  @mixin flex-center-space-between;

  padding: var(--spacing-base) 0;
  font-size: var(--font-size-sm);
  line-height: var(--line-height-base-loose);
  color: var(--color-grey);

  & .sortButton {
    @mixin transition;

    &:hover,
    &:focus {
      color: var(--color-matters-green);
      transition-property: color;
    }
  }
}

.addArticles {
  @mixin flex-center-all;
  @mixin transition;

  padding: var(--spacing-base) 0;
  color: var(--color-matters-green);
  cursor: pointer;
  border-bottom: 1px dashed var(--color-line-grey-light);
  transition-property: color;

  &:hover,
  &:focus {
    color: var(--color-matters-green-dark);
  }
}
