.buttons {
  display: inline-flex;
  gap: var(--sp16);
  margin-top: var(--sp8);

  @media (--sm-up) {
    padding-right: var(--sp16);
    margin-top: var(--sp16);
  }
}

.profile {
  position: relative;
  padding-bottom: var(--sp24);
  margin-bottom: var(--sp8);
  background: var(--color-white);

  @media (--sm-up) {
    padding-bottom: var(--sp16);
    margin-bottom: 0;
    border-radius: 0;
  }
}

.header {
  @mixin flex-start-space-between;

  padding: 0 var(--sp16);
  margin-top: var(--sp16);

  @media (--sm-up) {
    padding: 0;
  }

  & .info {
    @mixin flex-start-start;

    & .name {
      font-size: var(--text20);
      font-weight: var(--font-semibold);
    }
  }

  & .price {
    @mixin border-left-grey;

    flex-shrink: 0;
    padding-left: var(--sp24);
    margin-left: var(--sp24);
    font-size: var(--text16);
    font-weight: var(--font-medium);
    color: var(--color-matters-gold);

    & .amount {
      font-size: var(--text32);
      line-height: 2.25rem;
    }
  }
}

.description {
  padding: 0 var(--sp16);

  @media (--sm-up) {
    padding: 0;
  }
}

.footer {
  @mixin flex-center-space-between;

  padding: 0 var(--sp16);
  margin-top: var(--sp16);

  @media (--sm-up) {
    padding: 0;
  }

  & .counts {
    font-size: var(--text14);
    color: var(--color-grey);

    & > * {
      display: inline-flex;
      align-items: center;
      line-height: 1.5rem;

      & + * {
        margin-left: var(--sp24);
      }
    }

    & .count {
      display: block;
      padding-right: var(--sp8);
      font-size: var(--text20);
      font-weight: var(--font-bold);
      line-height: 1.5rem;
      color: var(--color-black);
    }
  }
}
