.wrapper {
  padding: var(--sp16);
  background: var(--color-grey-lighter);
  border-radius: 0.5rem;

  & .item {
    @mixin flex-center-space-between;

    gap: var(--sp24);
    cursor: pointer;

    & h3 {
      font-size: var(--text14);
      font-weight: var(--font-weight-base);
      line-height: 1rem;
      color: var(--color-black);
    }

    & .hint {
      margin-top: var(--sp4);
      font-size: var(--text12);
      color: var(--color-grey);
    }
  }

  & .item + .item {
    padding-top: var(--sp16);
  }
}

.inSidebar {
  padding: 0;
  background: transparent;
  border-radius: 0;

  & .item {
    gap: var(--sp32);
    padding: var(--sp16);

    & h3 {
      font-size: var(--text15);
      font-weight: var(--font-medium);
    }
  }

  & .item + .item {
    @mixin border-top-grey;
  }
}

.disableChange {
  & .item {
    cursor: not-allowed;
  }
}

.container {
  & .title {
    padding-bottom: var(--sp16);
    font-size: var(--font-size-base);
  }
}
