.container {
  @mixin flex-center-all;
  position: relative;
}

.uploader {
  @mixin flex-center-all;
  @mixin expand-to-container;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 50%;
  color: var(--color-white);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-medium);
}

.button {
  @mixin flex-center-all;

  & .hint {
    display: none;
    margin-left: var(--spacing-xx-tight);

    @media (--sm-up) {
      display: inline-block;
    }
  }
}

.input {
  @mixin flex-center-all;
  @mixin expand-to-container;

  cursor: pointer;
  opacity: 0;
}

.error {
  position: absolute;
  bottom: -1.5rem;

  color: var(--color-red);
  font-size: var(--font-size-xs);

  @media (--sm-down) {
    left: 0;
    bottom: -1.3rem;
    width: 8rem;
  }
}
