.container {
  position: relative;
}

.textarea {
  @mixin form-input-grey;
  min-height: 2.5rem;
}

.info {
  font-size: var(--font-size-xs);
  min-height: 1rem;
  margin-top: var(--spacing-x-tight);
  padding-left: var(--spacing-x-tight);

  & > .error {
    color: var(--color-red);
  }

  & > .hint {
    color: var(--color-grey-dark);
  }
}
