.label {
  @mixin inline-flex-center-all;
  @mixin border-grey;

  height: 1.125rem;
  padding: 0 var(--sp4);
  font-size: var(--text12);
  color: var(--color-white);
  user-select: none;
  border-radius: var(--sp4);

  &.authorLabel {
    color: var(--color-matters-green);
    background-color: var(--color-green-lighter);
    border-color: var(--color-line-matters-green-light);
  }

  &.supporterLabel {
    color: var(--color-matters-gold);
    background-color: var(--color-matters-gold-lighter);
    border-color: var(--color-line-matters-gold-light);
  }
}
