name: Test Unit

on: push

jobs:
  unit:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@master

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'
          cache: 'npm'

      - name: Install Dependencies
        run: npm ci

      - name: Generate Types (Develop)
        if: github.base_ref != 'master' && github.base_ref != 'main'
        run: npm run gen:type

      - name: Generate Types (production)
        if: github.base_ref == 'master' || github.base_ref == 'main'
        run: npm run gen:type:prod

      - name: Compile i18n
        run: |
          npm run i18n

      - name: Run unit tests
        run: cp .env.dev .env.local && npm run test:unit
