name: Test

on:
  push:
    branches-ignore:
      - develop
      - stage
env:
  MATTERS_TESTING_ACCOUNT_EMAIL: ${{ secrets.MATTERS_TESTING_ACCOUNT_EMAIL }}
  MATTERS_TESTING_ACCOUNT_PASSWORD: ${{ secrets.MATTERS_TESTING_ACCOUNT_PASSWORD }}
  MATTERS_TESTING_ACCOUNT1_EMAIL: ${{ secrets.MATTERS_TESTING_ACCOUNT1_EMAIL }}
  MATTERS_TESTING_ACCOUNT1_PASSWORD: ${{ secrets.MATTERS_TESTING_ACCOUNT1_PASSWORD }}

jobs:
  build_and_test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@master

      - name: Setup Node.js
        uses: actions/setup-node@v2.5.0
        with:
          node-version: '16.14'

      - name: Cache Dependencies
        id: cache
        uses: actions/cache@v2.1.7
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Install Dependencies
        run: npm ci

      - name: Generate Types (Develop)
        if: github.base_ref != 'master'
        run: |
          npm run gen:clean \
          && npm run gen:type

      - name: Generate Types (production)
        if: github.base_ref == 'master'
        run: |
          npm run gen:clean \
          && npm run gen:type:prod

      - name: Lint
        run: |
          npm run lint \
          && npm run format:check

      - name: Build
        run: cp .env.dev .env && npm run build

      - name: Install Playwright Browsers
        run: npx playwright install --with-deps

      - name: Run Playwright tests
        run: MATTERS_TESTING_ACCOUNT_EMAIL=${{ secrets.MATTERS_TESTING_ACCOUNT_EMAIL }} MATTERS_TESTING_ACCOUNT_PASSWORD=${{ secrets.MATTERS_TESTING_ACCOUNT_PASSWORD }} MATTERS_TESTING_ACCOUNT1_EMAIL=${{ secrets.MATTERS_TESTING_ACCOUNT1_EMAIL }} MATTERS_TESTING_ACCOUNT1_PASSWORD=${{ secrets.MATTERS_TESTING_ACCOUNT1_PASSWORD }} npx playwright test

      - name: Output Playwright tests
        uses: actions/upload-artifact@v2
        if: always()
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
