.info {
  text-align: center;
}

.to {
  margin-bottom: var(--sp16);
  font-size: var(--text14);
}

.recipient {
  margin-top: var(--sp8);
  font-size: var(--text14);
  font-weight: var(--font-medium);
  color: var(--color-black);
}

.amount {
  margin: var(--sp24) 0;
  font-size: var(--text36);
  font-weight: var(--font-semibold);
  line-height: 3rem;
}

.address {
  margin-top: var(--sp8);
  margin-bottom: var(--sp24);
}
