/****
 * Article content & shared with editor
 */

.u-content-article {
  line-height: var(--line-height-article-base);
  outline: none;

  /* Spacing
   *
   * Base Rules:
   * - Below summary: ar17-200%
   * - Below hr, headings: ar17-100%
   * - Below paragraph, blockquote, lists: ar17-200%
   * - Below figures: ar17-400%
   *
   * Special Rules:
   * - If followed by hr, headings:
   *   - Below paragraph, blockquote, lists: ar17-100%
   *   - Below figures: ar17-200%
   *   - Below summary: ar17-100%
   * - If followed by figures:
   *   - Below paragraph, blockquote, lists: ar17-300%
   *   - Below hr, headings: ar17-200%
   *   - Below summary: ar17-300%
   ========================================================================== */
  & > * {
    margin-bottom: var(--ar17-200);

    /* for paragraph, blockquote, lists */
    &:has(+ hr, + h1, + h2, + h3, + h4, + h5, + h6) {
      margin-bottom: var(--ar17-100);
    }

    &:has(+ figure) {
      margin-bottom: var(--ar17-300);
    }

    /* for offsetting the summary */
    &:first-child {
      margin-top: var(--ar17-100);

      &:not(hr, h1, h2, h3, h4, h5, h6) {
        margin-top: var(--ar17-200);
      }

      &:is(figure) {
        margin-top: var(--ar17-300);
      }
    }
  }

  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    margin-bottom: var(--ar17-100);

    &:has(+ figure) {
      margin-bottom: var(--ar17-200);
    }
  }

  & hr {
    margin: calc(var(--ar17-150) + var(--ar17-100)) 0;

    &:has(+ figure) {
      margin-bottom: var(--ar17-200);
    }
  }

  & figure {
    margin: 0 0 var(--ar17-400) 0;

    &:has(+ hr, + h1, + h2, + h3, + h4, + h5, + h6) {
      margin-bottom: var(--ar17-200);
    }
  }

  & blockquote {
    & * + * {
      margin-top: var(--ar17-200);
    }
  }

  /* Text
   ========================================================================== */
  & p {
    font-size: var(--font-size-article-base);
    line-height: var(--line-height-article-base);
    color: var(--color-black);

    /* FIXME: Firefox eats trailing spaces
     *
     * @see {@url https://github.com/quilljs/quill/issues/1760}
     */
    white-space: pre-wrap;
  }

  & strong,
  & b {
    font-weight: var(--font-semibold);
  }

  & code,
  & pre {
    font-size: var(--text15);
    line-height: 1.7;
    color: var(--color-grey-darker);
  }

  /* Media
   ========================================================================== */
  & img,
  video,
  audio {
    display: block;
    margin: 0 auto;

    /* max-height: 100vh; */

    /* background: var(--color-grey-lighter); */
  }

  /* Figure
   ========================================================================== */
  & figure {
    position: relative;
    text-align: center;

    /* ad-hoc fix for nested figure */
    & > figure {
      margin-right: 0;
      margin-left: 0;
    }

    & figcaption {
      margin-top: var(--sp12);
      font-size: var(--text14);
      line-height: 1.375rem;
      color: var(--color-grey);
      white-space: pre-wrap;
    }
  }

  /* Audio
   ========================================================================== */
  & figure.audio {
    margin-right: 0;
    margin-left: 0;

    & audio {
      display: none;
    }

    & .player {
      position: relative;
      padding: var(--sp16);
      text-align: left;
      background: var(--color-white);
      border: 1px solid rgb(0 0 0 / 8%);
      border-radius: var(--sp2);
      box-shadow: var(--shadow-light);

      & header {
        @mixin flex-start-space-between;

        & .meta {
          @mixin truncate;
        }

        & .title {
          margin: 0;
          font-size: var(--text16);
          font-weight: var(--font-medium);
          outline: none;
        }

        & .time {
          font-size: var(--text12);
          color: var(--color-grey-dark);

          & .current,
          & .duration {
            &::before {
              content: attr(data-time);
            }
          }

          & .current[data-time] {
            &::after {
              content: ' / ';
            }
          }
        }

        & .play {
          flex-shrink: 0;
          align-self: center;
          width: 2.25rem;
          height: 2.25rem;
          margin-left: var(--sp16);
          cursor: pointer;
          background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0MCA0MCI+ICA8cGF0aCBmaWxsPSIjMEQ2NzYzIiBkPSJNMjAgMzkuNWExOS41IDE5LjUgMCAxIDEgMC0zOSAxOS41IDE5LjUgMCAwIDEgMCAzOXptMC0xLjVhMTggMTggMCAxIDAgMC0zNiAxOCAxOCAwIDAgMCAwIDM2em02Ljk0LTE4YzAgLjMzLS4zMy41Ny0uMzMuNTdsLTkuNTIgNS45Yy0uNjkuNDUtMS4yNi4xMS0xLjI2LS43NVYxNC4yOGMwLS44Ni41Ny0xLjIgMS4yNi0uNzRsOS41MiA1Ljg5cy4zMy4yNC4zMy41N3oiLz48L3N2Zz4=');

          &.paused {
            background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0MCA0MCI+ICA8cGF0aCBmaWxsPSIjMEQ2NzYzIiBkPSJNMjAgMzkuNWExOS41IDE5LjUgMCAxIDEgMC0zOSAxOS41IDE5LjUgMCAwIDEgMCAzOXptMC0xLjVhMTggMTggMCAxIDAgMC0zNiAxOCAxOCAwIDAgMCAwIDM2em00LjA2LTI0LjI1Yy41MiAwIC45NC40Mi45NC45NFYyNS4zYzAgLjUyLS40Mi45NC0uOTQuOTRIMjIuMmEuOTQuOTQgMCAwIDEtLjk0LS45NFYxNC43YzAtLjUyLjQyLS45NC45NC0uOTRoMS44N3ptLTUuMzEuOTRWMjUuM2MwIC41Mi0uNDIuOTQtLjk0Ljk0aC0xLjg3YS45NC45NCAwIDAgMS0uOTQtLjk0VjE0LjdjMC0uNTIuNDItLjk0Ljk0LS45NGgxLjg3Yy41MiAwIC45NC40Mi45NC45NHoiLz48L3N2Zz4=');
          }

          &.loading:not(:hover, :focus) {
            background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMiAzMiI+ICA8ZyBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPiAgICA8cGF0aCBkPSJNMCAwaDMydjMySDB6Ii8+ICAgIDxwYXRoIHN0cm9rZT0iI0RERCIgc3Ryb2tlLXdpZHRoPSIzIiBkPSJNMiAxNkExNCAxNCAwIDEgMCAxNiAyIi8+ICA8L2c+PC9zdmc+');
            animation: play-spinning 1s infinite linear;
          }
        }
      }

      & footer {
        & .progress-bar {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 4px;
          cursor: pointer;
          background-color: transparent;

          & > span {
            display: block;
            width: 0;
            height: 4px;
            text-indent: -9999px;
            background-color: var(--color-matters-green);
          }
        }
      }
    }
  }

  /* Embed
   ========================================================================== */
  & figure[class*='embed'] {
    & > .iframe-container {
      position: relative;
      width: 100%;
      height: 0;
      padding-top: 56.25%;
      background: var(--color-grey-lighter);

      & iframe {
        @mixin expand-to-container;

        width: 100%;
        height: 100%;
      }
    }

    /* fit legacy iframe */
    & > iframe {
      width: 100%;
      height: 24rem;
    }
  }

  & figure.embed-code.likebutton {
    & > .iframe-container {
      height: 200px;
      padding-top: 0;
      background: transparent;
    }
  }

  /* Blockquote
   ========================================================================== */
  & blockquote {
    position: relative;
    padding-left: var(--sp32);
    color: var(--color-grey-darker);

    & p {
      padding: 0;
      color: inherit;
    }

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 4px;
      height: 100%;
      content: '';
      background: var(--color-grey-light);
    }
  }

  /* List
   ========================================================================== */
  & ul,
  & ol {
    padding-left: 2.125rem;
  }

  & li + li,
  & li > ul,
  & li > ol {
    margin-top: var(--sp8);
  }

  & ul {
    list-style-type: disc;

    & ul {
      list-style-type: circle;

      & ul {
        list-style-type: square;
      }
    }
  }

  & ol {
    list-style-type: decimal;

    & ol {
      list-style-type: lower-latin;

      & ol {
        list-style-type: lower-roman;
      }
    }
  }

  /* Heading
   ========================================================================== */
  & h1 {
    font-size: var(--text14-article-h1);
  }

  & h2 {
    font-size: var(--text14-article-h2);
  }

  & h3 {
    font-size: var(--text14-article-h3);
  }

  @media (--sm-up) {
    & h1 {
      font-size: var(--font-size-article-h1);
    }

    & h2 {
      font-size: var(--font-size-article-h2);
    }

    & h3 {
      font-size: var(--font-size-article-h3);
    }
  }

  & h4 {
    font-size: var(--font-size-article-h4);
  }

  & h5 {
    font-size: var(--font-size-article-h5);
  }

  & h6 {
    font-size: var(--font-size-article-h6);
  }

  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    font-weight: var(--font-semibold);
    line-height: var(--line-height-article-heading);
  }

  /* Link
   ========================================================================== */
  & a {
    padding-bottom: 2px;
    color: var(--color-black);
    border-bottom: 1px solid currentcolor;

    &:hover,
    &:active,
    &:focus {
      color: var(--color-matters-green-hover);
    }

    &.mention {
      color: var(--color-grey-darker);
      text-decoration: none;
      border-bottom: 0;
    }
  }

  /* fix frequent misuse of links */
  & u > a,
  ins > a {
    padding-bottom: 0;
    border-bottom: 0;
  }

  /* Misc
   ========================================================================== */
  & hr {
    position: relative;
    display: block;
    width: 100%;
    height: var(--sp8);
    border: none;

    &::before {
      position: absolute;
      inset: 0;
      display: block;
      width: 3.5rem;
      height: var(--sp8);
      margin: 0 auto;
      content: '';
      background-image: radial-gradient(
        circle,
        var(--color-line-grey-light) 0.25rem,
        transparent 0.25rem
      );
      background-size: 33.33% 100%;
      background-repeat-x: repeat;
    }
  }

  /* FIXME: first line of code has some indent */
  & code {
    padding: 0;
  }
}

/****
 * Article title
 */
.u-article-title {
  position: relative;
  margin: var(--ar17-100) 0;

  @media (--sm-up) {
    margin: 0 0 var(--ar17-100) 0;
  }
}

.u-article-title h1,
.editor-title textarea {
  @mixin font-serif;

  font-size: var(--text24);
  font-weight: var(--font-weight-article-title);
  line-height: 1.5;
  letter-spacing: 1.2px;
  resize: none;
  background: transparent;

  &::placeholder {
    color: var(--color-grey);
    opacity: 1; /* Firefox */
  }

  @media (--md-up) {
    font-size: var(--font-size-article-title);
    line-height: var(--line-height-article-title);
  }
}

.editor-title {
  & textarea {
    margin: 0 0 var(--sp16);

    @media (--sm-up) {
      margin: var(--sp16) 0;
    }
  }
}

/****
 * Article Summary
 */
.u-article-summary,
.editor-summary {
  position: relative;
  margin: var(--ar17-100) 0;

  & .counter {
    font-size: var(--text12);
    color: var(--color-grey-light);
    text-align: right;
  }

  & .error {
    color: var(--color-negative-red);
  }
}

.u-article-summary,
.editor-summary textarea {
  @mixin font-serif;
  @mixin border-left-grey;

  padding: var(--sp4) 0 var(--sp4) var(--sp24);
  font-size: var(--text18);
  font-weight: var(--font-normal);
  line-height: 1.875rem;
  color: var(--color-grey-darker);
  resize: none;
  background: transparent;

  &::placeholder {
    color: var(--color-grey);
    opacity: 1; /* Firefox */
  }

  @media (--md-up) {
    padding-left: calc(var(--sp32) + var(--sp4));
    font-size: var(--text20);
    line-height: 1.75;
  }

  @media (--lg-up) {
    width: 85%; /* 6/7 */
  }
}
