/****
 * Article Detail & Editor
 */
.u-content,
.ProseMirror,
.tiptap {
  line-height: var(--line-height-article-base);
  outline: none;

  & > * + * {
    margin: var(--spacing-loose) 0;
  }

  & > *:first-child {
    margin: var(--spacing-loose) 0 0;
  }

  & > *:last-child {
    margin-bottom: var(--spacing-loose);
  }

  & p {
    font-size: var(--font-size-xm);
    line-height: 2rem;
    color: var(--color-black);

    /* FIXME: Firefox eats trailing spaces
     *
     * @see {@url https://github.com/quilljs/quill/issues/1760}
     */
    white-space: pre-wrap;
  }

  /* FIXME: first line of code has some indent */
  & code {
    padding: 0;
    font-size: var(--font-size-md-s);
    line-height: 1.5rem;
    color: var(--color-grey-darker);
  }

  /* Media
   ========================================================================== */
  & img,
  video,
  audio {
    display: block;
    margin: 0 auto;

    /* max-height: 100vh; */

    /* background: var(--color-grey-lighter); */
  }

  /* Figure
   ========================================================================== */
  & figure {
    position: relative;
    padding: var(--spacing-base) 0;
    text-align: center;

    /* ad-hoc fix for nested figure */
    & > figure {
      margin-right: 0;
      margin-left: 0;
    }

    & figcaption {
      margin-top: var(--spacing-tight);
      font-size: var(--font-size-xs);
      line-height: 1rem;
      color: var(--color-grey);
      white-space: pre-wrap;
    }
  }

  /* Audio
   ========================================================================== */
  & figure.audio {
    margin-right: 0;
    margin-left: 0;

    & audio {
      display: none;
    }

    & .player {
      position: relative;
      padding: var(--spacing-base);
      text-align: left;
      background: var(--color-white);
      border: 1px solid rgb(0 0 0 / 8%);
      border-radius: var(--spacing-xxx-tight);
      box-shadow: var(--shadow-light);

      & header {
        @mixin flex-start-space-between;

        & .meta {
          @mixin truncate;
        }

        & .title {
          margin: 0;
          font-size: var(--font-size-md);
          font-weight: var(--font-weight-medium);
          outline: none;
        }

        & .time {
          font-size: var(--font-size-xs);
          color: var(--color-grey-dark);

          & .current,
          & .duration {
            &::before {
              content: attr(data-time);
            }
          }

          & .current[data-time] {
            &::after {
              content: ' / ';
            }
          }
        }

        & .play {
          flex-shrink: 0;
          align-self: center;
          width: 2.25rem;
          height: 2.25rem;
          margin-left: var(--spacing-base);
          cursor: pointer;
          background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0MCA0MCI+ICA8cGF0aCBmaWxsPSIjMEQ2NzYzIiBkPSJNMjAgMzkuNWExOS41IDE5LjUgMCAxIDEgMC0zOSAxOS41IDE5LjUgMCAwIDEgMCAzOXptMC0xLjVhMTggMTggMCAxIDAgMC0zNiAxOCAxOCAwIDAgMCAwIDM2em02Ljk0LTE4YzAgLjMzLS4zMy41Ny0uMzMuNTdsLTkuNTIgNS45Yy0uNjkuNDUtMS4yNi4xMS0xLjI2LS43NVYxNC4yOGMwLS44Ni41Ny0xLjIgMS4yNi0uNzRsOS41MiA1Ljg5cy4zMy4yNC4zMy41N3oiLz48L3N2Zz4=');

          &.paused {
            background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0MCA0MCI+ICA8cGF0aCBmaWxsPSIjMEQ2NzYzIiBkPSJNMjAgMzkuNWExOS41IDE5LjUgMCAxIDEgMC0zOSAxOS41IDE5LjUgMCAwIDEgMCAzOXptMC0xLjVhMTggMTggMCAxIDAgMC0zNiAxOCAxOCAwIDAgMCAwIDM2em00LjA2LTI0LjI1Yy41MiAwIC45NC40Mi45NC45NFYyNS4zYzAgLjUyLS40Mi45NC0uOTQuOTRIMjIuMmEuOTQuOTQgMCAwIDEtLjk0LS45NFYxNC43YzAtLjUyLjQyLS45NC45NC0uOTRoMS44N3ptLTUuMzEuOTRWMjUuM2MwIC41Mi0uNDIuOTQtLjk0Ljk0aC0xLjg3YS45NC45NCAwIDAgMS0uOTQtLjk0VjE0LjdjMC0uNTIuNDItLjk0Ljk0LS45NGgxLjg3Yy41MiAwIC45NC40Mi45NC45NHoiLz48L3N2Zz4=');
          }

          &.loading:not(:hover, :focus) {
            background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMiAzMiI+ICA8ZyBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPiAgICA8cGF0aCBkPSJNMCAwaDMydjMySDB6Ii8+ICAgIDxwYXRoIHN0cm9rZT0iI0RERCIgc3Ryb2tlLXdpZHRoPSIzIiBkPSJNMiAxNkExNCAxNCAwIDEgMCAxNiAyIi8+ICA8L2c+PC9zdmc+');
            animation: play-spinning 1s infinite linear;
          }
        }
      }

      & footer {
        & .progress-bar {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 4px;
          cursor: pointer;
          background-color: transparent;

          & > span {
            display: block;
            width: 0;
            height: 4px;
            text-indent: -9999px;
            background-color: var(--color-matters-green);
          }
        }
      }
    }
  }

  /* Embed
   ========================================================================== */
  & figure[class*='embed'] {
    & > .iframe-container {
      position: relative;
      width: 100%;
      height: 0;
      padding-top: 56.25%;
      background: var(--color-grey-lighter);

      & iframe {
        @mixin expand-to-container;

        width: 100%;
        height: 100%;
      }
    }

    /* fit legacy iframe */
    & > iframe {
      width: 100%;
      height: 24rem;
    }
  }

  & figure.embed-code.likebutton {
    & > .iframe-container {
      height: 200px;
      padding-top: 0;
      background: transparent;
    }
  }

  /* Blockquote
   ========================================================================== */
  & blockquote {
    position: relative;
    padding-left: var(--spacing-x-loose);

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 4px;
      height: 100%;
      content: '';
      background: var(--color-grey-light);
    }
  }

  /* List
   ========================================================================== */
  & ul,
  & ol {
    padding-left: var(--spacing-xx-loose);
  }

  & li {
    padding-left: var(--spacing-x-tight);
    margin: var(--spacing-x-tight) 0;
  }

  & ul {
    list-style-type: disc;
  }

  & ol {
    list-style-type: decimal;
  }

  /* Heading
   ========================================================================== */
  & h1 {
    font-size: var(--font-size-article-h1);
  }

  & h2 {
    font-size: var(--font-size-article-h2);
  }

  & h3 {
    font-size: var(--font-size-article-h3);
  }

  & h4 {
    font-size: var(--font-size-article-h4);
  }

  & h5 {
    font-size: var(--font-size-article-h5);
  }

  & h6 {
    font-size: var(--font-size-article-h6);
  }

  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    margin-top: var(--spacing-x-loose);
    line-height: var(--line-height-article-heading);
  }

  /* Link
   ========================================================================== */
  & a {
    padding-bottom: 2px;
    color: var(--color-black);
    border-bottom: 1px solid currentcolor;

    &:hover,
    &:active,
    &:focus {
      color: var(--color-matters-green-dark);
    }
  }

  /* fix frequent misuse of links */
  & u > a,
  ins > a {
    padding-bottom: 0;
    border-bottom: 0;
  }

  /* Misc
   ========================================================================== */
  & hr {
    position: relative;
    display: block;
    width: 100%;
    height: 2rem;
    border: none;

    &::before {
      position: absolute;
      inset: 0;
      display: block;
      width: 3.5rem;
      height: 2rem;
      margin: 0 auto;
      content: '';
      background-image: radial-gradient(
        circle,
        var(--color-line-grey-light) 0.25rem,
        transparent 0.25rem
      );
      background-size: 33.33% 100%;
      background-repeat-x: repeat;
    }
  }
}

/****
 * Article Summary
 */
.u-summary,
.editor-summary {
  position: relative;
  margin: var(--spacing-base) 0 var(--spacing-xx-loose);

  & .counter {
    font-size: var(--font-size-xs);
    color: var(--color-grey-light);
    text-align: right;
  }

  & .error {
    color: var(--color-red);
  }
}

.u-summary,
.editor-summary textarea {
  @mixin border-left-grey;

  padding: var(--spacing-xx-tight) 0 var(--spacing-xx-tight)
    var(--spacing-loose);
  font-size: var(--font-size-xm);
  font-weight: var(--font-weight-normal);
  line-height: 2.25rem;
  color: var(--color-black);
  resize: none;
  background: transparent;

  &::placeholder {
    color: var(--color-grey);
    opacity: 1; /* Firefox */
  }

  @media (--md-up) {
    padding-left: calc(var(--spacing-x-loose) + var(--spacing-xx-tight));
    font-size: var(--font-size-xl-s);
    line-height: 2.5rem;
  }

  @media (--lg-up) {
    width: 71%; /* 5/7 */
  }
}
