/****
 * Comment content & shared with editor
 */
.u-content-comment {
  line-height: 1.75;

  & > * {
    margin: 0;
  }

  & > * + * {
    margin: var(--sp12) 0;
  }

  & > *:last-child {
    margin-bottom: 0;
  }

  & p {
    /* FIXME: Firefox eats trailing spaces
     *
     * @see {@url https://github.com/quilljs/quill/issues/1760}
     */
    white-space: pre-wrap;
  }

  /* FIXME: first line of code has some indent */
  & code {
    padding: 0;
  }

  /* Media
   ========================================================================== */
  & img,
  video,
  audio {
    display: block;
    margin: 0 auto;

    /* max-height: 100vh; */
  }

  /* Figure
   ========================================================================== */
  & figure {
    text-align: center;

    & figcaption {
      padding: 0 var(--sp16);
      margin-top: var(--sp8);
      font-size: var(--text13);
      color: var(--color-grey);
    }
  }

  /* Blockquote
   ========================================================================== */
  & blockquote {
    position: relative;
    padding: 0 var(--sp16);
    color: var(--color-grey-darker);

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 4px;
      height: 100%;
      content: '';
      background: var(--color-grey-light);
    }
  }

  /* List
   ========================================================================== */
  & ul,
  & ol {
    padding-left: var(--sp24);
  }

  & li {
    padding-left: var(--sp8);
    margin: var(--sp8) 0;
  }

  & ul {
    list-style-type: disc;

    & ul {
      list-style-type: circle;

      & ul {
        list-style-type: square;
      }
    }
  }

  & ol {
    list-style-type: decimal;

    & ol {
      list-style-type: lower-latin;

      & ol {
        list-style-type: lower-roman;
      }
    }
  }

  /* Heading
   ========================================================================== */
  & h1 {
    font-size: var(--font-size-article-h1);
  }

  & h2 {
    font-size: var(--font-size-article-h2);
  }

  & h3 {
    font-size: var(--font-size-article-h3);
  }

  & h4 {
    font-size: var(--font-size-article-h4);
  }

  & h5 {
    font-size: var(--font-size-article-h5);
  }

  & h6 {
    font-size: var(--font-size-article-h6);
  }

  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    margin-top: var(--sp24);
    line-height: var(--line-height-article-heading);
  }

  /* Link
   ========================================================================== */
  & a {
    color: var(--color-matters-green);

    &:hover,
    &:active,
    &:focus {
      color: var(--color-matters-green-hover);
    }
  }

  /* fix frequent misuse of links */
  & u > a,
  ins > a {
    padding-bottom: 0;
    border-bottom: 0;
  }

  /* Misc
   ========================================================================== */
  & hr {
    display: block;
    width: 10rem;
    height: 0.125rem;
    margin: var(--sp24) auto;
    border: 0;
    border-top: 1px solid var(--color-line-grey-dark);
    border-bottom: 1px solid var(--color-line-grey-dark);
  }
}
