/* @styled-jsx=global */

/****
 * Article Detail & Editor
 */
.u-content,
.ProseMirror {
  line-height: var(--line-height-article-base);
  outline: none;

  & :global(> * + *) {
    margin: var(--spacing-loose) 0;
  }

  & :global(> *:first-child) {
    margin-top: 0;
  }

  & :global(> *:last-child) {
    margin-bottom: var(--spacing-loose);
  }

  & :global(p) {
    /* FIXME: Firefox eats trailing spaces
     *
     * @see {@url https://github.com/quilljs/quill/issues/1760}
     */
    white-space: pre-wrap;
  }

  /* Media
   ========================================================================== */
  & :global(img, video, audio) {
    display: block;
    margin: 0 auto;

    /* max-height: 100vh; */

    /* background: var(--color-grey-lighter); */
  }

  /* Figure
   ========================================================================== */
  & :global(figure) {
    margin: var(--spacing-x-loose) 0;
    text-align: center;

    /* ad-hoc fix for nested figure */
    & :global(> figure) {
      margin-right: 0;
      margin-left: 0;
    }

    & :global(figcaption) {
      padding: 0 var(--spacing-base);
      margin-top: var(--spacing-x-tight);
      font-size: var(--font-size-sm-s);
      color: var(--color-grey);
      white-space: pre-wrap;
    }
  }

  /* Audio
   ========================================================================== */
  & :global(figure.audio) {
    margin-right: 0;
    margin-left: 0;

    & audio {
      display: none;
    }

    & .player {
      position: relative;
      padding: var(--spacing-base);
      text-align: left;
      background: var(--color-white);
      border: 1px solid rgb(0 0 0 / 8%);
      border-radius: var(--spacing-xxx-tight);
      box-shadow: var(--shadow-light);

      & header {
        @mixin flex-start-space-between;

        & .meta {
          @mixin truncate;
        }

        & .title {
          margin: 0;
          font-size: var(--font-size-md);
          font-weight: var(--font-weight-medium);
          outline: none;
        }

        & .time {
          font-size: var(--font-size-xs);
          color: var(--color-grey-dark);

          & .current,
          & .duration {
            &::before {
              content: attr(data-time);
            }
          }

          & .current[data-time] {
            &::after {
              content: ' / ';
            }
          }
        }

        & .play {
          flex-shrink: 0;
          align-self: center;
          width: 2.25rem;
          height: 2.25rem;
          margin-left: var(--spacing-base);
          cursor: pointer;
          background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0MCA0MCI+ICA8cGF0aCBmaWxsPSIjMEQ2NzYzIiBkPSJNMjAgMzkuNWExOS41IDE5LjUgMCAxIDEgMC0zOSAxOS41IDE5LjUgMCAwIDEgMCAzOXptMC0xLjVhMTggMTggMCAxIDAgMC0zNiAxOCAxOCAwIDAgMCAwIDM2em02Ljk0LTE4YzAgLjMzLS4zMy41Ny0uMzMuNTdsLTkuNTIgNS45Yy0uNjkuNDUtMS4yNi4xMS0xLjI2LS43NVYxNC4yOGMwLS44Ni41Ny0xLjIgMS4yNi0uNzRsOS41MiA1Ljg5cy4zMy4yNC4zMy41N3oiLz48L3N2Zz4=');

          &.paused {
            background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0MCA0MCI+ICA8cGF0aCBmaWxsPSIjMEQ2NzYzIiBkPSJNMjAgMzkuNWExOS41IDE5LjUgMCAxIDEgMC0zOSAxOS41IDE5LjUgMCAwIDEgMCAzOXptMC0xLjVhMTggMTggMCAxIDAgMC0zNiAxOCAxOCAwIDAgMCAwIDM2em00LjA2LTI0LjI1Yy41MiAwIC45NC40Mi45NC45NFYyNS4zYzAgLjUyLS40Mi45NC0uOTQuOTRIMjIuMmEuOTQuOTQgMCAwIDEtLjk0LS45NFYxNC43YzAtLjUyLjQyLS45NC45NC0uOTRoMS44N3ptLTUuMzEuOTRWMjUuM2MwIC41Mi0uNDIuOTQtLjk0Ljk0aC0xLjg3YS45NC45NCAwIDAgMS0uOTQtLjk0VjE0LjdjMC0uNTIuNDItLjk0Ljk0LS45NGgxLjg3Yy41MiAwIC45NC40Mi45NC45NHoiLz48L3N2Zz4=');
          }

          &.loading:not(:hover, :focus) {
            background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMiAzMiI+ICA8ZyBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPiAgICA8cGF0aCBkPSJNMCAwaDMydjMySDB6Ii8+ICAgIDxwYXRoIHN0cm9rZT0iI0RERCIgc3Ryb2tlLXdpZHRoPSIzIiBkPSJNMiAxNkExNCAxNCAwIDEgMCAxNiAyIi8+ICA8L2c+PC9zdmc+');
            animation: play-spinning 1s infinite linear;
          }
        }
      }

      & footer {
        & .progress-bar {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 4px;
          cursor: pointer;
          background-color: transparent;

          & > span {
            display: block;
            width: 0;
            height: 4px;
            text-indent: -9999px;
            background-color: var(--color-matters-green);
          }
        }
      }
    }
  }

  /* Embed
   ========================================================================== */
  & :global(figure[class*='embed']) {
    position: relative;

    & > .iframe-container {
      position: relative;
      width: 100%;
      height: 0;
      padding-top: 56.25%;
      background: var(--color-grey-lighter);

      & iframe {
        @mixin expand-to-container;

        width: 100%;
        height: 100%;
      }
    }

    /* fit legacy iframe */
    & > iframe {
      width: 100%;
      height: 24rem;
    }
  }

  & :global(figure.embed-code.likebutton) {
    & > .iframe-container {
      height: 200px;
      padding-top: 0;
      background: transparent;
    }
  }

  /* Blockquote
   ========================================================================== */
  & :global(blockquote) {
    position: relative;
    padding-left: var(--spacing-loose);

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 4px;
      height: 100%;
      content: '';
      background: var(--color-grey-light);
    }
  }

  /* List
   ========================================================================== */
  & :global(ul),
  & :global(ol) {
    padding-left: var(--spacing-x-loose);
  }

  & :global(li) {
    padding-left: var(--spacing-x-tight);
    margin: var(--spacing-base) 0;
  }

  & :global(ul) {
    list-style-type: disc;
  }

  & :global(ol) {
    list-style-type: decimal;
  }

  /* Heading
   ========================================================================== */
  & :global(h1) {
    font-size: var(--font-size-article-h1);
  }

  & :global(h2) {
    font-size: var(--font-size-article-h2);
  }

  & :global(h3) {
    font-size: var(--font-size-article-h3);
  }

  & :global(h4) {
    font-size: var(--font-size-article-h4);
  }

  & :global(h5) {
    font-size: var(--font-size-article-h5);
  }

  & :global(h6) {
    font-size: var(--font-size-article-h6);
  }

  & :global(h1),
  & :global(h2),
  & :global(h3),
  & :global(h4),
  & :global(h5),
  & :global(h6) {
    margin-top: var(--spacing-x-loose);
    line-height: var(--line-height-article-heading);
  }

  /* Link
   ========================================================================== */
  & :global(a) {
    padding-bottom: 2px;
    color: var(--color-matters-green);
    border-bottom: 1px solid currentcolor;

    &:hover,
    &:active,
    &:focus {
      color: var(--color-matters-green-active);
    }
  }

  /* fix frequent misuse of links */
  & :global(u > a, ins > a) {
    padding-bottom: 0;
    border-bottom: 0;
  }

  /* Misc
   ========================================================================== */
  & :global(hr) {
    display: block;
    width: 10rem;
    height: 0.25rem;
    margin: var(--spacing-x-loose) auto;
    border: 0;
    border-top: 1px solid var(--color-line-grey-dark);
    border-bottom: 1px solid var(--color-line-grey-dark);
  }
}

.translating {
  opacity: 0.5;
}

@keyframes play-spinning {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/****
 * Article Summary
 */
.u-summary,
.editor-summary {
  position: relative;
  margin: var(--spacing-loose) 0;

  & .counter {
    font-size: var(--font-size-xs);
    color: var(--color-grey-light);
    text-align: right;
  }

  & .error {
    color: var(--color-red);
  }
}

.u-summary,
.editor-summary :global(textarea) {
  @mixin border-left-grey;

  padding-left: var(--spacing-loose);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-article-base);
  color: var(--color-grey-darker);
  resize: none;
  background: transparent;

  &::placeholder {
    color: var(--color-grey);
    opacity: 1; /* Firefox */
  }
}
