/* @styled-jsx=global */

.u-content-comment,
#editor-comment-container .ql-editor {
  white-space: pre-wrap;
  line-height: 1.6;

  & :global(> *) {
    margin: 0;
  }

  & :global(> * + *) {
    margin: var(--spacing-base) 0;
  }

  & :global(> *:last-child) {
    margin-bottom: 0;
  }

  /* Media
   ========================================================================== */
  & :global(img, video, audio) {
    display: block;
    margin: 0 auto;
    /* max-height: 100vh; */
  }

  /* Figure
   ========================================================================== */
  & :global(figure) {
    text-align: center;

    & :global(figcaption) {
      margin-top: var(--spacing-x-tight);
      padding: 0 var(--spacing-base);

      font-size: var(--font-size-sm-s);
      color: var(--color-grey);

      @media (--sm-up) {
        padding: 0;
      }
    }
  }

  /* Blockquote
   ========================================================================== */
  & :global(blockquote) {
    position: relative;
    padding: 0 var(--spacing-base);

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;

      width: 4px;
      height: 100%;
      background: var(--color-matters-gold);
    }
  }

  /* List
   ========================================================================== */
  & :global(ul),
  & :global(ol) {
    padding-left: var(--spacing-loose);
  }
  & :global(li) {
    padding-left: var(--spacing-x-tight);
    margin: var(--spacing-x-tight) 0;
  }
  & :global(ul) {
    list-style-type: disc;
  }
  & :global(ol) {
    list-style-type: decimal;
  }

  /* Heading
   ========================================================================== */
  & :global(h1) {
    font-size: var(--font-size-article-h1);
  }
  & :global(h2) {
    font-size: var(--font-size-article-h2);
  }
  & :global(h3) {
    font-size: var(--font-size-article-h3);
  }
  & :global(h4) {
    font-size: var(--font-size-article-h4);
  }
  & :global(h5) {
    font-size: var(--font-size-article-h5);
  }
  & :global(h6) {
    font-size: var(--font-size-article-h6);
  }

  & :global(h1),
  & :global(h2),
  & :global(h3),
  & :global(h4),
  & :global(h5),
  & :global(h6) {
    margin-top: var(--spacing-loose);
    line-height: var(--line-height-article-heading);
  }

  /* Link
   ========================================================================== */
  & :global(a) {
    color: var(--color-matters-green);
    border-bottom: 1px solid currentcolor;
    padding-bottom: 2px;

    &:hover,
    &:active,
    &:focus {
      color: var(--color-matters-green-hover);
    }
  }
  /* fix frequent misuse of links */
  & :global(u > a, ins > a) {
    border-bottom: 0;
    padding-bottom: 0;
  }

  /* Misc
   ========================================================================== */
  & :global(hr) {
    display: block;

    width: 10rem;
    height: 0.125rem;
    margin: var(--spacing-loose) auto;

    border: 0;
    border-top: 1px solid var(--color-line-grey-dark);
    border-bottom: 1px solid var(--color-line-grey-dark);
  }
}

#editor-comment-container,
.quill {
  height: 100%;
}

.mention-container {
  position: absolute;

  width: var(--sizing-menu-md);
  max-height: calc(4rem * 3);

  color: var(--color-black);
  border-radius: 0.5rem;
  background: var(--color-white);
  box-shadow: var(--shadow-dark);
  overflow-y: scroll;
  visibility: hidden;
  z-index: var(--z-index-under-global-header);
}
