/* @styled-jsx=global */

:root {
  --side-toolbar-button-size: 2rem;
}

.editor-title {
  & input {
    @mixin border-bottom-grey;
    margin-bottom: var(--spacing-loose);
    padding-bottom: var(--spacing-base);

    font-size: var(--font-size-article-title);
    line-height: var(--line-height-article-title);
    font-weight: var(--font-weight-article-title);

    &::placeholder {
      color: var(--color-grey);
      opacity: 1; /* Firefox */
    }
  }
}

.u-content,
#editor-article-container .ql-editor {
  line-height: var(--line-height-article-base);
  outline: none;

  & :global(> * + *) {
    margin: var(--spacing-loose) 0;
  }
  & :global(> *:first-child) {
    margin-top: 0;
  }
  & :global(> *:last-child) {
    margin-bottom: var(--spacing-loose);
  }

  /* Media
   ========================================================================== */
  & :global(img, video, audio) {
    display: block;
    margin: 0 auto;
    /* max-height: 100vh; */
    /* background: var(--color-grey-lighter); */
  }

  /* Figure
   ========================================================================== */
  & :global(figure) {
    margin: var(--spacing-x-loose) calc(var(--spacing-base) * -1);
    text-align: center;

    @media (--sm-up) {
      margin-left: 0;
      margin-right: 0;
    }

    & :global(figcaption) {
      margin-top: var(--spacing-x-tight);
      padding: 0 var(--spacing-base);

      font-size: var(--font-size-sm-s);
      color: var(--color-grey);
      white-space: pre-wrap;

      @media (--sm-up) {
        padding: 0;
      }
    }
  }

  /* Audio
   ========================================================================== */
  & :global(figure.audio) {
    margin-left: 0;
    margin-right: 0;

    & audio {
      display: none;
    }

    & .player {
      position: relative;
      padding: var(--spacing-base);

      background: var(--color-white);
      border: 1px solid rgba(0, 0, 0, 0.08);
      box-shadow: var(--shadow-light);
      border-radius: 2px;
      text-align: left;

      & header {
        @mixin flex-start-space-between;

        & .meta {
          @mixin truncate;
        }

        & .title {
          margin: 0;
          font-size: var(--font-size-md);
          font-weight: var(--font-weight-medium);
          outline: none;
        }

        & .time {
          color: var(--color-grey-dark);
          font-size: var(--font-size-xs);

          & .current,
          & .duration {
            &::before {
              content: attr(data-time);
            }
          }
          & .current[data-time] {
            &::after {
              content: ' / ';
            }
          }
        }

        & .play {
          flex-shrink: 0;
          align-self: center;
          width: 2.25rem;
          height: 2.25rem;
          margin-left: var(--spacing-base);

          background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0MCA0MCI+ICA8cGF0aCBmaWxsPSIjMEQ2NzYzIiBkPSJNMjAgMzkuNWExOS41IDE5LjUgMCAxIDEgMC0zOSAxOS41IDE5LjUgMCAwIDEgMCAzOXptMC0xLjVhMTggMTggMCAxIDAgMC0zNiAxOCAxOCAwIDAgMCAwIDM2em02Ljk0LTE4YzAgLjMzLS4zMy41Ny0uMzMuNTdsLTkuNTIgNS45Yy0uNjkuNDUtMS4yNi4xMS0xLjI2LS43NVYxNC4yOGMwLS44Ni41Ny0xLjIgMS4yNi0uNzRsOS41MiA1Ljg5cy4zMy4yNC4zMy41N3oiLz48L3N2Zz4=);
          cursor: pointer;

          &.paused {
            background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0MCA0MCI+ICA8cGF0aCBmaWxsPSIjMEQ2NzYzIiBkPSJNMjAgMzkuNWExOS41IDE5LjUgMCAxIDEgMC0zOSAxOS41IDE5LjUgMCAwIDEgMCAzOXptMC0xLjVhMTggMTggMCAxIDAgMC0zNiAxOCAxOCAwIDAgMCAwIDM2em00LjA2LTI0LjI1Yy41MiAwIC45NC40Mi45NC45NFYyNS4zYzAgLjUyLS40Mi45NC0uOTQuOTRIMjIuMmEuOTQuOTQgMCAwIDEtLjk0LS45NFYxNC43YzAtLjUyLjQyLS45NC45NC0uOTRoMS44N3ptLTUuMzEuOTRWMjUuM2MwIC41Mi0uNDIuOTQtLjk0Ljk0aC0xLjg3YS45NC45NCAwIDAgMS0uOTQtLjk0VjE0LjdjMC0uNTIuNDItLjk0Ljk0LS45NGgxLjg3Yy41MiAwIC45NC40Mi45NC45NHoiLz48L3N2Zz4=);
          }
          &.loading:not(:hover, :focus) {
            background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMiAzMiI+ICA8ZyBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPiAgICA8cGF0aCBkPSJNMCAwaDMydjMySDB6Ii8+ICAgIDxwYXRoIHN0cm9rZT0iI0RERCIgc3Ryb2tlLXdpZHRoPSIzIiBkPSJNMiAxNkExNCAxNCAwIDEgMCAxNiAyIi8+ICA8L2c+PC9zdmc+);
            animation: play-spinning 1s infinite linear;
          }
        }
      }

      & footer {
        & .progress-bar {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 4px;

          background-color: transparent;
          cursor: pointer;

          & > span {
            @mixin all-transition;
            display: block;
            width: 0;
            height: 4px;
            background-color: var(--color-matters-green);
            text-indent: -9999px;
          }
        }
      }
    }
  }

  /* Embed
   ========================================================================== */
  & :global(figure[class*='embed']) {
    position: relative;

    & > .iframe-container {
      position: relative;
      width: 100%;
      height: 0;
      padding-top: 56.25%;
      background: var(--color-grey-lighter);

      & iframe {
        @mixin expand-to-container;
        width: 100%;
        height: 100%;
      }
    }

    /* fit legacy iframe */
    & > iframe {
      width: 100%;
      height: 24rem;
    }
  }
  & :global(figure.embed-code.likebutton) {
    & > .iframe-container {
      height: 200px;
      background: transparent;
      padding-top: 0;
    }
  }

  /* Blockquote
   ========================================================================== */
  & :global(blockquote) {
    position: relative;
    padding: 0 var(--spacing-base);

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;

      width: 4px;
      height: 100%;
      background: var(--color-matters-gold);
    }
  }

  /* List
   ========================================================================== */
  & :global(ul),
  & :global(ol) {
    padding-left: var(--spacing-x-loose);
  }
  & :global(li) {
    padding-left: var(--spacing-x-tight);
    margin: var(--spacing-base) 0;
  }
  & :global(ul) {
    list-style-type: disc;
  }
  & :global(ol) {
    list-style-type: decimal;
  }

  /* Heading
   ========================================================================== */
  & :global(h1) {
    font-size: var(--font-size-article-h1);
  }
  & :global(h2) {
    font-size: var(--font-size-article-h2);
  }
  & :global(h3) {
    font-size: var(--font-size-article-h3);
  }
  & :global(h4) {
    font-size: var(--font-size-article-h4);
  }
  & :global(h5) {
    font-size: var(--font-size-article-h5);
  }
  & :global(h6) {
    font-size: var(--font-size-article-h6);
  }

  & :global(h1),
  & :global(h2),
  & :global(h3),
  & :global(h4),
  & :global(h5),
  & :global(h6) {
    margin-top: var(--spacing-x-loose);
    line-height: var(--line-height-article-heading);
  }

  /* Link
   ========================================================================== */
  & :global(a) {
    color: var(--color-matters-green);
    border-bottom: 1px solid currentcolor;
    padding-bottom: 2px;

    &:hover,
    &:active,
    &:focus {
      color: var(--color-matters-green-hover);
    }
  }
  /* fix frequent misuse of links */
  & :global(u > a, ins > a) {
    border-bottom: 0;
    padding-bottom: 0;
  }

  /* Misc
   ========================================================================== */
  & :global(hr) {
    display: block;

    width: 10rem;
    height: 0.25rem;
    margin: var(--spacing-x-loose) auto;

    border: 0;
    border-top: 1px solid var(--color-line-grey-dark);
    border-bottom: 1px solid var(--color-line-grey-dark);
  }
}

#editor-article-container {
  position: relative;
}

#editor-article-container .ql-editor {
  & input.embed-clipboard {
    line-height: 1.875;
  }

  & figure figcaption {
    font-size: 0;

    & textarea {
      font-size: var(--font-size-sm-s);
      text-align: center;
      resize: none;
      overflow: hidden;
    }
  }
}

#editor-article-container .spinner {
  stroke: var(--color-grey-light);
}

.toolbar-container {
  @mixin all-transition;

  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  align-items: center;

  transform: translateY(calc(var(--spacing-x-tight) * -1));
  opacity: 0;

  &.toolbar-visible {
    opacity: 1;
  }
  &.toolbar-expanded {
    & .toolbar-items {
      display: inline-flex;
      opacity: 1;
    }
  }

  @media (--sm-up) {
    right: auto;
    left: calc((var(--side-toolbar-button-size) + var(--spacing-base)) * -1);
  }
}

.toolbar-items {
  @mixin all-transition;

  display: none;
  margin-left: var(--spacing-base);

  opacity: 0;

  & :global(> * + *) {
    cursor: pointer;
    margin-left: var(--spacing-base);
  }

  & :global(button) {
    background: transparent;
  }

  & :global(svg) {
    background: var(--color-white);
    border-radius: 50%;
    cursor: pointer;
    stroke: var(--color-black);
  }
}

.toolbar-expanded {
  & .toolbar-toggle-button {
    transform: rotate(45deg);
  }
}

.toolbar-toggle-button {
  @mixin all-transition;
  background: transparent;
  stroke: var(--color-black);
}

.toolbar-upload-container {
  display: inline-block;
  font-size: 0;
  vertical-align: middle;

  & input {
    font-size: 0;
    position: absolute;
    left: -99999px;
  }
}

.mention-container {
  position: absolute;

  width: var(--sizing-menu-md);
  visibility: hidden;

  color: var(--color-black);
  border-radius: 2px;
  background: var(--color-white);
  box-shadow: var(--shadow-dark);
  z-index: 1;
}

@keyframes play-spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
