/* @styled-jsx=global */

.u-details {
  & summary {
    position: relative;
    cursor: pointer;
    user-select: none;

    &:focus {
      outline: 0;
    }

    & h1,
    & h2,
    & h3,
    & h4 {
      display: inline-block;
    }
  }
}
