/* @styled-jsx=global */

@media (--sm-up) {
  .u-sm-up-hide {
    display: none !important;
  }
}

@media (--sm-down) {
  .u-sm-down-hide {
    display: none !important;
  }
}

@media (--md-up) {
  .u-md-up-hide {
    display: none !important;
  }
}

@media (--md-down) {
  .u-md-down-hide {
    display: none !important;
  }
}

@media (--lg-up) {
  .u-lg-up-hide {
    display: none !important;
  }
}

@media (--lg-down) {
  .u-lg-down-hide {
    display: none !important;
  }
}
