/* @styled-jsx=global */

.u-link-green {
  color: var(--color-matters-green);

  &:link,
  &:visited {
    color: var(--color-matters-green);
  }

  &:hover,
  &:active,
  &:focus {
    color: var(--color-matters-green-hover);
  }
}
