.container {
  &.pending,
  &.error {
    padding-top: var(--spacing-loose);
    padding-left: var(--spacing-base);
    padding-right: var(--spacing-base);
    margin-left: calc(var(--spacing-base) * -1);
    margin-right: calc(var(--spacing-base) * -1);
    border-bottom: 0;
  }

  &.pending {
    background: var(--color-green-lighter);
  }
  &.error {
    background: var(--color-red-lighter);
  }
}

.header {
  @mixin flex-center-space-between;

  margin-bottom: var(--spacing-x-tight);
}

.content {
  position: relative;

  @media (--sm-up) {
    padding-right: 5.875rem;
  }
}

.title {
}

.description {
  margin-top: var(--spacing-x-tight);
  padding-left: var(--spacing-x-loose);
  padding-right: 0;

  color: var(--color-grey-darker);
  font-size: var(--font-size-sm);
  line-height: 1.71428571;

  & :global(.actions > *) {
    margin-top: var(--spacing-base);
  }
}

.extra {
  @mixin flex-center-space-between;
  @mixin border-top-grey;

  margin-top: var(--spacing-base);
  padding-top: var(--spacing-base);
  padding-left: var(--spacing-x-loose);

  color: var(--color-grey-darker);
  font-size: var(--font-size-sm);

  & :global(button + button) {
    margin-left: var(--spacing-base);
  }
}

.actions {
  display: flex;
  align-items: center;

  margin-top: var(--spacing-x-tight);

  font-size: var(--font-size-xs);
  color: var(--color-grey-dark);

  & > :global(*) {
    color: var(--color-grey-dark);
    line-height: 1;
    vertical-align: middle;
  }
  & > :global(button) {
    color: var(--color-grey);
  }
}
