.meDigest {
  padding: 0 var(--sp16);
}

.header {
  @mixin flex-center-start;
}

.names {
  margin-left: var(--sp8);

  & .displayName {
    font-size: var(--font-size-lg);
    line-height: 1.5rem;
  }

  & .username {
    font-size: var(--font-size-md);
    line-height: 1.5rem;
    color: var(--color-grey-dark);
  }
}
