.content {
  display: grid;
  grid-template:
    'head cover' auto
    'description description' auto/ 1fr auto;

  @media (--md-up) {
    grid-template-areas:
      'head cover'
      'description cover';
  }
}

.head {
  grid-area: head;
}

.author {
  @mixin flex-center-start;

  margin-top: var(--spacing-tight);
}

.description {
  @mixin line-clamp;

  flex-grow: 1;
  grid-area: description;
  margin-top: var(--spacing-tight);
  font-size: var(--font-size-md-s);
  line-height: 1.5rem;
  color: var(--color-grey-dark);
  -webkit-line-clamp: 3;

  @media (--md-up) {
    margin-top: var(--spacing-base);
  }
}

.cover {
  position: relative;
  flex-shrink: 0;
  grid-area: cover;
  width: 4.5rem;
  height: 4.5rem;
  margin-left: var(--spacing-base);

  & img {
    @mixin object-fit-cover;

    background-color: var(--color-grey-lighter);
    border-radius: var(--spacing-xx-tight);
  }

  @media (--md-up) {
    width: 10.625rem;
    height: 6rem;
  }
}
