:root {
  --article-feed-cover-size-sm: 4.5rem;
  --article-feed-cover-width: 10.625rem;
  --article-feed-cover-height: 6rem;
}

.content {
  display: grid;
  grid-template-areas:
    'head cover'
    'description description';
  grid-template-rows: auto;
  grid-template-columns: 1fr auto;

  @media (--sm-up) {
    grid-template-areas:
      'head cover'
      'description cover';
  }
}

.head {
  grid-area: head;
}

.author {
  @mixin flex-center-start;

  margin-top: var(--spacing-tight);
}

.description {
  @mixin line-clamp;

  flex-grow: 1;
  grid-area: description;
  margin-top: var(--spacing-tight);
  font-size: var(--font-size-md-s);
  line-height: 1.5rem;
  color: var(--color-grey-dark);
  -webkit-line-clamp: 3;

  @media (--sm-up) {
    margin-top: var(--spacing-base);
  }
}

.cover {
  position: relative;
  flex-shrink: 0;
  grid-area: cover;
  width: var(--article-feed-cover-size-sm);
  height: var(--article-feed-cover-size-sm);
  margin-left: var(--spacing-base);

  & :global(img) {
    @mixin object-fit-cover;

    background-color: var(--color-grey-lighter);
    border-radius: var(--spacing-xx-tight);
  }

  @media (--sm-up) {
    width: var(--article-feed-cover-width);
    height: var(--article-feed-cover-height);
  }
}
