.content {
  min-height: 100vh;
  padding: var(--spacing-base);
}

.title {
  margin-bottom: var(--spacing-base);
}

.info {
  @mixin flex-center-space-between;

  padding-top: var(--spacing-x-tight);

  & .left,
  & .right {
    @mixin inline-flex-center-all;

    & :global(> * + *) {
      margin-left: var(--spacing-base);
    }
  }
}

.block {
  @mixin border-top-grey;
  padding-top: var(--spacing-loose);

  margin: var(--spacing-loose) 0 var(--spacing-base);
}
