.content {
  min-height: 100vh;
  padding: var(--spacing-base);

  &.editing {
    cursor: not-allowed;
    opacity: 0.3;
  }
}

.title {
  margin-bottom: var(--spacing-base);
}

.info {
  @mixin flex-center-space-between;

  padding-top: var(--spacing-x-tight);

  & .left,
  & .right {
    @mixin inline-flex-center-all;

    & :global(> * + *) {
      margin-left: var(--spacing-base);
    }
  }
}

.block {
  @mixin border-top-grey;

  padding: var(--spacing-loose) var(--spacing-base) 0;
  margin: var(--spacing-loose) calc(var(--spacing-base) * -1)
    var(--spacing-base);
}

.time {
  flex-shrink: 0;
  font-size: var(--font-size-timestamp);
  font-weight: var(--font-weight-timestamp);
  line-height: var(--line-height-timestamp);

  & span {
    margin-right: var(--spacing-xx-tight);
    color: var(--color-grey);
  }

  &:last-child {
    margin-left: var(--spacing-base);
  }
}
