.content {
  min-height: 100vh;
  padding: var(--sp20) var(--sp16);

  @media (--sm-up) {
    padding: var(--sp20);
    padding-right: 0;
    padding-left: 0;
  }

  &.editing {
    cursor: not-allowed;
    opacity: 0.3;
  }

  & .top {
    @mixin flex-start-start;

    & .campaign {
      display: inline-flex;
      align-items: center;
      justify-content: flex-start;
      height: 1.125rem;
      margin-left: var(--sp16);

      @media (--sm-up) {
        margin-bottom: var(--ar17-100);
        margin-left: 0;
      }
    }
  }
}

.block {
  margin: var(--sp24) 0 var(--sp40);
}

.smUpCommentBlock {
  padding-top: var(--sp40);
}

.mobileLogo {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
}
