.content {
  min-height: 100vh;
  padding: var(--spacing-base-loose) var(--spacing-base);

  @media (--sm-up) {
    padding: var(--spacing-x-loose);
    padding-right: 0;
    padding-left: 0;
  }

  &.editing {
    cursor: not-allowed;
    opacity: 0.3;
  }
}

.title {
  margin-bottom: var(--spacing-base);
}

.block {
  padding: var(--spacing-loose) 0 0;
  margin: var(--spacing-loose) 0 var(--spacing-base);
}
