.content {
  min-height: 100vh;
  padding: var(--sp20) var(--sp16);

  @media (--sm-up) {
    padding: var(--sp32);
    padding-right: 0;
    padding-left: 0;
  }
}

.block {
  margin: var(--sp24) 0 var(--sp40);
}

.smUpCommentBlock {
  padding-top: var(--sp40);
}

.mobileLogo {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
}
